<template>
  <div class="add-model">
    <a-form layout="vertical" :model="formState" name="basic" autocomplete="off" @finish="onFinish"
      @finishFailed="onFinishFailed">
      <div class="add-model__flex">
        <a-divider orientation="left">{{ $t('modal.model.info') }}</a-divider>
        <div class="add-model__list">
          <div style="width: 30%;">
            <a-form-item has-feedback :label="$t('modal.model.i_name')" name="i_name"
              :rules="[{ required: true, message: $t('cls.required-field') }, { max: 100, message: `${$t('cls.max-symbols')} 100` }]">
              <a-input :placeholder="$t('modal.model.i_name')" v-model:value="formState.i_name" show-count :maxlength="100" />
            </a-form-item>
          </div>          
          <div style="width: 70%;">
            <a-form-item has-feedback :label="$t('modal.model.i_short_desc')" name="i_short_desc"
              :rules="[{ max: 100, message: `${$t('cls.max-symbols')} 100` }]">
              <a-textarea :placeholder="$t('modal.model.i_short_desc')" :autoSize="{ minRows: 1, maxRows: 3 }"
                v-model:value="formState.i_short_desc" show-count :maxlength="100" />
            </a-form-item>
          </div>
        </div>
        <div class="add-model__list">
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.model.i_model_group_id')" name="i_model_group_id"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <SelectorModelGroup v-model="formState.i_model_group_id" />
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.model.i_model_research_subject')" name="i_model_research_subject"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select :placeholder="$t('modal.model.i_model_research_subject')" ref="select"
                v-model:value="formState.i_model_research_subject" style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 52).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div style="width: 40%;">
            <a-form-item has-feedback :label="$t('modal.model.i_inverse_problem_method')" name="i_inverse_problem_method"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select :placeholder="$t('modal.model.i_inverse_problem_method')" ref="select"
                v-model:value="formState.i_inverse_problem_method" style="width: 100%">                
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 54).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.model.i_forecast_recalc_freq')" name="i_forecast_recalc_freq"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select :placeholder="$t('modal.model.i_forecast_recalc_freq')" ref="select"
                v-model:value="formState.i_forecast_recalc_freq" style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 53).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
        </div>        
        <div class="add-model__list">
          <div style="width: 100%;">
            <a-form-item has-feedback :label="$t('modal.model.i_dsc')" name="i_dsc"
              :rules="[{ max: 4000, message: `${$t('cls.max-symbols')} 4000` }]">
              <a-textarea :placeholder="$t('modal.model.i_dsc')" v-model:value="formState.i_dsc" show-count :maxlength="4000" :autoSize="{ minRows: 1, maxRows: 3 }" />
            </a-form-item>
          </div>
        </div>
        <div class="add-model__list">
          <div style="width: 100%;">
            <a-form-item has-feedback :label="$t('modal.model.i_full_desc')" name="i_full_desc"
              :rules="[{ required: true, message: $t('cls.required-field') }, { max: 1000, message: `${$t('cls.max-symbols')} 1000` }]">
              <a-textarea :placeholder="$t('modal.model.i_full_desc')" :autoSize="{ minRows: 1, maxRows: 3 }"
                v-model:value="formState.i_full_desc" :maxlength="1000" />
            </a-form-item>
          </div>
        </div>
      </div>
      <div class="add-model__footer">
        <a-button @click="modal.state = ''">{{ $t('buttons.cancel') }}</a-button>
        <a-button :disabled="!saveEnable" type="primary" html-type="submit" :loading="loading" @click="createItem">{{
          $t('buttons.save') }}</a-button>
      </div>
    </a-form>
  </div>
</template>

<script setup>
import { notification } from 'ant-design-vue';
import { useModal } from '@/stores/modal'
import { useDictionariesStore } from '@/stores/dictionaries'
const { $event } = useNuxtApp()
const localeModule = useI18n()
const activeGroup = useCookie("selectedGroup");

const props = defineProps({
  inspector: { type: Object },
  haveData: { type: Boolean },
})


const dictionariesStore = useDictionariesStore()
const modal = useModal()
const saveEnable = ref(false)
const loading = ref(false)

const dictionaries = computed(() => {
  return dictionariesStore.dictionaries.data.clss
})

const researchSubjectsArray = computed(() => {
  return dictionaries.value.find(element => element.cls === 52).terms
})

const problemMethodsArray = computed(() => {
  return dictionaries.value.find(element => element.cls === 54).terms
})

const formState = ref({
  i_name: props.haveData ? props.inspector.model_name : '',
  i_short_desc: props.haveData ? props.inspector.short_desc : '',
  i_full_desc: props.haveData ? props.inspector.full_desc : '',
  i_dsc: props.haveData ? props.inspector.model_dsc : '',
  i_model_group_id: props.haveData ? props.inspector.model_group_id : activeGroup.value == '/' ? '0' : activeGroup.value,
  // i_model_group_id: props.haveData ? props.inspector.model_group_id : '0',
  i_model_research_subject: props.haveData ? props.inspector.model_research_subject : researchSubjectsArray.value.length > 1 ? undefined : researchSubjectsArray.value[0].num,
  i_inverse_problem_method: props.haveData ? props.inspector.inverse_problem_method : problemMethodsArray.value.length > 1 ? undefined : problemMethodsArray.value[0].num,
  i_forecast_recalc_freq: props.haveData ? props.inspector.forecast_recalc_freq : undefined,
});
const onFinish = async (values) => {  
  loading.value = true;
  apiFetch(`create_model`, {value: {...formState.value}}).then((response) => {
    loading.value = false;
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        notification.open({
          message: localeModule.t('modal.model.create-success'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });
        setTimeout(() => {          
          $event('model:select', response.data?.value?.data?.res)
          modal.state = '';
        }, 1000);
      }
    }
  })
};

watch(formState, (newValue) => {
  saveEnable.value = true;
}, { deep: true })

</script>

<style lang="scss" scoped>
.add-model {
  .ant-divider-horizontal {
    margin: 12px 0;
  }

  .ant-form-item-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
  }

  .ant-input-textarea {
    &::after {
      position: absolute;
      bottom: -24px;
      right: 0;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    width: 100%;
  }



  &__list {
    width: 100%;
    display: flex;
    gap: 16px;

    &.row {
      display: flex;
      padding-bottom: 16px;
    }
  }

  &__checkbox {
    margin-bottom: 0;
  }

  &__footer {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: 1px solid rgba(5, 5, 5, 0.06);
    margin-top: 12px;
    padding-top: 12px;
  }
}
</style>