<template>
  <div class="delete-modal">
    <div class="delete-modal__content">
      <p>{{$t('modal.model.accept-delete')}} <a-typography-text underline>{{ inspector.model_name
          }}</a-typography-text>?</p>
    </div>
    <div class="delete-modal__footer">
      <a-button @click="modal.state = ''">{{ $t('buttons.cancel') }}</a-button>
      <a-button type="primary" danger :loading="loading" @click="deleteModel">{{ $t('buttons.delete') }}</a-button>
    </div>
  </div>
</template>

<script setup>
import { notification } from 'ant-design-vue';
import { useModal } from '@/stores/modal'
const { $event } = useNuxtApp()
const localeModule = useI18n()

const props = defineProps({
  inspector: { type: Object },
})

const modal = useModal()
const loading = ref(false)
const formState = ref({ "i_model_id": props.inspector.model_id })

const deleteModel = async () => {
  loading.value = true;
  apiFetch(`delete_model`, formState).then((response) => {
    loading.value = false;
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        notification.open({
          message: `"${props.inspector.model_name}"` + ' ' + localeModule.t('modal.model.delete-success'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });
        $event('inspector:update')
        $event('models:update')
        modal.state = '';
      }
    }
  })
};
</script>

<style lang="scss" scoped>
.delete-modal {
  display: flex;
  flex-direction: column;

  &__footer {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: 1px solid rgba(5, 5, 5, 0.06);
    margin-top: 12px;
    padding-top: 12px;
  }
}
</style>