<template>
  <div class="model-groups">
    <a-directory-tree class="model-groups__tree" :class="{ disabled: loading }" v-model:expandedKeys="expandedKeys"
      v-model:selectedKeys="selectedKeys" :tree-data="treeData">
      <template #title="{ title, key }">
        <a-input class="model-groups__input" v-if="key === selectedKeys[0] && changeEnabled"
          v-model:value="changingValue" />
        <template v-else>{{ title }}</template>
      </template>
    </a-directory-tree>
    <a-skeleton class="model-groups__skeleton" v-if="loading" active />
    <div class="model-groups__footer">
      <a-button style="margin-right: 40px;" :type="`${domainConsidered ? 'primary' : 'default'}`"
        @click="domainConsidered = !domainConsidered"
        :title="`${domainConsidered ? $t('modal.model.groups.domain-folders') : $t('modal.model.groups.all-folders')}`">
        <CloudServerOutlined />
      </a-button>
      <a-button :disabled="!selectedKeys.length" type="primary" @click="agreeModalOpened = true">{{ $t('buttons.select') }}</a-button>
      <a-button  :loading="loading" type="primary" @click="addGroup">{{ $t('buttons.add') }}</a-button>
      <a-button :disabled="!selectedKeys.length || !selectedChangable" v-if="!changeEnabled" type="primary"
        @click="changeName">{{ $t('buttons.change') }}</a-button>
      <a-dropdown v-if="changeEnabled">
        <template #overlay>
          <a-menu>
            <a-menu-item @click="saveChanges">
              {{ $t('modal.model.groups.save') }}
            </a-menu-item>
            <a-menu-item @click="changeEnabled = false">
              {{ $t('modal.model.groups.cancel') }}
            </a-menu-item>
          </a-menu>
        </template>
        <a-button type="primary">
          {{ $t('buttons.save') }}
          <DownOutlined />
        </a-button>
      </a-dropdown>
      <a-button :disabled="!selectedKeys.length || !selectedChangable" type="primary"
        danger>{{ $t('buttons.delete') }}</a-button>
    </div>
    <a-modal v-model:open="agreeModalOpened" :title="$t('modal.model.groups.sure')" @ok="selectGroup">
      <div class="sidebar__modal">
        {{ $t('modal.model.groups.warning') }}
      </div>
    </a-modal>
  </div>
</template>

<script setup>
import { useSelectorsStore } from '@/stores/selectors'
import { useModal } from '@/stores/modal'
const selectorsStore = useSelectorsStore()
const modal = useModal()
const activeDomain = useCookie("domain");
const localeModule = useI18n()

const expandedKeys = ref([localStorage.getItem("selectedGroup")]);
const selectedKeys = ref([localStorage.getItem("selectedGroup")]);
const changeEnabled = ref(false);
const loading = ref(false);
const domainConsidered = ref(true);
const agreeModalOpened = ref(false);
const changingValue = ref('');

const treeData = computed(() => {
  let array = []
  if (!domainConsidered.value) {
    selectorsStore.modelGroups?.data?.data.forEach(element => {
      array.push({
        id: element.id, title: element.name,
        key: `${element.name}_/${element.id}`, parent: element.up
      })
    });
  } else {
    selectorsStore.modelGroups?.data?.data.forEach(element => {
      if (element.domain_id == activeDomain.value.id) {
        array.push({
          id: element.id, title: element.name,
          key: `${element.name}_/${element.id}`, parent: element.up
        })
      }
    });
  }

  const map = Object.assign({}, ...array.map(v =>
    ({ [v.id]: Object.assign(v, { children: [] }) })
  ))

  const tree = Object.values(map).filter(v =>
    !(v.parent && map[v.parent]?.children.push(v))
  )
  return tree.filter((item) => item.id != 0)
})

const selectedChangable = computed(() => {
  console.log(selectedKeys.value[0]);
  let item = {}
  if (selectedKeys.value[0]) {
    item = selectorsStore.modelGroups?.data?.data.find(element => element.id == selectedKeys.value[0].split('_/')[1])
    return item?.domain_id == activeDomain.value.id
  } else {
    return false
  }  
})

const changeName = () => {
  changeEnabled.value = true
  changingValue.value = selectedKeys.value[0].split('_/')[0]
}

const saveChanges = () => {
  loading.value = true
  changeEnabled.value = false;
  let id = selectedKeys.value[0].split('_/')[1]

  loading.value = true;
  apiFetch(`set_model_group_attr`, {
    value: {
      "name": changingValue.value,
      "id": id,
    }
  }).then((response) => {
    loading.value = false;
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        setTimeout(() => {
          notification.open({
            message: localeModule.t('modal.model.groups.update-success'),
            style: {
              border: '1px solid #b7eb8f',
              backgroundColor: '#f6ffed',
            },
          });
          apiFetch("get_model_groups_tree", { value: { limit: 100 } }).then((response) => {
            selectorsStore.modelGroups = response
          })
          loading.value = false
        }, 1000);
      }
    }
  })
}
const addGroup = () => {
  loading.value = true
  let parentId = selectedKeys.value[0] ? selectedKeys.value[0].split('_/')[1] : 0
  
  loading.value = true;
  apiFetch(`create_model_group`, {
    value: {
      "i_model_group_id": parentId,
      "i_name": localeModule.t('modal.model.groups.new-group')
    }
  }).then((response) => {
    loading.value = false;
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        setTimeout(() => {
          notification.open({
            message: localeModule.t('modal.model.groups.create-success'),
            style: {
              border: '1px solid #b7eb8f',
              backgroundColor: '#f6ffed',
            },
          });
          apiFetch("get_model_groups_tree", { value: { limit: 100 } }).then((response) => {
            selectorsStore.modelGroups = response
          })
          loading.value = false
        }, 1000);
      }
    }
  })
}

const selectGroup = () => {
  localStorage.setItem("selectedGroup", selectedKeys.value[0]);
  modal.state = ''
  setTimeout(() => {
    location.reload();
  }, 0);
}
</script>

<style lang="scss">
.model-groups {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;

  &__tree {
    padding-top: 16px;
    height: 80vh;
    overflow-y: auto;

    &.disabled {
      opacity: 0;
    }
  }

  &__skeleton {
    position: absolute;
    width: 100%;
    top: 16px;
  }

  &__input {
    position: absolute;
    top: 2px;
    width: calc(100% - 50px);
    height: 20px;
  }

  &__footer {
    display: flex;
    gap: 8px;
    align-self: flex-end;
  }
}
</style>