<template>
  <div class="modal-params">
    <a-table bordered :pagination="false" :dataSource="paramsData" :columns="paramsColumns">
    </a-table>
  </div>
</template>

<script setup>
const localeModule = useI18n()

const props = defineProps({
  modelParams: { type: Object },
})

const paramsData = computed(() => {
  const array = [
    {
      key: 'file',
      name: localeModule.t('modal.model.params.file'),
      value: props.modelParams?.file,
    },
    {
      key: 'param_desc',
      name: localeModule.t('modal.model.params.param_desc'),
      value: props.modelParams?.param_desc,
    },
    {
      key: 'reached_quality',
      name: localeModule.t('modal.model.params.reached_quality'),
      value: props.modelParams?.reached_quality,
    },
  ]

  return array
})

const paramsColumns = ref([{
  title: localeModule.t('inspector.table.name'),
  dataIndex: 'name',
  key: 'name',
  width: 350,
}, {
  title: localeModule.t('inspector.table.value'),
  dataIndex: 'value',
  key: 'value',
}])
</script>