<template>
  <div class="chart-detailed">
    <div id="indicatorChartDetailed"></div>
  </div>
</template>

<script setup>
import { DualAxes } from '@antv/g2plot';
const localeModule = useI18n()
const props = defineProps({
  chartParams: {
    type: Object,
  },
})
const chartParams = ref(
  {
    "i_capacity": 400,
    "i_show_compensated": true,
    "i_show_raw": true,
    "i_r_lma_forecast": 0,
    "i_r_lma_indr": props.chartParams.i_r_lma_indr,
    "i_show_forecast": false,
    "i_ed": props.chartParams.i_ed,
    "i_sd": props.chartParams.i_sd
  }
)

onMounted(() => {
  apiFetch('get_indicators_data_series', chartParams).then((response) => {
    let filteredChart = []
    const chartColumArray = []
    const chartLineArray = []
    let min = 0
    let max = 1

    if (Array.isArray(response.data.value.data)) {
      response.data.value.data.forEach(element => {
        filteredChart.push({ dt: element.dt, type: element.type, value: Number(element.value) })
      });
      filteredChart.forEach(element => {
        if (element.type == 1) {
          chartColumArray.push({ dt: element.dt, typeText: localeModule.t('modal.chart.raw-data'), value: Number(element.value) })
        }
        if (element.type == 3) {
          chartLineArray.push({ dt: element.dt, typeText: localeModule.t('modal.chart.old-data'), count: Number(element.value) })
        }
      });
      min = Math.min.apply(null, chartLineArray.count);
      max = Math.max.apply(null, chartLineArray.count);
    }

    let chartColumArraySort = chartColumArray.sort((chart1, chart2) => chart1.dt > chart2.dt ? 1 : -1);
    let chartLineArraySort = chartLineArray.sort((chart1, chart2) => chart1.dt > chart2.dt ? 1 : -1);

    const chart = new DualAxes('indicatorChartDetailed', {
      data: [chartColumArraySort, chartLineArraySort],
      xField: 'dt',
      height: 550,
      yField: ['value', 'count'],
      yFields: ['value', 'count'],
      xAxis: {
        type: 'time',
      },
      meta: {
        value: {
          sync: 'count', min: min,
          max: max,
        },
        count: { sync: true },
      },
      yAxis: {
        count: false
      },
      legend: {
        marker: {
          symbol: 'circle',
          style: (oldStyle) => {
            return {
              ...oldStyle,
              r: 4,
              lineWidth: 2,
              fill: oldStyle.stroke || oldStyle.fill,
            };
          },
        }
      },
      geometryOptions: [
        {
          geometry: 'line',
          seriesField: 'typeText',
          color: '#1890ff',
          smooth: true,
          lineStyle: {
            lineWidth: 1,
            opacity: 0,
          },
          point: {
            shape: 'circle',
            size: 4,
            style: {
              stroke: '#fff',
              fill: '#1890ff',
            },
          },
        },
        {
          geometry: 'line',
          seriesField: 'typeText',
          color: ['#52c41a', '#ff4d4f'],
          smooth: true,
          lineStyle: {
            lineWidth: 2,
          },
        },
      ],
    });
    chart.render();
  }
  )

})
</script>