<template>
  <div class="chart-detailed">
    <div id="indicatorChartDetailed"></div>
  </div>
</template>

<script setup>
import { DualAxes } from '@antv/g2plot';
const localeModule = useI18n()
const props = defineProps({
  model: {
    type: Number,
  },
  selectedForecasts: {
    type: String,
  },
  chartData: {
    type: Array,
  },  
})

onMounted(() => {
  const chartColumArray = []
  const chartLineArray = []

  if (props.chartData) {
    props.chartData.graph_rows.forEach(element => {
      if (element.data_row_type == 1) {
        element.data_row.forEach(el => {
          chartColumArray.push({ dt: el.dt, typeText: localeModule.t('modal.chart.raw-data'), value: Number(el.val) })
        });
      }
      if (element.data_row_type == 3) {
        element.data_row.forEach(el => {
          chartLineArray.push({ dt: el.dt, typeText: localeModule.t('modal.chart.old-data'), count: Number(el.val) })
        });
      }
    });
    props.chartData.graph_rows.forEach(element => {
      if (element.data_row_type == 5) {
        element.data_row.forEach(el => {
          chartLineArray.push({ dt: el.dt, typeText: element.forecast_name, count: Number(el.val) })
        });
      }
    });
  }

  let chartColumArraySort = chartColumArray.sort((chart1, chart2) => chart1.dt > chart2.dt ? 1 : -1);
  let chartLineArraySort = chartLineArray.sort((chart1, chart2) => chart1.dt > chart2.dt ? 1 : -1);

  const chart = new DualAxes(`indicatorChartDetailed`, {
    data: [chartColumArraySort, chartLineArraySort],
    xField: 'dt',
    height: 550,
    yField: ['value', 'count'],
    yFields: ['value', 'count'],
    xAxis: {
      type: 'time',
    },
    meta: {
      value: { sync: 'count' },
      count: { sync: true },
    },
    yAxis: {
      count: false
    },
    legend: {
      marker: {
        symbol: 'circle',
        style: (oldStyle) => {
          return {
            ...oldStyle,
            r: 4,
            lineWidth: 2,
            fill: oldStyle.stroke || oldStyle.fill,
          };
        },
      }
    },
    geometryOptions: [
      {
        geometry: 'line',
        seriesField: 'typeText',
        color: '#1890ff',
        smooth: true,
        lineStyle: {
          lineWidth: 1,
          opacity: 0,
        },
        point: {
          shape: 'circle',
          size: 4,
          style: {
            stroke: '#fff',
            fill: '#1890ff',
          },
        },
      },
      {
        geometry: 'line',
        seriesField: 'typeText',
        smooth: true,
        color: ['#52c41a', '#9900ff', '#ff9100', '#7e82a4', '#00ffea', '#ff8c00'],
      },
    ],
  });
  chart.render();
})
</script>