<template>
  <div class="chart-detailed">
    <div id="forecastChartDetailed"></div>
  </div>
</template>

<script setup>
import { DualAxes } from '@antv/g2plot';
const localeModule = useI18n()
const props = defineProps({
  selectedCharts: {
    type: Array,
  },
  chartsData: {
    type: Array,
  },
})

onMounted(() => {
  const forecastsColors = [
    ['#92000A', '#EDFF21', '#A6BDD7', '#FFCA86', '#025669', '#681C23', '#01796F', '#DDA0DD', '#7FB5B5', '#6C4675'],
    ['#F64A46', '#CDA434', '#926EAE', '#4285B4', '#DE3163', '#FFE2B7', '#6A5ACD', '#123524', '#FF0033', '#A98307'],
    ['#991199', '#FF7518', '#EB5284', '#00FFFF', '#FF8E00', '#8E4585', '#3B5998', '#8A2BE2', '#F3DA0B', '#DB7093'],
    ['#30D5C8', '#AD655F', '#C9DC87', '#E59E1F', '#990066', '#AC7580', '#20155E', '#DCD0FF', '#FFCF48', '#F9DFCF'],
    ['#025669', '#AB343A', '#A48B70', '#464451', '#D5265B', '#78858B', '#966A57', '#A2ADD0', '#87CEEB', '#808000'],
    ['#A03472', '#FAE7B5', '#D84B20', '#FEFE22', '#FF47CA', '#0E294B', '#1B5583', '#FF845C', '#E4A010', '#C76864'],
    // ['#9900ff', '#7700c6', '#480077', '#a825ff', '#7a1cb9', '#61377e', '#bc5fff', '#733e99', '#422954', '#e9d1fa'],
    // ['#ff9100', '#c26e01', '#6d3e00', '#ffa025', '#a4681a', '#6c4512', '#ffa735', '#a56e26', '#ffb350', '#774e19'],
    // ['#00ffea', '#00ab9d', '#00675e', '#1dffec', '#1c9e93', '#125d57', '#4ffff0', '#34ada3', '#20655f', '#89fff5'],
    // ['#ff00b3', '#b4007e', '#680049', '#ff1ebb', '#b01882', '#741156', '#ff4dca', '#a73484', '#ff7ad7', '#9a5385'],
    // ['#ff0000', '#a50000', '#5b0000', '#ff2222', '#ae1b1b', '#4f0f0f', '#ff3e3e', '#982828', '#511919', '#e66262'],
    // ['#fde300', '#b5a300', '#ffea2b', '#8f852c', '#ffeb3b', '#c5b83d', '#e1ff00', '#ebfd66', '#d4ff00', '#c3cd8e']
  ]
  let filteredChart = []
  const chartColumArray = []
  const chartLineArray = []
  let min = 0
  let max = 1

  const arr = []
  props.selectedCharts.forEach(element => {
    element.graph_rows.forEach(el => {
      el.indr_id = element.indicator_id
      el.indr_name = element.indicator_name
      arr.push(el)
    });
  });

  arr.forEach(element => {
    element.data_row.forEach(el => {
      filteredChart.push({ dt: el.dt, name: element.forecast_name, type: element.data_row_type, value: Number(el.val), indr_name: element.indr_name, indr_id: element.indr_id, forecast_id: element.forecast_id })
    });
  });

  filteredChart.forEach(element => {
    if (element.type == 3) {
      let text = ''
      if (element.indr_name.length > 50) {
        text = `(${element.indr_name.substring(0, 37)}` + '...' + element.indr_name.slice(-10) + `) (${localeModule.t('modal.chart.old-data-short')})` + `(${element.indr_id})`
      } else {
        text = `(${element.indr_name})` + `(${localeModule.t('modal.chart.old-data-short')})` + `(${element.indr_id})`
      }
      chartLineArray.push({ dt: element.dt, typeText: text, count: Number(element.value), id: element.indr_id, forecast_id: null })
    }
    if (element.type == 5) {
      let text = ''
      let textForecast = ''
      if (element.indr_name.length > 50) {
        text = `(${element.indr_name.substring(0, 37)}` + '...' + element.indr_name.slice(-10) + ')'
      } else {
        text = `(${element.indr_name})`
      }
      if (element.name.length > 20) {
        textForecast = `[${element.name.substring(0, 12)}` + '...' + element.indr_name.slice(-5) + ']'
      } else {
        textForecast = `[${element.name}]`
      }
      chartLineArray.push({ dt: element.dt, typeText: `${text} ${textForecast} (${element.indr_id}) [${element.forecast_id}]`, count: Number(element.value), id: element.indr_id, forecast_id: element.forecast_id })
    }
  });

  min = Math.min.apply(null, chartLineArray.count);
  max = Math.max.apply(null, chartLineArray.count);

  const uniqueForecastIds = [...new Set(chartLineArray
    .filter(item => item.forecast_id !== null)
    .map(item => item.forecast_id)
  )];


  let chartColumArraySort = chartColumArray.sort((chart1, chart2) => chart1.dt > chart2.dt ? 1 : -1);
  let chartLineArraySort = chartLineArray.sort((chart1, chart2) => chart1.dt > chart2.dt ? 1 : -1);

  const height = window.screen.height - 300

  const chart = new DualAxes('forecastChartDetailed', {
    data: [chartColumArraySort, chartLineArraySort],
    xField: 'dt',
    height: height,
    yField: ['value', 'count'],
    yFields: ['value', 'count'],
    xAxis: {
      // type: 'time',
    },
    meta: {
      value: {
        sync: 'count', min: min,
        max: max,
      },
      count: { sync: true },
    },
    yAxis: {
      count: false
    },
    legend: false,

    geometryOptions: [
      {
        geometry: 'line',
        seriesField: 'typeText',
        color: ['#1890ff', '#006dd3', '#80aeda', '#02417b', '#0081fa', '#2f4f6d', '#2d68a0', '#679ed1', '#123d66', '#3b86cc'],
        smooth: true,
        lineStyle: {
          lineWidth: 1,
          opacity: 0,
        },
        point: {
          shape: 'circle',
          size: 4,
          style: {
            stroke: '#fff',
          },
        },
      },
      {
        geometry: 'line',
        seriesField: 'typeText',
        smooth: true,
        colorField: 'typeText',
        color: ({ typeText }) => {
          let activeIndex = props.selectedCharts.findIndex(item => typeText.includes(`(${item.indicator_id})`));
          const historyColors = ['#52c41a', '#52f700', '#309100', '#6afa21', '#50ba1b', '#67bd3c', '#316f12', '27580e', '1d410b', '132b07']
          if (typeText.includes('(Ист.Данные)')) {
            return historyColors[activeIndex];
          } else {
            let forecastIndex = uniqueForecastIds.findIndex(item => typeText.includes(`[${item}]`));
            return forecastsColors[forecastIndex][activeIndex];
          }
        },
        lineStyle: {
          lineWidth: 2,
        },
      },
    ],
  });
  chart.render();
})
</script>