<template>
  <div class="modal-info">
    <div class="modal-info__table table" :class="{ 'with-chart': chartData.length }">
      <div v-if="isLoading" class="modal-info__loader">
        <div class="modal-info__loader-icon">
          <SyncOutlined spin />
        </div>
      </div>
      <a-table bordered :scroll="{ y: 500 }" :pagination="false" :dataSource="inspectorTable"
        :columns="inspectorColumns">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key == 'name'">
            <div :title="record.name">
              {{ record.title }}
            </div>
          </template>
          <template v-if="record.key === 'indr_subgroup_fullname' && column.key === 'value'">
            <a-space :title="record.value">
              <a-tag color="blue">{{ record.value }}</a-tag>
            </a-space>
          </template>
          <template v-if="record.key === 'indr_sectors_fullname' && column.key === 'value'">
            <a-space :size="2" direction="vertical" :title="record.value">
              <a-tag v-for="(item, index) in record.value?.split(';')" :key="index" color="blue">{{
                item }}</a-tag>
            </a-space>
          </template>
          <template v-if="record.key === 'indr_status_term' && column.key === 'value'">
            <a-tag :color="`${(indicatorData?.indr_status == 5) ? 'green' :
              (indicatorData?.indr_status == 2) ? 'red' : 'purple'}`">{{ record.value }}</a-tag>
          </template>
          <template
            v-if="typeof (record.value) === 'number' && !Number.isInteger(record.value) && column.key === 'value'">
            <span>{{ record.value.toFixed(2) }}</span>
          </template>
          <template v-if="record.value == 1 && column.key === 'value'">
            <span :title="$t('buttons.yes')">
              <check-square-outlined style="color: #52c41a;" />
            </span>
          </template>
          <template v-if="record.value == 0 && column.key === 'value'">
            <span :title="$t('buttons.no')">
              <CloseSquareOutlined style="color: #ff4d4f;" />
            </span>
          </template>
        </template>
      </a-table>
    </div>
    <ChartInfo v-if="chartData.length" :chartData="chartData" />
  </div>
</template>

<script setup>
const localeModule = useI18n()
const props = defineProps({
  indicatorId: { type: String || Number },
})

const indicatorData = ref([])
const chartData = ref([])
const isLoading = ref(false)

const chartParams = computed(() => {
  const obj = {
    "i_capacity": 400,
    "i_show_compensated": true,
    "i_show_raw": true,
    "i_r_lma_forecast": 0,
    "i_r_lma_indr": props.indicatorId,
    "i_show_forecast": true, //красная
    "i_ed": indicatorData.value?.data_max_date,
    "i_sd": indicatorData.value?.data_min_date,
  }
  return obj
})


const inspectorTable = computed(() => {
  const array = [
    {
      key: 'indr_id',
      name: 'ID',
      value: indicatorData.value?.indr_id,
      title: 'ID'
    },
    {
      key: 'create_dt',
      name: localeModule.t('inspector.indicators.create_dt'),
      value: indicatorData.value?.create_dt,
      title: localeModule.t('inspector.indicators.create_dt')
    },
    {
      key: 'name',
      name: localeModule.t('inspector.indicators.name'),
      value: indicatorData.value?.name,
      type: 'input',
      title: localeModule.t('inspector.indicators.name')
    },
    {
      key: 'short_desc',
      name: localeModule.t('inspector.indicators.short_desc'),
      value: indicatorData.value?.short_desc,
      type: 'input',
      title: localeModule.t('inspector.indicators.short_desc')
    },
    {
      key: 'full_desc',
      name: localeModule.t('inspector.indicators.full_desc'),
      value: indicatorData.value?.full_desc,
      type: 'input',
      title: localeModule.t('inspector.indicators.full_desc')
    },
    {
      key: 'dsc',
      name: localeModule.t('inspector.indicators.dsc'),
      value: indicatorData.value?.dsc,
      type: 'input',
      title: localeModule.t('inspector.indicators.dsc')
    },
    {
      key: 'indr_subgroup_fullname',
      name: localeModule.t('inspector.indicators.indr_subgroup_fullname'),
      value: indicatorData.value?.indr_subgroup_fullname,
      title: localeModule.t('inspector.indicators.indr_subgroup_fullname')
    },
    {
      key: 'indr_sectors_fullname',
      name: localeModule.t('inspector.indicators.indr_sectors_fullname'),
      value: indicatorData.value?.indr_sectors_fullname,
      title: localeModule.t('inspector.indicators.indr_sectors_fullname')
    },
    {
      key: 'data_origin_term',
      name: localeModule.t('inspector.indicators.data_origin_term'),
      value: indicatorData.value?.data_origin_term,
      title: localeModule.t('inspector.indicators.data_origin_term')
    },
    {
      key: 'data_source_name',
      name: localeModule.t('inspector.indicators.data_source_name'),
      value: indicatorData.value?.data_source_name,
      title: localeModule.t('inspector.indicators.data_source_name')
    },
    {
      key: 'domain_name',
      name: localeModule.t('inspector.indicators.domain_name'),
      value: indicatorData.value?.domain_name,
      title: localeModule.t('inspector.indicators.domain_name')
    },
    {
      key: 'source_column_name',
      name: localeModule.t('inspector.indicators.source_column_name'),
      title: localeModule.t('inspector.indicators.source_column_name'),
      value: indicatorData.value?.source_column_name
    },
    {
      key: 'source_column_number',
      name: localeModule.t('inspector.indicators.source_column_number'),
      title: localeModule.t('inspector.indicators.source_column_number'),
      value: indicatorData.value?.source_column_number,
    },
    {
      key: 'measure_unit_term',
      name: localeModule.t('inspector.indicators.measure_unit_term'),
      title: localeModule.t('inspector.indicators.measure_unit_term'),
      value: indicatorData.value?.measure_unit_term,
    },
    {
      key: 'unit_scale_term',
      name: localeModule.t('inspector.indicators.unit_scale_term'),
      title: localeModule.t('inspector.indicators.unit_scale_term'),
      value: indicatorData.value?.unit_scale_term,
    },
    {
      key: 'data_type_term',
      name: localeModule.t('inspector.indicators.data_type_term'),
      title: localeModule.t('inspector.indicators.data_type_term'),
      value: indicatorData.value?.data_type_term,
    },
    {
      key: 'data_geo_level_term',
      name: localeModule.t('inspector.indicators.data_geo_level_term'),
      title: localeModule.t('inspector.indicators.data_geo_level_term'),
      value: indicatorData.value?.data_geo_level_term,
      type: 'select'
    },

    {
      key: 'calc_formula',
      name: localeModule.t('inspector.indicators.calc_formula'),
      title: localeModule.t('inspector.indicators.calc_formula'),
      value: indicatorData.value?.calc_formula
    },

    {
      key: 'indr_status_term',
      name: localeModule.t('inspector.indicators.indr_status_term'),
      title: localeModule.t('inspector.indicators.indr_status_term'),
      value: indicatorData.value?.indr_status_term,
    },
    {
      key: 'data_capacity_term',
      name: localeModule.t('inspector.indicators.data_capacity_term'),
      title: localeModule.t('inspector.indicators.data_capacity_term'),
      value: indicatorData.value?.data_capacity_term,
    },
    {
      key: 'data_quant_freq_term',
      name: localeModule.t('inspector.indicators.data_quant_freq_term'),
      title: localeModule.t('inspector.indicators.data_quant_freq_term'),
      value: indicatorData.value?.data_quant_freq_term,
    },
    {
      key: 'method_clear_outlier_term',
      name: localeModule.t('inspector.indicators.method_clear_outlier_term'),
      title: localeModule.t('inspector.indicators.method_clear_outlier_term_short'),
      value: indicatorData.value?.method_clear_outlier_term,
    },
    {
      key: 'method_bring_ai_term',
      name: localeModule.t('inspector.indicators.method_bring_ai_term'),
      title: localeModule.t('inspector.indicators.method_bring_ai_term_short'),
      value: indicatorData.value?.method_bring_ai_term,
    },
    {
      key: 'method_sparcity_filling_term',
      name: localeModule.t('inspector.indicators.method_sparcity_filling_term'),
      title: localeModule.t('inspector.indicators.method_sparcity_filling_term'),
      value: indicatorData.value?.method_sparcity_filling_term,
    },
    {
      key: 'method_normalization_term',
      name: localeModule.t('inspector.indicators.method_normalization_term'),
      title: localeModule.t('inspector.indicators.method_normalization_term_short'),
      value: indicatorData.value?.method_normalization_term,
    },
    {
      key: 'advice_target_model',
      name: localeModule.t('inspector.indicators.advice_target_model'),
      title: localeModule.t('inspector.indicators.advice_target_model_short'),
      value: indicatorData.value?.advice_target_model,
    },
    {
      key: 'advice_prediction',
      name: localeModule.t('inspector.indicators.advice_prediction'),
      title: localeModule.t('inspector.indicators.advice_prediction_short'),
      value: indicatorData.value?.advice_prediction,
    },
    {
      key: 'advice_target_value',
      name: localeModule.t('inspector.indicators.advice_target_value'),
      title: localeModule.t('inspector.indicators.advice_target_value_short'),
      value: indicatorData.value?.advice_target_value,
    },
    {
      key: 'sparsity',
      name: localeModule.t('inspector.indicators.sparsity'),
      title: localeModule.t('inspector.indicators.sparsity_short'),
      value: indicatorData.value?.sparsity,
    },
    {
      key: 'data_lower_bound',
      name: localeModule.t('inspector.indicators.data_lower_bound'),
      title: localeModule.t('inspector.indicators.data_lower_bound'),
      value: indicatorData.value?.data_lower_bound,
    },
    {
      key: 'data_upper_bound',
      name: localeModule.t('inspector.indicators.data_upper_bound'),
      title: localeModule.t('inspector.indicators.data_upper_bound'),
      value: indicatorData.value?.data_upper_bound,
    },
    {
      key: 'data_date',
      name: localeModule.t('inspector.indicators.data_date'),
      title: localeModule.t('inspector.indicators.data_date'),
      value: [localeModule.t('inspector.indicators.from'), indicatorData.value?.data_min_date, localeModule.t('inspector.indicators.to'), indicatorData.value?.data_max_date].join(" "),
    }
  ];
  return array;
})

const inspectorColumns = ref([{
  title: localeModule.t('inspector.table.name'),
  dataIndex: 'name',
  key: 'name',
  width: 150,
}, {
  title: localeModule.t('inspector.table.value'),
  dataIndex: 'value',
  key: 'value',
}])


onMounted(() => {
  if (props.indicatorId) {
    isLoading.value = true;
    apiFetch('get_indicators_cls', { value: { indr_id: props.indicatorId } }).then((response) => {
      indicatorData.value = response.data.value.data[0]
      apiFetch('get_indicators_data_series', chartParams).then((response) => {
        chartData.value = Array.isArray(response.data.value.data) ? response.data.value.data : []
      })
    }).then((response) => {
      setTimeout(() => {
        isLoading.value = false;
      }, 500);
    })
  }
})
</script>

<style lang="scss">
.modal-info {
  display: flex;
  gap: 16px;

  &__table {
    &.with-chart {
      width: 40%;
    }
  }

  .ant-table-cell {
    // overflow: unset !important;
    white-space: pre-wrap !important;
  }

  &__loader {
    top: -1px;
    left: -2px;
    position: absolute;
    background: white;
    // border-radius: 16px;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    &-icon {
      transform: scale(3);
      color: #1890ff;
    }
  }
}
</style>