<template>
  <a-card class="model-factors" :title="$t('table.model.factors.title')">
    <template #extra>
      <a-space>
        <a-button v-if="!tableEditable && tableList.length" @click="activateEditing()" :title="$t('buttons.edit')">
          <EditOutlined />
        </a-button>
        <div class="model-factors__wrapper" v-if="tableEditable">
          <div class="model-factors__bg"></div>
          <div class="model-factors__selects" :title="$t('buttons.save')">
            <span style="padding-right: 6px;">Выбрать все</span>
            <a-tooltip :title="$t('table.model.factors.observable_in_model')">
              <a-button @click="selectAll('observable_in_model')"
                :type="`${selectedValues.observable ? 'default' : 'primary'}`" size="small">
                <eye-outlined />
              </a-button>
            </a-tooltip>
            <a-tooltip :title="$t('table.model.factors.affected_forecasting_model')">
              <a-button @click="selectAll('affected_forecasting_model')" size="small"
                :type="`${selectedValues.affected ? 'default' : 'primary'}`">
                <FormOutlined />
              </a-button>
            </a-tooltip>
            <a-tooltip :title="$t('table.model.factors.param_value_forecasting_model')">
              <a-button @click="selectAll('param_value_forecasting_model')" size="small"
                :type="`${selectedValues.forecasting ? 'default' : 'primary'}`">
                <aim-outlined />
              </a-button>
            </a-tooltip>
          </div>
        </div>

        <a-button type="primary" style="z-index: 4;" v-if="tableEditable" @click="saveAll()" :title="$t('buttons.save')">
          <CheckSquareOutlined />
        </a-button>
        <a-button type="primary" danger v-if="tableEditable" @click="cancelAll()" :title="$t('buttons.cancel')">
          <CloseSquareOutlined />
        </a-button>
        <FilterModelFactors />
        <a-button @click="updateTable" :title="$t('buttons.refresh')">
          <ReloadOutlined />
        </a-button>
        <a-button
          :title="`${collapsed.factors ? $t('table.model.factors.factors-normal') : $t('table.model.factors.factors-wider')}`"
          @click="$emit('factorsToggle')">
          <arrow-left-outlined v-if="collapsed.indicators" />
          <arrow-right-outlined v-if="!collapsed.indicators" />
        </a-button>
      </a-space>
    </template>
    <a-table :pagination="false" bordered @change="onChange" :scroll="{ y: 'calc(100vh - 360px' }"
      :row-key="(record) => record.model_node_id" :customRow="customRow" @resizeColumn="handleResizeColumn"
      :dataSource="tableList" :columns="tableColumns"
      :row-selection="{ selectedRowKeys: selectedRowKeys, onChange: onSelectChange }">
      <template #headerCell="{ column }">
        <template v-if="column.key === 'param_value_forecasting_model'">
          <div style="text-align: center" :title="column.title">
            <aim-outlined style="fontSize: 18px" />
          </div>
        </template>
        <template v-if="column.key === 'observable_in_model'">
          <div style="text-align: center" :title="column.title">
            <eye-outlined style="fontSize: 18px" />
          </div>
        </template>
        <template v-if="column.key === 'affected_forecasting_model'">
          <div style="text-align: center" :title="column.title">
            <FormOutlined style="fontSize: 18px" />
          </div>
        </template>
        <template v-if="column.key === 'auto_linked_nodes_cnt'">
          <span :title="column.longText">
            {{ column.title }}
          </span>
        </template>
        <template v-if="column.key === 'manual_linked_nodes_cnt'">
          <span :title="column.longText">
            {{ column.title }}
          </span>
        </template>
        <template v-if="!column.icon">
          <span :title="column.title">
            {{ column.title }}
          </span>
        </template>
      </template>
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'indr_name'">
          <a-tooltip :title="`${$t('table.model.factors.route-to')} '${record.indr_name}'`">
            <nuxt-link :to="localePath(`/indicators?indr_id=${record.indr_id}`)" class="long">
              {{ record.indr_name }}
            </nuxt-link>
          </a-tooltip>

        </template>
        <template v-if="column.boolean === true">
          <a-checkbox :id="column.key"
            @change="checkState($event.target, editableData.find(el => el.indr_id == record.indr_id))"
            v-if="tableEditable"
            v-model:checked="editableData.find(el => el.indr_id == record.indr_id)[column.dataIndex]"
            v-model:value="editableData.find(el => el.indr_id == record.indr_id)[column.dataIndex]"></a-checkbox>
          <div v-else>
            <span v-if="record[column.key] == 1" :title="$t('buttons.yes')">
              <check-square-outlined style="color: #52c41a;" />
            </span>
            <span v-else :title="$t('buttons.no')">
              <CloseSquareOutlined style="color: #ff4d4f;" />
            </span>
          </div>
        </template>
        <template v-if="column.key === 'info'">
          <a-tooltip :title="$t('table.model.factors.show-info')">
            <InfoCircleOutlined style="color: #1677ff" @click="openInfoModal(record)" />
          </a-tooltip>
        </template>
        <template v-if="column.key === 'indr_status_term'">
          <a-tag :color="`${(record.indr_status == 5) ? 'green' :
            (record.indr_status == 1) ? 'red' : 'purple'}`">{{ record.indr_status_term }}</a-tag>
        </template>
      </template>
    </a-table>
    <div class="model-factors__space"></div>
    <a-modal width="70vw" v-model:open="infoModalOpened" :title="$t('table.model.factors.modal-title')" :footer="null"
      destroyOnClose @cancel="closeModal">
      <modal-chart-info :indicatorId="modalIndicatorId" />
    </a-modal>
  </a-card>
</template>

<script setup>
import { cloneDeep } from 'lodash-es';
import { notification } from 'ant-design-vue';
import { useModal } from '@/stores/modal'
const emit = defineEmits(["factorsSelected", "factorsToggle"]);
const localeModule = useI18n()
const localePath = useLocalePath();
const { $event } = useNuxtApp()


const props = defineProps({
  tableData: { type: Array || Object },
  actionsDisabled: { type: Boolean },
  collapsed: { type: Object },
})

const modal = useModal()
const selectedRowKeys = ref([])
const activeIndr = ref(null)
const modalIndicatorId = ref(null)

const onSelectChange = (keys) => {
  selectedRowKeys.value = keys;
  emit('factorsSelected', keys)
};

const tableList = computed(() => {
  return Array.isArray(props.tableData) ? props.tableData : []
})

const infoModalOpened = computed(() => {
  return modal.state === `watchModalInfo`
})

const modalOpened = computed(() => {
  return modal.state === 'graphModal'
})

const selectedValues = computed(() => {
  const observable = editableData.value.some((element) => element.observable_in_model == 0)
  const affected = editableData.value.some((element) => element.affected_forecasting_model == 0)
  const forecasting = editableData.value.some((element) => element.param_value_forecasting_model == 0)

  return { observable: observable, affected: affected, forecasting: forecasting }
})

const editableData = ref([]);
const sendingArray = ref([]);
const tableEditable = ref(false);

const tableColumns = ref([
  {
    title: localeModule.t('table.model.factors.indr_name'),
    dataIndex: 'indr_name',
    key: 'indr_name',
    sorter: (a, b) => a.indr_name - b.indr_name,
    resizable: true,
    longText: true,
    width: props.collapsed.factors ? '45%' : '70%',
    fixed: true,
    longText: true,
  },
  {
    title: localeModule.t('table.model.factors.observable_in_model'),
    dataIndex: 'observable_in_model',
    key: 'observable_in_model',
    sorter: (a, b) => a.observable_in_model - b.observable_in_model,
    icon: true,
    width: 60,
    boolean: true,
    className: 'column-center',
  },
  {
    title: localeModule.t('table.model.factors.affected_forecasting_model'),
    dataIndex: 'affected_forecasting_model',
    key: 'affected_forecasting_model',
    sorter: (a, b) => a.affected_forecasting_model - b.affected_forecasting_model,
    icon: true,
    width: 60,
    boolean: true,
    className: 'column-center',
  },
  {
    title: localeModule.t('table.model.factors.param_value_forecasting_model'),
    dataIndex: 'param_value_forecasting_model',
    sorter: (a, b) => a.param_value_forecasting_model - b.param_value_forecasting_model,
    key: 'param_value_forecasting_model',
    icon: true,
    width: 60,
    boolean: true,
    className: 'column-center',
  },
  {
    title: localeModule.t('table.model.factors.indr_status_term'),
    dataIndex: 'indr_status_term',
    key: 'indr_status_term',
    sorter: (a, b) => a.indr_status_term - b.indr_status_term,
    resizable: true,
    width: 150,
    minWidth: 150
  },
  {
    title: localeModule.t('table.model.factors.auto-short'),
    dataIndex: 'auto_linked_nodes_cnt',
    longText: localeModule.t('table.model.factors.auto_linked_nodes_cnt'),
    key: 'auto_linked_nodes_cnt',
    sorter: (a, b) => a.auto_linked_nodes_cnt - b.auto_linked_nodes_cnt,
    resizable: true,
    icon: true,
    width: 60,
    minWidth: 60
  },
  {
    title: localeModule.t('table.model.factors.manual-short'),
    dataIndex: 'manual_linked_nodes_cnt',
    key: 'manual_linked_nodes_cnt',
    longText: localeModule.t('table.model.factors.manual_linked_nodes_cnt'),
    sorter: (a, b) => a.manual_linked_nodes_cnt - b.manual_linked_nodes_cnt,
    resizable: true,
    icon: true,
    width: 60,
    minWidth: 60
  },
  {
    title: '',
    dataIndex: 'info',
    key: 'info',
    width: 32,
    className: 'column-info',
    fixed: 'right',
  },
])

const handleResizeColumn = (w, col) => {
  col.width = w;
}

const updateTable = () => {
  $event('graphNodes:update')
}

const openInfoModal = (record) => {
  modalIndicatorId.value = record.indr_id
  modal.state = `watchModalInfo`
}

const activateEditing = () => {
  tableEditable.value = true
  const array = cloneDeep(tableList.value);
  array.forEach(el => {
    el.param_value_forecasting_model = el.param_value_forecasting_model == 1 ? true : false;
    el.observable_in_model = el.observable_in_model == 1 ? true : false;
    el.affected_forecasting_model = el.affected_forecasting_model == 1 ? true : false;
  });
  editableData.value = array

}

const saveAll = async () => {
  tableEditable.value = false
  let error = false;
  let sendingValues = sendingArray.value.map(item => item.id);
  const oldValue = cloneDeep(tableList.value);
  let result = editableData.value.filter(item => sendingValues.includes(item.model_node_id));
  for (const element of result) {
    let oldVal = oldValue.find(el => el.model_node_id == element.model_node_id)
    async function sendData1() {
      return new Promise((resolve) => {
        if ((oldVal.param_value_forecasting_model == '0' ? false : true) !== element.param_value_forecasting_model) {
          apiFetch(`set_model_node_attr`, {
            value: {
              "i_id": element.model_node_id,
              "i_attr": "param_value_forecasting_model",
              "i_value": + element.param_value_forecasting_model
            }
          }).then((response) => {
            if (response.error.value) {
              error = true;
            } else {
              resolve()
            }
          })
        } else {
          resolve()
        }
      });
    }
    async function sendData2() {
      return new Promise((resolve) => {
        if ((oldVal.observable_in_model == '0' ? false : true) !== element.observable_in_model) {
          apiFetch(`set_model_node_attr`, {
            value: {
              "i_id": element.model_node_id,
              "i_attr": "observable_in_model",
              "i_value": + element.observable_in_model
            }
          }).then((response) => {
            if (response.error.value) {
              error = true;
            } else {
              resolve()
            }
          })
        } else {
          resolve()
        }
      });
    }

    async function sendData3() {
      return new Promise((resolve) => {
        if ((oldVal.affected_forecasting_model == '0' ? false : true) !== element.affected_forecasting_model) {
          apiFetch(`set_model_node_attr`, {
            value: {
              "i_id": element.model_node_id,
              "i_attr": "affected_forecasting_model",
              "i_value": + element.affected_forecasting_model
            }
          }).then((response) => {
            if (response.error.value) {
              error = true;
            } else {
              resolve()
            }
          })
        } else {
          resolve()
        }
      });
    }

    const promises = [
      sendData1(),
      sendData2(),
      sendData3()
    ];
    const results = await Promise.all(promises);
  }
  if (!error) {
    notification.open({
      message: localeModule.t('table.model.factors.success-refresh'),
      style: {
        border: '1px solid #b7eb8f',
        backgroundColor: '#f6ffed',
      },
    });
  }
  updateTable()
  sendingArray.value = []
}

const cancelAll = () => {
  tableEditable.value = false
  editableData.value = []
  sendingArray.value = []
}

const closeModal = () => {
  modal.state = '';
}

const selectAll = (param) => {
  if (editableData.value.some((element) => element[param] == 0)) {
    editableData.value.forEach(element => {
      if (param == 'observable_in_model') {
        element.observable_in_model = true;
        sendingArray.value.push({ "id": element.model_node_id, "attr": 'observable_in_model', "value": 1 })
      }
      if (param == 'param_value_forecasting_model') {
        element.param_value_forecasting_model = true;
        element.observable_in_model = true;
        element.affected_forecasting_model = true;
        sendingArray.value.push({ "id": element.model_node_id, "attr": 'param_value_forecasting_model', "value": 1 })
        sendingArray.value.push({ "id": element.model_node_id, "attr": 'observable_in_model', "value": 1 })
        sendingArray.value.push({ "id": element.model_node_id, "attr": 'affected_forecasting_model', "value": 1 })
      }
      if (param == 'affected_forecasting_model') {
        element.affected_forecasting_model = true;
        element.observable_in_model = true;
        sendingArray.value.push({ "id": element.model_node_id, "attr": 'affected_forecasting_model', "value": 1 })
        sendingArray.value.push({ "id": element.model_node_id, "attr": 'observable_in_model', "value": 1 })
      }
    });
  } else {
    editableData.value.forEach(element => {
      if (param == 'affected_forecasting_model') {
        element.affected_forecasting_model = false;
        element.param_value_forecasting_model = false;
        sendingArray.value.push({ "id": element.model_node_id, "attr": 'affected_forecasting_model', "value": 0 })
        sendingArray.value.push({ "id": element.model_node_id, "attr": 'param_value_forecasting_model', "value": 0 })
      }
      if (param == 'observable_in_model') {
        element.observable_in_model = false;
        element.affected_forecasting_model = false;
        element.param_value_forecasting_model = false;
        sendingArray.value.push({ "id": element.model_node_id, "attr": 'observable_in_model', "value": 0 })
        sendingArray.value.push({ "id": element.model_node_id, "attr": 'affected_forecasting_model', "value": 0 })
        sendingArray.value.push({ "id": element.model_node_id, "attr": 'param_value_forecasting_model', "value": 0 })
      }
      if (param == 'param_value_forecasting_model') {
        element.param_value_forecasting_model = false;
        sendingArray.value.push({ "id": element.model_node_id, "attr": 'param_value_forecasting_model', "value": 0 })
      }
      // element[param] = 0
      // sendingArray.value.push({ "id": element.model_node_id, "attr": param, "value": 1 })
    });
  }


}

const checkState = (e, key) => {
  if (sendingArray.value.length) {
    if (sendingArray.value.find(el => el.id == key.model_node_id)) {
      return
    } else {
      sendingArray.value.push({ "id": key.model_node_id, "attr": e.id, "value": e.value })
    }
  } else {
    sendingArray.value.push({ "id": key.model_node_id, "attr": e.id, "value": e.value })
  }

  console.log(sendingArray.value);


  if (e.id == 'param_value_forecasting_model' && !e.value) {
    key.param_value_forecasting_model = true;
    key.observable_in_model = true;
    key.affected_forecasting_model = true;
  }
  if (e.id == 'affected_forecasting_model' && !e.value) {
    key.affected_forecasting_model = true;
    key.observable_in_model = true;
  }
  if (e.id == 'affected_forecasting_model' && e.value) {
    key.affected_forecasting_model = false;
    key.param_value_forecasting_model = false;
  }
  if (e.id == 'observable_in_model' && e.value) {
    key.observable_in_model = false;
    key.affected_forecasting_model = false;
    key.param_value_forecasting_model = false;
  }
};

const onChange = (pagination, filters, sorter) => {
  let sortString = ''
  if (sorter.order == "descend") {
    sortString = `${sorter.field} desc`
  }
  if (sorter.order == "ascend") {
    sortString = `${sorter.field} asc`
  }
  $event('factors:sort', sortString)
};
</script>

<style lang="scss">
.editable-row-operations {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
}

.model-factors {
  &__space {
    height: 64px;
    pointer-events: none;
    color: red;
  }

  &__selects {
    display: flex;
    align-items: center;
    gap: 4px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    height: 32px;
    padding: 0 4px;
    position: relative;
    z-index: 4;
    background-color: white;
  }

  &__wrapper {
    position: relative;
  }

  &__bg {
    left: -10px;
    position: absolute;
    content: '';
    width: calc(100% + 20px);
    height: 100%;
    background-color: white;
    padding: 4px;
    border-radius: 6px;
    z-index: 3;
  }

  &__chart {
    position: absolute;
    right: 20px;
    top: -10px;
    cursor: pointer;
    background-color: #ffffff;
    background-clip: padding-box;
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    padding: 12px;
    transform: translateX(20px);
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease;

    &.active {
      transform: translateX(0);
      z-index: 200;
      opacity: 1;
    }
  }

  &__column {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  td.column-center {
    text-align: center !important;
  }

  .ant-card-body {
    padding: 0 !important;
  }

  .ant-table-cell {
    padding: 8px !important;
  }

  .long {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
  }

  .ant-table-header {
    border-radius: 0 !important;

    tr {
      th {
        border-radius: 0 !important;
      }
    }
  }
}
</style>