<template>
  <a-card class="model-indicators" :title="$t('table.model.indicators.title')">
    <template #extra>
      <a-space>
        <FilterModelIndicator />
        <a-button @click="updateTable" :title="$t('buttons.refresh')">
          <ReloadOutlined />
        </a-button>
        <a-button
          :title="`${collapsed.factors ? $t('table.model.indicators.indicators-normal') : $t('table.model.indicators.indicators-wider')}`"
          @click="$emit('indicatorsToggle')">
          <arrow-left-outlined v-if="!collapsed.factors" />
          <arrow-right-outlined v-if="collapsed.factors" />
        </a-button>
      </a-space>
    </template>
    <a-table :pagination="false" bordered @change="onChange" :scroll="{ y: 'calc(100vh - 360px' }"
      :row-key="(record) => record.indr_id" @resizeColumn="handleResizeColumn" :dataSource="tableList"
      :columns="tableColumns" :row-selection="{ selectedRowKeys: selectedRowKeys, onChange: onSelectChange }">
      <template #headerCell="{ column }">
        <template v-if="column.key === 'advice_target_model'">
          <div style="text-align: center" :title="column.title">
            <eye-outlined style="fontSize: 18px" />
          </div>
        </template>
        <template v-if="column.key === 'advice_prediction'">
          <div style="text-align: center" :title="column.title">
            <fund-view-outlined style="fontSize: 18px" />
          </div>
        </template>
        <template v-if="column.key === 'advice_target_value'">
          <div style="text-align: center" :title="column.title">
            <aim-outlined style="fontSize: 18px" />
          </div>
        </template>
        <template v-if="!column.icon">
          <span :title="column.title">
            {{ column.title }}
          </span>
        </template>
      </template>
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'name'">
          <span class="long" :title="record.name">{{ record.name }}</span>
        </template>
        <template v-if="column.boolean === true">
          <span v-if="record[column.key] == 1" :title="record[column.key]">
            <check-square-outlined style="color: #52c41a;" />
          </span>
          <span v-else :title="record[column.key]">
            <CloseSquareOutlined style="color: #ff4d4f;" />
          </span>
        </template>
        <template v-if="column.key === 'indr_status_term'">
          <a-tag :color="`${(record.indr_status == 5) ? 'green' :
            (record.indr_status == 1) ? 'red' : 'purple'}`">{{ record.indr_status_term }}</a-tag>
        </template>
      </template>
    </a-table>
    <Pagination :paginationData="tableMeta" />
  </a-card>
</template>

<script setup>
const { $event } = useNuxtApp()
const emit = defineEmits(["indicatorsSelected", "indicatorsToggle"]);
const localeModule = useI18n()

const props = defineProps({
  tableData: { type: Array || Object },
  tableMeta: { type: Object },
  nodesData: { type: Array },
  collapsed: { type: Object },
})

const selectedRowKeys = ref([])

const onSelectChange = (keys) => {
  selectedRowKeys.value = keys;
  emit('indicatorsSelected', keys)
};

const tableList = computed(() => {
  return Array.isArray(props.tableData) ? props.tableData.filter(city => {
    return props.nodesData.length ? !props.nodesData.some(item => item.indr_id === city.indr_id) : []
  }) : []
})

const tableColumns = ref([
  {
    title: localeModule.t('table.model.indicators.name'),
    dataIndex: 'name',
    key: 'name',
    sorter: (a, b) => a.name - b.name,
    resizable: true,
    longText: true,
    width: props.collapsed.factors ? '75%' : '50%',
    fixed: true
  },
  {
    title: localeModule.t('table.model.indicators.advice_target_model'),
    dataIndex: 'advice_target_model',
    key: 'advice_target_model',
    width: 50,
    icon: true,
    boolean: true,
    className: 'column-center',
  },
  {
    title: localeModule.t('table.model.indicators.advice_prediction'),
    dataIndex: 'advice_prediction',
    key: 'advice_prediction',
    width: 50,
    icon: true,
    boolean: true,
    className: 'column-center',
  },
  {
    title: localeModule.t('table.model.indicators.advice_target_value'),
    dataIndex: 'advice_target_value',
    key: 'advice_target_value',
    width: 50,
    icon: true,
    boolean: true,
    className: 'column-center',
  },
  {
    title: localeModule.t('table.model.indicators.indr_status_term'),
    dataIndex: 'indr_status_term',
    key: 'indr_status_term',
    sorter: (a, b) => a.indr_status_term - b.indr_status_term,
    width: 150,
    resizable: true,
  },
])
const handleResizeColumn = (w, col) => {
  col.width = w;
}

const updateTable = () => {
  $event('modelIndicators:update')
}

const onChange = (pagination, filters, sorter) => {
  let sortString = ''
  if (sorter.order == "descend") {
    sortString = `${sorter.field} desc`
  }
  if (sorter.order == "ascend") {
    sortString = `${sorter.field} asc`
  }
  $event('indicators:sort', sortString)
};
</script>

<style lang="scss">
.model-indicators {
  .ant-card-body {
    padding: 0 8px !important;
  }

  .ant-table-cell {
    padding: 8px !important;
  }

  td.column-center {
    text-align: center !important;
  }

  .long {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
  }

  .ant-table-header {
    border-radius: 0 !important;

    tr {
      th {
        border-radius: 0 !important;
      }
    }
  }
}
</style>