<template>
  <div class="add-model">    
    <a-form layout="vertical" :model="formState" name="basic" autocomplete="off" @finish="onFinish"
      @finishFailed="onFinishFailed">
      <div class="add-model__flex">
        <a-divider orientation="left">{{ $t('modal.source.info') }}</a-divider>
        <div class="add-model__list">
          <div style="width: 33%;">
            <a-form-item has-feedback :label="$t('modal.source.i_name')" name="i_name"
              :rules="[{ required: true, message: $t('cls.required-field') }, { max: 40, message: `${$t('cls.max-symbols')} 40` }]">
              <a-input :placeholder="$t('modal.source.i_name')" v-model:value="formState.i_name" show-count
                :maxlength="40" />
            </a-form-item>
          </div>
          <div style="width: 33%;">
            <a-form-item has-feedback :label="$t('modal.source.i_sys_name')" name="i_sys_name"
              :rules="[{ required: true, message: $t('cls.required-field') }, { max: 50, message: `${$t('cls.max-symbols')} 50` }]">
              <InputSys v-model="formState.i_sys_name" />              
            </a-form-item>
          </div>
          <div style="width: 33%;">
            <a-form-item has-feedback :label="$t('modal.source.i_indrs_subject_domain')" name="i_indrs_subject_domain">
              <a-select :placeholder="$t('modal.source.i_indrs_subject_domain')" ref="select"
                v-model:value="formState.i_indrs_subject_domain" style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 64).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
        </div>
        <div class="add-model__list">
          <div style="width: 33%;">
            <a-form-item has-feedback :label="$t('modal.source.i_load_type')" name="i_load_type"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select :placeholder="$t('modal.source.i_load_type')" ref="select" v-model:value="formState.i_load_type"
                style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 58).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div style="width: 33%;">
            <a-form-item has-feedback :label="$t('modal.source.i_load_adapter')" name="i_load_adapter"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select :placeholder="$t('modal.source.i_load_adapter')" ref="select"
                v-model:value="formState.i_load_adapter" style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 59).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div style="width: 33%;">
            <a-form-item has-feedback :label="$t('modal.source.i_load_freq')" name="i_load_freq"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select :placeholder="$t('modal.source.i_load_freq')" ref="select" v-model:value="formState.i_load_freq"
                style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 53).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
        </div>
        <div class="add-model__list">
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.source.i_source_uri')" name="i_source_uri"
              :rules="[{ required: user.is_admin == 1, message: $t('cls.required-field') }, { max: 500, message: `${$t('cls.max-symbols')} 500` }]">
              <a-textarea :autoSize="{ minRows: 1, maxRows: 6 }" :disabled="user.is_admin !== 1"
                :placeholder='{ "type": "", "url": "", "params": {}, "comment": "" }'
                v-model:value="formState.i_source_uri" show-count :maxlength="500" />
            </a-form-item>
          </div>
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.source.i_dsc')" name="i_dsc"
              :rules="[{ max: 1000, message: `${$t('cls.max-symbols')} 1000` }]">
              <a-textarea :placeholder="$t('modal.source.i_dsc')" :autoSize="{ minRows: 1, maxRows: 6 }"
                v-model:value="formState.i_dsc" :maxlength="1000" />
            </a-form-item>
          </div>
        </div>
        <div class="add-model__list">          
          <div style="width: 100%;">
            <a-form-item has-feedback :label="$t('modal.source.i_full_desc')" name="i_full_desc"
              :rules="[{ max: 4000, message: `${$t('cls.max-symbols')} 4000` }]">
              <a-textarea :placeholder="$t('modal.source.i_full_desc')" :autoSize="{ minRows: 1, maxRows: 6 }"
                v-model:value="formState.i_full_desc" :maxlength="4000" />
            </a-form-item>
          </div>
        </div>
      </div>
      <div class="add-model__footer">
        <a-button @click="modal.state = ''">{{ $t('buttons.cancel') }}</a-button>
        <a-button :disabled="!saveEnable" type="primary" html-type="submit" :loading="loading">{{ $t('buttons.save')
        }}</a-button>
      </div>
    </a-form>
  </div>
</template>

<script setup>
import { notification } from 'ant-design-vue';
import { useModal } from '@/stores/modal'
import { useDictionariesStore } from '@/stores/dictionaries'
import { useSessionStore } from '@/stores/session-store'
const { $event } = useNuxtApp()
const localeModule = useI18n()

const props = defineProps({
  inspector: { type: Object },
  haveData: { type: Boolean },
})

const dictionariesStore = useDictionariesStore()
const sessionStore = useSessionStore()
const modal = useModal()
const saveEnable = ref(false)
const loading = ref(false)

const dictionaries = computed(() => {
  return dictionariesStore.dictionaries.data.clss
})

const user = computed(() => {
  return sessionStore.user.data.data
})

const formState = ref({
  i_name: props.haveData ? props.inspector.data_source_name : '',
  i_sys_name: props.haveData ? props.inspector.sys_name : '',
  i_load_type: props.haveData ? props.inspector.load_type : undefined,
  i_load_adapter: props.haveData ? props.inspector.load_adapter : undefined,
  i_source_uri: props.haveData ? props.inspector.source_uri : '{"type":"","url":"","params":{},"comment":""}',
  i_load_freq: props.haveData ? props.inspector.load_freq : undefined,
  i_dsc: props.haveData ? props.inspector.dsc : '',
  i_full_desc: props.haveData ? props.inspector.full_desc : '',
  i_indrs_subject_domain: props.haveData ? props.inspector.indrs_subject_domain : undefined,
});

const onFinish = async (values) => {
  try {
    let obj = JSON.parse(formState.value.i_source_uri)
    let keysToCheck = ['type', 'params', 'comment'];
    let containsAllKeys = keysToCheck.every(key => obj.hasOwnProperty(key));
    if (containsAllKeys && (obj.hasOwnProperty('url') || obj.hasOwnProperty('path'))) {
      apiFetch(`create_data_source`, { value: { ...formState.value } }).then((response) => {
        if (response.data?.value?.error?.code) {
          notification.open({
            message: response.data?.value?.error?.message,
            style: {
              borderColor: '#ffd591',
              backgroundColor: '#fff7e6'
            },
          });
        } else {
          notification.open({
            message: localeModule.t('modal.source.create-success'),
            style: {
              border: '1px solid #b7eb8f',
              backgroundColor: '#f6ffed',
            },
          });
          setTimeout(() => {
            $event('source:select', response.data?.value?.data?.res)
            modal.state = '';
          }, 300);
        }
      })
    } else {
      notification.open({
        message: localeModule.t('modal.source.warning-keys'),
        style: {
          border: "1px solid #ffa39e",
          backgroundColor: "#fff1f0",
        },
      });
    }
  } catch (error) {
    notification.open({
      message: localeModule.t('modal.source.warning-json'),
      style: {
        border: "1px solid #ffa39e",
        backgroundColor: "#fff1f0",
      },
    });
  }
};
watch(formState, (newValue) => {
  saveEnable.value = true;
}, { deep: true })
</script>

<style lang="scss" scoped>
.add-model {
  .ant-divider-horizontal {
    margin: 12px 0;
  }

  .ant-form-item-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
  }

  .ant-input-textarea {
    &::after {
      position: absolute;
      bottom: -24px;
      right: 0;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    width: 100%;
  }



  &__list {
    width: 100%;
    display: flex;
    gap: 16px;

    &.row {
      display: flex;
      padding-bottom: 16px;
    }
  }

  &__checkbox {
    margin-bottom: 0;
  }

  &__footer {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: 1px solid rgba(5, 5, 5, 0.06);
    margin-top: 12px;
    padding-top: 12px;
  }
}
</style>