<template>
  <div class="modal-upload">
    <a-typography-title :level="5">
      {{ $t('modal.send.choose') }}
    </a-typography-title>
    <a-upload-dragger v-model:fileList="fileList" name="file" :multiple="false" @change="handleChange"
      @drop="handleDrop" accept=".csv, .xls, .xlsx">
      <p class="ant-upload-drag-icon">
        <inbox-outlined></inbox-outlined>
      </p>
      <p class="ant-upload-text">{{ $t('modal.send.drag') }}</p>
    </a-upload-dragger>
    <div class="modal-upload__footer">
      <a-button @click="modal.state = ''">{{ $t('buttons.cancel') }}</a-button>
      <a-button :disabled="!file" type="primary" @click="send" :loading="loading">{{ $t('buttons.save') }}</a-button>
    </div>
  </div>
</template>

<script setup>
const { $runtimeConfig } = useNuxtApp();
import { notification } from 'ant-design-vue';
import { useModal } from '@/stores/modal'
const activeDomain = useCookie("domain");
const localeModule = useI18n()

const props = defineProps({
  inspector: { type: Object },
})
const modal = useModal()
const saveEnable = ref(false)
const fileList = ref();
const file = ref();

const handleChange = (info, event) => {
  const status = info.file.status;
  if (status === 'done') {
    file.value = info.file
  } else if (status === 'error') {
  }
};

const send = () => {
  const formData = new FormData()
  const formdata = {
    file: file.value.originFileObj,
    lma_data_source_id: props.inspector.data_source_id,
    sess_domain: activeDomain.value.sys_name,
  };
  for (const item in formdata) {
    formData.append(item, formdata[item]);
  }
  useFetch('upload', {
    credentials: "include",
    method: "POST",
    baseURL: process.dev
      ? "https://adviser.lmsoftware.ru/dss/api/v1/"
      : $runtimeConfig.LMA_API_URL
        ? $runtimeConfig.LMA_API_URL
        : `${location.origin}/dss/api/v1/`,
    body: formData
  }).then((resp) => {
    if (!resp.error.value) {
      notification.open({
        message: localeModule.t('modal.send.upload-success'),
        style: {
          border: '1px solid #b7eb8f',
          backgroundColor: '#f6ffed',
        },
      });
      modal.state = '';
    } else {
      if (resp.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      }
    }
  })
}

</script>

<style lang="scss" scoped>
.modal-upload {
  &__footer {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: 1px solid rgba(5, 5, 5, 0.06);
    margin-top: 12px;
    padding-top: 12px;
  }
}
</style>