<template>
  <div class="filters">
    <div id="horizontal-scroller-solvers" class="filters__tags"><a-tag class="filters__tag" closable color="blue"
        v-for="(filter, index) in activeFiltersTerms" @close="removeFilter(filter)" :key="index">{{ filter }}</a-tag>
    </div>
    <a-badge :count="activeFiltersCount.length" :number-style="{
      backgroundColor: '#fff',
      color: '#181e04',
      boxShadow: '0 0 0 1px #d9d9d9 inset',
    }">
      <a-button :disabled="disabled" @click='filterCollapsed = !filterCollapsed'
        :title="`${filterCollapsed ? $t('buttons.hide') : $t('buttons.show')}`"
        :type="`${activeFiltersCount.length ? 'primary' : 'default'}`">
        <arrow-down-outlined v-if="!filterCollapsed" />
        <arrow-up-outlined v-if="filterCollapsed" />
        <span>{{ $t('buttons.filter') }}</span>
      </a-button>
    </a-badge>
    <div class="filters__container" :class="{ visible: filterCollapsed }">
      <div class="filters__body">
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.solvers.list.solver_id') }}</span>
          <div class="filters__content">
            <InputNumber v-model="formState.solver_id" :placeholder="$t('filter.solvers.list.solver_id')" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.solvers.list.name') }}</span>
          <div class="filters__content">
            <a-input v-model:value="formState.name" :placeholder="$t('filter.solvers.list.name')" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.solvers.list.status') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.solvers.list.status')" ref="select" v-model:value="formState.status"
              style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 81).terms" :key="item.num"
                :value="item.num">{{ item.term }}
              </a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.solvers.list.quant') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.solvers.list.quant')" ref="select" v-model:value="formState.quant"
              style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 81).terms" :key="item.num"
                :value="item.num">{{ item.term }}
              </a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.solvers.list.user_display_name') }}</span>
          <div class="filters__content">
            <a-input v-model:value="formState.user_display_name"
              :placeholder="$t('filter.solvers.list.user_display_name')" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.solvers.list.amount') }}</span>
          <div class="filters__content">
            <InputNumber v-model="formState.amount" :placeholder="$t('filter.solvers.list.amount')" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.solvers.list.dt_creates') }}</span>
          <div class="filters__content">
            <DatePicker :placeholder="$t('filter.solvers.list.dt_creates')" v-model:value="date" />
          </div>
        </div>
        <div class="filters__item">

        </div>
      </div>
      <div class="filters__footer">
        <a-button @click="clear">{{ $t('buttons.clear') }}</a-button>
        <a-button @click="accept" type="primary">{{ $t('buttons.accept') }}</a-button>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useDictionariesStore } from '@/stores/dictionaries'
const dictionariesStore = useDictionariesStore()
const { $event } = useNuxtApp()
const localeModule = useI18n()

const props = defineProps({
  disabled: { type: Boolean },
})

const filterCollapsed = ref(false)
const date = ref('')

const formState = ref({
  solver_id: null,
  name: null,
  status: null,
  amount: null,
  quant: null,
  user_display_name: null,
  dt_creates: null,
})

const dictionaries = computed(() => {
  return dictionariesStore.dictionaries?.data?.clss
})

const activeFiltersCount = computed(() => {
  return Object.entries(formState.value).filter(i => i[1] != null && i[1] != '')
})

const activeFilters = computed(() => {
  let newObj = {};
  for (let key in formState.value) {
    if (formState.value[key] !== null && formState.value[key] != '') {
      newObj[key] = formState.value[key];
    }
  }
  return newObj
})

const activeFiltersTerms = computed(() => {
  let newObj = {};
  for (let key in formState.value) {
    if (formState.value[key] !== null && formState.value[key] != '') {
      newObj[key] = localeModule.t(`filter.solvers.list.${key}`);
    }
  }
  return newObj
})

const removeFilter = (filter) => {
  let foundKey = Object.keys(activeFiltersTerms.value).find(key => activeFiltersTerms.value[key] === filter);
  if (foundKey == 'dt_creates') {
    date.value = ''
  }
  formState.value[foundKey] = null
  accept()
}

const clear = () => {
  date.value = ''
  for (let key in formState.value) {
    formState.value[key] = null
  }
  $event('filterList:update', activeFilters)
  filterCollapsed.value = false
}
const accept = () => {
  if (date.value) {
    formState.value.dt_creates = date.value
  }
  $event('filterList:update', activeFilters)
  filterCollapsed.value = false
}

onMounted(() => {
  document.getElementById("horizontal-scroller-solvers")
    .addEventListener('wheel', function (event) {
      let modifier = null
      if (event.deltaMode == event.DOM_DELTA_PIXEL) {
        modifier = 1;
      } else if (event.deltaMode == event.DOM_DELTA_LINE) {
        modifier = parseInt(getComputedStyle(this).lineHeight);
      } else if (event.deltaMode == event.DOM_DELTA_PAGE) {
        modifier = this.clientHeight;
      }
      if (event.deltaY != 0) {
        this.scrollLeft += modifier * event.deltaY;
        event.preventDefault();
      }
    });

  document.addEventListener('keyup', event => {
    if (filterCollapsed.value) {
      if (event.code === 'Enter') {
        accept()
      };
    }
  });
})
</script>

<style lang="scss" scoped>
.filters {
  display: flex;
  align-items: center;
  gap: 8px;

  &__tags {
    display: flex;
    gap: 8px;
    align-items: center;
    overflow-x: scroll;
    border-radius: 4px;
    max-width: 900px;

    @media (max-width: 1920px) {
      max-width: 530px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__tag {
    user-select: none;
  }

  &__body {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    // gap: 8px;
    padding-bottom: 8px;
    justify-content: flex-start;
  }

  &__container {
    position: absolute;
    z-index: 105;
    pointer-events: none;
    top: 55px;
    padding: 16px;
    border-radius: 0 0 16px 16px;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.3s ease, transform 0.5s ease;

    &.visible {
      transform: translateY(0);
      opacity: 1;
      z-index: 105;
      pointer-events: all;
    }
  }

  &__item {
    margin: 0 auto;
    width: 24%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &:nth-child(n+5) {
      padding-top: 8px;
    }

    @media (max-width: 1600px) {
      width: 49%;
    }
  }

  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 240px;
  }

  &__footer {
    padding-top: 16px;
    gap: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
</style>