<template>
  <div class="data-source">
    <a-card :title="$t('pages.data-sources-id.title')">
      <template #extra>
        <a-button @click="navigateTo(localePath('/data-sources'))">
          <arrow-left-outlined />
          <span>{{ $t('buttons.back') }}</span></a-button>
      </template>
      <div class="data-source__header">
        <a-tag :title="$t('pages.data-sources-id.source-name')" color="default">
          <template #icon>
            <font-size-outlined style="fontSize: 18px" />
          </template>
          <span style="fontSize: 18px;lineHeight: 1.5">{{ sourceData.data_source_name }}</span>
        </a-tag>
        <a-tag :title="$t('pages.data-sources-id.status')"
          :color="`${(sourceData.load_status == 2) ? 'green' : (sourceData.load_status == 3) ? 'orange' : 'red'}`">
          <template #icon>
            <check-circle-outlined style="fontSize: 18px" v-if="sourceData.load_status === 3" />
            <ClockCircleOutlined style="fontSize: 18px" v-if="[1, 2].includes(sourceData.load_status)" />
            <close-circle-outlined style="fontSize: 18px" v-if="[1, 2, 3].includes(!sourceData.load_status)" />
          </template>
          <span style="fontSize: 18px;lineHeight: 1.5">{{ sourceData.load_status_term }}</span>
        </a-tag>
      </div>
    </a-card>
    <div class="data-source__content" >
      <div class="data-source__table" :class="{ full: !inspectorVisible }">
        <TableDownloads v-model="selectedRow" :tableData="dataSource.data.value.data" />
      </div>
      <div class="data-source__inspector" :class="{ visible: inspectorVisible }">
        <InspectorDownloads :inspectorData="sourceData" :inspectorVisible="inspectorVisible" />
      </div>
    </div>
  </div>
</template>

<script setup>
const { $listen } = useNuxtApp()
const route = useRoute();
const localePath = useLocalePath();

const selectedRow = ref(null)
const inspectorVisible = ref(true)

const sourceData = computed(() => {
  return dataSource.data.value.data[0]
})

const dataSource = await apiFetch('get_data_sources_cls', { value: { data_source_id: Number(route.params.id) } });

// const { data: downloads, refresh } = await apiFetch('get_data_source_uploads_cls', { value: { data_source_upload_id: Number(route.params.id), limit: 1000 } });
const { data: downloads, refresh } = await apiFetch('get_data_sources_cls', { value: { data_source_upload_id: Number(route.params.id), limit: 1000 } });



</script>

<style lang="scss" scoped>
.data-source {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__content {
    display: flex;
    gap: 16px;
  }

  &__table {
    width: 80%;
    transition: all 0.5s ease;

    &.full {
      width: calc(100% - 80px);
    }
  }

  &__inspector {
    width: 60px;
    height: calc(100vh - 208px);
    transition: all 0.5s ease;

    &.visible {
      width: 20%;
    }
  }
}
</style>