<template>
  <div class="data-sources">
    <div class="data-sources__wrapper" :class="{ full: !inspectorVisible }">
      <TableSources v-model="selectedRow" :tableData="sources.data" :tableMeta="sources.meta" />
    </div>
    <div class="data-sources__inspector" :class="{ visible: inspectorVisible }">
      <InspectorSources @inspectorToggle="inspectorVisible = !inspectorVisible" :inspectorData="selectedRow"
        :inspectorVisible="inspectorVisible" />
    </div>
  </div>
</template>

<script setup>
const { $listen } = useNuxtApp()
const { $off } = useNuxtApp()

const route = useRoute();
const activeDomain = useCookie("domain");

const sourceId = computed(() => {
  // проверяем есть ли в url data_source_id
  return routerSource.value ? { data_source_id: routerSource.value } : {}
})

const routerSource = ref(route.query.data_source_id)
const selectedRow = ref(null)
const inspectorVisible = ref(true)
const pageLimit = ref(30)
const pageData = ref({
  limit: pageLimit.value,
  domain_name: '',
  domain_name: routerSource.value ? '' : activeDomain.value.name,
  is_template: 0,
  ...sourceId.value,
})


$listen('filter:update', (filters) => {
  if (Object.keys(filters.value).length === 0) {
    pageData.value = {}
  } else {
    pageData.value = {}
    pageData.value = Object.assign(filters.value, { limit: pageLimit.value });
  }
})

$listen('page:updateLimit', (value) => {
  pageLimit.value = value
  pageData.value.limit = pageLimit.value
})

$listen('page:update', (offset) => {
  pageData.value = Object.assign(pageData.value, offset.value);
})

$listen('sources:update', () => {
  refresh()
})

$listen('inspector:update', (value) => {
  if (value) {
    selectedRow.value = null
    setTimeout(() => {
      selectedRow.value = sources.value.data.find(el => el.data_source_id == value)
    }, 500);
  } else {
    selectedRow.value = null
  }
})

$listen('source:select', (value) => {
  apiFetch('get_data_sources_cls', { value: { data_source_id: value } }).then((response) => {
    sources.value.data.unshift(response.data.value.data[0])
    selectedRow.value = response.data.value.data[0]
  })
})

$listen('sources:sort', (field) => {
  if (field.length) {
    pageData.value = Object.assign(pageData.value, { orderby: field });
  } else {
    delete pageData.value.orderby
  }
})

const { data: sources, refresh } = await apiFetch(`get_data_sources_cls`, pageData);
onUnmounted(() => {
  $off('sources:update')
  // $off('page:updateLimit')
})

if (routerSource.value) {
  selectedRow.value = sources.value.data[0]
}
</script>
<style lang="scss">
.data-sources {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;

  &__wrapper {
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: all 0.5s ease;

    .ant-table-body {
      height: calc(100vh - 230px) !important;
    }

    &.full {
      width: calc(100% - 80px);
    }
  }

  &__inspector {
    width: 60px;
    height: calc(100vh - 54px);
    background: white;
    transition: all 0.5s ease;

    .ant-table-cell {
      padding: 8px;
    }

    .ant-card-head-wrapper {
      justify-content: center;
    }

    .ant-card-extra {
      padding: 11px 0;
    }

    &.visible {
      width: 33%;
    }

    &.disabled {
      width: 33%;
    }
  }
}
</style>