<template>
  <div class="filters">
    <a-badge :count="activeFiltersCount.length" :number-style="{
      backgroundColor: '#fff',
      color: '#181e04',
      boxShadow: '0 0 0 1px #d9d9d9 inset',
    }">
      <a-button @click='filterCollapsed = !filterCollapsed'
        :title="`${filterCollapsed ? $t('buttons.hide') : $t('buttons.show')}`"
        :type="`${activeFiltersCount.length ? 'primary' : 'default'}`">
        <arrow-down-outlined v-if="!filterCollapsed" />
        <arrow-up-outlined v-if="filterCollapsed" />
        <span>{{ $t('buttons.filter') }}</span>
      </a-button>
    </a-badge>
    <div class="filters__container" :class="{ visible: filterCollapsed }">
      <div class="filters__body">
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.forecasts.charts.indicators') }}</span>
          <div class="filters__content">
            <a-select v-model:value="formState.indicatorsList" mode="multiple" :max-tag-count="1"
              :max-tag-text-length="10" style="width: 100%" :placeholder="$t('filter.forecasts.charts.indicators')"
              :options="selectData" @search="searchFunc">
              <template #dropdownRender="{ menuNode: menu }">
                <v-nodes :vnodes="menu" />
                <a-divider style="margin: 4px 0" />
                <a-space style="padding: 4px 8px">
                  <a-button type="default" @click="allAction">
                    {{ `${formState.indicatorsList.length == selectData.length ? $t('filter.forecasts.charts.clear-all')
                      : $t('filter.forecasts.charts.choose-all')}` }}
                  </a-button>
                  <a-button type="default" @click="selectFounded" :disabled="searchedValue.length < 1">
                    {{ $t('filter.forecasts.charts.select-finded') }}
                  </a-button>
                </a-space>
              </template>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.forecasts.charts.time-range') }}</span>
          <div class="filters__content">
            <DateRange v-model:value="date" />
          </div>
        </div>
      </div>
      <div class="filters__footer">
        <a-button @click="clear">{{ $t('buttons.clear') }}</a-button>
        <a-button @click="accept" type="primary">{{ $t('buttons.accept') }}</a-button>
      </div>
    </div>
  </div>
</template>

<script setup>
const { $event } = useNuxtApp()
const filterCollapsed = ref(false)

const props = defineProps({
  chartsData: { type: Array },
})

const VNodes = defineComponent({
  props: {
    vnodes: {
      type: Object,
      required: true,
    },
  },
  render() {
    return this.vnodes;
  },
});

const date = ref([])
const searchedValue = ref('')
const savedChartsData = reactive(props.chartsData)

const selectData = computed(() => {
  let arr = []
  savedChartsData.forEach(element => {
    arr.push({ value: element.indicator_name, id: element.indicator_id })
  });
  return arr
})
const dateRange = computed(() => {
  return date.value.length ? { from: date.value[0], to: date.value[1] } : null
})

const formState = ref({
  indicatorsList: selectData.value,
  dates: null,
})

const searchFunc = (val) => {
  searchedValue.value = val
}
const selectFounded = () => {
  const arr = [];
  savedChartsData.forEach(element => {
    if (element.indicator_name.toLowerCase().includes(searchedValue.value.toLowerCase())) {
      arr.push(element.indicator_name)
    }
  });
  formState.value.indicatorsList = arr
}

const activeFiltersCount = computed(() => {
  return Object.entries(formState.value).filter(i => i[1] != null && i[1] != '')
})

const activeFilters = computed(() => {
  let newObj = {};
  for (let key in formState.value) {
    if (formState.value[key] !== null && formState.value[key] != '') {
      if (typeof formState.value[key] == 'boolean') {
        newObj[key] = Number(formState.value[key]);
      } else {
        newObj[key] = formState.value[key];
      }
    }
  }
  return newObj
})

const allAction = () => {
  if (formState.value.indicatorsList.length == selectData.value.length) {
    formState.value.indicatorsList = []
  } else {
    formState.value.indicatorsList = selectData.value
  }
}

const clear = () => {
  formState.value.indicatorsList = selectData.value
  formState.value.dates = { from: null, to: null, }
  date.value = []
  $event('chartsFilter:update', activeFilters)
  filterCollapsed.value = false
  formState.value.dates = null
}
const accept = () => {
  if (dateRange.value) {
    activeFilters.value.dates = dateRange.value
  }

  $event('chartsFilter:update', activeFilters)
  filterCollapsed.value = false
}

onMounted(() => {
  document.addEventListener('keyup', event => {
    if (filterCollapsed.value) {
      if (event.code === 'Enter') {
        accept()
      };
    }
  });
})

</script>

<style lang="scss" scoped>
.filters {
  &__body {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 8px;
    padding-bottom: 8px;

    @media (max-width: 1600px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media (max-width: 1400px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__container {
    position: absolute;
    z-index: 105;
    pointer-events: none;
    top: 55px;
    padding: 16px;
    border-radius: 0 0 16px 16px;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.3s ease, transform 0.5s ease;

    &.visible {
      transform: translateY(0);
      opacity: 1;
      z-index: 105;
      pointer-events: all;
    }
  }

  &__footer {
    padding-top: 16px;
    gap: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
</style>