<template>
  <a-table class="table" bordered :scroll="{ y: 'calc(100vh - 320px' }" :pagination="false" :dataSource="logData"
    :columns="tableColumns">
    <template #bodyCell="{ column, record }">
      <template v-if="column.key === 'job_status'">
        <a-tag
          :color="`${([4].includes(record.job_status)) ? 'green' : ([1, 2, 3].includes(record.job_status)) ? 'orange' : 'red'}`">
          {{ record.job_status_term }}
        </a-tag>
      </template>
      <template v-if="column.key === 'log_raw'">
        <p style="white-space: pre-line;">{{ record.log_raw }}</p>
      </template>
    </template>
  </a-table>
</template>

<script setup>
const localeModule = useI18n()
const props = defineProps({
  jobId: { type: String || Number },
})

const logData = ref([])

const tableColumns = ref([
  {
    title: localeModule.t('modal.job.log_dt'),
    dataIndex: 'log_dt',
    key: 'log_dt',
    resizable: true,
  },
  {
    title: localeModule.t('modal.job.job_status'),
    dataIndex: 'job_status',
    key: 'job_status',
    resizable: true,
  },
  {
    title: localeModule.t('modal.job.log_raw'),
    dataIndex: 'log_raw',
    key: 'log_raw',
    resizable: true,
    width: '40%'
  },
  {
    title: localeModule.t('modal.job.log_params'),
    dataIndex: 'log_params',
    key: 'log_params',
    resizable: true,
  },
  {
    title: localeModule.t('modal.job.server'),
    dataIndex: 'server',
    key: 'server',
    resizable: true,
  },
  {
    title: localeModule.t('modal.job.service'),
    dataIndex: 'service',
    key: 'service',
    resizable: true,
  },
])

onMounted(() => {
  apiFetch('get_job_log_cls', { value: { job_id: props.jobId } }).then((response) => {
    if (Array.isArray(response.data.value.data)) {
      logData.value = response.data.value.data.sort((log1, log2) => log1.log_dt < log2.log_dt ? 1 : -1);
    } else {
      logData.value = []
    }
  })
})
</script>