<template>
  <NuxtLayout>
    <a-config-provider :locale="antLocales[locale]">
      <NuxtPage />
    </a-config-provider>    
  </NuxtLayout>
</template>

<script setup>
const { $runtimeConfig } = useNuxtApp();
import { notification, Button } from 'ant-design-vue';
import { h } from 'vue';
import { useSessionStore } from '@/stores/session-store'
import { useAuthStore } from '@/stores/auth'
import enUS from 'ant-design-vue/es/locale/en_US';
import esES from 'ant-design-vue/es/locale/es_ES';
import frFR from 'ant-design-vue/es/locale/fr_FR';
import ptPT from 'ant-design-vue/es/locale/pt_PT';
import ruRU from 'ant-design-vue/es/locale/ru_RU';
const sessionStore = useSessionStore()
const auth = useAuthStore()
const localeModule = useI18n()
const localePath = useLocalePath();
const activeLanguage = useCookie("language");
const { locale, setLocale } = useI18n()


let typeColors = {
  info: {
    borderColor: '#91caff',
    backgroundColor: '#e6f4ff'
  },
  warning: {
    borderColor: '#ffd591',
    backgroundColor: '#fff7e6'
  },
  error: {
    borderColor: '#ffa39e',
    backgroundColor: '#fff1f0'
  }
}

const antLocales = ref({
  'en-US': enUS,
  'es-ES': esES,
  'pt-Pt': frFR,
  'fr-Fr': ptPT,
  'ru-Ru': ruRU,
})


if (activeLanguage.value) {
  setLocale(activeLanguage.value)
} else {
  activeLanguage.value = "ru-Ru"
}


setTimeout(() => {
  let options = {
    "login": sessionStore.user?.data?.data?.login,
    "domain": sessionStore.user?.data?.data?.sess_domain_check.sys_name,
    "secret": "lma-WSS-client-connect-secret"
  }

  const getLink = (type, id) => {
    return {
      'datasource': `/data-sources?data_source_id=${id}`,
      'indicator': `/indicators?indr_id=${id}`,
      'model': `/models?model_id=${id}`,
      'forecast': `/forecasts/${id}`,
      'solver_task': `/solvers/${id}`,
      'job': `/jobs?job_id=${id}`,
      'forecast_fit': `/models?ffit_id=${id}`,
    }[type]
  }

  const url = computed(() => {
    return process.dev
      ? "wss://adviser.lmsoftware.ru/dss/ws/"
      : $runtimeConfig.LMA_WSS_URL
        ? $runtimeConfig.LMA_WSS_URL
        : `wss://${location.host}/dss/ws/`;
  })

  function startWebsocket() {
    let socket = new WebSocket(url.value);

    socket.onopen = function (e) {
      socket.send(JSON.stringify(options));
      setInterval(() => {
        socket.send('ping');
      }, 20000);
    };

    socket.onmessage = function (event) {
      let messageData = JSON.parse(event.data)
      let colors = typeColors[messageData.message.msg_type]
      if (messageData.message.ids.length > 0) {
        const key = `open${Date.now()}`;
        notification.open({
          message: messageData.message.msg_text,
          duration: 0,
          style: {
            border: `1px solid ${colors.borderColor}`,
            backgroundColor: colors.backgroundColor,
          },
          btn: () =>
            h(
              Button,
              {
                onClick: () => {
                  notification.close(key)
                  navigateTo(localePath(getLink(messageData.message.entity, messageData.message.ids[0])))
                },
              },
              { default: () => localeModule.t('buttons.route-to') },
            ),
          key,
          onClose: close,
        });
      } else {
        notification.open({
          message: messageData.message.msg_text,
          duration: 0,
          style: {
            border: `1px solid ${colors.borderColor}`,
            backgroundColor: colors.backgroundColor,
          },
        });
      }
    };

    socket.onclose = function (event) {
      socket = null
      setTimeout(() => {
        startWebsocket();
      }, 2000);

    };

    socket.onerror = function (error) {
      socket = null
      setTimeout(() => {
        startWebsocket();
      }, 2000);
    };
  }

  startWebsocket();
}, 1000);

onMounted(() => {
  auth.initialize()
})

</script>
