<template>
  <div class="error-page">
    <div class="error-page__container">
      <p class="error-page__code">{{ error.statusCode }}</p>
      <p class="error-page__message">{{ errorMessage }}</p>
      <a :href="url">
        <a-button type="primary" @click="clearDomain">{{ $t('buttons.exit-system') }}</a-button>
      </a>
      <a-button type="primary" @click="handleError">{{ $t('buttons.back-home') }}</a-button>
    </div>
  </div>
</template>

<script setup>
const { $runtimeConfig } = useNuxtApp();
const props = defineProps({
  error: Object
})

const activeDomain = useCookie("domain");

const errorMessage = computed(() => {  
  let message = ''
  if (props.error.statusCode == 404) {
    message = 'Страница не найдена'
  } else {
    message = props.error.statusMessage
  }
  return message
})

const url = computed(() => {
  return process.dev
    ? "https://sso.adviser.lmsoftware.ru/logout?rd=https%3A%2F%2Fadviser.lmsoftware.ru&rm=GET"
    : $runtimeConfig.LMA_SSO_LOGOUT_URL
      ? $runtimeConfig.LMA_SSO_LOGOUT_URL
      : `https://sso.${location.host}/logout?rd=https%3A%2F%2F${location.host}&rm=GET`;
})

const clearDomain = () => {
  activeDomain.value = null
}
const handleError = () => clearError({ redirect: '/' })
</script>

<style lang="scss">
.error-page {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 128px 256px;
    border-radius: 8px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  }

  &__message {
    font-size: 20px;
  }

  &__code {
    font-size: 120px;
    font-weight: bold;
    color: var(--primary);
  }
}
</style>