<template>
  <div class="table">
    <a-table :pagination="false" bordered @change="onChange" :scroll="{ y: 'calc(100vh - 415px' }"
      :row-key="(record) => record.indr_id" @resizeColumn="handleResizeColumn" :dataSource="tableList"
      :columns="tableColumns">
      <template #headerCell="{ column }">
        <template v-if="column.key === 'advice_target_model'">
          <div style="text-align: center" :title="column.title">
            <eye-outlined style="fontSize: 18px" />
          </div>
        </template>
        <template v-if="column.key === 'advice_prediction'">
          <div style="text-align: center" :title="column.title">
            <fund-view-outlined style="fontSize: 18px" />
          </div>
        </template>
        <template v-if="column.key === 'advice_target_value'">
          <div style="text-align: center" :title="column.title">
            <aim-outlined style="fontSize: 18px" />
          </div>
        </template>
        <template v-if="!column.icon">
          <span :title="column.title">
            {{ column.title }}
          </span>
        </template>
      </template>
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'indr_id'">
          <nuxt-link :to="localePath(`/indicators?indr_id=${record.indr_id}`)" class="long" :title="record.indr_id">
            {{ record.indr_id }}
          </nuxt-link>
        </template>
        <template v-if="column.key === 'name'">
          <span class="long" :title="record.name">{{ record.name }}</span>
        </template>
        <template v-if="column.boolean === true">
          <span v-if="record[column.key] == 1" :title="$t('buttons.yes')">
            <check-square-outlined style="color: #52c41a;" />
          </span>
          <span v-else :title="$t('buttons.no')">
            <CloseSquareOutlined style="color: #ff4d4f;" />
          </span>
        </template>
        <template v-if="column.key === 'indr_status_term'">
          <a-tag :color="`${(record.indr_status == 5) ? 'green' :
            (record.indr_status == 1) ? 'red' : 'purple'}`">{{ record.indr_status_term }}</a-tag>
        </template>
      </template>
    </a-table>
    <Pagination tableName="dataSourcesModal" :paginationData="tableData.meta" />
  </div>
</template>

<script setup>
const { $listen } = useNuxtApp()
const { $event } = useNuxtApp()
const emit = defineEmits(["indicatorsSelected"]);
const localeModule = useI18n()
const localePath = useLocalePath();

const props = defineProps({
  source: { type: String },
})

const selectedRowKeys = ref([])
const pageData = ref({
  data_source_id: props.source
})
const onSelectChange = (keys) => {
  selectedRowKeys.value = keys;
  emit('indicatorsSelected', keys)
};

$listen('dataSourcesModal:update', (offset) => {
  pageData.value = Object.assign(pageData.value, offset.value);
})

$listen('indicators:sort', (field) => {
  if (field.length) {
    pageData.value = Object.assign(pageData.value, { orderby: field });
  } else {
    delete pageData.value.orderby
  }
})

const { data: tableData, refresh } = await apiFetch(`get_indicators_cls`, pageData);

const tableList = computed(() => {
  return Array.isArray(tableData.value.data) ? tableData.value.data : []
})

const tableColumns = ref([
  {
    title: 'ID',
    dataIndex: 'indr_id',
    key: 'indr_id',
    resizable: true,
    width: 100,
  },
  {
    title: localeModule.t('modal.table.indicators.name'),
    dataIndex: 'name',
    key: 'name',
    sorter: (a, b) => a.name - b.name,
    resizable: true,
    longText: true,
    width: '50%',
    fixed: true
  },
  {
    title: localeModule.t('modal.table.indicators.advice_target_model'),
    dataIndex: 'advice_target_model',
    key: 'advice_target_model',
    width: 50,
    icon: true,
    boolean: true,
    className: 'column-center',
  },
  {
    title: localeModule.t('modal.table.indicators.advice_prediction'),
    dataIndex: 'advice_prediction',
    key: 'advice_prediction',
    width: 50,
    icon: true,
    boolean: true,
    className: 'column-center',
  },
  {
    title: localeModule.t('modal.table.indicators.advice_target_value'),
    dataIndex: 'advice_target_value',
    key: 'advice_target_value',
    width: 50,
    icon: true,
    boolean: true,
    className: 'column-center',
  },
  {
    title: localeModule.t('modal.table.indicators.indr_status_term'),
    dataIndex: 'indr_status_term',
    key: 'indr_status_term',
    sorter: (a, b) => a.indr_status_term - b.indr_status_term,
    resizable: true,
  },
])
const handleResizeColumn = (w, col) => {
  col.width = w;
}

const onChange = (pagination, filters, sorter) => {
  let sortString = ''
  if (sorter.order == "descend") {
    sortString = `${sorter.field} desc`
  }
  if (sorter.order == "ascend") {
    sortString = `${sorter.field} asc`
  }
  $event('indicators:sort', sortString)
};
</script>

<style lang="scss">
.model-indicators {
  // height: calc(100vh - 254px);

  .ant-card-body {
    padding: 0 8px !important;
  }

  .ant-table-cell {
    padding: 8px !important;
  }

  td.column-center {
    text-align: center !important;
  }

  .long {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
  }

  .ant-table-header {
    border-radius: 0 !important;

    tr {
      th {
        border-radius: 0 !important;
      }
    }
  }
}
</style>