<template>
  <div class="table">
    <a-table class="inspector__table" bordered :scroll="{ y: 'calc(100vh - 500px' }" :pagination="false"
      :dataSource="inspectorTable" :columns="inspectorColumns">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'name'">
          <div :title="record.name">
            {{ record.shortText }}
          </div>
        </template>
        <template v-if="record.key === 'status' && column.key === 'value'">
          <a-tag :color="`${(record.value === 2) ? 'green' : (record.value === 1) ? 'orange' : 'red'}`">{{
            inspectorData?.status_term ? inspectorData.status_term : $t('cls.no-data') }}
          </a-tag>
        </template>
        <template v-if="record.key === 'priority_term' && column.key === 'value'">
          <a-tag :color="`${record.value ? 'blue' : 'red'}`">
            {{ record.value ? record.value : $t('cls.no-data') }}
          </a-tag>
        </template>
        <template v-if="record.key === 'job_type_term' && column.key === 'value'">
          <a-tag :color="`${record.value ? 'blue' : 'red'}`">
            {{ record.value ? record.value : $t('cls.no-data') }}
          </a-tag>
        </template>
      </template>
    </a-table>
    <a-flex style="padding-top: 16px;" justify="flex-end">
      <a-button @click="navigateTo(localePath(`/jobs?job_id=${inspectorData?.job_id}`))"
        type="primary">{{ $t('buttons.more') }}</a-button>
    </a-flex>
  </div>
</template>

<script setup>
import { useModal } from '@/stores/modal'
const localeModule = useI18n()
const localePath = useLocalePath();

const props = defineProps({
  inspectorData: { type: Object },
})

const modal = useModal()

const inspectorTable = computed(() => {
  const array = [

    {
      key: 'job_id',
      name: 'ID',
      value: props.inspectorData?.job_params_id,
      shortText: 'ID'
    },
    {
      key: 'job_params_name',
      name: localeModule.t('modal.table.job.job_params_name'),
      value: props.inspectorData?.job_params_name,
      shortText: localeModule.t('modal.table.job.job_params_name')
    },
    {
      key: 'status',
      name: localeModule.t('modal.table.job.status'),
      value: props.inspectorData?.status,
      shortText: localeModule.t('modal.table.job.status')
    },
    {
      key: 'priority_term',
      name: localeModule.t('modal.table.job.priority_term'),
      value: props.inspectorData?.priority_term,
      shortText: localeModule.t('modal.table.job.priority_term')
    },
    {
      key: 'job_type_term',
      name: localeModule.t('modal.table.job.job_type_term'),
      value: props.inspectorData?.job_type_term,
      shortText: localeModule.t('modal.table.job.job_type_term')
    },
    {
      key: 'server',
      name: localeModule.t('modal.table.job.server'),
      value: props.inspectorData?.server,
      shortText: localeModule.t('modal.table.job.server')
    },
    {
      key: 'service',
      name: localeModule.t('modal.table.job.service'),
      value: props.inspectorData?.service,
      shortText: localeModule.t('modal.table.job.service')
    },
    {
      key: 'create_dt',
      name: localeModule.t('modal.table.job.create_dt'),
      value: props.inspectorData?.create_dt,
      shortText: localeModule.t('modal.table.job.create_dt')
    },
    {
      key: 'current_status_dt',
      name: localeModule.t('modal.table.job.current_status_dt'),
      value: props.inspectorData?.current_status_dt,
      shortText: localeModule.t('modal.table.job.current_status_dt')
    },
  ];
  return array;
})

const inspectorColumns = ref([{
  title: localeModule.t('inspector.table.name'),
  dataIndex: 'name',
  key: 'name',
  width: 150,
}, {
  title: localeModule.t('inspector.table.value'),
  dataIndex: 'value',
  key: 'value',
}])

onUnmounted(() => {
  modal.state = ''
})
</script>
