<template>
  <div class="table">
    <a-table bordered :scroll="{ y: 'calc(100vh - 285px' }" :pagination="false" :dataSource="inspectorTable"
      :columns="inspectorColumns">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'name'">
          <div :title="record.name">
            {{ record.shortText }}
          </div>
        </template>
        <template v-if="record.key === 'model_status' && column.key === 'value'">
          <a-tag :color="`${(record.value === 2) ? 'green' : (record.value === 1) ? 'orange' : 'red'}`">{{
      inspectorData?.model_status_term ? inspectorData.model_status_term : $t('cls.no-data') }}
          </a-tag>
        </template>
        <template v-if="record.key === 'ffit_status' && column.key === 'value'">
          <a-tag
            :color="`${([3, 6].includes(record.value)) ? 'green' : ([1, 2, 5].includes(record.value)) ? 'orange' : 'red'}`">
            {{ inspectorData?.ffit_status_term ? inspectorData?.ffit_status_term : $t('cls.no-data') }}
          </a-tag>
        </template>
        <template v-if="record.key === 'quant_term' && column.key === 'value'">
          <a-tag :color="`${record.quant_term ? 'blue' : 'red'}`">
            {{ record.quant_term ? record.quant_term : $t('cls.no-data') }}
          </a-tag>
        </template>
        <template v-if="record.key === 'forecast_recalc_freq_term' && column.key === 'value'">
          <a-tag :color="`${record.value ? 'blue' : 'red'}`">
            {{ record.value ? record.value : $t('cls.no-data') }}
          </a-tag>
        </template>
      </template>
    </a-table>
    <a-flex style="padding-top: 16px;" justify="flex-end">
      <a-button @click="navigateTo(localePath(`/models?model_id=${inspectorData?.model_id}`))" type="primary">{{ $t('buttons.more') }}</a-button>
    </a-flex> 
  </div>
</template>

<script setup>
import { useModal } from '@/stores/modal'
const localeModule = useI18n()
const localePath = useLocalePath();

const props = defineProps({
  inspectorData: { type: Object },
})

const modal = useModal()

const inspectorTable = computed(() => {
  const array = [
    {
      key: 'model_id',
      name: 'ID',
      value: props.inspectorData?.model_id,
      shortText: 'ID'
    },
    {
      key: 'model_name',
      name: localeModule.t('table.models.model_name'),
      value: props.inspectorData?.model_name,
      shortText: localeModule.t('table.models.model_name')
    },
    {
      key: 'model_status',
      name: localeModule.t('table.models.model_status'),
      value: props.inspectorData?.model_status,
      shortText: localeModule.t('table.models.model_status')
    },
    {
      key: 'ffit_status',
      name: localeModule.t('table.models.ffit_status'),
      value: props.inspectorData?.ffit_status,
      shortText: localeModule.t('table.models.ffit_status')
    },
    {
      key: 'quant_term',
      name: localeModule.t('table.models.quant_term'),
      value: props.inspectorData?.quant_term,
      shortText: localeModule.t('table.models.quant_term')
    },
    {
      key: 'short_desc',
      name: localeModule.t('table.models.short_desc'),
      value: props.inspectorData?.short_desc,
      shortText: localeModule.t('table.models.short_desc')
    },
    {
      key: 'full_desc',
      name: localeModule.t('table.models.full_desc'),
      value: props.inspectorData?.full_desc,
      shortText: localeModule.t('table.models.full_desc')
    },
    {
      key: 'model_dsc',
      name: localeModule.t('table.models.model_dsc'),
      value: props.inspectorData?.model_dsc,
      shortText: localeModule.t('table.models.model_dsc')
    },
    {
      key: 'model_group_name',
      name: localeModule.t('table.models.model_group_name'),
      value: props.inspectorData?.model_group_name,
      shortText: localeModule.t('table.models.model_group_name')
    },
    {
      key: 'model_research_subject_term',
      name: localeModule.t('table.models.model_research_subject_term'),
      value: props.inspectorData?.model_research_subject_term,
      shortText: localeModule.t('table.models.model_research_subject_term')
    },
    {
      key: 'forecast_recalc_freq_term',
      name: localeModule.t('table.models.forecast_recalc_freq_term'),
      value: props.inspectorData?.forecast_recalc_freq_term,
      shortText: localeModule.t('table.models.forecast_recalc_freq_term_short')
    },
    {
      key: 'inverse_problem_method_term',
      name: localeModule.t('table.models.inverse_problem_method_term'),
      value: props.inspectorData?.inverse_problem_method_term,
      shortText: localeModule.t('table.models.inverse_problem_method_term_short')
    },
    {
      key: 'domain_name',
      name: localeModule.t('table.models.domain_name'),
      value: props.inspectorData?.domain_name,
      shortText: localeModule.t('table.models.domain_name')
    },
    {
      key: 'ffit_user_display_name',
      name: localeModule.t('table.models.ffit_user_display_name'),
      value: props.inspectorData?.ffit_user_display_name,
      shortText: localeModule.t('table.models.ffit_user_display_name_short')
    },
    {
      key: 'dt_start',
      name: localeModule.t('table.models.dt_start'),
      value: props.inspectorData?.dt_start,
      shortText: localeModule.t('table.models.dt_start_short')
    },
    {
      key: 'dt_end',
      name: localeModule.t('table.models.dt_start'),
      value: props.inspectorData?.dt_end,
      shortText: localeModule.t('table.models.dt_start_short')
    },
    {
      key: 'file',
      name: localeModule.t('table.models.file'),
      value: props.inspectorData?.file,
      shortText: localeModule.t('table.models.file')
    },
    {
      key: 'param_desc',
      name: localeModule.t('table.models.param_desc'),
      value: props.inspectorData?.param_desc,
      shortText: localeModule.t('table.models.param_desc_short')
    },
    {
      key: 'reached_quality',
      name: localeModule.t('table.models.reached_quality'),
      value: props.inspectorData?.reached_quality,
      shortText: localeModule.t('table.models.reached_quality_short')
    },
  ];
  return array;
})

const inspectorColumns = ref([{
  title: localeModule.t('inspector.table.name'),
  dataIndex: 'name',
  key: 'name',
  width: 200,
}, {
  title: localeModule.t('inspector.table.value'),
  dataIndex: 'value',
  key: 'value',
}])

onUnmounted(() => {
  modal.state = ''
})
</script>
