<template>
  <div class="table">
    <a-table :pagination="false" bordered @change="onChange" :scroll="{ y: 'calc(50vh - 235px' }"
      :row-key="(record) => record.key" :customRow="customRow" @resizeColumn="handleResizeColumn"
      :dataSource="tableList" :columns="tableColumns" rowClassName="table-row-js" :locale="{ emptyText: ' ' }">
      <template #headerCell="{ column }">
        <template v-if="!column.icon">
          <span :title="column.title">
            {{ column.title }}
          </span>
        </template>
      </template>
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'status'">
          <a-tag :color="`${(record.status === 4) ? 'green' : ([1, 2, 3].includes(record.status)) ? 'orange' : 'red'}`">
            {{ record.status_term ? record.status_term : $t('cls.no-data') }}
          </a-tag>
        </template>
        <template v-if="column.key === 'priority_term'">
          <a-tag :color="`${record.priority_term ? 'blue' : 'red'}`">
            {{ record.priority_term ? record.priority_term : $t('cls.no-data') }}
          </a-tag>
        </template>
        <template v-if="column.key === 'current_status_dt'">
          <span :title="record.current_status_dt">
            {{ record.current_status_dt?.substr(0, 10) }}
          </span>
        </template>
        <template v-if="column.key == 'operation'">
          <a-tooltip :title="`${$t('table.dashboard.forecasts.view-job')} ${record.job_params_name}`">
            <InfoCircleOutlined style="color: #1677ff" @click="openJobModal(record)" />
          </a-tooltip>
        </template>
        <template v-if="column.key === 'data_source_upload_id'">
          <a-tooltip
            :title="`${$t('table.dashboard.forecasts.route-to')} ${record.job_type_term.toLowerCase()} ${$t('table.dashboard.forecasts.with-filter')} ${record.job_params_id}`">
            <nuxt-link :to="localePath(getLink(record.job_type, record.job_id))" v-if="record.job_params_id">
              {{ record.job_params_id }}
            </nuxt-link>
          </a-tooltip>
        </template>
      </template>
    </a-table>
    <Pagination :tableName="pagination" :paginationData="tableMeta" />

    <a-modal width="600px" v-model:open="forecastModalOpened" :title="`${$t('table.dashboard.forecasts.job')} ${jobValue?.job_params_name}`"
      :footer="null" destroyOnClose @cancel="modal.state = ''">
      <modal-table-job :inspectorData="jobValue" />
    </a-modal>
  </div>

</template>

<script setup>
import { useModal } from '@/stores/modal'
const { $event } = useNuxtApp()
const emit = defineEmits(["update:modelValue"]);
const localeModule = useI18n()
const localePath = useLocalePath();
const props = defineProps({
  tableData: { type: Array || Object },
  tableMeta: { type: Object },
  jobType: { type: String || Number },
  pagination: { type: String },
})

const modal = useModal()

const jobValue = ref(null)

const tableList = computed(() => {
  return Array.isArray(props.tableData) ? props.tableData : []
})

const forecastModalOpened = computed(() => {
  return modal.state === `watchModalForecast${jobValue.value?.job_id}`
})

const getLink = (type, id) => {
  let obj = tableList.value.find(el => el.job_id == id);
  return {
    1: `/data-sources?data_source_id=${obj?.deep_link_obj_id}`,
    2: `/models?model_id=${obj?.deep_link_obj_id}`,
    3: `/solvers?model_id=${obj?.deep_link_obj_id}&solver_id=${obj?.job_params_id}`,
    4: `/forecasts?model_id=${obj?.deep_link_obj_id}&forecast_id=${obj?.job_params_id}`
  }[type]
}
const getTerm = (type) => {
  return {
    1: localeModule.t('table.dashboard.forecasts.download'),
    2: localeModule.t('table.dashboard.forecasts.model'),
    3: localeModule.t('table.dashboard.forecasts.solver'),
    4: localeModule.t('table.dashboard.forecasts.forecast')
  }[type]
}


const openJobModal = (value) => {
  jobValue.value = value
  modal.state = `watchModalForecast${value.job_id}`
}

const tableColumns = ref([
  {
    title: `ID ${getTerm(props.jobType)}`,
    dataIndex: 'data_source_upload_id',
    key: 'data_source_upload_id',
    resizable: true,
  },

  {
    title: localeModule.t('table.dashboard.forecasts.job_params_name'),
    dataIndex: 'job_params_name',
    key: 'job_params_name',
    resizable: true,
    width: '25%',
  },
  {
    title: localeModule.t('table.dashboard.forecasts.status'),
    dataIndex: 'status',
    key: 'status',
    resizable: true,
    // width: '25%',
  },
  {
    title: localeModule.t('table.dashboard.forecasts.priority_term'),
    dataIndex: 'priority_term',
    key: 'priority_term',
    resizable: true,
    // width: '25%',
  },
  {
    title: localeModule.t('table.dashboard.forecasts.current_status_dt'),
    dataIndex: 'current_status_dt',
    key: 'current_status_dt',
    // sorter: (a, b) => a.current_status_dt - b.current_status_dt,
    resizable: true,
  },
  {
    title: localeModule.t('table.dashboard.forecasts.job_id'),
    dataIndex: 'job_id',
    key: 'job_id',
    resizable: true
  },
  {
    title: '',
    dataIndex: 'operation',
    key: 'operation',
    width: 32,
    // className: 'column-info',
    fixed: 'right',
  },
])

const handleResizeColumn = (w, col) => {
  col.width = w;
}

const customRow = (record, index) => {
  return {
    onClick: async () => {
      const rows = document.getElementsByClassName('table-row-js')
      for (let index = 0; index < rows.length; index++) {
        const element = rows[index];
        element.classList.remove('selected')
      }
      rows[index].classList.add('selected')
      emit("update:modelValue", record);
    },
  };
}

const onChange = (pagination, filters, sorter) => {
  let sortString = ''
  if (sorter.order == "descend") {
    sortString = `${sorter.field} desc`
  }
  if (sorter.order == "ascend") {
    sortString = `${sorter.field} asc`
  }
  $event('forecasts:sort', sortString)
};
</script>