<template>
  <div class="table">
    <a-table :pagination="false" bordered @change="onChange" :scroll="{ y: 'calc(50vh - 235px' }"
      :row-key="(record) => record.key" :customRow="customRow" @resizeColumn="handleResizeColumn"
      :dataSource="tableList" :columns="tableColumns" rowClassName="table-row-js">
      <template #headerCell="{ column }">
        <template v-if="!column.icon">
          <span :title="column.title">
            {{ column.title }}
          </span>
        </template>
      </template>
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'status'">
          <a-tag :color="`${(record.status === 2) ? 'green' : (record.status === 1) ? 'orange' : 'red'}`">
            {{ record.status_term ? record.status_term : $t('cls.no-data') }}
          </a-tag>
        </template>
        <template v-if="column.key === 'priority_term'">
          <a-tag :color="`${record.priority_term ? 'blue' : 'red'}`">
            {{ record.priority_term ? record.priority_term : $t('cls.no-data') }}
          </a-tag>
        </template>
      </template>
    </a-table>
    <Pagination tableName="solvers" :paginationData="tableMeta" />
  </div>
</template>

<script setup>
const { $event } = useNuxtApp()
const emit = defineEmits(["update:modelValue"]);
const localeModule = useI18n()
const props = defineProps({
  tableData: { type: Array || Object },
  tableMeta: { type: Object },
})

const tableList = computed(() => {
  return Array.isArray(props.tableData) ? props.tableData : []
})

const tableColumns = ref([
  {
    title: localeModule.t('table.dashboard.forecasts.job_params_name'),
    dataIndex: 'job_params_name',
    key: 'job_params_name',
    resizable: true,
    width: '50%',
  },
  {
    title: localeModule.t('table.dashboard.forecasts.status'),
    dataIndex: 'status',
    key: 'status',
    resizable: true,
    width: '25%',
  },
  {
    title: localeModule.t('table.dashboard.forecasts.priority_term'),
    dataIndex: 'priority_term',
    key: 'priority_term',
    resizable: true,
    width: '25%',
  },
])

const handleResizeColumn = (w, col) => {
  col.width = w;
}

const customRow = (record, index) => {
  return {
    onClick: async () => {
      const rows = document.getElementsByClassName('table-row-js')
      for (let index = 0; index < rows.length; index++) {
        const element = rows[index];
        element.classList.remove('selected')
      }
      rows[index].classList.add('selected')
      emit("update:modelValue", record);
    },
  };
}

const onChange = (pagination, filters, sorter) => {
  let sortString = ''
  if (sorter.order == "descend") {
    sortString = `${sorter.field} desc`
    pageData.value = Object.assign(pageData.value, { orderby: sortString })
  }
  if (sorter.order == "ascend") {
    sortString = `${sorter.field} asc`
    pageData.value = Object.assign(pageData.value, { orderby: sortString })
  }
  if (sortString.length == 0) {
    delete pageData.value.orderby
  }
};
</script>