<template>
  <div class="forecast">
    <a-card :title="$t('pages.forecasts-id.title')">
      <template #extra>
        <a-button @click="navigateTo(localePath('/forecasts'))">
          <arrow-left-outlined />
          <span>{{ $t('buttons.back') }}</span></a-button>
      </template>
      <div class="forecast__header">
        <a-tag :title="$t('pages.forecasts-id.forecast-name')" color="default">
          <template #icon>
            <font-size-outlined style="fontSize: 18px" />
          </template>
          <span style="fontSize: 18px;lineHeight: 1.5">{{ forecastData.name }}</span>
        </a-tag>
        <a-tag :title="$t('pages.forecasts-id.forecast-status')"
          :color="`${(forecastData.status == 3) ? 'green' : ([1, 2].includes(forecastData.status)) ? 'orange' : 'red'}`">
          <template #icon>
            <check-circle-outlined style="fontSize: 18px" v-if="forecastData.status === 3" />
            <ClockCircleOutlined style="fontSize: 18px" v-if="[1, 2].includes(forecastData.status)" />
            <close-circle-outlined style="fontSize: 18px" v-if="[1, 2, 3].includes(!forecastData.status)" />
          </template>
          <span style="fontSize: 18px;lineHeight: 1.5">{{ forecastData.status_term }}</span>
        </a-tag>
        <a-tag :title="$t('pages.forecasts-id.nodes-quantity')" color="blue">
          <template #icon>
            <node-index-outlined style="fontSize: 18px" />
          </template>
          <span style="fontSize: 18px;lineHeight: 1.5">{{ forecastData.amount }}</span>
        </a-tag>
      </div>
    </a-card>
    <div class="forecast__content" v-if="forecasts.data.length">
      <div class="forecast__table" :class="{ full: !inspectorVisible }">
        <TableForecast :tableData="forecasts.data" />
      </div>
      <div class="forecast__inspector" :class="{ visible: inspectorVisible }">
        <InspectorForecast :forecast="forecastData" :inspectorVisible="inspectorVisible"
          @inspectorToggle="inspectorVisible = !inspectorVisible" />
      </div>
    </div>
  </div>
</template>

<script setup>
import { useImpulsesStore } from '@/stores/impulses'
const { $listen } = useNuxtApp()
const { $off } = useNuxtApp()
const route = useRoute();
const localePath = useLocalePath();
const forecastData = computed(() => {
  return forecast.data.value.data[0]
})
const impulsesStore = useImpulsesStore()
const inspectorVisible = ref(true)

$listen('forecast:update', () => {
  forecast.refresh()
})

$listen('forecasts:update', () => {
  refresh().then(() => {
    impulsesStore.add(forecasts)
  }) 
})

const forecast = await apiFetch('get_forecasts_cls', { value: { forecast_id: Number(route.params.id) } });

const { data: forecasts, refresh } = await apiFetch('get_forecast_params', { value: { i_forecast_id: Number(route.params.id) } });

if (forecasts.value.data.length) {
  impulsesStore.add(forecasts)
}

onUnmounted(() => {
  impulsesStore.clear()
  $off('forecasts:update')
})
</script>

<style lang="scss" scoped>
.forecast {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__content {
    display: flex;
    gap: 16px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__table {
    width: 80%;
    transition: all 0.5s ease;

    &.full {
      width: calc(100% - 80px);
    }
  }

  &__inspector {
    width: 60px;
    height: calc(100vh - 208px);
    transition: all 0.5s ease;

    &.visible {
      width: 20%;
    }
  }
}
</style>