<template>
  <div class="forecasts">
    <div v-if="isLoading" class="forecasts__load">
      <LoadingOutlined style="fontSize: 60px; color: #1890ff;" />
    </div>
    <a-tabs type="card" v-model:activeKey="activeKey">
      <a-tab-pane key="1">
        <template #tab>
          <span>
            <database-outlined />
            {{ $t('pages.forecasts.structue') }}
          </span>
        </template>
        <div class="forecasts__content">
          <div class="forecasts__wrapper" :class="{ full: !inspectorVisible }">
            <TableForecastsModels v-model="selectedModel" :tableData="models.data.value.data"
              :tableMeta="models.data.value.meta" />
            <TableForecastsList v-model="selectedForecast" :selectedModel="selectedModel"
              @setForecasts="setForecasts" />
          </div>
          <div class="forecasts__inspector" :class="{ visible: inspectorVisible }">
            <InspectorForecasts @inspectorToggle="inspectorVisible = !inspectorVisible"
              :inspectorData="selectedForecast" :inspectorModel="selectedModel" :inspectorVisible="inspectorVisible" />
          </div>
        </div>
      </a-tab-pane>
      <a-tab-pane key="2" :disabled="!forecastsData.length">
        <template #tab>
          <span>
            <bar-chart-outlined />
            {{ $t('pages.forecasts.charts') }}
          </span>
        </template>
        <div class="forecasts__charts" v-if="activeKey == 2">
          <TableForecastsCharts @buildCharts="buildCharts" :tableData="forecastsData" />
          <a-card :title="$t('pages.forecasts.forecast-charts')">
            <template #extra>
              <a-space v-if="filtersEnabled">
                <a-button type="primary" :disabled="selectedCharts.length < 2 || selectedCharts.length > 10"
                  @click="modal.state = 'multipleForcast'" v-if="chartsSelectable">{{ $t('pages.forecasts.build-chart')
                  }}</a-button>
                <a-button :title="$t('pages.forecasts.max') + ' 10'"
                  :type="`${chartsSelectable ? 'primary' : 'default'}`" @click="chartsSelect">{{
                    `${chartsSelectable ? $t('pages.forecasts.cancel-choice') : $t('pages.forecasts.select-charts')}`
                  }}</a-button>
                <FilterForecastsCharts :chartsData="chartsData" />
                <a-button type="primary" @click="sortResults"
                  :title="`${$t('pages.forecasts.sort')} ${sortUp ? $t('pages.forecasts.sort-min') : $t('pages.forecasts.sort-max')}`">
                  <SortAscendingOutlined v-if="sortUp" />
                  <SortDescendingOutlined v-else />
                </a-button>
              </a-space>
            </template>
            <div class="forecasts__charts-loading" v-if="chartsLoading">
              <LoadingOutlined style="fontSize: 60px; color: #1890ff;" />
            </div>
            <div class="forecasts__list" v-if="chartsData.length && !savedChartsData.length">
              <div class="forecasts__chart"
                :class="{ selectable: chartsSelectable, selected: selectedCharts.find(element => element.indicator_id == item.indicator_id) }"
                v-for="item in chartsData" :key="item.indicator_id" @click="selectChart(item)">
                <ChartBase :index="item.indicator_id" :chartData="item" />
              </div>
            </div>
            <div class="forecasts__list" v-if="savedChartsData.length">
              <div class="forecasts__chart"
                :class="{ selectable: chartsSelectable, selected: selectedCharts.find(element => element.indicator_id == item.indicator_id) }"
                v-for="item in savedChartsData" :key="item.indicator_id" @click="selectChart(item)">
                <ChartBase :index="item.indicator_id" :chartData="item" />
              </div>
            </div>
          </a-card>
        </div>
      </a-tab-pane>
    </a-tabs>
    <a-modal width="90vw" v-model:open="multipleForcastOpened" :title="$t('pages.forecasts.combined-chart')"
      :footer="null" destroyOnClose @cancel="closeModal">
      <modal-chart-forecasts :selectedCharts="selectedCharts" :chartsData="chartsData" />
    </a-modal>
  </div>
</template>

<script setup>
import { useModal } from '@/stores/modal'
import { useDictionariesStore } from '@/stores/dictionaries'

const { $listen } = useNuxtApp()
const { $off } = useNuxtApp()
const route = useRoute();
const modal = useModal()
const dictionariesStore = useDictionariesStore()

const groupId = computed(() => {
  let name = localStorage.getItem("selectedGroup")
  return name ? { model_group_id: name.split('_/')[1] } : {}
})

const modelId = computed(() => {
  return routerModel.value ? { model_id: routerModel.value } : {}
})

const modaltEducatedTerm = computed(() => {
  let arr = dictionariesStore?.dictionaries?.data?.clss.find(element => element.cls === 55).terms
  return arr.find(element => element.num == 2)
})

const routerModel = ref(route.query.model_id)
const routerForecast = ref(route.query.forecast_id)
const selectedModel = ref(null)
const selectedForecast = ref(null)
const selectedCharts = ref([])
const inspectorVisible = ref(true)
const pageModelsLimit = ref(30)
const modelsPageData = ref({
  limit: pageModelsLimit.value,
  model_status: routerModel.value ? '' : modaltEducatedTerm.value.num,
  ...groupId.value,
  ...modelId.value,
})
const forecastsData = ref([])
const activeKey = ref('1')
const chartsData = ref([])
const savedChartsData = ref([])
const isLoading = ref(false)
const selectedForecasts = ref(null)
const sortUp = ref(true)
const sortDown = ref(false)
const chartsSelectable = ref(false)
const filtersEnabled = ref(false)
const chartsLoading = ref(false)

const setForecasts = (data) => {
  forecastsData.value = data
}

const chartsSelect = () => {
  if (chartsSelectable.value) {
    selectedCharts.value = []
  }
  chartsSelectable.value = !chartsSelectable.value
}

const selectChart = (value) => {
  if (chartsSelectable.value) {
    if (selectedCharts.value.find(element => element.indicator_id == value.indicator_id)) {
      const indexToRemove = selectedCharts.value.findIndex(item => item.indicator_id == value.indicator_id);
      selectedCharts.value.splice(indexToRemove, 1);
    } else {
      selectedCharts.value.push(value)
    }
  }
}

const multipleForcastOpened = computed(() => {
  return modal.state === 'multipleForcast'
})

$listen('filter:update', (filters) => {
  if (Object.keys(filters.value).length === 0) {
    modelsPageData.value = { limit: pageModelsLimit.value }
  } else {
    modelsPageData.value = { limit: pageModelsLimit.value }
    modelsPageData.value = Object.assign(filters.value);
  }
})

$listen('models:updateLimit', (value) => {
  pageModelsLimit.value = value
  modelsPageData.value.limit = pageModelsLimit.value
})

$listen('chartsFilter:update', (filters) => {
  chartsLoading.value = true
  savedChartsData.value = []
  if (filters.value.dates) {
    let values = {
      "i_array_forecast_ids": selectedForecasts.value,
      "i_model_id": selectedModel.value?.model_id,
      "i_show_compensated": true,
      "i_show_raw": true,
    }
    if (filters.value.dates.from) {
      values.i_sd = filters.value.dates.from
      values.i_ed = filters.value.dates.to
    }

    apiFetch('get_model_forecasts_indicators_data_series', {
      value: values
    }).then((response) => {
      if (chartsData.value.length) {
        chartsData.value = []
        setTimeout(() => {
          chartsData.value = response.data.value.data.sort((chart1, chart2) => chart1.indicator_name > chart2.indicator_name ? 1 : -1)
          const filteredArray = chartsData.value.filter(obj => filters.value.indicatorsList.includes(obj.indicator_name));
          savedChartsData.value = filteredArray
          chartsLoading.value = false
        }, 1000);
      } else {
        chartsData.value = response.data.value.data.sort((chart1, chart2) => chart1.indicator_name > chart2.indicator_name ? 1 : -1)
        const filteredArray = chartsData.value.filter(obj => filters.value.indicatorsList.includes(obj.indicator_name));
        savedChartsData.value = filteredArray
        chartsLoading.value = false
      }

    })
  } else {
    if (filters.value.indicatorsList) {
      const filteredArray = chartsData.value.filter(obj => filters.value.indicatorsList.includes(obj.indicator_name));
      savedChartsData.value = filteredArray
      chartsLoading.value = false
    }
  }
})

const closeModal = () => {
  modal.state = '';
}

$listen('models:update', (offset) => {
  modelsPageData.value = Object.assign(modelsPageData.value, offset.value);
})

$listen('forecastsModels:update', () => {
  models.refresh()
})

$listen('inspector:update', () => {
  selectedForecast.value = null
})

$listen('models:sort', (field) => {
  if (field.length) {
    modelsPageData.value = Object.assign(modelsPageData.value, { orderby: field });
  } else {
    delete modelsPageData.value.orderby
  }
})

const models = await apiFetch('get_models_ffit_cls', modelsPageData);

if (routerModel.value) {
  isLoading.value = true;
  setTimeout(() => {
    if (routerForecast.value) {
      activeKey.value = '2'
      apiFetch('get_model_forecasts_indicators_data_series', {
        value: {
          "i_array_forecast_ids": routerForecast.value,
          "i_model_id": routerModel.value,
          "i_show_compensated": true,
          "i_show_raw": true,
        }
      }).then((response) => {
        filtersEnabled.value = true;
        chartsData.value = response.data.value.data.sort((chart1, chart2) => chart1.indicator_name > chart2.indicator_name ? 1 : -1)
        isLoading.value = false;
      })
    } else {
      isLoading.value = false;
    }
  }, 1000);
}

const buildCharts = (ids) => {
  chartsLoading.value = true
  selectedForecasts.value = ids.toString()

  apiFetch('get_model_forecasts_indicators_data_series', {
    value: {
      "i_array_forecast_ids": ids.toString(),
      "i_model_id": selectedModel.value.model_id,
      "i_show_compensated": true,
      "i_show_raw": true,
    }
  }).then((response) => {
    filtersEnabled.value = true;
    if (chartsData.value.length) {
      chartsData.value = []
      setTimeout(() => {
        chartsData.value = response.data.value.data.sort((chart1, chart2) => chart1.indicator_name > chart2.indicator_name ? 1 : -1)
      }, 500);
    } else {
      chartsData.value = response.data.value.data.sort((chart1, chart2) => chart1.indicator_name > chart2.indicator_name ? 1 : -1)
    }
    chartsLoading.value = false
  })
}

const sortResults = () => {
  if (!sortUp.value) {
    chartsData.value = chartsData.value.sort((chart1, chart2) => chart1.indicator_name > chart2.indicator_name ? 1 : -1);
    savedChartsData.value = savedChartsData.value.sort((chart1, chart2) => chart1.indicator_name > chart2.indicator_name ? 1 : -1);
    setTimeout(() => {
      sortUp.value = true
    }, 500);
  }

  if (sortUp.value) {
    chartsData.value = chartsData.value.sort((chart1, chart2) => chart1.indicator_name < chart2.indicator_name ? 1 : -1);
    savedChartsData.value = savedChartsData.value.sort((chart1, chart2) => chart1.indicator_name < chart2.indicator_name ? 1 : -1);
    setTimeout(() => {
      sortUp.value = false
      sortDown.value = true
    }, 500);
  }
}

watch(activeKey, (newValue) => {
  if (newValue == 1) {
    chartsData.value = []
    savedChartsData.value = []
    filtersEnabled.value = false
  }
})


onUnmounted(() => {
  $off('forecastsModels:update')
  // $off('models:updateLimit')
})
</script>

<style lang="scss">
.forecasts {
  position: relative;

  &__load {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100vh;
    z-index: 105;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }

  &__charts {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  &__chart {
    padding: 8px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    position: relative;

    &.selectable {
      &::after {
        content: '';
        position: absolute;
        border-radius: 8px;
        border: 2px solid #4096ff;
        width: 100%;
        height: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        cursor: pointer;
      }
    }

    &.selected {
      &::after {
        background-color: #bae0ff50;
        cursor: pointer;
      }
    }
  }

  &__charts-loading {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
    min-height: calc(100vh - 290px);
    height: 100%;
    z-index: 10;
  }

  &__wrapper {
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: all 0.5s ease;

    .ant-table-body {
      height: calc(50vh - 235px) !important;
    }

    &.full {
      width: calc(100% - 80px);
    }
  }

  &__inspector {
    width: 60px;
    height: calc(100vh - 110px);
    transition: all 0.5s ease;

    .ant-table-cell {
      padding: 8px;
    }

    .ant-card-head-wrapper {
      justify-content: center;
    }

    .ant-card-extra {
      padding: 11px 0;
    }

    &.visible {
      width: 33%;
    }

    &.disabled {
      width: 33%;
    }
  }
}
</style>