<template>
  <div class="selector-list">
    <a-dropdown placement="top" arrow v-model:open="hintVisible">
      <template #overlay>
        <a-menu style="width: 320px; text-align: center;">
          {{ $t('selector.specify') }}
        </a-menu>
      </template>
      <a-select :not-found-content="$t('selector.not-found')" :filter-option="false"
        @dropdownVisibleChange="listOpened = !listOpened" allowClear @search="searchCustomerName" @change="updateValue"
        show-search :placeholder="$t('selector.customer-name')" ref="select" :value="displayedValue"
        v-model="displayedValue" style="width: 100%">
        <a-select-option v-for="item in optionsArray" :key="item.customer_id" :value="item.customer_id">
          {{ item.name }}
        </a-select-option>
      </a-select>
    </a-dropdown>
  </div>
</template>

<script setup>
const emit = defineEmits(["update:modelValue"]);
const props = defineProps({
  modelValue: {
    type: [String, Number],
    default: "",
  },
})
const optionsArray = ref([])
const listOpened = ref(false)

const displayedValue = computed(() => {
  let value = undefined
  if (props.modelValue) {
    value = props.modelValue
  }
  return value
})

const hintVisible = computed(() => {
  return (optionsArray.value.length > 49 && listOpened.value) ? true : false
})

const searchCustomerName = useDebounceFn((value) => {
  apiFetch('get_customers_cls', { value: { limit: 50, name: value } }).then((response) => {
    optionsArray.value = response.data.value.data
  })
}, 1000, { maxWait: 5000 })


const updateValue = (event) => {
  emit("update:modelValue", event);
};
onMounted(() => {
  apiFetch('get_customers_cls', { value: { limit: 50 } }).then((response) => {
    optionsArray.value = response.data.value.data
  })
})
</script>
