<template>
  <div class="selector-list">
    <a-dropdown placement="top" arrow v-model:open="hintVisible">
      <template #overlay>
        <a-menu style="width: 320px; text-align: center;">
          {{ $t('selector.specify') }}
        </a-menu>
      </template>
      <a-select 
      :not-found-content="$t('selector.not-found')" 
      :filter-option="false"
        @dropdownVisibleChange="listOpened = !listOpened" 
        allowClear 
        @search="searchCustomerName" 
        @change="updateValue"
        show-search 
        :placeholder="$t('selector.data-source')"
        :disabled="disabled"
        ref="select" 
        :value="displayedValue" 
        v-model="displayedValue"
        style="width: 100%">
        <a-select-option v-for="item in optionsArray" :key="item.data_source_id" :value="item.data_source_id">{{
      item.data_source_name }}</a-select-option>
      </a-select>      
    </a-dropdown>
  </div>
</template>

<script setup>
const emit = defineEmits(["update:modelValue"]);
const props = defineProps({
  modelValue: {
    type: [String, Number],
    default: "",
  },
  disabled: {
    type: Boolean,
    default: false,
  }
})
const optionsArray = ref([])
const listOpened = ref(false)

const displayedValue = computed(() => {
  let value = undefined
  if (props.modelValue && optionsArray.value.length) {
    let element = optionsArray.value.find((el) => el.data_source_id == props.modelValue)
    value = element.data_source_name
  }
  return value
})

const hintVisible = computed(() => {
  return (optionsArray.value.length > 49 && listOpened.value) ? true : false
})

const searchCustomerName = useDebounceFn((value) => {
  apiFetch('get_data_sources_cls', { value: { limit: 50, data_source_name: value } }).then((response) => {
    optionsArray.value = response.data.value.data
  })
}, 1000, { maxWait: 5000 })


const updateValue = (event) => {
  emit("update:modelValue", event);
};
onMounted(() => {
  apiFetch('get_data_sources_cls', { value: { limit: 50 } }).then((response) => {
    optionsArray.value = response.data.value.data
  })
})
</script>
