<template>
  <a-select ref="select" @change="updateValue" :placeholder="$t('selector.group')" :value="displayedValue"
    label-in-value option-label-prop="children" style="width: 100%">
    <a-select-opt-group v-for="group in groups" :key="group.group_id">
      <template #label>
        <span>
          <caret-down-outlined />
          {{ group.group_name }}
        </span>
      </template>
      <a-select-option v-for="subgroup in group?.subgroups" :key="subgroup.subgroup_id"
        :value="selectValue == 'text' ? subgroup.subgroup_name : subgroup.subgroup_id">
        {{ subgroup.subgroup_name }}
      </a-select-option>
    </a-select-opt-group>
  </a-select>
</template>

<script setup>
import { useSelectorsStore } from '@/stores/selectors'
const selectorsStore = useSelectorsStore()
const emit = defineEmits(["update:modelValue"]);
const props = defineProps({
  modelValue: {
    type: [String, Number],
    default: "",
  },
  selectValue: { type: String }
})

const updateValue = (event) => {
  emit("update:modelValue", event.value);
};

const groups = computed(() => {
  return selectorsStore.groups?.data?.data?.indr_groups.groups
})

const displayedValue = computed(() => {
  let value = undefined
  if (props.modelValue) {
    let groupId = props.modelValue.toString()[0]
    let groupArray = groups.value.find(el => el.group_id == groupId)
    let subgroupArray = groupArray.subgroups.find(el => el.subgroup_id == props.modelValue)
    value = groupArray.group_name + '/' + subgroupArray.subgroup_name
  }
  return value
})
</script>