<template>
  <a-dropdown :trigger="['click']" v-model:open="opened">
    <template #overlay>
      <div class="model-group" @click="opened = true">
        <div>
          <a-tooltip title="Корень" placement="right">
            <a-button :type="`${(selectedKeys[0] === undefined || selectedKeys[0] == '/') ? 'primary' : 'default'}`"
              @click="toRoot">
              <FolderOpenOutlined />
              <span>/</span>
            </a-button>
          </a-tooltip>
          <a-directory-tree class="model-group__tree" v-model:expandedKeys="expandedKeys"
            v-model:selectedKeys="selectedKeys" :tree-data="treeData">
          </a-directory-tree>
        </div>

        <div class="model-group__footer">
          <a-button :loading="loading" type="default" @click="deselectGroup">{{ $t('buttons.cancel') }}</a-button>
          <a-button :disabled="!selectedKeys.length" type="primary" @click="selectGroup">{{ $t('buttons.select')
          }}</a-button>
        </div>
      </div>
    </template>
    <a-button class="model-group__value" type="default">
      {{ selectedKeys.length ? selectedKeys[0].split('_/')[0] : $t('selector.select-folder') }}
      <DownOutlined class="model-group__icon" />
    </a-button>
  </a-dropdown>
</template>

<script setup>
import { useSelectorsStore } from '@/stores/selectors'
const selectorsStore = useSelectorsStore()
const emit = defineEmits(["update:modelValue"]);
const activeDomain = useCookie("domain");
const activeGroup = useCookie("selectedGroup");
const props = defineProps({
  modelValue: {
    type: [String, Number],
    default: "",
  },
})

const treeData = computed(() => {
  let array = []
  selectorsStore.modelGroups?.data?.data.forEach(element => {
    if (element.domain_id == activeDomain.value.id) {
      array.push({
        id: element.id, title: element.name,
        key: `${element.name}_/${element.id}`, parent: element.up
      })
    }
  });

  const map = Object.assign({}, ...array.map(v =>
    ({ [v.id]: Object.assign(v, { children: [] }) })
  ))

  const tree = Object.values(map).filter(v =>
    !(v.parent && map[v.parent]?.children.push(v))
  )
  return tree.filter((item) => item.id != 0)
})


const selectedValue = computed(() => {
  if (activeGroup.value != '/') {
    console.log(props.modelValue);
    return activeGroup.value
  } else {
    let val = selectorsStore.modelGroups?.data?.data.find(el => el.id == props.modelValue)
    if (val.name == '/') {
      return '/'
    } else {
      return val.name + '_/' + val.id
    }
  }
})

const expandedKeys = ref(selectedValue.value ? [selectedValue.value] : []);
const selectedKeys = ref(selectedValue.value ? [selectedValue.value] : []);
const opened = ref(false);

const deselectGroup = () => {
  selectedKeys.value = ['/']
  setTimeout(() => {
    opened.value = false;
  }, 100);
};

const toRoot = () => {
  selectedKeys.value = ['/']
}

const selectGroup = () => {
  if (selectedKeys.value[0] == '/') {
    emit("update:modelValue", 0);
  } else {
    emit("update:modelValue", Number(selectedKeys.value[0].split('_/')[1]));
  }

  setTimeout(() => {
    opened.value = false;
  }, 100);
};
</script>


<style lang="scss">
.model-group {
  .ant-tree-list {
    // height: 320px;
    max-height: 296px;
    overflow-y: auto;
    margin-top: 8px !important;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 999px;
      border: 2px solid transparent;
      background-clip: content-box;
      background-color: #1890ff;
    }
  }

  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  justify-content: space-between;
  height: 400px;
  padding: 8px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);

  // &__tree {
  //   height: 340px;
  //   overflow-y: auto;
  //   margin-top: 8px !important;
  //   background-color: red !important;

  //   &.disabled {
  //     opacity: 0;
  //   }
  // }

  &__value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__skeleton {
    position: absolute;
    width: 100%;
    top: 16px;
  }

  &__icon {
    color: rgba(0, 0, 0, 0.25);
    font-size: 12px;
  }

  &__input {
    position: absolute;
    top: 2px;
    width: calc(100% - 50px);
    height: 20px;
  }

  &__footer {
    display: flex;
    gap: 8px;
    align-self: flex-end;
  }
}
</style>