<template>
  <a-select :placeholder="$t('selector.sphere')" ref="select" @change="updateValue" :value="displayedValue"  mode="multiple" :show-search="false"
     style="width: 100%">
    <a-select-opt-group v-for="sphere in spheres" :key="sphere.sphere_id">
      <template #label>
        <span>
          <caret-down-outlined />
          {{ sphere.sphere_name }}
        </span>
      </template>
      <a-select-option v-for="segment in sphere.segments" :key="segment.segment_id" :value="segment.segment_id">
        {{ segment.segment_name }}
      </a-select-option>
    </a-select-opt-group>
  </a-select>
</template>

<script setup>
import { useSelectorsStore } from '@/stores/selectors'
const selectorsStore = useSelectorsStore()
const emit = defineEmits(["update:modelValue"]);
const props = defineProps({
  modelValue: {
    type: Array
  },
})

const updateValue = (event) => {
  emit("update:modelValue", event);
};

const spheres = computed(() => {
  return selectorsStore.spheres?.data?.data?.indr_groups.spheres
})

const displayedValue = computed(() => {
  const arrayValues = []
  if (props.modelValue) {
    props.modelValue.forEach(element => {
      function findSpheres(value) {
        return value.segments.find(el => el.segment_id === element)
      }
      let sphere = spheres.value.filter(findSpheres)
      let segment = sphere[0].segments.find(el => el.segment_id === element)
      arrayValues.push({label: sphere[0].sphere_name + '/' + segment.segment_name, value: element})
    });
  }
  return arrayValues
})
</script>