<template>
  <div class="table">
    <a-card :title="$t('table.customers.title')">
      <template #extra>
        <a-space>
          <FilterCustomers />
          <a-button @click="updateTable" :title="$t('buttons.refresh')">
            <ReloadOutlined />
          </a-button>
        </a-space>
      </template>     
      <a-table class="table-js" :pagination="false" bordered @change="onChange" :scroll="{ y: 'calc(100vh - 335px' }"
        :row-key="(record) => record.key" :customRow="customRow" @resizeColumn="handleResizeColumn"
        :dataSource="tableList" :columns="tableColumns" rowClassName="table-row-js-customers">
        <template #headerCell="{ column }">
          <template v-if="!column.icon">
            <span :title="column.title">
              {{ column.title }}
            </span>
          </template>
        </template>
        <template #bodyCell="{ column, record }">
          <template v-if="column">
            <span class="long" :title="record[column.key]">{{ record[column.key] }}</span>
          </template>
        </template>
      </a-table>
      <Pagination tableName="customersPagination" :paginationData="tableMeta" />
    </a-card>
    <div class="table__buttons">
      <a-dropdown :disabled="activeDomain.sys_name == 'common'">
        <template #overlay>
          <a-menu>
            <a-menu-item @click="openAddModal(false)" key="1">
              <plus-square-outlined />
              {{ $t('table.customers.new-client') }}
            </a-menu-item>
            <a-menu-item :disabled="!inspectorData" @click="openAddModal(true)" key="2">
              <diff-outlined />
              {{ $t('table.customers.old-client') }}
            </a-menu-item>
          </a-menu>
        </template>
        <a-button type="primary">
          {{ $t('buttons.add') }}
          <DownOutlined />
        </a-button>
      </a-dropdown>
      <a-button :disabled="activeDomain.sys_name == 'common' || !inspectorData"
        @click="modal.state = 'customerEdit'" type="primary">{{ $t('buttons.change') }}</a-button>
      <a-button @click="modal.state = 'customerDelete'"
        :disabled="activeDomain.sys_name == 'common' || !inspectorData" type="primary"
        danger>{{ $t('buttons.delete') }}</a-button>
    </div>

    <a-modal width="60vw" v-model:open="addModalOpened" :title="$t('table.customers.add-client')" :footer="null" destroyOnClose
      @cancel="closeModal">
      <modal-customer-add :inspector="inspectorData" :haveData="addModalWithData" />
    </a-modal>

    <a-modal width="60vw" v-model:open="editModalOpened" :title="$t('table.customers.edit-client')" :footer="null" destroyOnClose
      @cancel="closeModal">
      <modal-customer-edit :inspector="inspectorData" />
    </a-modal>

    <a-modal width="500px" v-model:open="deleteModalOpened" :title="$t('table.customers.delete-client')" :footer="null" destroyOnClose
      @cancel="closeModal">
      <modal-customer-delete :inspector="inspectorData" />
    </a-modal>

  </div>
</template>

<script setup>
const { $listen } = useNuxtApp()
const { $event } = useNuxtApp()
import { useModal } from '@/stores/modal'
const localeModule = useI18n()

const props = defineProps({
  tableData: { type: Array || Object },
  tableMeta: { type: Object },
})

const modal = useModal()
const activeDomain = useCookie("domain");
const addModalWithData = ref(false)
const inspectorData = ref(null)

const addModalOpened = computed(() => {
  return modal.state === 'customerAdd'
})
const editModalOpened = computed(() => {
  return modal.state === 'customerEdit'
})
const deleteModalOpened = computed(() => {
  return modal.state === 'customerDelete'
})
const tableList = computed(() => {
  return Array.isArray(props.tableData) ? props.tableData : []
})

const tableWidth = (window.screen.width - 268) / 100

const tableColumns = ref([
  {
    title: localeModule.t('table.customers.type_term'),
    dataIndex: 'type_term',
    key: 'type_term',
    sorter: (a, b) => a.type_term - b.type_term,
    width: tableWidth * 10,
    maxWidth: tableWidth * 20,
    resizable: true,
  },
  {
    title: localeModule.t('table.customers.code'),
    dataIndex: 'code',
    key: 'code',
    width: tableWidth * 6,
    maxWidth: tableWidth * 10,
    className: 'column-right',
    sorter: (a, b) => a.code - b.code,
    resizable: true,
  },
  {
    title: localeModule.t('table.customers.name'),
    dataIndex: 'name',
    width: tableWidth * 14,
    maxWidth: tableWidth * 40,
    key: 'name',
    sorter: (a, b) => a.name - b.name,
    resizable: true,
  },
  {
    title: localeModule.t('table.customers.short_desc'),
    dataIndex: 'short_desc',
    key: 'short_desc',
    width: tableWidth * 25,
    resizable: true,
  },
  {
    title: localeModule.t('table.customers.full_desc'),
    dataIndex: 'full_desc',
    key: 'full_desc',
    width: tableWidth * 30,
    resizable: true,
  },
  {
    title: localeModule.t('table.customers.domain_dsc'),
    dataIndex: 'domain_dsc',
    key: 'domain_dsc',
    width: tableWidth * 10,
    maxWidth: tableWidth * 20,
    resizable: true,
  },
  {
    title: 'ID',
    dataIndex: 'customer_id',
    key: 'customer_id',
    resizable: true,
    width: tableWidth * 10,
  },
])


const openAddModal = (value) => {
  addModalWithData.value = value;
  modal.state = 'customerAdd';
}

const closeModal = () => {
  modal.state = '';
}

const handleResizeColumn = (w, col) => {
  col.width = w;
}

const customRow = (record, index) => {
  return {
    onClick: async () => {
      const rows = document.getElementsByClassName('table-row-js-customers')
      for (let index = 0; index < rows.length; index++) {
        const element = rows[index];
        element.classList.remove('selected')
      }
      rows[index].classList.add('selected')
      inspectorData.value = record
    },
  };
}

const updateTable = () => {
  $event('customers:update')
}

const onChange = (pagination, filters, sorter) => {
  let sortString = ''
  if (sorter.order == "descend") {
    sortString = `${sorter.field} desc`
  }
  if (sorter.order == "ascend") {
    sortString = `${sorter.field} asc`
  }
  $event('customers:sort', sortString)
};

$listen('customersRowClear', () => {
  inspectorData.value = null
})

$listen('customer:select', (value) => {
  const rows = document.getElementsByClassName('table-row-js-customers')
  for (let index = 0; index < rows.length; index++) {
    const element = rows[index];
    element.classList.remove('selected')
  }
  rows[0].classList.add('selected')
  setTimeout(() => {
    inspectorData.value = props.tableData[0]
  }, 500);
})

$listen('inspectorCustomer:update', (value) => {
  if (value) {
    inspectorData.value = null
    setTimeout(() => {
      inspectorData.value = props.tableData.find(el => el.customer_id == value)
    }, 500);    
  } else {
    inspectorData.value = null
  }  
})
</script>