<template>
  <div class="table" ref="tableSize">
    <a-card :title="$t('table.domains.title')">
      <template #extra>
        <a-space>
          <FilterDomains />
          <a-button @click="updateTable" :title="$t('buttons.refresh')">
            <ReloadOutlined />
          </a-button>
        </a-space>
      </template>

      <a-table class="table-js" :pagination="false" bordered @change="onChange"
        :scroll="{ x: tableWidth, y: 'calc(100vh - 335px' }" :row-key="(record) => record.key" :customRow="customRow"
        @resizeColumn="handleResizeColumn" :dataSource="tableList" :columns="tableColumns" rowClassName="table-row-js">
        <template #headerCell="{ column }">
          <template v-if="!column.icon">
            <span :title="column.title">
              {{ column.title }}
            </span>
          </template>
        </template>
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'customer_id'">
            <a-tooltip :title="`${$t('table.domains.route-to')} '${record.customer_name}'`">
              <nuxt-link :to="localePath(`/domains?customer_id=${record.customer_id}`)" v-if="record.customer_id"
                @click="$emit('selectTab', 2, record.customer_id)">
                {{ record.customer_name }}
              </nuxt-link>
            </a-tooltip>
          </template>
          <template v-else>
            <span class="long" :title="record[column.key]">{{ record[column.key] }}</span>
          </template>
        </template>
      </a-table>
      <Pagination tableName="domainsPagination" :paginationData="tableMeta" />
    </a-card>
    <div class="table__buttons">
      <a-dropdown :disabled="activeDomain.sys_name == 'common'">
        <template #overlay>
          <a-menu>
            <a-menu-item @click="openAddModal(false)" key="1">
              <plus-square-outlined />
              {{ $t('table.domains.new-domain') }}
            </a-menu-item>
            <a-menu-item :disabled="!inspectorData" @click="openAddModal(true)" key="2">
              <diff-outlined />
              {{ $t('table.domains.old-domain') }}
            </a-menu-item>
          </a-menu>
        </template>
        <a-button type="primary">
          {{ $t('buttons.add') }}
          <DownOutlined />
        </a-button>
      </a-dropdown>
      <a-button :disabled="activeDomain.sys_name == 'common' || !inspectorData"
        @click="modal.state = 'domainEdit'" type="primary">{{ $t('buttons.change') }}</a-button>
      <a-button @click="modal.state = 'domainDelete'"
        :disabled="activeDomain.sys_name == 'common' || !inspectorData" type="primary"
        danger>{{ $t('buttons.delete') }}</a-button>
    </div>

    <a-modal width="60vw" v-model:open="addModalOpened" :title="$t('table.domains.add-domain')" :footer="null" destroyOnClose
      @cancel="closeModal">
      <modal-domain-add :inspector="inspectorData" :customers="customers" :haveData="addModalWithData"
        @updateData="updateData" />
    </a-modal>

    <a-modal width="60vw" v-model:open="editModalOpened" :title="$t('table.domains.edit-domain')" :footer="null" destroyOnClose
      @cancel="closeModal">
      <modal-domain-edit :inspector="inspectorData" :customers="customers" />
    </a-modal>

    <a-modal width="500px" v-model:open="deleteModalOpened" :title="$t('table.domains.delete-domain')" :footer="null" destroyOnClose
      @cancel="closeModal">
      <modal-domain-delete :inspector="inspectorData" />
    </a-modal>

  </div>
</template>

<script setup>
import { useModal } from '@/stores/modal'
const { $event, $listen } = useNuxtApp()
const emit = defineEmits(["update:modelValue", "selectTab"]);
const localeModule = useI18n()
const localePath = useLocalePath();


const props = defineProps({
  tableData: { type: Array || Object },
  tableMeta: { type: Object },
  customers: { type: Array },
})

const modal = useModal()
const activeDomain = useCookie("domain");
const addModalWithData = ref(false)
const inspectorData = ref(null)
const tableSize = ref(null)

const addModalOpened = computed(() => {
  return modal.state === 'domainAdd'
})
const editModalOpened = computed(() => {
  return modal.state === 'domainEdit'
})
const deleteModalOpened = computed(() => {
  return modal.state === 'domainDelete'
})
const tableList = computed(() => {
  return Array.isArray(props.tableData) ? props.tableData : []
})

const tableWidth = computed(() => {
  return tableSize?.value?.clientWidth
})

const tablePercent = (window.screen.width - 268) / 100

const tableColumns = ref([
  {
    title: 'ID',
    dataIndex: 'domain_id',
    key: 'domain_id',
    width: tablePercent * 5,
    maxWidth: tablePercent * 10,
    className: 'column-right',
    resizable: true
  },
  {
    title: localeModule.t('table.domains.sys_name'),
    dataIndex: 'sys_name',
    key: 'sys_name',
    width: tablePercent * 10,
    maxWidth: tablePercent * 20,
    sorter: (a, b) => a.sys_name - b.sys_name,
    resizable: true,
  },
  {
    title: localeModule.t('table.domains.name'),
    dataIndex: 'name',
    key: 'name',
    width: tablePercent * 15,
    maxWidth: tablePercent * 40,
    sorter: (a, b) => a.name - b.name,
    resizable: true,
  },
  {
    title: localeModule.t('table.domains.short_desc'),
    dataIndex: 'short_desc',
    key: 'short_desc',
    width: tablePercent * 20,
    maxWidth: tablePercent * 40,
    resizable: true,
  },
  {
    title: localeModule.t('table.domains.full_desc'),
    dataIndex: 'full_desc',
    key: 'full_desc',
    width: tablePercent * 25,
    resizable: true,
  },
  {
    title: localeModule.t('table.domains.customer_id'),
    dataIndex: 'customer_id',
    width: tablePercent * 15,
    maxWidth: tablePercent * 25,
    key: 'customer_id',
    sorter: (a, b) => a.customer_id - b.customer_id,
    resizable: true,
  },
  {
    title: localeModule.t('table.domains.dsc'),
    dataIndex: 'dsc',
    key: 'dsc',
    width: tablePercent * 20,
    resizable: true,
  },
])

const openAddModal = (value) => {
  addModalWithData.value = value;
  modal.state = 'domainAdd';
}

const closeModal = () => {
  modal.state = '';
}

const handleResizeColumn = (w, col) => {
  col.width = w;
}

const customRow = (record, index) => {
  return {
    onClick: async () => {
      const rows = document.getElementsByClassName('table-row-js')
      for (let index = 0; index < rows.length; index++) {
        const element = rows[index];
        element.classList.remove('selected')
      }
      rows[index].classList.add('selected')
      inspectorData.value = record
      emit("update:modelValue", record);
    },
  };
}

const updateTable = () => {
  $event('domains:update')
}

const onChange = (pagination, filters, sorter) => {
  let sortString = ''
  if (sorter.order == "descend") {
    sortString = `${sorter.field} desc`
  }
  if (sorter.order == "ascend") {
    sortString = `${sorter.field} asc`
  }
  $event('domains:sort', sortString)
};

$listen('domain:select', () => {
  const rows = document.getElementsByClassName('table-row-js')
  for (let index = 0; index < rows.length; index++) {
    const element = rows[index];
    element.classList.remove('selected')
  }
  rows[0].classList.add('selected')
  setTimeout(() => {
    inspectorData.value = props.tableData[0]
  }, 500);
})

$listen('inspectorDomain:update', (value) => {
  if (value) {
    inspectorData.value = null
    setTimeout(() => {
      inspectorData.value = props.tableData.find(el => el.domain_id == value)
    }, 500);    
  } else {
    inspectorData.value = null
  }  
})
</script>