<template>
  <div class="table">
    <a-card :title="$t('table.indicators.title')">
      <template #extra>
        <a-space>
          <FilterIndicators />
          <a-button @click="updateTable" :title="$t('buttons.refresh')">
            <ReloadOutlined />
          </a-button>
        </a-space>
      </template>
      <a-table :pagination="false" bordered :scroll="{ x: 1800, y: 'calc(100vh - 230px' }" @change="onChange"
        :row-key="(record) => record.key" :customRow="customRow" @resizeColumn="handleResizeColumn"
        :dataSource="tableList" :columns="tableColumns" rowClassName="table-row-js">

        <template #headerCell="{ column }">
          <template v-if="column.key === 'advice_target_model'">
            <div style="text-align: center" :title="column.title">
              <eye-outlined style="fontSize: 18px" />
            </div>
          </template>

          <template v-if="column.key === 'advice_prediction'">
            <div style="text-align: center" :title="column.title">
              <fund-view-outlined style="fontSize: 18px" />
            </div>
          </template>

          <template v-if="column.key === 'advice_target_value'">
            <div style="text-align: center" :title="column.title">
              <aim-outlined style="fontSize: 18px" />
            </div>
          </template>

          <template v-if="column.key === 'data_origin_term'">
            <div style="text-align: center" :title="column.title">
              <container-outlined style="fontSize: 18px" />
            </div>
          </template>

          <template v-if="column.key === 'data_type_term'">
            <div style="text-align: center" :title="column.title">
              <hdd-outlined style="fontSize: 18px" />
            </div>
          </template>

          <template v-if="!column.icon">
            <span :title="column.title">
              {{ column.title }}
            </span>
          </template>
        </template>

        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'indr_sectors_fullname'">
            <a-space :title="record.indr_sectors_fullname" :size="2">
              <a-tag v-for="(item, index) in record.indr_sectors_fullname?.split(';')" :key="index" color="blue">{{
                item }}</a-tag>
            </a-space>
          </template>

          <template v-if="column.key === 'indr_subgroup_fullname'">
            <a-space :title="record.indr_subgroup_fullname">
              <a-tag v-for="(item, index) in record.indr_subgroup_fullname?.split(';')" :key="index" color="blue">{{
                item }}</a-tag>
            </a-space>
          </template>


          <template v-if="column.key === 'data_source_name'">
            <a-tooltip :title="`${$t('table.indicators.route-to')} '${record.data_source_name}'`">
              <nuxt-link :to="localePath(`/data-sources?data_source_id=${record.data_source_id}`)"
                v-if="record.data_source_id">
                {{ record.data_source_name }}
              </nuxt-link>
            </a-tooltip>
          </template>

          <template v-if="column.key === 'indr_status_term'">
            <a-tag :title="record.indr_status_term"
              :color="`${(record.indr_status == 5) ? 'green' : (record.indr_status == 1) ? 'red' : 'purple'}`">{{
                record.indr_status_term }}
            </a-tag>
          </template>

          <template v-if="column.key === 'data_origin_term'">
            <span :title="record.data_origin_term">
              <download-outlined style="fontSize: 20px; color: #1890ff" />
            </span>
          </template>

          <template v-if="column.key === 'unit_scale_term'">
            <span :title="record.unit_scale_term">
              {{ record.unit_scale_term }}
            </span>
          </template>

          <template v-if="column.key === 'data_type_term'">
            <a-tag :color="`${record.data_type_term ? 'blue' : 'red'}`" :title="record.data_type_term">
              {{ record.data_type == 5 ? 'ABC' : record.data_type == 1 ? '123' : '.00' }}
            </a-tag>
          </template>

          <template v-if="column.boolean === true">
            <span v-if="record[column.key] == 1" :title="$t('buttons.yes')">
              <check-square-outlined style="color: #52c41a;" />
            </span>
            <span v-else :title="$t('buttons.no')">
              <CloseSquareOutlined style="color: #ff4d4f;" />
            </span>
          </template>

          <template v-if="column.longText">
            <span class="long" :title="record[column.key]">{{ record[column.key] }}</span>
          </template>
        </template>
      </a-table>
      <Pagination :paginationData="tableMeta" />
    </a-card>
  </div>
</template>

<script setup>
const { $event, $listen } = useNuxtApp()
const emit = defineEmits(["update:modelValue"]);
const localeModule = useI18n()
const localePath = useLocalePath();
const props = defineProps({
  tableData: { type: Array || Object },
  tableMeta: { type: Object },
})

const tableList = computed(() => {
  return Array.isArray(props.tableData) ? props.tableData : []
})

const tableColumns = ref([
  {
    title: localeModule.t('table.indicators.name'),
    dataIndex: 'name',
    key: 'name',
    sorter: (a, b) => a.name - b.name,
    resizable: true,
    longText: true,
    width: 400,
    fixed: true
  },
  {
    title: localeModule.t('table.indicators.indr_status_term'),
    dataIndex: 'indr_status_term',
    key: 'indr_status_term',
    sorter: (a, b) => a.indr_status_term - b.indr_status_term,
    width: 160,
    resizable: true,
  },
  {
    title: localeModule.t('table.indicators.advice_target_model'),
    dataIndex: 'advice_target_model',
    key: 'advice_target_model',
    width: 50,
    icon: true,
    boolean: true,
    className: 'column-center',
  },
  {
    title: localeModule.t('table.indicators.advice_prediction'),
    dataIndex: 'advice_prediction',
    key: 'advice_prediction',
    width: 50,
    icon: true,
    boolean: true,
    className: 'column-center',
  },
  {
    title: localeModule.t('table.indicators.advice_target_value'),
    dataIndex: 'advice_target_value',
    key: 'advice_target_value',
    width: 50,
    icon: true,
    boolean: true,
    className: 'column-center',
  },
  {
    title: localeModule.t('table.indicators.data_origin_term'),
    dataIndex: 'data_origin_term',
    key: 'data_origin_term',
    className: 'column-center',
    width: 50,
    icon: true,
  },
  {
    title: localeModule.t('table.indicators.indr_sectors_fullname'),
    dataIndex: 'indr_sectors_fullname',
    key: 'indr_sectors_fullname',
    resizable: true,
    width: 150,
  },
  {
    title: localeModule.t('table.indicators.indr_subgroup_fullname'),
    dataIndex: 'indr_subgroup_fullname',
    key: 'indr_subgroup_fullname',
    resizable: true,
    width: 150,
  },
  {
    title: localeModule.t('table.indicators.data_type_term'),
    dataIndex: 'data_type_term',
    key: 'data_type_term',
    className: 'column-center',
    icon: true,
    width: 70,
  },
  {
    title: localeModule.t('table.indicators.unit_scale_term'),
    dataIndex: 'unit_scale_term',
    key: 'unit_scale_term',
    width: 100,
    resizable: true,
  },
  {
    title: localeModule.t('table.indicators.data_source_name'),
    dataIndex: 'data_source_name',
    key: 'data_source_name',
    resizable: true,
    // longText: true,
  },
  {
    title: localeModule.t('table.indicators.source_column_name'),
    dataIndex: 'source_column_name',
    key: 'source_column_name',
    resizable: true,
    width: 150,
    longText: true,
  },
  {
    title: localeModule.t('table.indicators.domain_name'),
    dataIndex: 'domain_name',
    key: 'domain_name',
    resizable: true,
    longText: true,
    sorter: (a, b) => a.domain_name - b.domain_name,
  },
  {
    title: 'ID',
    dataIndex: 'indr_id',
    key: 'indr_id',
    resizable: true,
    width: 60,
  },
])

const handleResizeColumn = (w, col) => {
  col.width = w;
}

const customRow = (record, index) => {
  return {
    onClick: async () => {
      const rows = document.getElementsByClassName('table-row-js')
      for (let index = 0; index < rows.length; index++) {
        const element = rows[index];
        element.classList.remove('selected')
      }
      rows[index].classList.add('selected')
      emit("update:modelValue", record);
    },
  };
}

const updateTable = () => {
  $event('indicators:update')
}

const onChange = (pagination, filters, sorter) => {
  let sortString = ''
  if (sorter.order == "descend") {
    sortString = `${sorter.field} desc`
  }
  if (sorter.order == "ascend") {
    sortString = `${sorter.field} asc`
  }
  $event('indicators:sort', sortString)
};

$listen('indicator:select', () => {
  const rows = document.getElementsByClassName('table-row-js')
  for (let index = 0; index < rows.length; index++) {
    const element = rows[index];
    element.classList.remove('selected')
  }
  rows[0].classList.add('selected')
})
</script>