<template>
  <div class="table" ref="tableSize">
    <a-card :title="$t('table.jobs.title')">
      <template #extra>
        <a-space>
          <FilterJobs @closeFilters="filterCollapsed = false" />
          <a-button @click="updateTable" :title="$t('buttons.refresh')">
            <ReloadOutlined />
          </a-button>
        </a-space>
      </template>
      <a-table :pagination="false" bordered @change="onChange" :scroll="{ x: tableWidth, y: 'calc(100vh - 230px' }"
        :row-key="(record) => record.key" :customRow="customRow" @resizeColumn="handleResizeColumn"
        :dataSource="tableList" :columns="tableColumns" rowClassName="table-row-js">
        <template #headerCell="{ column }">
          <template v-if="!column.icon">
            <span :title="column.title">
              {{ column.title }}
            </span>
          </template>
        </template>
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'job_params_name'">
            <span :title="record.job_params_name">{{ record.job_params_name }}</span>
          </template>
          <template v-if="column.key === 'status'">
            <a-tag
              :color="`${(record.status === 4) ? 'green' : ([1, 2, 3].includes(record.status)) ? 'orange' : 'red'}`">
              {{ record.status_term ? record.status_term : $t('cls.no-data') }}
            </a-tag>
          </template>
          <template v-if="column.key === 'priority_term'">
            <a-tag :color="`${record.priority_term ? 'blue' : 'red'}`">
              {{ record.priority_term ? record.priority_term : $t('cls.no-data') }}
            </a-tag>
          </template>
          <template v-if="column.key === 'job_type_term'">
            <a-tag :color="`${record.job_type_term ? 'blue' : 'red'}`">
              {{ record.job_type_term ? record.job_type_term : $t('cls.no-data') }}
            </a-tag>
          </template>
          <template v-if="column.key === 'create_dt'">
            <span :title="record.create_dt">
              {{ record.create_dt?.substr(0, 10) }}
            </span>
          </template>
          <template v-if="column.key === 'current_status_dt'">
            <span :title="record.current_status_dt">
              {{ record.current_status_dt?.substr(0, 10) }}
            </span>
          </template>
          <template v-if="column.key === 'data_source_upload_id'">
            <a-tooltip v-if="record.deep_link_obj_id"
              :title="`${$t('table.jobs.route-to')} ${getTerm(record.job_type)} ${$t('table.jobs.with-filter')} ${record.job_params_id}`">
              <nuxt-link :to="localePath(getLink(record.job_type, record.job_id))" v-if="record.job_params_id">
                {{ record.job_type_term + ' ID: ' + record.job_params_id }}
              </nuxt-link>
            </a-tooltip>
            <a-tooltip :title="record.job_type_term + ' ID: ' + record.job_params_id" v-else>
              <span>{{ record.job_type_term + ' ID: ' + record.job_params_id }}</span>
            </a-tooltip>
          </template>
        </template>
      </a-table>
      <Pagination :paginationData="tableMeta" />
    </a-card>
  </div>
</template>

<script setup>
import { useSessionStore } from '@/stores/session-store'
const { $event } = useNuxtApp()
const emit = defineEmits(["update:modelValue"]);
const localeModule = useI18n()
const localePath = useLocalePath();
const props = defineProps({
  tableData: { type: Array || Object },
  tableMeta: { type: Object },
})

const sessionStore = useSessionStore()
const tableSize = ref(null)


const tableList = computed(() => {
  return Array.isArray(props.tableData) ? props.tableData : []
})

const isGlobalAdmin = computed(() => {
  return sessionStore.user?.data?.data?.is_admin === 1 ? true : false;
})

const tableWidth = computed(() => {
  return tableSize?.value?.clientWidth
})

const tablePercent = ref((window.screen.width - ((window.screen.width / 100) * 33)) / 100)

const tableColumns = ref([
  // {
  //   title: localeModule.t('table.jobs.title'),
  //   dataIndex: 'job_type_term',
  //   key: 'job_type_term',
  //   sorter: (a, b) => a.job_type_term - b.job_type_term,
  //   resizable: true,
  //   width: tablePercent.value * 10,
  //   maxWidth: tablePercent.value * 20,
  // },
  {
    title: localeModule.t('table.jobs.data_source_upload_id'),
    dataIndex: 'data_source_upload_id',
    key: 'data_source_upload_id',
    resizable: true,
    width: tablePercent.value * 15,
    maxWidth: tablePercent.value * 30,
  },
  {
    title: localeModule.t('table.jobs.job_params_name'),
    dataIndex: 'job_params_name',
    key: 'job_params_name',
    sorter: (a, b) => a.job_params_name - b.job_params_name,
    resizable: true,
    width: tablePercent.value * 20,
    maxWidth: tablePercent.value * 40,
  },
  {
    title: localeModule.t('table.jobs.status'),
    dataIndex: 'status',
    key: 'status',
    sorter: (a, b) => a.status - b.status,
    resizable: true,
    width: tablePercent.value * 10,
    maxWidth: tablePercent.value * 15,
  },
  {
    title: localeModule.t('table.jobs.priority_term'),
    dataIndex: 'priority_term',
    key: 'priority_term',
    sorter: (a, b) => a.priority_term - b.priority_term,
    resizable: true,
    width: tablePercent.value * 10,
    maxWidth: tablePercent.value * 15,
  },
  {
    title: localeModule.t('table.jobs.create_dt'),
    dataIndex: 'create_dt',
    key: 'create_dt',
    sorter: (a, b) => a.create_dt - b.create_dt,
    resizable: true,
    width: tablePercent.value * 10,
    maxWidth: tablePercent.value * 15,
  },
  {
    title: localeModule.t('table.jobs.current_status_dt'),
    dataIndex: 'current_status_dt',
    key: 'current_status_dt',
    sorter: (a, b) => a.current_status_dt - b.current_status_dt,
    resizable: true,
    width: tablePercent.value * 10,
    maxWidth: tablePercent.value * 15,
  },
  {
    title: localeModule.t('table.jobs.server'),
    dataIndex: 'server',
    key: 'server',
    resizable: true,
    width: tablePercent.value * 10,
    maxWidth: tablePercent.value * 30,
  },
  {
    title: localeModule.t('table.jobs.service'),
    dataIndex: 'service',
    key: 'service',
    resizable: true,
    width: tablePercent.value * 10,
    maxWidth: tablePercent.value * 30,
  },
  {
    title: localeModule.t('table.jobs.domain_sys_name'),
    dataIndex: 'domain_sys_name',
    key: 'domain_sys_name',
    resizable: true,
    width: isGlobalAdmin.value ? tablePercent.value * 10 : '',
    maxWidth: tablePercent.value * 30,
    visible: false
  },
  {
    title: 'ID',
    dataIndex: 'job_id',
    key: 'job_id',
    resizable: true,
    width: 60,
  },
])

const handleResizeColumn = (w, col) => {
  col.width = w;
}

const customRow = (record, index) => {
  return {
    onClick: async () => {
      const rows = document.getElementsByClassName('table-row-js')
      for (let index = 0; index < rows.length; index++) {
        const element = rows[index];
        element.classList.remove('selected')
      }
      rows[index].classList.add('selected')
      emit("update:modelValue", record);
    },
  };
}

const getLink = (type, id) => {
  let obj = tableList.value.find(el => el.job_id == id);
  return {
    1: `/data-sources?data_source_id=${obj?.deep_link_obj_id}`,
    2: `/models?model_id=${obj?.deep_link_obj_id}`,
    3: `/solvers?model_id=${obj?.deep_link_obj_id}&solver_id=${obj?.job_params_id}`,
    4: `/forecasts?model_id=${obj?.deep_link_obj_id}&forecast_id=${obj?.job_params_id}`,
    5: `/data-sources?data_source_id=${obj?.deep_link_obj_id}`,
    6: `/models/${obj?.deep_link_obj_id}`,
  }[type]
}

const getTerm = (type) => {
  return {
    1: localeModule.t('table.jobs.data-sources'),
    2: localeModule.t('table.jobs.models'),
    3: localeModule.t('table.jobs.solvers'),
    4: localeModule.t('table.jobs.forecasts'),
    5: localeModule.t('table.jobs.data-sources'),
    6: localeModule.t('table.jobs.model'),
  }[type]
}

const updateTable = () => {
  $event('jobs:update')
}

const onChange = (pagination, filters, sorter) => {
  let sortString = ''
  if (sorter.order == "descend") {
    sortString = `${sorter.field} desc`
  }
  if (sorter.order == "ascend") {
    sortString = `${sorter.field} asc`
  }
  $event('jobs:sort', sortString)
};
</script>
