<template>
  <div class="table" ref="tableSize">
    <a-card :title="$t('table.models.title')">
      <template #extra>
        <a-space>
          <FilterModels />
          <a-button @click="updateTable" :title="$t('buttons.refresh')">
            <ReloadOutlined />
          </a-button>
          <ModelsTree />
        </a-space>
      </template>

      <a-table :pagination="false" bordered :scroll="{ x: tableWidth, y: 'calc(100vh - 230px' }"
        :row-key="(record) => record.key" :customRow="customRow" @change="onChange" @resizeColumn="handleResizeColumn"
        :dataSource="tableList" :columns="tableColumns" rowClassName="table-row-js">
        <template #headerCell="{ column }">
          <template v-if="!column.icon">
            <span :title="column.title">
              {{ column.title }}
            </span>
          </template>
        </template>
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'model_status'">
            <a-tag :color="`${(record.model_status === 2) ? 'green' : (record.model_status === 1) ? 'orange' : 'red'}`">
              {{ record.model_status_term ? record.model_status_term : $t('cls.no-data') }}
            </a-tag>
          </template>
          <template v-if="column.key === 'ffit_status'">
            <a-tag
              :color="`${([3, 6].includes(record.ffit_status)) ? 'green' : ([1, 2, 5].includes(record.ffit_status)) ? 'orange' : 'red'}`">
              {{ record.ffit_status_term ? record.ffit_status_term : $t('cls.no-data') }}
            </a-tag>
          </template>
          <template v-if="column.key === 'quant_term'">
            <a-tag :color="`${record.quant_term ? 'blue' : 'red'}`">
              {{ record.quant_term ? record.quant_term : $t('cls.no-data') }}
            </a-tag>
          </template>
          <template v-if="column.key === 'forecast_recalc_freq_term'">
            <a-tag :color="`${record.forecast_recalc_freq_term ? 'blue' : 'red'}`">{{ record.forecast_recalc_freq_term ?
              record.forecast_recalc_freq_term : $t('cls.no-data') }}
            </a-tag>
          </template>
          <template v-if="column.key === 'model_id'">
            <a-tooltip :title="`Перейти к модели ${record.model_name}`">
              <nuxt-link :to="localePath(`/models/${record.model_id}`)">
                {{ record.model_id }}
              </nuxt-link>
            </a-tooltip>
          </template>
          <template v-if="column.longText">
            <span class="long" :title="record[column.key]">{{ record[column.key] }}</span>
          </template>
        </template>
      </a-table>
      <Pagination :paginationData="tableMeta" />
    </a-card>
  </div>
</template>

<script setup>
const { $event, $listen } = useNuxtApp()
const emit = defineEmits(["update:modelValue"]);
const localeModule = useI18n()
const localePath = useLocalePath();
const props = defineProps({
  tableData: { type: Array || Object },
  tableMeta: { type: Object },
})

const tableSize = ref(null)

const tableList = computed(() => {
  return Array.isArray(props.tableData) ? props.tableData : []
})

const tableWidth = computed(() => {
  return tableSize?.value?.clientWidth
})

const tablePercent = ref((window.screen.width - ((window.screen.width / 100) * 33)) / 100)

const tableColumns = ref([
  {
    title: localeModule.t('table.models.model_name'),
    dataIndex: 'model_name',
    key: 'model_name',
    sorter: (a, b) => a.model_name - b.model_name,
    resizable: true,
    longText: true,
    width: tablePercent.value * 30,
    maxWidth: tablePercent.value * 40,
    fixed: true
  },
  {
    title: localeModule.t('table.models.model_status'),
    dataIndex: 'model_status',
    key: 'model_status',
    sorter: (a, b) => a.model_status - b.model_status,
    width: tablePercent.value * 20,
    maxWidth: tablePercent.value * 40,
    resizable: true,
  },
  {
    title: localeModule.t('table.models.ffit_status'),
    dataIndex: 'ffit_status',
    key: 'ffit_status',
    sorter: (a, b) => a.ffit_status - b.ffit_status,
    width: tablePercent.value * 10,
    maxWidth: tablePercent.value * 40,
    resizable: true,
  },
  {
    title: localeModule.t('table.models.quant_term'),
    dataIndex: 'quant_term',
    key: 'quant_term',
    sorter: (a, b) => a.quant_term - b.quant_term,
    width: tablePercent.value * 10,
    maxWidth: tablePercent.value * 40,
    resizable: true,
  },
  {
    title: localeModule.t('table.models.forecast_recalc_freq_term'),
    dataIndex: 'forecast_recalc_freq_term',
    key: 'forecast_recalc_freq_term',
    sorter: (a, b) => a.forecast_recalc_freq_term - b.forecast_recalc_freq_term,
    width: tablePercent.value * 10,
    maxWidth: tablePercent.value * 40,
    resizable: true,
  },
  {
    title: 'ID',
    dataIndex: 'model_id',
    key: 'model_id',
    resizable: true,
    width: tablePercent.value * 10,
  },
])

const handleResizeColumn = (w, col) => {
  col.width = w;
}

const customRow = (record, index) => {
  return {
    onClick: async () => {
      const rows = document.getElementsByClassName('table-row-js')
      for (let index = 0; index < rows.length; index++) {
        const element = rows[index];
        element.classList.remove('selected')
      }
      rows[index].classList.add('selected')
      emit("update:modelValue", record);
    },
  };
}

const updateTable = () => {
  $event('models:update')
}

const onChange = (pagination, filters, sorter) => {
  let sortString = ''
  if (sorter.order == "descend") {
    sortString = `${sorter.field} desc`
  }
  if (sorter.order == "ascend") {
    sortString = `${sorter.field} asc`
  }
  $event('models:sort', sortString)
};

$listen('model:select', () => {
  const rows = document.getElementsByClassName('table-row-js')
  if (rows.length) {
    for (let index = 0; index < rows.length; index++) {
      const element = rows[index];
      element.classList.remove('selected')
    }
    rows[0].classList.add('selected')
  }

})
</script>