<template>
  <div class="forecst-table">
    <a-card :title="$t('table.solver.title')">
      <div v-if="isLoading" class="forecst-table__load">
        <LoadingOutlined style="fontSize: 60px; color: #1890ff;" />
      </div>
      <a-table :pagination="false" bordered @change="onChange" :scroll="{x: `${((tableColumns.length - 2) * 100) + 420}`,  y: 'calc(100vh - 320px' }"
        :row-key="(record) => record.key" :customRow="customRow" @resizeColumn="handleResizeColumn"
        :dataSource="sortedById" :columns="tableColumns" :class="{ editable: impulsesEditable }">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'indr_name'">
            <div class="long" style="margin: -5px 0" :title="record[0].indr_name">{{ record[0].indr_name }}</div>
          </template>
          <template v-if="column.key !== 'indr_name'" v-for="(item, index) in record" :key="index">
            <div v-if="impulsesEditable && column.key === record[index].dt">
              <div class="forecst-table__cell" v-if="['1', '2'].includes(record[index].param_type)">
                <div :title="$t('table.solver.finded')">
                  <InputNumber style="background-color: #dedede;" disabled class="forecst-table__input"
                    v-model="clonedImpulses[record[index].dt].find(el => el.solver_task_param_id == record[index].solver_task_param_id).impulse_value" />
                </div>
                <div  :title="$t('table.solver.setted')">
                  <InputNumber class="forecst-table__input" v-model="record[index].impulse_value" />
                </div>
              </div>
              <div v-if="record[index].param_type == 3" :title="$t('table.solver.targeted')">
                <InputNumber style="background-color: #e6f7ff;" class="forecst-table__input"
                  v-model="record[index].impulse_value" />
              </div>
            </div>
            <div v-else>
              <p style="margin: -5px 0" v-if="column.key === record[index].dt">{{ record[index].impulse_value }}</p>
              <span style="display: none;" v-else></span>
            </div>
          </template>
          <template v-if="column.key == 'operation'">
            <a-tooltip :title="$t('table.solver.show-info')">
              <InfoCircleOutlined style="color: #1677ff" @click="openImpulseModal(record, index)" />
            </a-tooltip>
          </template>
        </template>
      </a-table>
      <a-modal width="70vw" v-model:open="modalOpened"
        :title="`${$t('table.solver.modal-title')} &quot${modalIndicatorName}&quot`" :footer="null" destroyOnClose
        @cancel="closeModal">
        <modal-chart-info :indicatorId="modalIndicatorId" />
      </a-modal>
    </a-card>
  </div>
</template>

<script setup>
import { useModal } from '@/stores/modal'
import { useJobsStore } from '@/stores/job-impulses'

const props = defineProps({
  tableData: { type: Array || Object },
})

const localeModule = useI18n()
const impulsesStore = useJobsStore()
const modal = useModal()
const activeIndr = ref(null)
const activeIndex = ref(null)
const modalIndicatorId = ref(null)
const modalIndicatorName = ref(null)

const impulsesEditable = computed(() => {
  return impulsesStore.impulsesEditable
})

const isLoading = computed(() => {
  return impulsesStore.isLoading
})

const modalOpened = computed(() => {
  return modal.state === 'solverImpulseModal'
})

const sortedData = computed(() => {
  let mainGroups = props.tableData.reduce((x, y) => {
    (x[y.dt] = x[y.dt] || []).push(y);
    return x;
  }, {});
  return mainGroups
})



const sortedById = computed(() => {
  let ids = impulsesStore.editedData.reduce((x, y) => {
    (x[y.indr_id] = x[y.indr_id] || []).push(y);
    return x;
  }, {});
  return Object.values(ids)
})

const obj = ref([])

props.tableData.forEach(element => {
  obj.value.push({ impulse_value: element.impulse_value, solver_task_param_id: element.solver_task_param_id, dt: element.dt })
});

const clonedImpulses = computed(() => {
  let mainGroups = obj.value.reduce((x, y) => {
    (x[y.dt] = x[y.dt] || []).push(y);
    return x;
  }, {});
  return mainGroups
})

const tableColumns = ref([
  {
    title: localeModule.t('table.solver.name'),
    dataIndex: 'indr_name',
    key: 'indr_name',
    resizable: true,
    width: '40%',
    fixed: true,
    className: 'long'
  },
])



const openImpulseModal = (record, index) => {
  activeIndex.value = index
  activeIndr.value = record[0].indr_id
  modalIndicatorId.value = record[0].indr_id
  modalIndicatorName.value = record[0].indr_name
  modal.state = 'solverImpulseModal'
}

const closeModal = () => {
  modal.state = '';
}

Object.keys(sortedData.value).forEach((element, index) => {
  tableColumns.value.push({ title: element, dataIndex: element, key: element, className: 'column-right', width: 100})
});

tableColumns.value[tableColumns.value.length - 1].fixed = 'right'
tableColumns.value[tableColumns.value.length - 1].width = 100

tableColumns.value.push({ title: '', dataIndex: 'operation', key: 'operation', fixed: 'right', width: 40, className: 'column-info', })


</script>

<style lang="scss">
.forecst-table {
  position: relative;

  &__input {
    width: 100%;
    height: 27px;
    border-radius: 0;
  }

  &__load {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 105;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__cell {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &__chart {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    transform: translateX(20px);
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease;
    pointer-events: none;

    &>button {
      height: 28px;
      align-items: center;
      display: flex;
    }

    &.active {
      pointer-events: all;
      transform: translateX(0);
      z-index: 200;
      opacity: 1;
    }
  }

  .ant-table-cell {
    padding: 8px;

    &.ant-table-cell-fix-right-first {
      right: 67px !important;
    }

    &.ant-table-cell-fix-right {
      right: 0px !important;
    }
  }

  .ant-table-thead>tr>th {
    overflow: visible !important;
    white-space: nowrap;
    flex-shrink: 0;

  }

  .ant-table-tbody>tr>td {
    // overflow: hidden;
    // white-space: nowrap;

    .long {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      // width: 100%;
      // display: block;
    }
  }

  .ant-table-tbody>tr {
    cursor: pointer;
  }

  .ant-table-tbody>tr.ant-table-row:hover>td,
  .ant-table-tbody>tr>td.ant-table-cell-row-hover {
    background: #e6f7ff !important;
  }

  .ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow {
    display: none;
  }

  .ant-table-cell {
    padding: 8px !important;
  }

  .ant-collapse-header {
    padding: 13px 16px !important;
    align-items: center;
  }

  td.column-center {
    text-align: center !important;
  }

  td.column-right {
    text-align: right !important;
    padding: 8 !important;
  }

  td.column-info {
    text-align: center !important;
    padding: 0 !important;
  }

  .ant-card-body {
    padding: 8px !important;
  }

  .ant-table-wrapper {
    &.editable {
      td.column-right {
        padding: 0 !important;
      }
    }
  }
}
</style>