<template>
  <div class="table" ref="tableSize">
    <a-card :title="$t('table.sources.title')">
      <template #extra>
        <a-space>
          <FilterSources />
          <a-button @click="updateTable" :title="$t('buttons.refresh')">
            <ReloadOutlined />
          </a-button>
        </a-space>
      </template>

      <a-table :pagination="false" bordered :scroll="{ x: tableWidth, y: 'calc(100vh - 230px' }"
        :row-key="(record) => record.key" @change="onChange" :customRow="customRow" @resizeColumn="handleResizeColumn"
        :dataSource="tableList" :columns="tableColumns" rowClassName="table-row-js">
        <template #headerCell="{ column }">
          <template v-if="!column.icon">
            <span :title="column.title">
              {{ column.title }}
            </span>
          </template>
        </template>
        <template #bodyCell="{ column, record }">
          <template v-if="column.longText">
            <span class="long" :title="record[column.key]">{{ record[column.key] }}</span>
          </template>
        </template>
      </a-table>
      <Pagination :paginationData="tableMeta" />
    </a-card>
  </div>
</template>

<script setup>
const { $event, $listen } = useNuxtApp()
const emit = defineEmits(["update:modelValue"]);
const localeModule = useI18n()

const props = defineProps({
  tableData: { type: Array || Object },
  tableMeta: { type: Object },
})

const tableSize = ref(null)

const tableList = computed(() => {
  return Array.isArray(props.tableData) ? props.tableData : []
})

const tableWidth = computed(() => {
  return tableSize?.value?.clientWidth
})

const tablePercent = ref((window.screen.width - ((window.screen.width / 100) * 33)) / 100)

const tableColumns = ref([
  {
    title: localeModule.t('table.sources.data_source_name'),
    dataIndex: 'data_source_name',
    key: 'data_source_name',
    sorter: (a, b) => a.data_source_name - b.data_source_name,
    resizable: true,
    longText: true,
    // fixed: true,
    width: tablePercent.value * 20,
    maxWidth: tablePercent.value * 40,
  },
  {
    title: localeModule.t('table.sources.domain_name'),
    dataIndex: 'domain_name',
    key: 'domain_name',
    resizable: true,
    width: tablePercent.value * 10,
    maxWidth: tablePercent.value * 20,
  },
  {
    title: localeModule.t('table.sources.load_type_term'),
    dataIndex: 'load_type_term',
    key: 'load_type_term',
    sorter: (a, b) => a.load_type_term - b.load_type_term,
    resizable: true,
    width: tablePercent.value * 10,
    maxWidth: tablePercent.value * 20,
  },
  {
    title: localeModule.t('table.sources.load_adapter_term'),
    dataIndex: 'load_adapter_term',
    key: 'load_adapter_term',
    sorter: (a, b) => a.load_adapter_term - b.load_adapter_term,
    resizable: true,
    width: tablePercent.value * 20,
    maxWidth: tablePercent.value * 40,
  },
  {
    title: localeModule.t('table.sources.load_freq_term'),
    dataIndex: 'load_freq_term',
    key: 'load_freq_term',
    sorter: (a, b) => a.load_freq_term - b.load_freq_term,
    resizable: true,
    width: tablePercent.value * 10,
    maxWidth: tablePercent.value * 20,
  },
  {
    title: localeModule.t('table.sources.load_status_term'),
    dataIndex: 'load_status_term',
    key: 'load_status_term',
    sorter: (a, b) => a.load_status_term - b.load_status_term,
    resizable: true,
    width: tablePercent.value * 20,
    maxWidth: tablePercent.value * 40,
  },
  {
    title: 'ID',
    dataIndex: 'data_source_id',
    key: 'data_source_id',
    // resizable: true,
    width: 60,
  },
])

const handleResizeColumn = (w, col) => {
  col.width = w;
}

const customRow = (record, index) => {
  return {
    onClick: async () => {
      const rows = document.getElementsByClassName('table-row-js')
      for (let index = 0; index < rows.length; index++) {
        const element = rows[index];
        element.classList.remove('selected')
      }
      rows[index].classList.add('selected')
      emit("update:modelValue", record);
    },
  };
}

const updateTable = () => {
  $event('sources:update')
}

const onChange = (pagination, filters, sorter) => {
  let sortString = ''
  if (sorter.order == "descend") {
    sortString = `${sorter.field} desc`
  }
  if (sorter.order == "ascend") {
    sortString = `${sorter.field} asc`
  }
  $event('sources:sort', sortString)
};

$listen('source:select', () => {
  const rows = document.getElementsByClassName('table-row-js')
  for (let index = 0; index < rows.length; index++) {
    const element = rows[index];
    element.classList.remove('selected')
  }
  rows[0].classList.add('selected')
})
</script>