<template>
  <div class="table">
    <a-card title="Теги">
      <template #extra>
        <a-button @click='filterCollapsed = !filterCollapsed'
          :title="`${filterCollapsed ? $t('buttons.hide') : $t('buttons.show')}`">
          <arrow-down-outlined v-if="!filterCollapsed" />
          <arrow-up-outlined v-if="filterCollapsed" />
          <span>{{ $t('buttons.filter') }}</span></a-button>
        <div class="table__filters" :class="{ visible: filterCollapsed }">
          <FilterTags @closeFilters="filterCollapsed = false" />
        </div>
      </template>

      <a-table :pagination="false" bordered :row-key="(record) => record.key" :customRow="customRow"
        @resizeColumn="handleResizeColumn" :dataSource="tableList" :columns="tableColumns" rowClassName="table-row-js">
        <template #headerCell="{ column }">
          <template v-if="!column.icon">
            <span :title="column.title">
              {{ column.title }}
            </span>
          </template>
        </template>
        <template #bodyCell="{ column, record }">

          <template v-if="column.longText">
            <span class="long" :title="record[column.key]">{{ record[column.key] }}</span>
          </template>
        </template>
      </a-table>
      <Pagination :paginationData="tableMeta" />
    </a-card>
  </div>
</template>

<script setup>
const emit = defineEmits(["update:modelValue"]);
const props = defineProps({
  tableData: { type: Array || Object },
  tableMeta: { type: Object },
})

const filterCollapsed = ref(false)

const tableList = computed(() => {
  return Array.isArray(props.tableData) ? props.tableData : []
})

const tableColumns = ref([
  {
    title: 'Имя',
    dataIndex: 'tag_term',
    key: 'tag_term',
    sorter: {
      compare: (a, b) => a.tag_term - b.tag_term,
      multiple: 3,
    },
    resizable: true,
    longText: true,
    fixed: true
  },
  {
    title: 'Имя домена',
    dataIndex: 'lma_domain_name',
    key: 'lma_domain_name',
    resizable: true,
  },
])

const handleResizeColumn = (w, col) => {
  col.width = w;
}

const customRow = (record, index) => {
  return {
    onClick: async () => {
      const rows = document.getElementsByClassName('table-row-js')
      for (let index = 0; index < rows.length; index++) {
        const element = rows[index];
        element.classList.remove('selected')
      }
      rows[index].classList.add('selected')
      emit("update:modelValue", record);
    },
  };
}
</script>