<template>
  <div id="table" class="table" ref="tableSize">
    <a-card :title="$t('table.users.title')">
      <template #extra>
        <a-space>
          <FilterUsers />
          <a-button @click="updateTable" :title="$t('buttons.refresh')">
            <ReloadOutlined />
          </a-button>
          <RightsSelection v-if="isAdmin" />
        </a-space>
      </template>
      <a-table :pagination="false" bordered @change="onChange" :scroll="{ x: tableWidth, y: 'calc(100vh - 235px' }"
        :row-key="(record) => record.key" :customRow="customRow" @resizeColumn="handleResizeColumn"
        :dataSource="tableList" :columns="tableColumns" rowClassName="table-row-js">
      </a-table>
      <Pagination :paginationData="tableMeta" />
    </a-card>
  </div>
  
</template>

<script setup>
import { useSessionStore } from '@/stores/session-store'
const { $event, $listen } = useNuxtApp()
const emit = defineEmits(["update:modelValue"]);
const localeModule = useI18n()
const sessionStore = useSessionStore()
const props = defineProps({
  tableData: { type: Array || Object },
  tableMeta: { type: Object },
})

const tableList = computed(() => {
  return Array.isArray(props.tableData) ? props.tableData : []
})

const isAdmin = computed(() => {
  return sessionStore.user?.data?.data?.is_admin === 1 ? true : false;
})

const tableSize = ref(null)
const tableWidth = computed(() => {
  return tableSize?.value?.clientWidth
})

const tablePercent = ref((window.screen.width - ((window.screen.width / 100) * 33)) / 100)

const tableColumns = ref([
  {
    title: localeModule.t('table.users.login'),
    dataIndex: 'login',
    key: 'login',
    width: tablePercent.value * 20,
    sorter: (a, b) => a.login - b.login,
    resizable: true,
  },
  {
    title: localeModule.t('table.users.display_name'),
    dataIndex: 'display_name',
    key: 'display_name',
    width: tablePercent.value * 35,
    sorter: (a, b) => a.display_name - b.display_name,
    resizable: true,
  },
  {
    title: localeModule.t('table.users.phone'),
    dataIndex: 'phone',
    key: 'phone',
    width: tablePercent.value * 15,
    resizable: true,
  },
  {
    title: localeModule.t('table.users.dsc'),
    dataIndex: 'dsc',
    key: 'dsc',
    width: tablePercent.value * 20,
    resizable: true,
  },
  {
    title: 'ID',
    dataIndex: 'user_id',
    key: 'user_id',
    resizable: true,
    width: tablePercent.value * 10,
  },
])

const handleResizeColumn = (w, col) => {
  col.width = w;
}
const customRow = (record, index) => {
  return {
    onClick: async () => {
      const rows = document.getElementsByClassName('table-row-js')
      for (let index = 0; index < rows.length; index++) {
        const element = rows[index];
        element.classList.remove('selected')
      }
      rows[index].classList.add('selected')
      emit("update:modelValue", record);
    },
  };
}

const updateTable = () => {
  $event('users:update')
}

const onChange = (pagination, filters, sorter) => {
  let sortString = ''
  if (sorter.order == "descend") {
    sortString = `${sorter.field} desc`
  }
  if (sorter.order == "ascend") {
    sortString = `${sorter.field} asc`
  }
  $event('users:sort', sortString)
};

$listen('user:select', () => {
  const rows = document.getElementsByClassName('table-row-js')
  for (let index = 0; index < rows.length; index++) {
    const element = rows[index];
    element.classList.remove('selected')
  }
  rows[0].classList.add('selected')
})
</script>