<template>
  <div class="add-model">
    <a-form layout="vertical" :model="formState" name="basic" autocomplete="off" @finish="onFinish"
      @finishFailed="onFinishFailed">
      <div class="add-model__flex">
        <a-divider orientation="left">{{ $t('modal.customer.info') }}</a-divider>
        <div class="add-model__list">
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.customer.i_name')" name="name"
              :rules="[{ required: true, message: $t('cls.required-field') }, { max: 40, message: `${$t('cls.max-symbols')} 40` }]">
              <a-input :placeholder="$t('modal.customer.i_name')" v-model:value="formState.name" show-count :maxlength="40" />
            </a-form-item>
          </div>
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.customer.i_code')" name="code"
              :rules="[{ required: true, message: $t('cls.required-field') }, { max: 40, message: `${$t('cls.max-symbols')} 40` }]">
              <InputNumber :placeholder="$t('modal.customer.i_code')" v-model="formState.code" show-count :maxlength="40" />
            </a-form-item>
          </div>

        </div>
        <div class="add-model__list">
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.customer.i_short_desc')" name="short_desc"
              :rules="[{ required: true, message: $t('cls.required-field') }, { max: 40, message: `${$t('cls.max-symbols')} 40` }]">
              <a-input :placeholder="$t('modal.customer.i_short_desc')" v-model:value="formState.short_desc" show-count
                :maxlength="40" />
            </a-form-item>
          </div>
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.customer.i_full_desc')" name="full_desc"
              :rules="[{ required: true, message: $t('cls.required-field') }, { max: 40, message: `${$t('cls.max-symbols')} 40` }]">
              <a-input :placeholder="$t('modal.customer.i_full_desc')" v-model:value="formState.full_desc" show-count :maxlength="40" />
            </a-form-item>
          </div>
        </div>
        <div class="add-model__list">
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.customer.i_type')" name="type">
              <a-select disabled :placeholder="$t('modal.customer.i_type')" ref="select" v-model:value="type" style="width: 100%">
                <a-select-option :value="1">{{ $t('modal.customer.legal') }}</a-select-option>
                <a-select-option :value="2">{{ $t('modal.customer.individual') }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.customer.i_dsc')" name="dsc"
              :rules="[{ max: 1000, message: `${$t('cls.max-symbols')} 1000` }]">
              <a-textarea :placeholder="$t('modal.customer.i_dsc')" :autoSize="{ minRows: 1, maxRows: 6 }" v-model:value="formState.dsc"
                :maxlength="1000" />
            </a-form-item>
          </div>
        </div>
      </div>
      <div class="add-model__footer">
        <a-button @click="modal.state = ''">{{ $t('buttons.cancel') }}</a-button>
        <a-button :disabled="!saveEnable" type="primary" html-type="submit" :loading="loading" @click="createItem">{{
          $t('buttons.save') }}</a-button>
      </div>
    </a-form>
  </div>
</template>

<script setup>
import { notification } from 'ant-design-vue';
import { useModal } from '@/stores/modal'
const { $event } = useNuxtApp()
const localeModule = useI18n()

const props = defineProps({
  inspector: { type: Object },
})

const modal = useModal()
const saveEnable = ref(false)
const loading = ref(false)

const type = ref(props.inspector.type || undefined)

const formState = ref({
  id: props.inspector.customer_id,
  name: props.inspector.name || '',
  code: props.inspector.code || '',
  short_desc: props.inspector.short_desc || '',
  full_desc: props.inspector.full_desc || '',
  dsc: props.inspector.dsc || '',
});

const onFinish = async (values) => {
  loading.value = true;
  apiFetch(`set_customer_attr`, formState).then((response) => {
    loading.value = false;
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        notification.open({
          message: localeModule.t('modal.customer.update-success'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });
        setTimeout(() => {
          $event('customers:update')
          $event('inspectorCustomer:update', props.inspector.customer_id)
          modal.state = '';
        }, 500);  
      }
    }
  })
};

watch(formState, (newValue) => {
  saveEnable.value = true;
}, { deep: true })
</script>

<style lang="scss" scoped>
.add-model {
  .ant-divider-horizontal {
    margin: 12px 0;
  }

  .ant-form-item-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
  }

  .ant-input-textarea {
    &::after {
      position: absolute;
      bottom: -24px;
      right: 0;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__list {
    width: 100%;
    display: flex;
    gap: 16px;

    &.row {
      display: flex;
      padding-bottom: 16px;
    }
  }

  &__checkbox {
    margin-bottom: 0;
  }

  &__footer {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: 1px solid rgba(5, 5, 5, 0.06);
    margin-top: 12px;
    padding-top: 12px;
  }
}
</style>