<template>
  <div class="add-model">
    <a-form layout="vertical" :model="formState" name="basic" autocomplete="off" @finish="onFinish"
      @finishFailed="onFinishFailed">
      <div class="add-model__flex">
        <a-divider orientation="left">{{ $t('modal.solver.info') }}</a-divider>
        <div class="add-model__list">
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.solver.i_name')" name="name"
              :rules="[{ required: true, message: $t('cls.required-field') }, { max: 100, message: `${$t('cls.max-symbols')} 100` }]">
              <a-input :placeholder="$t('modal.solver.i_name')" v-model:value="formState.name" show-count :maxlength="100" />
            </a-form-item>
          </div>
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.solver.i_dsc')" name="dsc"
              :rules="[{ max: 40, message: `${$t('cls.max-symbols')} 40` }]">
              <a-input :placeholder="$t('modal.solver.i_dsc')" v-model:value="formState.dsc" show-count :maxlength="40" />
            </a-form-item>
          </div>
        </div>
        <div class="add-model__list">
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.solver.i_quant')" name="quant">
              <a-select disabled :placeholder="$t('modal.solver.i_quant')" ref="select" v-model:value="quant"
                style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 42).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div style="width: 50%;">
            <a-form-item  has-feedback :label="$t('modal.solver.i_amount')" name="amount">
              <InputNumber disabled :placeholder="$t('modal.solver.i_amount')" v-model="amount" show-count :maxlength="3" />
            </a-form-item>
          </div>
        </div>
      </div>
      <div class="add-model__footer">
        <a-button @click="modal.state = ''">{{ $t('buttons.cancel') }}</a-button>
        <a-button :disabled="!saveEnable" type="primary" html-type="submit" :loading="loading" @click="createItem">{{
          $t('buttons.save') }}</a-button>
      </div>
    </a-form>
  </div>
</template>

<script setup>
import { notification } from 'ant-design-vue';
import { useModal } from '@/stores/modal'
import { useDictionariesStore } from '@/stores/dictionaries'
const { $event } = useNuxtApp()
const localeModule = useI18n()

const props = defineProps({
  inspector: { type: Object },
})

const dictionariesStore = useDictionariesStore()
const modal = useModal()
const saveEnable = ref(false)
const loading = ref(false)

const dictionaries = computed(() => {
  return dictionariesStore.dictionaries.data.clss
})

const quant = ref(props.inspector.quant || '')
const amount = ref(props.inspector.amount || '')

const formState = ref({
  id: props.inspector.solver_task_id,
  name: props.inspector.name || '',
  dsc: props.inspector.dsc || '',
});

const onFinish = async (values) => {
  loading.value = true;
  apiFetch(`set_solver_task_attr`, formState).then((response) => {
    loading.value = false;
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        notification.open({
          message: localeModule.t('modal.solver.update-success'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });
        setTimeout(() => {
          $event('solver:update')
          $event('inspector:update', props.inspector.solver_task_id)
          modal.state = '';
        }, 500);        
      }
    }
  })
};

watch(formState, (newValue) => {
  saveEnable.value = true;
}, { deep: true })
</script>

<style lang="scss" scoped>
.add-model {
  .ant-divider-horizontal {
    margin: 12px 0;
  }

  .ant-form-item-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
  }

  .ant-input-textarea {
    &::after {
      position: absolute;
      bottom: -24px;
      right: 0;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    width: 100%;
  }



  &__list {
    width: 100%;
    display: flex;
    gap: 16px;

    &.row {
      display: flex;
      padding-bottom: 16px;
    }
  }

  &__checkbox {
    margin-bottom: 0;
  }

  &__footer {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: 1px solid rgba(5, 5, 5, 0.06);
    margin-top: 12px;
    padding-top: 12px;
  }
}
</style>