<template>
  <div class="add-indicator">
    <a-form layout="vertical" :model="formState" name="basic" autocomplete="off" @finish="onFinish"
      @finishFailed="onFinishFailed">
      <div class="add-indicator__flex">
        <a-divider orientation="left">{{ $t('modal.indicator.info') }}</a-divider>
        <div class="add-indicator__list">
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_name')" name="i_name"
              :rules="[{ required: true, message: $t('cls.required-field') }, { max: 250, message: `${$t('cls.max-symbols')} 250` }]">
              <a-input :placeholder="$t('modal.indicator.i_name')" v-model:value="formState.i_name" show-count
                :maxlength="250" />
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_short_desc')" name="i_short_desc"
              :rules="[{ required: true, message: $t('cls.required-field') }, { max: 250, message: `${$t('cls.max-symbols')} 250` }]">
              <a-textarea :placeholder="$t('modal.indicator.i_short_desc')" :autoSize="{ minRows: 1, maxRows: 2 }"
                v-model:value="formState.i_short_desc" show-count :maxlength="250" />
            </a-form-item>
          </div>
          <div style="width: 40%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_full_desc')" name="i_full_desc"
              :rules="[{ required: true, message: $t('cls.required-field') }, { max: 4000, message: `${$t('cls.max-symbols')} 4000` }]">
              <a-textarea :placeholder="$t('modal.indicator.i_full_desc')" :autoSize="{ minRows: 1, maxRows: 2 }"
                v-model:value="formState.i_full_desc" :maxlength="4000" />
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_dsc')" name="i_dsc"
              :rules="[{ max: 100, message: `${$t('cls.max-symbols')} 100` }]">
              <a-textarea :placeholder="$t('modal.indicator.i_dsc')" :autoSize="{ minRows: 1, maxRows: 3 }"
                v-model:value="formState.i_dsc" show-count :maxlength="100" />
            </a-form-item>
          </div>
        </div>

        <a-divider orientation="left">{{ $t('modal.indicator.classification') }}</a-divider>
        <div class="add-indicator__list">
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.indr_subgroup_id')" name="indr_subgroup_id"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <SelectorGroup v-model="formState.indr_subgroup_id" />
            </a-form-item>
          </div>
          <div style="width: 40%;">
            <a-form-item has-feedback :label="$t('modal.indicator.indr_sectors_id')" name="indr_sectors_id"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <SelectorSpheres v-model="formState.indr_sectors_id" />
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_data_geo_level')" name="i_data_geo_level"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select :placeholder="$t('modal.indicator.classification')" ref="select"
                v-model:value="formState.i_data_geo_level" style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 21).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_data_origin')" name="i_data_origin"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-radio-group button-style="solid" v-model:value="formState.i_data_origin" name="radioGroup">
                <a-radio-button v-for="item in dictionaries.find(element => element.cls === 63).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-radio-button>
              </a-radio-group>
            </a-form-item>
          </div>
        </div>

        <a-divider orientation="left">{{ $t('modal.indicator.about-data') }}</a-divider>
        <div class="add-indicator__list">
          <div style="width: 25%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_data_type')" name="i_data_type"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select :placeholder="$t('modal.indicator.i_data_type')" ref="select"
                v-model:value="formState.i_data_type" style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 23).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div style="width: 25%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_measure_unit')" name="i_measure_unit"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select :placeholder="$t('modal.indicator.i_measure_unit')" ref="select"
                v-model:value="formState.i_measure_unit" style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 30).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div style="width: 25%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_unit_scale')" name="i_unit_scale"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select :placeholder="$t('modal.indicator.i_unit_scale')" ref="select"
                v-model:value="formState.i_unit_scale" style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 31).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <!-- <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_data_quant_freq')" name="i_data_quant_freq"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select :placeholder="$t('modal.indicator.i_data_quant_freq')" ref="select"
                v-model:value="formState.i_data_quant_freq" style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 42).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div> -->
          <div style="width: 25%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_data_capacity')" name="i_data_capacity"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select :placeholder="$t('modal.indicator.i_data_capacity')" ref="select"
                v-model:value="formState.i_data_capacity" style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 41).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
        </div>

        <a-divider orientation="left">{{ $t('modal.indicator.i_r_lma_data_source') }}</a-divider>
        <div class="add-indicator__list">
          <div style="width: 30%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_r_lma_data_source')" name="i_r_lma_data_source"
              :rules="[{ required: formState.i_data_origin === 2, message: $t('cls.from-list'), trigger: 'change' }]">
              <SelectorDataSource v-model="formState.i_r_lma_data_source" :disabled="formState.i_data_origin !== 2" />
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_source_column_name')" name="i_source_column_name"
              :rules="[{ required: formState.i_data_origin === 2, message: $t('cls.required-field') }, { max: 250, message: `${$t('cls.max-symbols')} 250` }]">
              <a-input :placeholder="$t('modal.indicator.i_source_column_name')"
                :disabled="formState.i_data_origin !== 2" v-model:value="formState.i_source_column_name" show-count
                :maxlength="250" />
            </a-form-item>
          </div>
          <!-- <div style="width: 10%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_source_column_number')"
              name="i_source_column_number"
              :rules="[{ required: formState.i_data_origin === 2, message: $t('cls.required-field') }, { max: 8, message: `${$t('cls.max-symbols')} 8` }]">
              <InputNumber v-model="formState.i_source_column_number" :disabled="formState.i_data_origin !== 2"
                show-count :maxlength="8" />
            </a-form-item>
          </div> -->
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_calc_formula')" name="i_calc_formula"
              :rules="[{ required: formState.i_data_origin !== 2, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-textarea :placeholder="$t('modal.indicator.i_calc_formula')" :autoSize="{ minRows: 1, maxRows: 6 }"
                :disabled="formState.i_data_origin == 2" v-model:value="formState.i_calc_formula" :maxlength="1000" />
            </a-form-item>
          </div>
        </div>

        <a-divider orientation="left">{{ $t('modal.indicator.methods') }}</a-divider>
        <div class="add-indicator__list">
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_method_clear_outlier')"
              name="i_method_clear_outlier"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select ref="select" v-model:value="formState.i_method_clear_outlier" style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 67).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_method_bring_ai')" name="i_method_bring_ai"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select ref="select" v-model:value="formState.i_method_bring_ai" style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 68).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_method_sparcity_filling')"
              name="i_method_sparcity_filling"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select ref="select" v-model:value="formState.i_method_sparcity_filling" style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 44).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_method_normalization')"
              name="i_method_normalization"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select ref="select" v-model:value="formState.i_method_normalization" style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 45).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
        </div>

        <a-divider orientation="left">{{ $t('modal.indicator.recommendations') }}</a-divider>
        <div class="add-indicator__list">
          <div style="width: 20%;">
            <a-form-item class="add-indicator__checkbox" name="i_advice_target_model">
              <a-checkbox v-model:checked="formState.i_advice_target_model">{{ $t('modal.indicator.i_advice_target_model') }}</a-checkbox>
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item class="add-indicator__checkbox" name="i_advice_prediction">
              <a-checkbox v-model:checked="formState.i_advice_prediction">{{ $t('modal.indicator.i_advice_prediction') }}</a-checkbox>
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item class="add-indicator__checkbox" name="i_advice_target_value">
              <a-checkbox v-model:checked="formState.i_advice_target_value">{{ $t('modal.indicator.i_advice_target_value') }}</a-checkbox>
            </a-form-item>
          </div>
        </div>
      </div>
      <div class="add-indicator__footer">
        <a-button @click="modal.state = ''">{{ $t('buttons.cancel') }}</a-button>
        <a-button :disabled="!saveEnable" type="primary" html-type="submit" :loading="loading">
          {{ $t('buttons.save') }}
        </a-button>
      </div>
    </a-form>
  </div>
</template>

<script setup>
import { notification } from 'ant-design-vue';
import { useModal } from '@/stores/modal'
import { useDictionariesStore } from '@/stores/dictionaries'
const { $event } = useNuxtApp()
const localeModule = useI18n()

const props = defineProps({
  inspector: { type: Object },
  haveData: { type: Boolean },
})


const dictionariesStore = useDictionariesStore()
const modal = useModal()
const saveEnable = ref(false)
const loading = ref(false)

const dictionaries = computed(() => {
  return dictionariesStore.dictionaries.data.clss
})

const formState = ref({
  i_name: props.haveData ? props.inspector.name : '',
  i_short_desc: props.haveData ? props.inspector.short_desc : '',
  i_full_desc: props.haveData ? props.inspector.full_desc : '',
  i_dsc: props.haveData ? props.inspector.dsc : '',
  i_source_column_name: props.haveData ? props.inspector.source_column_name : '',
  i_source_column_number: null,
  // i_source_column_number: props.haveData ? props.inspector.source_column_number.toString() : '',
  i_measure_unit: props.haveData ? props.inspector.measure_unit : undefined,
  i_unit_scale: props.haveData ? props.inspector.unit_scale : undefined,
  i_data_type: props.haveData ? props.inspector.data_type : 2,
  i_data_geo_level: props.haveData ? props.inspector.data_geo_level : undefined,
  i_data_quant_freq: null,
  // i_data_quant_freq: props.haveData ? props.inspector.data_quant_freq : 2,
  i_data_origin: props.haveData ? props.inspector.data_origin : 2,
  i_calc_formula: props.haveData ? props.inspector.calc_formula : null,
  i_r_lma_data_source: props.haveData ? props.inspector.r_lma_data_source : undefined,
  i_method_clear_outlier: props.haveData ? props.inspector.method_clear_outlier : 1,
  i_method_bring_ai: props.haveData ? props.inspector.method_bring_ai : 1,
  i_method_sparcity_filling: props.haveData ? props.inspector.method_sparcity_filling : 1,
  i_method_normalization: props.haveData ? props.inspector.method_normalization : 1,
  i_advice_target_model: props.haveData ? props.inspector.advice_target_model == 1 : true,
  i_advice_prediction: props.haveData ? props.inspector.advice_prediction == 1 : false,
  i_advice_target_value: props.haveData ? props.inspector.advice_target_value == 1 : false,
  i_data_capacity: props.haveData ? props.inspector.data_capacity : 5,
  indr_subgroup_id: props.haveData ? props.inspector.indr_subgroup_id : undefined,
  indr_sectors_id: props.haveData ? props.inspector.indr_sectors_id : undefined,
});

const onFinish = async (values) => {
  for (let key in formState.value) {
    if (typeof formState.value[key] == 'boolean') {
      formState.value[key] = + formState.value[key]
    }
  }
  loading.value = true;
  apiFetch(`create_indicator`, {value: {...formState.value}}).then((response) => {
    loading.value = false;
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        notification.open({
          message: localeModule.t('modal.indicator.create-success'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });

        apiFetch(`set_indicator_group`, { value: { i_indr_id: Number(response.data.value.data.create_indr), i_indr_group_id: formState.value.indr_subgroup_id } })
        formState.value.indr_sectors_id.forEach(element => {
          apiFetch(`set_indicator_group`, { value: { i_indr_id: Number(response.data.value.data.create_indr), i_indr_group_id: element } })
        });
        setTimeout(() => {          
          $event('indicator:select', response.data?.value?.data?.create_indr)
          modal.state = '';
        }, 300);
      }
    }
  })
};

watch(formState, (newValue) => {
  saveEnable.value = true;
  if (newValue.i_data_origin !== 2) {
    formState.value.i_r_lma_data_source = 0
    formState.value.i_source_column_name = null
    formState.value.i_source_column_number = null
  }
  if (newValue.i_data_origin == 2) {
    formState.value.i_calc_formula = ''
  }
}, { deep: true })

</script>

<style lang="scss">
.add-indicator {
  .ant-divider-horizontal {
    margin: 12px 0;
  }

  .ant-form-item-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
  }

  .ant-input-textarea {
    &::after {
      position: absolute;
      bottom: -24px;
      right: 0;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    width: 100%;
  }



  &__list {
    width: 100%;
    display: flex;
    gap: 16px;

    &.row {
      display: flex;
      padding-bottom: 16px;
    }
  }

  &__checkbox {
    margin-bottom: 0;
  }

  &__footer {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: 1px solid rgba(5, 5, 5, 0.06);
    margin-top: 12px;
    padding-top: 12px;
  }
}
</style>
