<template>
  <div class="add-indicator">
    <a-form layout="vertical" :model="formState" name="basic" autocomplete="off" @finish="onFinish"
      @finishFailed="onFinishFailed">
      <div class="add-indicator__flex">
        <a-divider orientation="left">{{ $t('modal.indicator.info') }}</a-divider>
        <div class="add-indicator__list">
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_name')" name="name"
              :rules="[{ required: true, message: $t('cls.required-field') }, { max: 250, message: `${$t('cls.max-symbols')} 250` }]">
              <a-input :placeholder="$t('modal.indicator.i_name')" v-model:value="formState.name" show-count :maxlength="250" />
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_short_desc')" name="short_desc"
              :rules="[{ required: true, message: $t('cls.required-field') }, { max: 250, message: `${$t('cls.max-symbols')} 250` }]">
              <a-textarea :placeholder="$t('modal.indicator.i_short_desc')" :autoSize="{ minRows: 1, maxRows: 2 }"
                v-model:value="formState.short_desc" show-count :maxlength="250" />
            </a-form-item>
          </div>
          <div style="width: 40%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_full_desc')" name="full_desc"
              :rules="[{ required: true, message: $t('cls.required-field') }, { max: 4000, message: `${$t('cls.max-symbols')} 4000` }]">
              <a-textarea :placeholder="$t('modal.indicator.i_full_desc')" :autoSize="{ minRows: 1, maxRows: 2 }"
                v-model:value="formState.full_desc" :maxlength="4000" />
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_dsc')" name="dsc"
              :rules="[{ max: 100, message: `${$t('cls.max-symbols')} 100` }]">
              <a-textarea :placeholder="$t('modal.indicator.i_dsc')" :autoSize="{ minRows: 1, maxRows: 3 }" v-model:value="formState.dsc"
                show-count :maxlength="100" />
            </a-form-item>
          </div>
        </div>

        <a-divider orientation="left">{{ $t('modal.indicator.classification') }}</a-divider>
        <div class="add-indicator__list">
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.indr_subgroup_id')" name="indr_subgroup_id"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <SelectorGroup v-model="formState.indr_subgroup_id" />
            </a-form-item>
          </div>
          <div style="width: 40%;">
            <a-form-item has-feedback :label="$t('modal.indicator.indr_sectors_id')" name="indr_sectors_id"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <SelectorSpheres v-model="formState.indr_sectors_id" />
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_data_geo_level')" name="data_geo_level"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select :placeholder="$t('modal.indicator.i_data_geo_level')" ref="select"
                v-model:value="formState.data_geo_level" style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 21).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_data_origin')" name="data_origin"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-radio-group button-style="solid" v-model:value="formState.data_origin" name="radioGroup">
                <a-radio-button v-for="item in dictionaries.find(element => element.cls === 63).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-radio-button>
              </a-radio-group>
            </a-form-item>
          </div>
        </div>

        <a-divider orientation="left">{{ $t('modal.indicator.about-data') }}</a-divider>
        <div class="add-indicator__list">
          <div style="width: 25%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_data_type')" name="data_type"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select :placeholder="$t('modal.indicator.i_data_type')" ref="select" v-model:value="formState.data_type" style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 23).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div style="width: 25%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_measure_unit')" name="measure_unit"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select :placeholder="$t('modal.indicator.i_measure_unit')" ref="select" v-model:value="formState.measure_unit"
                style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 30).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div style="width: 25%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_unit_scale')" name="unit_scale"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select :placeholder="$t('modal.indicator.i_unit_scale')" ref="select" v-model:value="formState.unit_scale"
                style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 31).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <!-- <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_data_quant_freq')" name="data_quant_freq"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select :placeholder="$t('modal.indicator.i_data_quant_freq')" ref="select" v-model:value="formState.data_quant_freq"
                style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 42).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div> -->
          <div style="width: 25%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_data_capacity')" name="data_capacity"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select :placeholder="$t('modal.indicator.i_data_capacity')" ref="select" v-model:value="formState.data_capacity"
                style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 41).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
        </div>

        <a-divider orientation="left">{{ $t('modal.indicator.i_r_lma_data_source') }}</a-divider>
        <div class="add-indicator__list">
          <div style="width: 30%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_r_lma_data_source')" name="r_lma_data_source"
              :rules="[{ required: formState.data_origin === 2, message: $t('cls.from-list'), trigger: 'change' }]">
              <SelectorDataSource v-model="formState.r_lma_data_source" :disabled="formState.data_origin !== 2" />
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_source_column_name')" name="source_column_name"
              :rules="[{ required: formState.data_origin === 2, message: $t('cls.required-field') }, { max: 250, message: `${$t('cls.max-symbols')} 250` }]">
              <a-input :disabled="formState.data_origin !== 2" v-model:value="formState.source_column_name" show-count
                :maxlength="250" />
            </a-form-item>
          </div>
          <!-- <div style="width: 10%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_source_column_number')" name="source_column_number"
              :rules="[{ required: formState.data_origin === 2, message: $t('cls.required-field') }, { max: 8, message: `${$t('cls.max-symbols')} 8` }]">
              <InputNumber v-model="formState.source_column_number" :disabled="formState.data_origin !== 2" show-count
                :maxlength="8" />
            </a-form-item>
          </div> -->
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_calc_formula')" name="calc_formula"
              :rules="[{ required: formState.data_origin !== 2, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-textarea :autoSize="{ minRows: 1, maxRows: 6 }" :disabled="formState.data_origin == 2"
                v-model:value="formState.calc_formula" :maxlength="1000" />
            </a-form-item>
          </div>
        </div>

        <a-divider orientation="left">{{ $t('modal.indicator.methods') }}</a-divider>
        <div class="add-indicator__list">
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_method_clear_outlier')" name="method_clear_outlier"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select ref="select" v-model:value="formState.method_clear_outlier" style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 67).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_method_bring_ai')" name="method_bring_ai"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select ref="select" v-model:value="formState.method_bring_ai" style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 68).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_method_sparcity_filling')" name="method_sparcity_filling"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select ref="select" v-model:value="formState.method_sparcity_filling" style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 44).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item has-feedback :label="$t('modal.indicator.i_method_normalization')" name="method_normalization"
              :rules="[{ required: true, message: $t('cls.from-list'), trigger: 'change' }]">
              <a-select ref="select" v-model:value="formState.method_normalization" style="width: 100%">
                <a-select-option v-for="item in dictionaries.find(element => element.cls === 45).terms" :key="item.num"
                  :value="item.num">{{ item.term }}</a-select-option>
              </a-select>
            </a-form-item>
          </div>
        </div>

        <a-divider orientation="left">{{ $t('modal.indicator.recommendations') }}</a-divider>
        <div class="add-indicator__list">
          <div style="width: 20%;">
            <a-form-item class="add-indicator__checkbox" name="advice_target_model">
              <a-checkbox v-model:checked="formState.advice_target_model">{{ $t('modal.indicator.i_advice_target_model') }}</a-checkbox>
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item class="add-indicator__checkbox" name="advice_prediction">
              <a-checkbox v-model:checked="formState.advice_prediction">{{ $t('modal.indicator.i_advice_prediction') }}</a-checkbox>
            </a-form-item>
          </div>
          <div style="width: 20%;">
            <a-form-item class="add-indicator__checkbox" name="advice_target_value">
              <a-checkbox v-model:checked="formState.advice_target_value">{{ $t('modal.indicator.i_advice_target_value') }}</a-checkbox>
            </a-form-item>
          </div>
        </div>
      </div>
      <div class="add-indicator__footer">
        <a-button @click="modal.state = ''">{{ $t('buttons.cancel') }}</a-button>
        <a-button :disabled="!saveEnable" type="primary" html-type="submit" :loading="loading">{{ $t('buttons.save')
          }}</a-button>
      </div>
    </a-form>
  </div>
</template>

<script setup>
import { notification } from 'ant-design-vue';
import { useModal } from '@/stores/modal'
import { useDictionariesStore } from '@/stores/dictionaries'
const { $event } = useNuxtApp()
const localeModule = useI18n()

const props = defineProps({
  inspector: { type: Object },
  haveData: { type: Boolean },
})

const dictionariesStore = useDictionariesStore()
const modal = useModal()
const saveEnable = ref(false)
const loading = ref(false)
const groupUpdateable = ref(false)
const spheresUpdateable = ref(false)

const dictionaries = computed(() => {
  return dictionariesStore.dictionaries.data.clss
})

const group = ref(props.inspector.indr_subgroup_id)
const spheres = ref(props.inspector.indr_sectors_id)

const formState = ref({
  id: props.inspector.indr_id,
  name: props.inspector.name || '',
  short_desc: props.inspector.short_desc || '',
  full_desc: props.inspector.full_desc || '',
  dsc: props.inspector.dsc || '',
  source_column_name: props.inspector.source_column_name || '',
  source_column_number: null,
  measure_unit: props.inspector.measure_unit || undefined,
  unit_scale: props.inspector.unit_scale || undefined,
  data_type: props.inspector.data_type || undefined,
  data_geo_level: props.inspector.data_geo_level || undefined,
  data_quant_freq: null,
  data_origin: props.inspector.data_origin || 2,
  calc_formula: props.inspector.calc_formula || null,
  r_lma_data_source: props.inspector.data_source_id || undefined,
  method_clear_outlier: props.inspector.method_clear_outlier || 1,
  method_bring_ai: props.inspector.method_bring_ai || 1,
  method_sparcity_filling: props.inspector.method_sparcity_filling || 1,
  method_normalization: props.inspector.method_normalization || 1,
  advice_target_model: props.inspector.advice_target_model == 1,
  advice_prediction: props.inspector.advice_prediction == 1,
  advice_target_value: props.inspector.advice_target_value == 1,
  data_capacity: props.inspector.data_capacity || 5,
  indr_subgroup_id: props.inspector.indr_subgroup_id || undefined,
  indr_sectors_id: props.inspector.indr_sectors_id || undefined,
});

const onFinish = async (values) => {
  const checkAllParams = new Promise((resolve, reject) => {
    for (let key in formState.value) {
      if (typeof formState.value[key] == 'boolean') {
        formState.value[key] = + formState.value[key]
      }
    }

    if (groupUpdateable.value) {
      if (group.value) {
        apiFetch(`delete_indicator_group_link`, { value: { i_indr_id: props.inspector.indr_id, i_indr_group_id: group.value[0] } }).then(() => {
          apiFetch(`set_indicator_group`, { value: { i_indr_id: props.inspector.indr_id, i_indr_group_id: formState.value.indr_subgroup_id } })
        })
      } else {
        apiFetch(`set_indicator_group`, { value: { i_indr_id: props.inspector.indr_id, i_indr_group_id: formState.value.indr_subgroup_id } })
      }

    }

    if (spheresUpdateable.value) {
      const deleteAllSpheres = new Promise((resolve, reject) => {
        if (spheres.value) {
          let count = 0
          spheres.value.forEach(element => {
            apiFetch(`delete_indicator_group_link`, { value: { i_indr_id: props.inspector.indr_id, i_indr_group_id: element } }).then(() => {
              count++
              if (count == spheres.value.length) {
                resolve()
              }
            })
          });
        } else {
          resolve()
        }
      })

      deleteAllSpheres.then(() => {
        formState.value.indr_sectors_id.forEach(element => {
          apiFetch(`set_indicator_group`, { value: { i_indr_id: props.inspector.indr_id, i_indr_group_id: element } })
        });
      });
    }
    resolve()
  });

  checkAllParams.then(() => {
    setTimeout(() => {
      loading.value = true;
      apiFetch(`set_indicator_attr`, formState).then((response) => {
        loading.value = false;
        if (!response.error.value) {
          if (response.data?.value?.error?.code) {
            notification.open({
              message: response.data?.value?.error?.message,
              style: {
                borderColor: '#ffd591',
                backgroundColor: '#fff7e6'
              },
            });
          } else {
            notification.open({
              message: localeModule.t('modal.indicator.update-success'),
              style: {
                border: '1px solid #b7eb8f',
                backgroundColor: '#f6ffed',
              },
            });
            setTimeout(() => {              
              $event('indicators:update')
              $event('inspector:update', props.inspector.indr_id)
              modal.state = '';
            }, 500);
          }
        }
      })
    }, 100);
  });
};

watch(formState, (newValue) => {
  saveEnable.value = true;
  let subgroup = props.inspector.indr_subgroup_id ? props.inspector.indr_subgroup_id[0] : null
  if (newValue.data_origin !== 2) {
    formState.value.r_lma_data_source = 0
    formState.value.source_column_name = null
    formState.value.source_column_number = null
  }
  if (newValue.data_origin == 2) {
    formState.value.calc_formula = ''
  }
  if (newValue.indr_subgroup_id != subgroup) {
    groupUpdateable.value = true
  } else {
    groupUpdateable.value = false
  }
  if (newValue.indr_sectors_id?.toString() != props.inspector.indr_sectors_id?.toString()) {
    spheresUpdateable.value = true
  } else {
    spheresUpdateable.value = false
  }
}, { deep: true })
</script>

<style lang="scss">
.add-indicator {
  .ant-divider-horizontal {
    margin: 12px 0;
  }

  .ant-form-item-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
  }

  .ant-input-textarea {
    &::after {
      position: absolute;
      bottom: -24px;
      right: 0;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    width: 100%;
  }



  &__list {
    width: 100%;
    display: flex;
    gap: 16px;

    &.row {
      display: flex;
      padding-bottom: 16px;
    }
  }

  &__checkbox {
    margin-bottom: 0;
  }

  &__footer {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: 1px solid rgba(5, 5, 5, 0.06);
    margin-top: 12px;
    padding-top: 12px;
  }
}
</style>
