<template>
  <div class="table">
    <a-card :title="$t('table.solvers.charts.title')">
      <template #extra>
        <a-button @click="$emit('buildCharts', selectedRowKeys)" :disabled="!selectedRowKeys.length" type="primary"
          :title="$t('table.solvers.charts.show-charts')">
          <span>{{ $t('table.solvers.charts.show-charts') }}</span></a-button>
      </template>

      <a-table :pagination="false" bordered @change="onChange" :scroll="{ y: 'calc(50vh - 235px' }"
        :row-key="(record) => record.solver_task_id" :dataSource="tableData" :columns="tableColumns"
        :row-selection="{ selectedRowKeys: selectedRowKeys, onChange: onSelectChange }">
        <template #headerCell="{ column }">
          <template v-if="!column.icon">
            <span :title="column.title">
              {{ column.title }}
            </span>
          </template>
        </template>
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'status'">
            <a-tag
              :color="`${(record.status === 3) ? 'green' : ([1, 2].includes(record.status)) ? 'orange' : 'red'}`">{{
          record.status_term ? record.status_term : $t('cls.no-data') }}
            </a-tag>
          </template>
        </template>
      </a-table>
    </a-card>
  </div>
</template>

<script setup>
const route = useRoute();
const emit = defineEmits(["buildCharts"]);
const localeModule = useI18n()
const props = defineProps({
  tableData: { type: Array || Object },
})

const routerSolver = ref(route.query.solver_task_id)
const selectedRowKeys = ref(routerSolver.value ? [Number(routerSolver.value)] : [])

const onSelectChange = (keys) => {
  selectedRowKeys.value = keys;
};

const tableColumns = ref([
  {
    title: localeModule.t('table.forecasts.charts.model_name'),
    dataIndex: 'model_name',
    key: 'model_name',
  },
  {
    title: localeModule.t('table.forecasts.charts.name'),
    dataIndex: 'name',
    key: 'name',
  },
  {
    title: localeModule.t('table.forecasts.charts.status'),
    dataIndex: 'status',
    key: 'status',
  },
])
</script>

<style lang="scss">
.table {
  .ant-table-cell {
    padding: 8px;
  }

  .ant-table-tbody>tr>td {
    overflow: hidden;
    white-space: nowrap;

    // text-overflow: ellipsis;
    .long {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      display: block;
    }
  }

  .ant-table-tbody>tr {
    cursor: pointer;
  }

  .ant-table-tbody>tr.ant-table-row:hover>td,
  .ant-table-tbody>tr>td.ant-table-cell-row-hover {
    background: #e6f7ff !important;
  }

  .ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow {
    display: none;
  }

  .ant-table-cell {
    padding: 8px !important;
  }

  .ant-collapse-header {
    padding: 13px 16px !important;
    align-items: center;
  }

  td.column-center {
    text-align: center !important;
  }

  td.column-right {
    text-align: right !important;
  }

  .ant-card-body {
    padding: 8px !important;
  }

  &__wrapper {
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    // height: 100%;
    transition: all 0.5s ease;

    &.full {
      width: calc(100% - 80px);
    }
  }

  &__link {
    &>a {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 240px;
    }
  }

  &__min-tex {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 130px;
  }

  &__filters {
    position: absolute;
    z-index: 105;
    pointer-events: none;
    top: 55px;
    padding: 16px;
    border-radius: 0 0 16px 16px;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.3s ease, transform 0.5s ease;

    &.visible {
      transform: translateY(0);
      opacity: 1;
      z-index: 105;
      pointer-events: all;
    }
  }

  &__table {}

  &__empty {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    height: calc(100vh - 118px);
    width: 100%;
    z-index: 100;
    opacity: 1;
    transition: all 0.5s ease;

    &>span {
      font-size: 20px;
    }

    &.hidden {
      // display: none;
      opacity: 0;
      z-index: -1;
    }
  }

  &__inspector {
    width: 60px;
    height: calc(100vh - 54px);
    // height: 910px;
    background: white;
    transition: all 0.5s ease;

    .ant-table-cell {
      padding: 8px;
    }

    .ant-card-head-wrapper {
      justify-content: center;
    }

    .ant-card-extra {
      padding: 11px 0;
    }

    &.visible {
      width: 33%;
      // height: 100%;
    }

    &.disabled {
      width: 33%;
    }


  }

  &__models-row {
    transition: background-color 0.5s ease;
    cursor: pointer;

    &.active {
      background-color: #e6f7ff !important;
    }
  }

  &__models-table {

    .ant-table-tbody>tr.ant-table-row:hover>td,
    .ant-table-tbody>tr>td.ant-table-cell-row-hover {
      background-color: #e6f7ff !important;
    }
  }
}
</style>