<template>
  <div class="table">
    <a-card :title="$t('table.forecasts.models.title')">
      <template #extra>
        <a-space>
          <FilterModels />
          <a-button @click="updateTable" :title="$t('buttons.refresh')">
            <ReloadOutlined />
          </a-button>
        </a-space>
      </template>
      <a-table :pagination="false" bordered @change="onChange" :scroll="{ x: 1000, y: 'calc(50vh - 235px' }"
        :row-key="(record) => record.key" :customRow="customRow" @resizeColumn="handleResizeColumn"
        :dataSource="tableList" :columns="tableColumns" rowClassName="table-row-js">
        <template #headerCell="{ column }">
          <template v-if="!column.icon">
            <span :title="column.title">
              {{ column.title }}
            </span>
          </template>
        </template>
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'model_status'">
            <a-tag :color="`${(record.model_status === 2) ? 'green' : (record.model_status === 1) ? 'orange' : 'red'}`">
              {{ record.model_status_term ? record.model_status_term : $t('cls.no-data') }}
            </a-tag>
          </template>
          <template v-if="column.key === 'ffit_status'">
            <a-tag
              :color="`${([3, 6].includes(record.ffit_status)) ? 'green' : ([1, 2, 5].includes(record.ffit_status)) ? 'orange' : 'red'}`">
              {{ record.ffit_status_term ? record.ffit_status_term : $t('cls.no-data') }}
            </a-tag>
          </template>
          <template v-if="column.key === 'quant_term'">
            <a-tag :color="`${record.quant_term ? 'blue' : 'red'}`">{{ record.quant_term ? record.quant_term :
            $t('cls.no-data') }}
            </a-tag>
          </template>
          <template v-if="column.key === 'forecast_recalc_freq_term'">
            <a-tag :color="`${record.forecast_recalc_freq_term ? 'blue' : 'red'}`">{{
            record.forecast_recalc_freq_term ? record.forecast_recalc_freq_term : $t('cls.no-data') }}
            </a-tag>
          </template>
          <template v-if="column.key === 'operation'">
            <a-tooltip :title="`${$t('table.forecasts.models.view-model')} ${record.model_name}`">
              <InfoCircleOutlined style="color: #1677ff" @click="openModelModal(record)" />
            </a-tooltip>            
          </template>
          <template v-if="column.longText">
            <span class="long" :title="record[column.key]">{{ record[column.key] }}</span>
          </template>
        </template>
      </a-table>
      <Pagination tableName="models" :paginationData="tableMeta" />
    </a-card>
    <a-modal width="600px" v-model:open="modelModalOpened" :title="`${$t('table.forecasts.models.model')} ${modelValue?.model_name}`"
      :footer="null" destroyOnClose @cancel="modal.state = ''">
      <modal-table-model :inspectorData="modelValue" />
    </a-modal>
  </div>
</template>

<script setup>
import { useModal } from '@/stores/modal'
const { $event } = useNuxtApp()
const emit = defineEmits(["update:modelValue"]);
const modal = useModal()
const localeModule = useI18n()

const props = defineProps({
  tableData: { type: Array || Object },
  tableMeta: { type: Object },
})

const modelValue = ref(null)

const tableList = computed(() => {
  return Array.isArray(props.tableData) ? props.tableData : []
})

const modelModalOpened = computed(() => {
  return modal.state === `watchModalModel`
})

const tableColumns = ref([
  {
    title: localeModule.t('table.forecasts.models.model_id'),
    dataIndex: 'model_id',
    key: 'model_id',
    resizable: true,
    width: 100,
  },
  {
    title: localeModule.t('table.forecasts.models.model_name'),
    dataIndex: 'model_name',
    key: 'model_name',
    sorter: (a, b) => a.model_name - b.model_name,
    resizable: true,
    longText: true,
    width: 350,
  },
  {
    title: localeModule.t('table.forecasts.models.model_status'),
    dataIndex: 'model_status',
    key: 'model_status',
    sorter: (a, b) => a.model_status - b.model_status,
    width: 170,
    resizable: true,
  },
  {
    title: localeModule.t('table.forecasts.models.ffit_status'),
    dataIndex: 'ffit_status',
    key: 'ffit_status',
    sorter: (a, b) => a.ffit_status - b.ffit_status,
    width: 160,
    resizable: true,
  },
  {
    title: localeModule.t('table.forecasts.models.model_research_subject_term'),
    dataIndex: 'model_research_subject_term',
    key: 'model_research_subject_term',
    width: 160,
    resizable: true,
  },
  {
    title: localeModule.t('table.forecasts.models.inverse_problem_method_term'),
    dataIndex: 'inverse_problem_method_term',
    key: 'inverse_problem_method_term',
    width: 160,
    longText: true,
    resizable: true,
  },
  {
    title: localeModule.t('table.forecasts.models.ffit_user_display_name'),
    dataIndex: 'ffit_user_display_name',
    key: 'ffit_user_display_name',
    width: 150,
    resizable: true,
  },
  {
    title: '',
    dataIndex: 'operation',
    key: 'operation',
    width: 32,
    className: 'column-info',
    fixed: 'right',
  },
])

const handleResizeColumn = (w, col) => {
  col.width = w;
}

const customRow = (record, index) => {
  return {
    onClick: async () => {
      const rows = document.getElementsByClassName('table-row-js')
      for (let index = 0; index < rows.length; index++) {
        const element = rows[index];
        element.classList.remove('selected')
      }
      rows[index].classList.add('selected')
      emit("update:modelValue", record);
      setTimeout(() => {
        $event('solver:update')
      }, 100);
    },
  };
}

const updateTable = () => {
  $event('forecastsModels:update')
}

const openModelModal = (value) => {
  modelValue.value = value
  modal.state = `watchModalModel`
}

const onChange = (pagination, filters, sorter) => {
  let sortString = ''
  if (sorter.order == "descend") {
    sortString = `${sorter.field} desc`
  }
  if (sorter.order == "ascend") {
    sortString = `${sorter.field} asc`
  }
  $event('models:sort', sortString)
};
</script>