<template>
  <div class="filters">
    <div id="horizontal-scroller-domains" class="filters__tags"><a-tag class="filters__tag" closable color="blue"
        v-for="(filter, index) in activeFiltersTerms" @close="removeFilter(filter)" :key="index">{{ filter }}</a-tag>
    </div>
    <a-button :title="$t('filter.domains.add')" type="primary" @click="modal.state = 'domainAdd'">
      <PlusSquareOutlined />
    </a-button>
    <a-badge :count="activeFiltersCount.length" :number-style="{
      backgroundColor: '#fff',
      color: '#181e04',
      boxShadow: '0 0 0 1px #d9d9d9 inset',
    }">
      <a-button @click='filterCollapsed = !filterCollapsed'
        :title="`${filterCollapsed ? $t('buttons.hide') : $t('buttons.show')}`"
        :type="`${activeFiltersCount.length ? 'primary' : 'default'}`">
        <arrow-down-outlined v-if="!filterCollapsed" />
        <arrow-up-outlined v-if="filterCollapsed" />
        <span>{{ $t('buttons.filter') }}</span>
      </a-button>
    </a-badge>
    <div class="filters__container" :class="{ visible: filterCollapsed }">
      <div class="filters__body">
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.domains.domain_id') }}</span>
          <div class="filters__content">
            <InputNumber v-model="formState.domain_id" :placeholder="$t('filter.domains.domain_id')" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.domains.sys_name') }}</span>
          <div class="filters__content">
            <a-input v-model:value="formState.sys_name" :placeholder="$t('filter.domains.sys_name')" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.domains.name') }}</span>
          <div class="filters__content">
            <a-input v-model:value="formState.name" :placeholder="$t('filter.domains.name')" />
          </div>
        </div>
      </div>
      <div class="filters__footer">
        <a-button @click="clear">{{ $t('buttons.clear') }}</a-button>
        <a-button @click="accept" type="primary">{{ $t('buttons.accept') }}</a-button>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useModal } from '@/stores/modal'
const { $event } = useNuxtApp()

const modal = useModal()
const localeModule = useI18n()

const filterCollapsed = ref(false)
const formState = ref({
  domain_id: null,
  sys_name: null,
  name: null,
})

const activeFiltersCount = computed(() => {
  return Object.entries(formState.value).filter(i => i[1] != null && i[1] != '')
})

const activeFilters = computed(() => {
  let newObj = {};
  for (let key in formState.value) {
    if (formState.value[key] !== null && formState.value[key] != '') {
      newObj[key] = formState.value[key];
    }
  }
  return newObj
})

const activeFiltersTerms = computed(() => {
  let newObj = {};
  for (let key in formState.value) {
    if (formState.value[key] !== null && formState.value[key] != '') {
      newObj[key] = localeModule.t(`filter.domains.${key}`);
    }
  }
  return newObj
})

const removeFilter = (filter) => {
  let foundKey = Object.keys(activeFiltersTerms.value).find(key => activeFiltersTerms.value[key] === filter);
  formState.value[foundKey] = null
  accept()
}

const clear = () => {
  for (let key in formState.value) {
    formState.value[key] = null
  }
  $event('filter:update', activeFilters)
  filterCollapsed.value = false
}
const accept = () => {
  $event('filter:update', activeFilters)
  filterCollapsed.value = false
}

onMounted(() => {
  document.getElementById("horizontal-scroller-domains")
    .addEventListener('wheel', function (event) {
      let modifier = null
      if (event.deltaMode == event.DOM_DELTA_PIXEL) {
        modifier = 1;
      } else if (event.deltaMode == event.DOM_DELTA_LINE) {
        modifier = parseInt(getComputedStyle(this).lineHeight);
      } else if (event.deltaMode == event.DOM_DELTA_PAGE) {
        modifier = this.clientHeight;
      }
      if (event.deltaY != 0) {
        this.scrollLeft += modifier * event.deltaY;
        event.preventDefault();
      }
    });

  document.addEventListener('keyup', event => {
    if (filterCollapsed.value) {
      if (event.code === 'Enter') {
        accept()
      };
    }
  });
})
</script>

<style lang="scss" scoped>
.filters {
  display: flex;
  align-items: center;
  gap: 8px;

  &__tags {
    display: flex;
    gap: 8px;
    align-items: center;
    overflow-x: scroll;
    border-radius: 4px;
    max-width: 900px;

    @media (max-width: 1920px) {
      max-width: 530px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__tag {
    user-select: none;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 8px;
  }

  &__container {
    position: absolute;
    z-index: 105;
    pointer-events: none;
    top: 55px;
    padding: 16px;
    border-radius: 0 0 16px 16px;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.3s ease, transform 0.5s ease;

    &.visible {
      transform: translateY(0);
      opacity: 1;
      z-index: 105;
      pointer-events: all;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 240px;
  }

  &__footer {
    padding-top: 16px;
    gap: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
</style>