<template>
  <div class="filters">
    <div id="horizontal-scroller" class="filters__tags"><a-tag class="filters__tag" closable color="blue"
        v-for="(filter, index) in activeFiltersTerms" @close="removeFilter(filter)" :key="index">{{ filter }}</a-tag>
    </div>
    <a-button :title="$t('filter.indicators.add')" type="primary" @click="modal.state = 'indicatorAdd'">
      <PlusSquareOutlined />
    </a-button>
    <a-button @click="toggleTemplate"
      :title="`${formState.is_template ? $t('buttons.show-templates') : $t('buttons.hide-templates')}`"
      :type="`${formState.is_template ? 'default' : 'primary'}`">
      <SnippetsOutlined />
    </a-button>
    <a-badge :count="activeFiltersCount.length" :number-style="{
      backgroundColor: '#fff',
      color: '#181e04',
      boxShadow: '0 0 0 1px #d9d9d9 inset',
    }">
      <a-button @click='filterCollapsed = !filterCollapsed'
        :title="`${filterCollapsed ? $t('buttons.hide') : $t('buttons.show')}`"
        :type="`${activeFiltersCount.length ? 'primary' : 'default'}`">
        <arrow-down-outlined v-if="!filterCollapsed" />
        <arrow-up-outlined v-if="filterCollapsed" />
        <span>{{ $t('buttons.filter') }}</span>
      </a-button>
    </a-badge>
    <div class="filters__container" :class="{ visible: filterCollapsed }">
      <div class="filters__body">
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.indicators.indr_id') }}</span>
          <div class="filters__content">
            <InputNumber v-model="formState.indr_id" :placeholder="$t('filter.indicators.indr_id')" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.indicators.create_dt') }}</span>
          <div class="filters__content">
            <DateRange v-model:value="date" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.indicators.name') }}</span>
          <div class="filters__content">
            <a-input v-model:value="formState.name" :placeholder="$t('filter.indicators.name')" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.indicators.short_desc') }}</span>
          <div class="filters__content">
            <a-input v-model:value="formState.short_desc" :placeholder="$t('filter.indicators.short_desc')" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.indicators.full_desc') }}</span>
          <div class="filters__content">
            <a-input v-model:value="formState.full_desc" :placeholder="$t('filter.indicators.full_desc')" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.indicators.indr_subgroup_id') }}</span>
          <div class="filters__content">
            <SelectorGroup v-model="formState.indr_subgroup_id" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.indicators.indr_sectors_id') }}</span>
          <div class="filters__content">
            <SelectorSpheres v-model="formState.indr_sectors_id" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.indicators.data_source_name') }}</span>
          <div class="filters__content">
            <SelectorDataSource v-model="formState.data_source_id" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.indicators.data_origin') }}</span>
          <div class="filters__content">
            <a-radio-group button-style="solid" v-model:value="formState.data_origin" name="radioGroup">
              <a-radio-button v-for="item in dictionaries.find(element => element.cls === 63).terms" :key="item.num"
                :value="item.num">{{ item.term }}</a-radio-button>
            </a-radio-group>
          </div>
        </div>

        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.indicators.domain_id') }}</span>
          <div class="filters__content">
            <a-radio-group button-style="solid" v-model:value="formState.domain_id" name="radioGroup">
              <a-radio-button value="0">{{ $t('filter.indicators.domain-common') }}</a-radio-button>
              <a-radio-button :value="activeDomain.id">{{ $t('filter.indicators.domain-this') }}</a-radio-button>
              <a-radio-button :value="null">{{ $t('filter.indicators.domain-all') }}</a-radio-button>
            </a-radio-group>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.indicators.source_column_name') }}</span>
          <div class="filters__content">
            <a-input :placeholder="$t('filter.indicators.source_column_name')"
              v-model:value="formState.source_column_name" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.indicators.measure_unit') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.indicators.measure_unit')" ref="select"
              v-model:value="formState.measure_unit" style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 30).terms" :key="item.num"
                :value="item.num">{{ item.term }}</a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.indicators.unit_scale') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.indicators.unit_scale')" ref="select"
              v-model:value="formState.unit_scale" style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 31).terms" :key="item.num"
                :value="item.num">{{ item.term }}</a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.indicators.data_type') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.indicators.data_type')" ref="select" v-model:value="formState.data_type"
              style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 23).terms" :key="item.num"
                :value="item.num">{{ item.term }}</a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.indicators.data_geo_level') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.indicators.data_geo_level')" ref="select"
              v-model:value="formState.data_geo_level" style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 21).terms" :key="item.num"
                :value="item.num">{{ item.term }}</a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.indicators.indr_status') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.indicators.indr_status')" ref="select"
              v-model:value="formState.indr_status" style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 65).terms" :key="item.num"
                :value="item.num">{{ item.term }}</a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.indicators.is_template') }}</span>
          <div class="filters__content">
            <a-radio-group button-style="solid" v-model:value="formState.is_template" name="radioGroup">
              <a-radio-button :value="null">{{ $t('buttons.no') }}</a-radio-button>
              <a-radio-button value="0">{{ $t('buttons.yes') }}</a-radio-button>
            </a-radio-group>
          </div>
        </div>
      </div>
      <div class="filters__item">
        <span class="filters__title">{{ $t('filter.indicators.recomendation') }}</span>
        <div class="filters__content">
          <a-checkbox v-model:checked="formState.advice_target_model">{{ $t('filter.indicators.advice_target_model')
          }}</a-checkbox>
          <a-checkbox v-model:checked="formState.advice_prediction">{{ $t('filter.indicators.advice_prediction')
          }}</a-checkbox>
          <a-checkbox v-model:checked="formState.advice_target_value">{{ $t('filter.indicators.advice_target_value')
          }}</a-checkbox>
        </div>
      </div>
      <div class="filters__footer">
        <a-button @click="clear">{{ $t('buttons.clear') }}</a-button>
        <a-button @click="accept" type="primary">{{ $t('buttons.accept') }}</a-button>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useDictionariesStore } from '@/stores/dictionaries'
import { useModal } from '@/stores/modal'
const dictionariesStore = useDictionariesStore()
const modal = useModal()
const { $event } = useNuxtApp()
const activeDomain = useCookie("domain");
const route = useRoute();
const localeModule = useI18n()

const routerIndicator = ref(route.query.indr_id)
const routerSource = ref(route.query.data_source_id)
const filterCollapsed = ref(false)


const dictionaries = computed(() => {  
  return dictionariesStore.dictionaries?.data?.clss
})


const date = ref([])

const formState = ref({
  indr_id: routerIndicator.value ? routerIndicator.value : null,
  create_dt: null,
  name: null,
  short_desc: null,
  full_desc: null,
  indr_subgroup_id: null,
  indr_sectors_id: null,
  data_origin: null,
  data_source_id: routerSource.value ? routerSource.value : null,
  domain_id: null,
  source_column_name: null,
  measure_unit: null,
  unit_scale: null,
  data_type: null,
  data_geo_level: null,
  indr_status: null,
  advice_target_model: null,
  advice_prediction: null,
  advice_target_value: null,
  is_template: routerSource.value ? undefined : '0',
})

const activeFiltersCount = computed(() => {
  return Object.entries(formState.value).filter(i => i[1] != null && i[1] != '')
})

const activeFilters = computed(() => {
  let newObj = {};
  for (let key in formState.value) {
    if (formState.value[key] !== null && formState.value[key] != '') {
      if (typeof formState.value[key] == 'boolean') {
        newObj[key] = Number(formState.value[key]);
      } else {
        newObj[key] = formState.value[key];
      }
    }
  }
  return newObj
})

const activeFiltersTerms = computed(() => {
  let newObj = {};
  for (let key in formState.value) {
    if (formState.value[key] !== null && formState.value[key] != '') {
      newObj[key] = localeModule.t(`filter.indicators.${key}`);
    }
  }
  return newObj
})

const clear = () => {
  date.value = []
  for (let key in formState.value) {
    if (key == 'is_template') {
      formState.value[key] = '0'
    } else {
      formState.value[key] = null
    }
  }
  $event('filter:update', activeFilters)
  filterCollapsed.value = false
}

const removeFilter = (filter) => {
  let foundKey = Object.keys(activeFiltersTerms.value).find(key => activeFiltersTerms.value[key] === filter);
  if (formState.value[foundKey].from) {
    date.value = []
  }
  formState.value[foundKey] = null
  accept()
}

const toggleTemplate = () => {
  if (formState.value.is_template == '0') {
    formState.value.is_template = null
  } else {
    formState.value.is_template = '0'
  }
  accept()
}

const accept = () => {
  if (activeFilters.value.indr_subgroup_id) {
    if (activeFilters.value.indr_subgroup_id.in) {
      delete activeFilters.value.indr_subgroup_id
    }
    activeFilters.value.indr_subgroup_id = {
      "in": [formState.value.indr_subgroup_id]
    }
  }
  if (activeFilters.value.indr_sectors_id) {
    if (activeFilters.value.indr_sectors_id.in) {
      delete activeFilters.value.indr_sectors_id
    }
    activeFilters.value.indr_sectors_id = {
      "in": activeFilters.value.indr_sectors_id
    }
  }

  if (date.value?.length) {
    formState.value.create_dt = { from: date.value[0], to: date.value[1] }
    // activeFilters.value.create_dt = { from: date.value[0], to: date.value[1] }
  }

  $event('filter:update', activeFilters)
  filterCollapsed.value = false
}

onMounted(() => {
  document.getElementById("horizontal-scroller")
    .addEventListener('wheel', function (event) {
      let modifier = null
      if (event.deltaMode == event.DOM_DELTA_PIXEL) {
        modifier = 1;
      } else if (event.deltaMode == event.DOM_DELTA_LINE) {
        modifier = parseInt(getComputedStyle(this).lineHeight);
      } else if (event.deltaMode == event.DOM_DELTA_PAGE) {
        modifier = this.clientHeight;
      }
      if (event.deltaY != 0) {
        this.scrollLeft += modifier * event.deltaY;
        event.preventDefault();
      }
    });

  document.addEventListener('keyup', event => {
    if (filterCollapsed.value) {
      if (event.code === 'Enter') {
        accept()
      };
    }
  });
})
</script>

<style lang="scss" scoped>
.filters {
  display: flex;
  align-items: center;
  gap: 8px;

  &__tags {
    display: flex;
    gap: 8px;
    align-items: center;
    overflow-x: scroll;
    border-radius: 4px;
    max-width: 1000px;

    @media (max-width: 1920px) {
      max-width: 600px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__tag {
    user-select: none;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 8px;
    padding-bottom: 8px;

    @media (max-width: 1600px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media (max-width: 1400px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__container {
    position: absolute;
    z-index: 105;
    pointer-events: none;
    top: 55px;
    padding: 16px;
    border-radius: 0 0 16px 16px;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.3s ease, transform 0.5s ease;

    &.visible {
      transform: translateY(0);
      opacity: 1;
      z-index: 105;
      pointer-events: all;
    }
  }

  &__footer {
    padding-top: 16px;
    gap: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
</style>