<template>
  <div class="filters">
    <div id="horizontal-scroller" class="filters__tags"><a-tag class="filters__tag" closable color="blue"
        v-for="(filter, index) in activeFiltersTerms" @close="removeFilter(filter)" :key="index">{{ filter }}</a-tag>
    </div>
    <a-badge :count="activeFiltersCount.length" :number-style="{
      backgroundColor: '#fff',
      color: '#181e04',
      boxShadow: '0 0 0 1px #d9d9d9 inset',
    }">
      <a-button @click='filterCollapsed = !filterCollapsed'
        :title="`${filterCollapsed ? $t('buttons.hide') : $t('buttons.show')}`"
        :type="`${activeFiltersCount.length ? 'primary' : 'default'}`">
        <arrow-down-outlined v-if="!filterCollapsed" />
        <arrow-up-outlined v-if="filterCollapsed" />
        <span>{{ $t('buttons.filter') }}</span>
      </a-button>
    </a-badge>
    <div class="filters__container" :class="{ visible: filterCollapsed }">
      <div class="filters__body">
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.jobs.job_id') }}</span>
          <div class="filters__content">
            <InputNumber v-model="formState.job_id" :placeholder="$t('filter.jobs.job_id')" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.jobs.job_params_id') }}</span>
          <div class="filters__content">
            <InputNumber v-model="formState.job_params_id" :placeholder="$t('filter.jobs.job_params_id')" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.jobs.create_dt') }}</span>
          <div class="filters__content">
            <DateRange v-model:value="create_dt" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.jobs.current_status_dt') }}</span>
          <div class="filters__content">
            <DateRange v-model:value="current_status_dt" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.jobs.status') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.jobs.status')" ref="select" v-model:value="formState.status"
              style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 98).terms" :key="item.num"
                :value="item.num">{{ item.term }}</a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.jobs.priority') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.jobs.priority')" ref="select" v-model:value="formState.priority"
              style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 99).terms" :key="item.num"
                :value="item.num">{{ item.term }}</a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.jobs.job_type') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.jobs.job_type')" ref="select" v-model:value="formState.job_type"
              style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 97).terms" :key="item.num"
                :value="item.num">{{ item.term }}</a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item" v-if="isGlobalAdmin">
          <span class="filters__title">{{ $t('filter.jobs.domain_sys_name') }}</span>
          <div class="filters__content">
            <a-input v-model:value="formState.domain_sys_name" :placeholder="$t('filter.jobs.domain_sys_name')" />
          </div>
        </div>
      </div>
      <div class="filters__footer">
        <a-button @click="clear">{{ $t('buttons.clear') }}</a-button>
        <a-button @click="accept" type="primary">{{ $t('buttons.accept') }}</a-button>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useDictionariesStore } from '@/stores/dictionaries'
import { useSessionStore } from '@/stores/session-store'
const dictionariesStore = useDictionariesStore()
const sessionStore = useSessionStore()
const { $event } = useNuxtApp()
const route = useRoute();
const localeModule = useI18n()
const activeDomain = useCookie("domain");

const routerJob = ref(route.query.job_id)
const routerJobParams = ref(route.query.job_params_id)
const filterCollapsed = ref(false)

const dictionaries = computed(() => {
  return dictionariesStore?.dictionaries?.data?.clss
})
const isGlobalAdmin = computed(() => {
  return sessionStore.user?.data?.data?.is_admin === 1 ? true : false;
})

const create_dt = ref([])

const current_status_dt = ref([])

const formState = ref({
  job_id: routerJob.value ? routerJob.value : null,
  job_params_id: routerJobParams.value ? routerJobParams.value : null,
  status: null,
  priority: null,
  job_type: null,
  create_dt: null,
  current_status_dt: null,
})

if (isGlobalAdmin.value) {
  formState.value.domain_sys_name = activeDomain.value.sys_name
}

const activeFiltersCount = computed(() => {
  return Object.entries(formState.value).filter(i => i[1] != null && i[1] != '')
})

const activeFilters = computed(() => {
  let newObj = {};
  for (let key in formState.value) {
    if (formState.value[key] !== null && formState.value[key] != '') {
      newObj[key] = formState.value[key];
    }
  }
  return newObj
})

const activeFiltersTerms = computed(() => {
  let newObj = {};
  for (let key in formState.value) {
    if (formState.value[key] !== null && formState.value[key] != '') {
      newObj[key] = localeModule.t(`filter.jobs.${key}`);
    }
  }
  return newObj
})

const clear = () => {
  for (let key in formState.value) {
    formState.value[key] = null
  }
  $event('filter:update', activeFilters)
  filterCollapsed.value = false
}

const removeFilter = (filter) => {
  let foundKey = Object.keys(activeFiltersTerms.value).find(key => activeFiltersTerms.value[key] === filter);

  if (foundKey == 'create_dt') {
    create_dt.value = []
  }
  if (foundKey == 'current_status_dt') {
    current_status_dt.value = []
  }

  formState.value[foundKey] = null
  accept()
}

const accept = () => {
  if (create_dt.value?.length) {
    formState.value.create_dt = { from: create_dt.value[0], to: create_dt.value[1] }
    // activeFilters.value.create_dt = { from: create_dt.value[0], to: create_dt.value[1] }
  }
  if (current_status_dt.value?.length) {
    formState.value.current_status_dt = { from: current_status_dt.value[0], to: current_status_dt.value[1] }
    // activeFilters.value.current_status_dt = { from: current_status_dt.value[0], to: current_status_dt.value[1] }
  }

  $event('filter:update', activeFilters)
  filterCollapsed.value = false
}

onMounted(() => {
  document.getElementById("horizontal-scroller")
    .addEventListener('wheel', function (event) {
      let modifier = null
      if (event.deltaMode == event.DOM_DELTA_PIXEL) {
        modifier = 1;
      } else if (event.deltaMode == event.DOM_DELTA_LINE) {
        modifier = parseInt(getComputedStyle(this).lineHeight);
      } else if (event.deltaMode == event.DOM_DELTA_PAGE) {
        modifier = this.clientHeight;
      }
      if (event.deltaY != 0) {
        this.scrollLeft += modifier * event.deltaY;
        event.preventDefault();
      }
    });

  document.addEventListener('keyup', event => {
    if (filterCollapsed.value) {
      if (event.code === 'Enter') {
        accept()
      };
    }
  });
})
</script>

<style lang="scss" scoped>
.filters {
  display: flex;
  align-items: center;
  gap: 8px;

  &__tags {
    display: flex;
    gap: 8px;
    align-items: center;
    overflow-x: scroll;
    border-radius: 4px;
    max-width: 900px;

    @media (max-width: 1920px) {
      max-width: 640px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__tag {
    user-select: none;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 8px;

    @media (max-width: 1600px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &__container {
    position: absolute;
    z-index: 105;
    pointer-events: none;
    top: 55px;
    padding: 16px;
    border-radius: 0 0 16px 16px;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.3s ease, transform 0.5s ease;

    &.visible {
      transform: translateY(0);
      opacity: 1;
      z-index: 105;
      pointer-events: all;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 240px;
  }

  &__footer {
    padding-top: 16px;
    gap: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
</style>