<template>
  <div class="filters">
    <div id="horizontal-scroller" class="filters__tags"><a-tag class="filters__tag" closable color="blue"
        v-for="(filter, index) in activeFiltersTerms" @close="removeFilter(filter)" :key="index">{{ filter }}</a-tag>
    </div>
    <a-button v-if="inModels" :title="$t('filter.models.add')" type="primary" @click="modal.state = 'modelAdd'">
      <PlusSquareOutlined />
    </a-button>
    <a-button @click="toggleTemplate"
      :title="`${formState.is_template ? $t('buttons.show-templates') : $t('buttons.hide-templates')}`"
      :type="`${formState.is_template ? 'default' : 'primary'}`">
      <SnippetsOutlined />
    </a-button>
    <a-badge :count="activeFiltersCount.length" :number-style="{
      backgroundColor: '#fff',
      color: '#181e04',
      boxShadow: '0 0 0 1px #d9d9d9 inset',
    }">
      <a-button @click='filterCollapsed = !filterCollapsed'
        :title="`${filterCollapsed ? $t('buttons.hide') : $t('buttons.show')}`"
        :type="`${activeFiltersCount.length ? 'primary' : 'default'}`">
        <arrow-down-outlined v-if="!filterCollapsed" />
        <arrow-up-outlined v-if="filterCollapsed" />
        <span>{{ $t('buttons.filter') }}</span>
      </a-button>
    </a-badge>
    <div class="filters__container" :class="{ visible: filterCollapsed }">
      <div class="filters__body">
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.models.model_id') }}</span>
          <div class="filters__content">
            <InputNumber v-model="formState.model_id" :placeholder="$t('filter.models.model_id')" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.models.model_name') }}</span>
          <div class="filters__content">
            <a-input v-model:value="formState.model_name" :placeholder="$t('filter.models.model_name')" />
          </div>
        </div>

        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.models.model_status') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.models.model_status')" ref="select"
              v-model:value="formState.model_status" style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 55).terms" :key="item.num"
                :value="item.num">{{ item.term }}</a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.models.ffit_status') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.models.ffit_status')" ref="select" v-model:value="formState.ffit_status"
              style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 83).terms" :key="item.num"
                :value="item.num">{{ item.term }}</a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.models.quant') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.models.quant')" ref="select" v-model:value="formState.quant"
              style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 42).terms" :key="item.num"
                :value="item.num">{{ item.term }}</a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.models.short_desc') }}</span>
          <div class="filters__content">
            <a-input v-model:value="formState.short_desc" :placeholder="$t('filter.models.short_desc')" />
          </div>
        </div>
        <!-- <div class="filters__item">
          <span class="filters__title">{{ $t('filter.models.model_group_id') }}</span>
          <div class="filters__content">
            <SelectorModelGroup v-model="formState.model_group_id" />           
          </div>
        </div> -->
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.models.model_research_subject') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.models.model_research_subject')" ref="select"
              v-model:value="formState.model_research_subject" style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 52).terms" :key="item.num"
                :value="item.num">{{ item.term }}</a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.models.forecast_recalc_freq') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.models.forecast_recalc_freq')" ref="select"
              v-model:value="formState.forecast_recalc_freq" style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 53).terms" :key="item.num"
                :value="item.num">{{ item.term }}</a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.models.inverse_problem_method') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.models.inverse_problem_method')" ref="select"
              v-model:value="formState.inverse_problem_method" style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 54).terms" :key="item.num"
                :value="item.num">{{ item.term }}</a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.models.domain_id') }}</span>
          <div class="filters__content">
            <a-radio-group button-style="solid" v-model:value="formState.domain_id" name="radioGroup">
              <a-radio-button value="0">{{ $t('filter.models.domain-common') }}</a-radio-button>
              <a-radio-button :value="activeDomain.id">{{ $t('filter.models.domain-this') }}</a-radio-button>
              <a-radio-button :value="null">{{ $t('filter.models.domain-all') }}</a-radio-button>
            </a-radio-group>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.models.is_template') }}</span>
          <div class="filters__content">
            <a-radio-group button-style="solid" v-model:value="formState.is_template" name="radioGroup">
              <a-radio-button :value="null">{{ $t('buttons.no') }}</a-radio-button>
              <a-radio-button value="0">{{ $t('buttons.yes') }}</a-radio-button>
            </a-radio-group>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.models.watch-groups') }}</span>
          <div class="filters__content">
            <a-radio-group :disabled="!groupId" button-style="solid" @change="watchGroups" v-model:value="groupEnabled"
              name="radioGroup">
              <a-radio-button :value="true">{{ $t('buttons.yes') }}</a-radio-button>
              <a-radio-button :value="false">{{ $t('buttons.no') }}</a-radio-button>
            </a-radio-group>
          </div>
        </div>
      </div>
      <div class="filters__footer">
        <a-button @click="clear">{{ $t('buttons.clear') }}</a-button>
        <a-button @click="accept" type="primary">{{ $t('buttons.accept') }}</a-button>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useDictionariesStore } from '@/stores/dictionaries'
import { useModal } from '@/stores/modal'
const dictionariesStore = useDictionariesStore()
const modal = useModal()
const { $event } = useNuxtApp()
const route = useRoute();
const localeModule = useI18n()
const activeDomain = useCookie("domain");

const filterCollapsed = ref(false)

const props = defineProps({
  status: { type: String },
})

const routerModel = ref(route.query.model_id)
const groupEnabled = ref(true)

const dictionaries = computed(() => {
  return dictionariesStore?.dictionaries?.data?.clss
})
const inModels = computed(() => {
  return route.fullPath.includes('models')
})

const modaltEducatedTerm = computed(() => {
  let arr = dictionariesStore?.dictionaries?.data?.clss.find(element => element.cls === 55).terms
  return arr.find(element => element.num == 2)
})

const groupId = computed(() => {
  let name = localStorage.getItem("selectedGroup")
  return name ? name.split('_/')[1] : null
})

const formState = ref({
  model_id: routerModel.value ? routerModel.value : null,
  model_name: null,
  domain_id: null,
  model_status: route.path.includes('models') ? null : modaltEducatedTerm.value.num,
  ffit_status: null,
  quant: null,
  short_desc: null,
  model_group_id: groupId.value,
  model_research_subject: null,
  forecast_recalc_freq: null,
  inverse_problem_method: null,
  is_template: '0',
})

const activeFiltersCount = computed(() => {
  return Object.entries(formState.value).filter(i => i[1] != null && i[1] != '')
})

const activeFilters = computed(() => {
  let newObj = {};
  for (let key in formState.value) {
    if (formState.value[key] !== null && formState.value[key] != '') {
      newObj[key] = formState.value[key];
    }
  }
  return newObj
})

const activeFiltersTerms = computed(() => {
  let newObj = {};
  for (let key in formState.value) {
    if (formState.value[key] !== null && formState.value[key] != '') {
      newObj[key] = localeModule.t(`filter.models.${key}`);
    }
  }
  return newObj
})

const clear = () => {
  for (let key in formState.value) {
    if (key == 'is_template') {
      formState.value[key] = '0'
    } else {
      formState.value[key] = null
    }
  }
  $event('filter:update', activeFilters)
  filterCollapsed.value = false
}

const removeFilter = (filter) => {
  let foundKey = Object.keys(activeFiltersTerms.value).find(key => activeFiltersTerms.value[key] === filter);
  formState.value[foundKey] = null
  accept()
}

const toggleTemplate = () => {
  if (formState.value.is_template == '0') {
    formState.value.is_template = null
  } else {
    formState.value.is_template = '0'
  }
  accept()
}

const accept = () => {
  $event('filter:update', activeFilters)
  filterCollapsed.value = false
}

const watchGroups = () => {
  if (groupEnabled.value) {
    formState.value.model_group_id = groupId.value
  } else {
    formState.value.model_group_id = null
  }
}


onMounted(() => {
  document.getElementById("horizontal-scroller")
    .addEventListener('wheel', function (event) {
      let modifier = null
      if (event.deltaMode == event.DOM_DELTA_PIXEL) {
        modifier = 1;
      } else if (event.deltaMode == event.DOM_DELTA_LINE) {
        modifier = parseInt(getComputedStyle(this).lineHeight);
      } else if (event.deltaMode == event.DOM_DELTA_PAGE) {
        modifier = this.clientHeight;
      }
      if (event.deltaY != 0) {
        this.scrollLeft += modifier * event.deltaY;
        event.preventDefault();
      }
    });

  document.addEventListener('keyup', event => {
    if (filterCollapsed.value) {
      if (event.code === 'Enter') {
        accept()
      };
    }
  });
})
</script>

<style lang="scss" scoped>
.filters {
  display: flex;
  align-items: center;
  gap: 8px;

  &__tags {
    display: flex;
    gap: 8px;
    align-items: center;
    overflow-x: scroll;
    border-radius: 4px;
    max-width: 900px;

    @media (max-width: 1920px) {
      max-width: 530px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__tag {
    user-select: none;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 8px;

    @media (max-width: 1600px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__container {
    position: absolute;
    z-index: 105;
    pointer-events: none;
    top: 55px;
    padding: 16px;
    border-radius: 0 0 16px 16px;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.3s ease, transform 0.5s ease;

    &.visible {
      transform: translateY(0);
      opacity: 1;
      z-index: 105;
      pointer-events: all;
    }
  }

  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 240px;
  }

  &__footer {
    padding-top: 16px;
    gap: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
</style>