<template>
  <div class="filters">
    <div id="horizontal-scroller" class="filters__tags"><a-tag class="filters__tag" closable color="blue"
        v-for="(filter, index) in activeFiltersTerms" @close="removeFilter(filter)" :key="index">{{ filter }}</a-tag>
    </div>
    <a-button :title="$t('filter.sources.add')" type="primary" @click="modal.state = 'sourceAdd'">
      <PlusSquareOutlined />
    </a-button>
    <a-button @click="toggleTemplate"
      :title="`${formState.is_template ? $t('buttons.show-templates') : $t('buttons.hide-templates')}`"
      :type="`${formState.is_template ? 'default' : 'primary'}`">
      <SnippetsOutlined />
    </a-button>
    <a-badge :count="activeFiltersCount.length" :number-style="{
      backgroundColor: '#fff',
      color: '#181e04',
      boxShadow: '0 0 0 1px #d9d9d9 inset',
    }">
      <a-button @click='filterCollapsed = !filterCollapsed'
        :title="`${filterCollapsed ? $t('buttons.hide') : $t('buttons.show')}`"
        :type="`${activeFiltersCount.length ? 'primary' : 'default'}`">
        <arrow-down-outlined v-if="!filterCollapsed" />
        <arrow-up-outlined v-if="filterCollapsed" />
        <span>{{ $t('buttons.filter') }}</span>
      </a-button>
    </a-badge>
    <div class="filters__container" :class="{ visible: filterCollapsed }">
      <div class="filters__body">
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.sources.data_source_id') }}</span>
          <div class="filters__content">
            <InputNumber v-model="formState.data_source_id" :placeholder="$t('filter.sources.data_source_id')" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.sources.data_source_name') }}</span>
          <div class="filters__content">
            <a-input v-model:value="formState.data_source_name" :placeholder="$t('filter.sources.data_source_name')" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.sources.sys_name') }}</span>
          <div class="filters__content">
            <a-input v-model:value="formState.sys_name" :placeholder="$t('filter.sources.sys_name')" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.sources.load_type') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.sources.load_type')" ref="select" v-model:value="formState.load_type"
              style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 58).terms" :key="item.num"
                :value="item.num">{{ item.term }}</a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.sources.load_freq') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.sources.load_freq')" ref="select" v-model:value="formState.load_freq"
              style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 53).terms" :key="item.num"
                :value="item.num">{{ item.term }}</a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.sources.load_adapter') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.sources.load_adapter')" ref="select"
              v-model:value="formState.load_adapter" style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 59).terms" :key="item.num"
                :value="item.num">{{ item.term }}</a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.sources.load_status') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.sources.load_status')" ref="select" v-model:value="formState.load_status"
              style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 62).terms" :key="item.num"
                :value="item.num">{{ item.term }}</a-select-option>
            </a-select>
          </div>
        </div>

        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.sources.source_uri') }}</span>
          <div class="filters__content">
            <a-input v-model:value="formState.source_uri" :placeholder="$t('filter.sources.source_uri')" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.sources.domain_id') }}</span>
          <div class="filters__content">
            <a-radio-group button-style="solid" v-model:value="formState.domain_id" name="radioGroup">
              <a-radio-button value="0">{{ $t('filter.sources.domain-common') }}</a-radio-button>
              <a-radio-button :value="activeDomain.id">{{ $t('filter.sources.domain-this') }}</a-radio-button>
              <a-radio-button :value="null">{{ $t('filter.sources.domain-all') }}</a-radio-button>
            </a-radio-group>
          </div>
        </div>

        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.sources.indrs_subject_domain') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.sources.indrs_subject_domain')" ref="select"
              v-model:value="formState.indrs_subject_domain" style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 64).terms" :key="item.num"
                :value="item.num">{{ item.term }}</a-select-option>
            </a-select>
          </div>
        </div>

        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.sources.full_desc') }}</span>
          <div class="filters__content">
            <a-input v-model:value="formState.full_desc" :placeholder="$t('filter.sources.full_desc')" />
          </div>
        </div>


        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.sources.is_template') }}</span>
          <div class="filters__content">
            <a-radio-group button-style="solid" v-model:value="formState.is_template" name="radioGroup">
              <a-radio-button :value="null">{{ $t('buttons.no') }}</a-radio-button>
              <a-radio-button value="0">{{ $t('buttons.yes') }}</a-radio-button>
            </a-radio-group>
          </div>
        </div>
      </div>
      <div class="filters__footer">
        <a-button @click="clear">{{ $t('buttons.clear') }}</a-button>
        <a-button @click="accept" type="primary">{{ $t('buttons.accept') }}</a-button>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useDictionariesStore } from '@/stores/dictionaries'
import { useModal } from '@/stores/modal'
const dictionariesStore = useDictionariesStore()
const modal = useModal()
const { $event } = useNuxtApp()
const route = useRoute();
const localeModule = useI18n()
const activeDomain = useCookie("domain");
const props = defineProps({
  groups: { type: Array },
})

const routerSource = ref(route.query.data_source_id)
const filterCollapsed = ref(false)


const dictionaries = computed(() => {
  return dictionariesStore.dictionaries?.data?.clss
})

const formState = ref({
  data_source_id: routerSource.value ? routerSource.value : null,
  data_source_name: null,
  sys_name: null,
  domain_id: routerSource.value ? null : activeDomain.value.id,
  load_type: null,
  load_adapter: null,
  source_uri: null,
  load_freq: null,
  load_status: null,
  indrs_subject_domain: null,
  full_desc: null,
  is_template: '0',
})

const activeFiltersCount = computed(() => {
  return Object.entries(formState.value).filter(i => i[1] != null && i[1] != '')
})

const activeFilters = computed(() => {
  let newObj = {};
  for (let key in formState.value) {
    if (formState.value[key] !== null && formState.value[key] != '') {
      newObj[key] = formState.value[key];
    }
  }
  return newObj
})

const activeFiltersTerms = computed(() => {
  let newObj = {};
  for (let key in formState.value) {
    if (formState.value[key] !== null && formState.value[key] != '') {
      newObj[key] = localeModule.t(`filter.sources.${key}`);
    }
  }
  return newObj
})

const clear = () => {
  for (let key in formState.value) {
    if (key == 'is_template') {
      formState.value[key] = '0'
    } else {
      if (key == 'domain_id') {
        formState.value[key] = routerSource.value ? null : activeDomain.value.id
      } else {
        formState.value[key] = null
      }

    }

  }
  $event('filter:update', activeFilters)
  filterCollapsed.value = false
}

const removeFilter = (filter) => {
  let foundKey = Object.keys(activeFiltersTerms.value).find(key => activeFiltersTerms.value[key] === filter);
  formState.value[foundKey] = null
  accept()
}

const toggleTemplate = () => {
  if (formState.value.is_template == '0') {
    formState.value.is_template = null
  } else {
    formState.value.is_template = '0'
  }
  accept()
}

const accept = () => {
  $event('filter:update', activeFilters)
  filterCollapsed.value = false
}

onMounted(() => {
  document.getElementById("horizontal-scroller")
    .addEventListener('wheel', function (event) {
      let modifier = null
      if (event.deltaMode == event.DOM_DELTA_PIXEL) {
        modifier = 1;
      } else if (event.deltaMode == event.DOM_DELTA_LINE) {
        modifier = parseInt(getComputedStyle(this).lineHeight);
      } else if (event.deltaMode == event.DOM_DELTA_PAGE) {
        modifier = this.clientHeight;
      }
      if (event.deltaY != 0) {
        this.scrollLeft += modifier * event.deltaY;
        event.preventDefault();
      }
    });

  document.addEventListener('keyup', event => {
    if (filterCollapsed.value) {
      if (event.code === 'Enter') {
        accept()
      };
    }
  });
})
</script>

<style lang="scss" scoped>
.filters {
  display: flex;
  align-items: center;
  gap: 8px;

  &__tags {
    display: flex;
    gap: 8px;
    align-items: center;
    overflow-x: scroll;
    border-radius: 4px;
    max-width: 900px;

    @media (max-width: 1920px) {
      max-width: 530px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__tag {
    user-select: none;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 8px;

    @media (max-width: 1600px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &__container {
    position: absolute;
    z-index: 105;
    pointer-events: none;
    top: 55px;
    padding: 16px;
    border-radius: 0 0 16px 16px;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.3s ease, transform 0.5s ease;

    &.visible {
      transform: translateY(0);
      opacity: 1;
      z-index: 105;
      pointer-events: all;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 240px;
  }

  &__footer {
    padding-top: 16px;
    gap: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
</style>