<template>
  <div class="filters">
    <div class="filters__body">
      <div class="filters__item">
        <span class="filters__title">Имя</span>
        <div class="filters__content">
          <a-input v-model:value="formState.sys_name" placeholder="Имя" />
        </div>
      </div>
    </div>
    <div class="filters__footer">
      <a-button @click="clear">{{ $t('buttons.clear') }}</a-button>
      <a-button @click="accept" type="primary">{{ $t('buttons.accept') }}</a-button>
    </div>
  </div>
</template>

<script setup>
const { $event } = useNuxtApp()
const emit = defineEmits(["closeFilters"]);

const formState = ref({
  domain_id: null,
  sys_name: null,
  name: null,
})

const activeFilters = computed(() => {
  let newObj = {};
  for (let key in formState.value) {
    if (formState.value[key] !== null && formState.value[key] != '') {
      newObj[key] = formState.value[key];
    }
  }
  return newObj
})

const clear = () => {
  for (let key in formState.value) {
    formState.value[key] = null
  }
  $event('filter:update', activeFilters)
  emit('closeFilters')
}
const accept = () => {
  $event('filter:update', activeFilters)
  emit('closeFilters')
}
</script>

<style lang="scss" scoped>
.filters {
  display: block;
  width: 100%;

  &__body {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 8px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 240px;
  }

  &__footer {
    padding-top: 16px;
    gap: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
</style>