<template>
  <div class="graph-connections">
    <div class="graph-connections__content">
      <a-card :title="$t('modal.graph.connections.title-indicators')" class="table" style="width: 50%;">
        <template #extra>
          <a-space>
            <div style="width: 200px">
              <a-input allow-clear v-model:value="searchedIndicator"
                :placeholder="$t('modal.graph.connections.search-placeholder-indicator')" />
            </div>
          </a-space>
        </template>
        <a-table :pagination="false" bordered :dataSource="tableList" :columns="tableColumns"
          :customRow="customRowIndicators" @change="onChangeIndicators" rowClassName="table-row-js-indicators"
          :scroll="{ y: 'calc(100vh - 235px' }">
          <template #bodyCell="{ column, record }">
            <template v-if="column.key === 'indr_name'">
              <a-tooltip :title="record.indr_name"><span>{{ record.indr_name }}</span></a-tooltip>
            </template>
          </template>
        </a-table>
      </a-card>
      <a-card :title="$t('modal.graph.connections.title-factors')" class="table" style="width: 50%;">
        <template #extra>
          <a-space>
            <div style="width: 200px;">
              <a-input allow-clear v-model:value="searchedConncectedIndicator"
              :placeholder="$t('modal.graph.connections.search-placeholder-factor')" />
            </div>
            <a-tooltip :title="$t('modal.graph.connections.connection-type')">
              <a-dropdown :trigger="['click']">
                <template #overlay>
                  <a-menu>
                    <a-menu-item class="graph-connections__menu-item" :class="{ 'selected': item.key == selectedLink }"
                      v-for="item in linkTypes" :key="item.id" @click="creationTypeSort(item.key)">
                      <span>{{ item.label }}</span>
                    </a-menu-item>
                  </a-menu>
                </template>
                <a-button :disabled="!selectedIndicator?.indr_id"
                  style="width: 66px; padding: 0 8px;  display: flex; align-items: center; justify-content: flex-end">
                  {{ linkTypes[selectedLink]?.short }}
                  <DownOutlined style="font-size: 12px;" />
                </a-button>
              </a-dropdown>
            </a-tooltip>
          </a-space>
        </template>
        <a-table class="table" :pagination="false" bordered :dataSource="connectedIndicators"
          :columns="tableColumnsConnections" :scroll="{ y: 'calc(100vh - 290px' }" :customRow="customRowConnections"
          @change="onChangeConnections" rowClassName="table-row-js-connections">
          <template #bodyCell="{ column, record }">
            <template v-if="column.key === 'delete'">
              <a-tooltip :title="$t('modal.graph.connections.delete-connection')" placement="right">
                <a-button danger style="width: 32px; padding: 0;" @click="deleteConnection(record)">
                  <DeleteOutlined />
                </a-button>
              </a-tooltip>

            </template>
            <template v-if="column.key === 'link_direction'">
              <a-dropdown :trigger="['click']" v-if="record.creation_type == 2" placement="right">
                <template #overlay>
                  <a-menu>
                    <a-menu-item class="graph-connections__menu-item" :disabled="item.type == record.link_direction"
                      :class="{ active: item.type == record.link_direction }" v-for="(item, index) in connectionTypes"
                      :key="index" @click="changeConnectionType(item.type, record)">
                      <ArrowRightOutlined v-if="item.type == 2" />
                      <ArrowLeftOutlined v-if="item.type == 3" />
                      <SwapOutlined v-if="item.type == 4" />
                      <MinusOutlined v-if="item.type == 1" />
                      <span style="padding-left: 12px;">{{ item.name }}</span>
                    </a-menu-item>
                  </a-menu>
                </template>
                <a-button style="width: 32px; padding: 0;">
                  <ArrowRightOutlined v-if="record.link_direction == 2" />
                  <ArrowLeftOutlined v-if="record.link_direction == 3" />
                  <SwapOutlined v-if="record.link_direction == 4" />
                  <MinusOutlined v-if="record.link_direction == 1" />
                </a-button>
              </a-dropdown>
              <a-dropdown :trigger="['click']" v-if="record.creation_type == 1" placement="right">
                <template #overlay>
                  <a-menu>
                    <a-menu-item class="graph-connections__menu-item" @click="addConnection(record)">
                      <PlusOutlined />
                      <span style="padding-left: 12px;">{{$t('modal.graph.connections.add-analog')}}</span>
                    </a-menu-item>
                  </a-menu>
                </template>
                <a-button type="primary" style="width: 32px; padding: 0;">
                  <ArrowRightOutlined v-if="record.link_direction == 2" />
                  <ArrowLeftOutlined v-if="record.link_direction == 3" />
                  <SwapOutlined v-if="record.link_direction == 4" />
                  <MinusOutlined v-if="record.link_direction == 1" />
                </a-button>
              </a-dropdown>

            </template>
          </template>
        </a-table>
        <div class="graph-connections__footer">
          <a-tooltip :title="$t('modal.graph.connections.add-connection')">
            <a-button :disabled="!selectedIndicator?.indr_id" @click="connectionModalOpened = true" type="primary">
              <PlusSquareOutlined />
            </a-button>
          </a-tooltip>
          <a-tooltip :title="$t('modal.graph.connections.add-analog-auto-long')">
            <a-button :disabled="autoCreateDiabled" @click="setAutoIndicators" type="primary">
              <BranchesOutlined />
              {{ $t('modal.graph.connections.add-analog-auto') }}
            </a-button>
          </a-tooltip>
        </div>
      </a-card>
    </div>
    <div class="graph-connections__graph" id="wrapper-big-circle">
      <GraphConnections :graphData="{ nodes: graphData.nodes, edges: graphData.edges }"
        :selectedIndicator1="selectedIndicator" :selectedIndicator2="selectedConnection"
        @selectGraphIndicator="selectGraphIndicator" @selectGraphEdge="selectGraphEdge" />
    </div>
    <a-modal width="50vw" v-model:open="connectionModalOpened" :title="$t('modal.graph.connections.select-indicator')" :footer="null"
      destroyOnClose @cancel="connectionModalOpened = false">
      <modal-graph-connection :graphData="{ nodes: graphData.nodes, edges: graphData.edges }"
        :selectedIndicator="selectedIndicator" 
        :connectedIndicators="connectedIndicators" @closeConnectionSelect="connectionAdded" />
    </a-modal>
  </div>
</template>

<script setup>
const { $event } = useNuxtApp()
const localeModule = useI18n()
const props = defineProps({
  graphData: { type: Object },
})

const connectionModalOpened = ref(false)
const searchedIndicator = ref('')
const searchedConncectedIndicator = ref('')
const selectedLink = ref(0)
const selectedIndicator = ref({})
const selectedConnection = ref({})
const connectedIndicators = ref([])
const tableList = ref([])
const connectionTypes = ref([
  {
    type: 2,
    name: localeModule.t('modal.graph.connections.from'),
    icon: 'ArrowRightOutlined',
  },
  {
    type: 3,
    name: localeModule.t('modal.graph.connections.to'),
    icon: 'ArrowLeftOutlined',
  },
  {
    type: 4,
    name: localeModule.t('modal.graph.connections.from-to'),
    icon: 'SwapOutlined',
  },
  {
    type: 1,
    name: localeModule.t('modal.graph.connections.undef'),
    icon: 'MinusOutlined',
  },
])
const linkTypes = ref([
  {
    key: 0,
    label: localeModule.t('modal.graph.connections.all'),
    short: localeModule.t('modal.graph.connections.all-small'),
    creation_type: 0,
  },
  {
    key: 1,
    label: localeModule.t('modal.graph.connections.auto'),
    short: localeModule.t('modal.graph.connections.auto-small'),
    creation_type: 1
  },
  {
    key: 2,
    label: localeModule.t('modal.graph.connections.manual'),
    short: localeModule.t('modal.graph.connections.manual-small'),
    creation_type: 2
  },
])
const autoCreateDiabled = computed(() => {
  let array = []
  if (connectedIndicators.value.length) {
    array = connectedIndicators.value.filter((el => el.creation_type == 1))
  }
  return array.length > 0 ? false : true
})

const tableColumns = ref([
  {
    title: localeModule.t('modal.graph.connections.mark'),
    dataIndex: 'model_node_label',
    key: 'model_node_label',
    sorter: (a, b) => a.model_node_label - b.model_node_label,
    width: 70
  },
  {
    title: localeModule.t('modal.graph.connections.full-name'),
    dataIndex: 'indr_name',
    key: 'indr_name',
    sorter: (a, b) => a.indr_name - b.indr_name,
    // width: '80%'
  },
])

const tableColumnsConnections = ref([
  {
    title: localeModule.t('modal.graph.connections.mark'),
    dataIndex: 'indr_alias',
    key: 'indr_alias',
    sorter: (a, b) => a.indr_alias - b.indr_alias,
    width: 70
  },
  {
    title: localeModule.t('modal.graph.connections.full-name'),
    dataIndex: 'indr_name',
    key: 'indr_name',
    sorter: (a, b) => a.indr_name - b.indr_name,
    // width: '70%'
  },
  {
    title: localeModule.t('modal.graph.connections.connection'),
    dataIndex: 'link_direction',
    key: 'link_direction',
    sorter: (a, b) => a.link_direction - b.link_direction,
    width: 46
  },
  {
    title: "",
    dataIndex: 'delete',
    key: 'delete',
    width: 46
  },
])

const customRowIndicators = (record, index) => {
  return {
    onClick: async () => {
      const rows = document.getElementsByClassName('table-row-js-indicators')
      for (let index = 0; index < rows.length; index++) {
        const element = rows[index];
        element.classList.remove('selected')
      }
      rows[index].classList.add('selected')
      selectedConnection.value = {}
      selectedIndicator.value = record
      connectedIndicators.value = []
      if (Object.keys(props.graphData.edges).length !== 0) {
        props.graphData.edges.forEach(element => {
          if (element.indr1_id == record.indr_id || element.indr2_id == record.indr_id) {
            connectedIndicators.value.push({
              indr_id: element.indr1_id == record.indr_id ? element.indr2_id : element.indr1_id,
              indr_name: element.indr1_id == record.indr_id ? element.indr2_name : element.indr1_name,
              indr_alias: element.indr1_id == record.indr_id ? element.indr2_alias : element.indr1_alias,
              link_direction: element.link_direction,
              creation_type: element.creation_type,
              model_edge_id: element.model_edge_id
            })
          }
        });

        if (selectedLink.value != 0) {
          connectedIndicators.value = connectedIndicators.value.filter(obj => obj.creation_type == selectedLink.value);
        }
      }

      const rows2 = document.getElementsByClassName('table-row-js-connections')
      for (let index = 0; index < rows2.length; index++) {
        const element = rows2[index];
        element.classList.remove('selected')
      }

    },
  };
}
const customRowConnections = (record, index) => {
  return {
    onClick: async () => {
      const rows = document.getElementsByClassName('table-row-js-connections')
      for (let index = 0; index < rows.length; index++) {
        const element = rows[index];
        element.classList.remove('selected')
      }
      rows[index].classList.add('selected')
      selectedConnection.value = record
    },
  };
}

const onChangeIndicators = (pagination, filters, sorter) => {
  if (sorter.order == "descend") {
    function compare(a, b) {
      if (a[sorter.field] < b[sorter.field]) {
        return -1;
      }
      if (a[sorter.field] > b[sorter.field]) {
        return 1;
      }
      return 0;
    }
    return tableList.value.sort(compare);
  }
  if (sorter.order == "ascend") {
    function compare(a, b) {
      if (a[sorter.field] > b[sorter.field]) {
        return -1;
      }
      if (a[sorter.field] < b[sorter.field]) {
        return 1;
      }
      return 0;
    }
    return tableList.value.sort(compare);
  }
};

const onChangeConnections = (pagination, filters, sorter) => {
  if (sorter.order == "descend") {
    function compare(a, b) {
      if (a[sorter.field] < b[sorter.field]) {
        return -1;
      }
      if (a[sorter.field] > b[sorter.field]) {
        return 1;
      }
      return 0;
    }
    return connectedIndicators.value.sort(compare);
  }
  if (sorter.order == "ascend") {
    function compare(a, b) {
      if (a[sorter.field] > b[sorter.field]) {
        return -1;
      }
      if (a[sorter.field] < b[sorter.field]) {
        return 1;
      }
      return 0;
    }
    return connectedIndicators.value.sort(compare);
  }
};

const changeConnectionType = (link_direction, info) => {
  apiFetch(`set_model_edge_attr`, {
    value: {
      "i_value": link_direction,
      "i_attr": "link_direction",
      "i_id": info.model_edge_id
    }
  }).then((response) => {
    $event('edges:update')
    $event('graphConnections:update')
    let edge = connectedIndicators.value.find(el => el.model_edge_id == info.model_edge_id)
    edge.link_direction = link_direction
  })
}

const addConnection = (info) => {
  apiFetch(`create_model_edge`, {
    value: {
      "i_indr2_id": info.indr_id,
      "i_indr1_id": selectedIndicator.value.indr_id,
      "i_model_id": selectedIndicator.value.model_id,
      "i_link_direction": info.link_direction,
      "i_creation_type": 2,
    }
  }).then((response) => {
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        $event('edges:update')
        connectedIndicators.value.push({
          indr_id: info.indr_id,
          indr_name: info.indr_name,
          indr_alias: info.indr_alias,
          link_direction: info.link_direction,
          creation_type: 2,
          model_edge_id: response.data?.value?.data.res,
        })
        notification.open({
          message: localeModule.t('graph.connection-set'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });
      }
    }
  })
}
const deleteConnection = (info) => {
  apiFetch(`delete_model_edge`, {
    value: {
      "i_id": info.model_edge_id
    }
  }).then(() => {
    $event('edges:update')
    $event('graphConnections:update')
    setTimeout(() => {
      connectedIndicators.value = connectedIndicators.value.filter(el => el.model_edge_id != info.model_edge_id)
    }, 100);

  })
}
const connectionAdded = (obj) => {
  connectedIndicators.value.push(obj)
  connectionModalOpened.value = false
  $event('graphConnections:update')
}

const setAutoIndicators = () => {
  // Собираем все автоматические связи
  let array = connectedIndicators.value.filter((el => el.creation_type == 1))

  let array2 = []
  const idCount = {};
  const result = [];

  // Собираем все связи, у которых id равны автоматическим
  connectedIndicators.value.forEach(element => {
    if (array.find(el => el.indr_id == element.indr_id)) {
      array2.push(element)
    }
  });

  // Оставляем только неповторяющиеся связи
  array2.forEach(obj => {
    idCount[obj.indr_id] = (idCount[obj.indr_id] || 0) + 1;
  });
  array2.forEach(obj => {
    if (idCount[obj.indr_id] === 1) {
      result.push(obj);
    }
  });

  // Создаем на основе автоматических связей экспертные, у которых ещё нет аналогов
  let count = 0
  result.forEach(element => {
    apiFetch(`create_model_edge`, {
      value: {
        "i_indr2_id": element.indr_id,
        "i_indr1_id": selectedIndicator.value.indr_id,
        "i_model_id": selectedIndicator.value.model_id,
        "i_link_direction": element.link_direction,
        "i_creation_type": 2,
      }
    }).then((response) => {
      if (!response.error.value) {
        if (response.data?.value?.error?.code) {
          notification.open({
            message: response.data?.value?.error?.message,
            style: {
              borderColor: '#ffd591',
              backgroundColor: '#fff7e6'
            },
          });
        } else {
          count = count + 1
          connectedIndicators.value.push({
            indr_id: element.indr_id,
            indr_name: element.indr_name,
            indr_alias: element.indr_alias,
            link_direction: element.link_direction,
            creation_type: 2,
            model_edge_id: response.data?.value?.data.res,
          })

        }
      }
    })
  });
  setTimeout(() => {
    if (count == result.length) {
      $event('edges:update')
      notification.open({
        message: localeModule.t('graph.all-connections-set'),
        style: {
          border: '1px solid #b7eb8f',
          backgroundColor: '#f6ffed',
        },
      });
    }
  }, 1000);

}


const creationTypeSort = (value) => {
  selectedLink.value = value
  selectedLink.value = linkTypes.value[value].creation_type
  connectedIndicators.value = []
  props.graphData.edges.forEach(element => {
    if (element.indr1_id == selectedIndicator.value.indr_id || element.indr2_id == selectedIndicator.value.indr_id) {
      connectedIndicators.value.push({
        indr_id: element.indr1_id == selectedIndicator.value.indr_id ? element.indr2_id : element.indr1_id,
        indr_name: element.indr1_id == selectedIndicator.value.indr_id ? element.indr2_name : element.indr1_name,
        indr_alias: element.indr1_id == selectedIndicator.value.indr_id ? element.indr2_alias : element.indr1_alias,
        link_direction: element.link_direction,
        creation_type: element.creation_type,
      })
    }
  });

  if (selectedLink.value != 0) {
    setTimeout(() => {
      connectedIndicators.value = connectedIndicators.value.filter(obj => obj.creation_type == selectedLink.value);
    }, 100);
  }
}


const selectGraphIndicator = (nodeValue) => {
  selectedLink.value = 0
  let index = tableList.value.findIndex(el => el.indr_id == nodeValue.target._cfg.id);
  let record = tableList.value[index]
  const rows = document.getElementsByClassName('table-row-js-indicators')
  for (let i = 0; i < rows.length; i++) {
    const element = rows[i];
    element.classList.remove('selected')
  }
  rows[index].classList.add('selected')
  rows[index].scrollIntoView()
  selectedConnection.value = {}
  selectedIndicator.value = record
  connectedIndicators.value = []
  props.graphData.edges.forEach(element => {
    if (element.indr1_id == record.indr_id || element.indr2_id == record.indr_id) {
      connectedIndicators.value.push({
        indr_id: element.indr1_id == record.indr_id ? element.indr2_id : element.indr1_id,
        indr_name: element.indr1_id == record.indr_id ? element.indr2_name : element.indr1_name,
        indr_alias: element.indr1_id == record.indr_id ? element.indr2_alias : element.indr1_alias,
        link_direction: element.link_direction,
        creation_type: element.creation_type,
      })
    }
  });
  const rows2 = document.getElementsByClassName('table-row-js-connections')
  for (let index = 0; index < rows2.length; index++) {
    const element = rows2[index];
    element.classList.remove('selected')
  }
}

const selectGraphEdge = (edgeValue) => {
  // При выборе узла
  console.log(edgeValue);
  selectedLink.value = 0
  let index = tableList.value.findIndex(el => el.indr_id == edgeValue.source);
  let record = tableList.value[index]
  const rows = document.getElementsByClassName('table-row-js-indicators')
  for (let i = 0; i < rows.length; i++) {
    const element = rows[i];
    element.classList.remove('selected')
  }
  rows[index].classList.add('selected')
  rows[index].scrollIntoView()
  selectedConnection.value = {}
  selectedIndicator.value = record
  connectedIndicators.value = []
  props.graphData.edges.forEach(element => {
    if (element.indr1_id == record.indr_id || element.indr2_id == record.indr_id) {
      connectedIndicators.value.push({
        indr_id: element.indr1_id == record.indr_id ? element.indr2_id : element.indr1_id,
        indr_name: element.indr1_id == record.indr_id ? element.indr2_name : element.indr1_name,
        indr_alias: element.indr1_id == record.indr_id ? element.indr2_alias : element.indr1_alias,
        link_direction: element.link_direction,
        creation_type: element.creation_type,
      })
    }
  });
  const rows2 = document.getElementsByClassName('table-row-js-connections')
  for (let index = 0; index < rows2.length; index++) {
    const element = rows2[index];
    element.classList.remove('selected')
  }
  console.log('connectedIndicators', connectedIndicators.value);

  let index2 = connectedIndicators.value.findIndex(el => el.indr_id == edgeValue.target);
  setTimeout(() => {
    selectedConnection.value = connectedIndicators.value[index2]
    rows2[index2].classList.add('selected')
    rows2[index2].scrollIntoView()
  }, 100);

}

watchDebounced(
  searchedIndicator,
  () => {
    tableList.value = props.graphData.nodes
    let searchValue = searchedIndicator.value.toLowerCase()
    tableList.value = tableList.value.filter(obj => obj.indr_name.toLowerCase().includes(searchValue));
    if (tableList.value.length > 0) {
      setTimeout(() => {
        const rows = document.getElementsByClassName('table-row-js-indicators')
        for (let index = 0; index < rows.length; index++) {
          const element = rows[index];
          element.classList.remove('selected')
        }
        rows[0].classList.add('selected')
      }, 100);
      connectedIndicators.value = []
      selectedIndicator.value = tableList.value[0]
      props.graphData.edges.forEach(element => {
        if (element.indr1_id == selectedIndicator.value.indr_id || element.indr2_id == selectedIndicator.value.indr_id) {
          connectedIndicators.value.push({
            indr_id: element.indr1_id == selectedIndicator.value.indr_id ? element.indr2_id : element.indr1_id,
            indr_name: element.indr1_id == selectedIndicator.value.indr_id ? element.indr2_name : element.indr1_name,
            indr_alias: element.indr1_id == selectedIndicator.value.indr_id ? element.indr2_alias : element.indr1_alias,
            link_direction: element.link_direction,
            creation_type: element.creation_type,
          })
        }
      });
      if (selectedLink.value != 0) {
        connectedIndicators.value = connectedIndicators.value.filter(obj => obj.creation_type == selectedLink.value);
      }
    } else {
      connectedIndicators.value = []
      selectedIndicator.value = {}
    }
  },
  { debounce: 1000, maxWait: 1000 },
)
watchDebounced(
  searchedConncectedIndicator,
  () => {
    // tableList.value = props.graphData.nodes
    connectedIndicators.value = []
    props.graphData.edges.forEach(element => {
      if (element.indr1_id == selectedIndicator.value.indr_id || element.indr2_id == selectedIndicator.value.indr_id) {
        connectedIndicators.value.push({
          indr_id: element.indr1_id == selectedIndicator.value.indr_id ? element.indr2_id : element.indr1_id,
          indr_name: element.indr1_id == selectedIndicator.value.indr_id ? element.indr2_name : element.indr1_name,
          indr_alias: element.indr1_id == selectedIndicator.value.indr_id ? element.indr2_alias : element.indr1_alias,
          link_direction: element.link_direction,
          creation_type: element.creation_type,
        })
      }
    });

    if (selectedLink.value != 0) {
      connectedIndicators.value = connectedIndicators.value.filter(obj => obj.creation_type == selectedLink.value);
    }

    setTimeout(() => {
      let searchValue = searchedConncectedIndicator.value.toLowerCase()
      connectedIndicators.value = connectedIndicators.value.filter(obj => obj.indr_name.toLowerCase().includes(searchValue));
    }, 100);

  },
  { debounce: 1000, maxWait: 1000 },
)

onMounted(() => {
  if (Array.isArray(props.graphData.nodes)) {
    tableList.value = props.graphData.nodes
  }
})
</script>

<style lang="scss">
.graph-connections {
  // height: 90vh;
  display: flex;
  gap: 16px;

  &__menu-item {
    &.red {
      background-color: #fff1f0;

      &>span {
        color: red;
      }
    }

    &.selected {
      background-color: #e6f4ff;

      &>span {
        color: #1677ff;
      }
    }
  }

  &__footer {
    display: flex;
    gap: 4px;
    width: 100%;
    justify-content: flex-end;
    margin-top: 16px;
  }


  .ant-table-body {
    // height: calc(100vh - 230px) !important;
  }

  .ant-empty.css-dev-only-do-not-override-1hsjdkk.ant-empty-normal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 311px) !important;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 50%;
  }

  &__graph {
    width: 50%;
    display: flex;
    overflow: hidden;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
  }
}
</style>