<template>
  <div class="connection-modal">
    <div class="table">
      <a-card>
        <template #extra>
          <div class="connection-modal__search">
            <a-input style="width: 100%;" allow-clear v-model:value="searchedIndicator"
              :placeholder="$t('modal.graph.connection.search')" />
          </div>
        </template>
        <a-table :pagination="false" bordered :scroll="{ x: tableWidth, y: 'calc(100vh - 270px' }"
          :row-key="(record) => record.key" @change="onChange" :customRow="customRow" @resizeColumn="handleResizeColumn"
          :dataSource="tableList" :columns="tableColumns" rowClassName="table-row-js-modal"></a-table>
        <div class="connection-modal__footer">
          <a-dropdown :trigger="['click']">
            <template #overlay>
              <a-menu>
                <a-menu-item v-for="(item, index) in connectionTypes" :key="index"
                  @click="createConnectionType(item.type)">
                  <ArrowRightOutlined v-if="item.type == 2" />
                  <ArrowLeftOutlined v-if="item.type == 3" />
                  <SwapOutlined v-if="item.type == 4" />
                  <MinusOutlined v-if="item.type == 1" />
                  <span style="padding-left: 12px;">{{ item.name }}</span>
                </a-menu-item>
              </a-menu>
            </template>
            <a-button :disabled="!selectRow" :loading="loading" type="primary">
              <span v-if="!loading">{{ $t('modal.graph.connection.select-connection') }}</span>
            </a-button>
          </a-dropdown>
        </div>
      </a-card>
    </div>
  </div>

</template>

<script setup>
import { useModal } from '@/stores/modal'
const { $event } = useNuxtApp()
const modal = useModal()
const localeModule = useI18n()
const { $listen } = useNuxtApp()
const emit = defineEmits(["closeConnectionSelect"]);

const props = defineProps({
  graphData: { type: Object },
  selectedIndicator: { type: Object },
  connectedIndicators: { type: Array },
})

const selectRow = ref(null)
const searchedIndicator = ref('')
const tableList = ref([])
const loading = ref(false)

const connectionTypes = ref([
  {
    type: 2,
    name: localeModule.t('modal.graph.connections.from'),
    icon: 'ArrowRightOutlined',
  },
  {
    type: 3,
    name: localeModule.t('modal.graph.connections.to'),
    icon: 'ArrowLeftOutlined',
  },
  {
    type: 4,
    name: localeModule.t('modal.graph.connections.from-to'),
    icon: 'SwapOutlined',
  },
  {
    type: 1,
    name: localeModule.t('modal.graph.connections.undef'),
    icon: 'MinusOutlined',
  },
])

const tableColumns = ref([
  {
    title: localeModule.t('modal.graph.connection.name-on-graph'),
    dataIndex: 'model_node_label',
    key: 'model_node_label',
    sorter: (a, b) => a.model_node_label - b.model_node_label,
    width: '20%'
  },
  {
    title: localeModule.t('modal.graph.connection.full-name'),
    dataIndex: 'indr_name',
    key: 'indr_name',
    sorter: (a, b) => a.indr_name - b.indr_name,
    width: '80%'
  },
])

const customRow = (record, index) => {

  return {
    onClick: async () => {
      const rows = document.getElementsByClassName('table-row-js-modal')
      for (let index = 0; index < rows.length; index++) {
        const element = rows[index];
        element.classList.remove('selected')
      }
      rows[index].classList.add('selected')
      selectRow.value = record
    },
  };
}


const createConnectionType = (code) => {
  // Функция отправки запроса на создание связи
  apiFetch(`create_model_edge`, {
    value: {
      "i_indr2_id": selectRow.value.indr_id,
      "i_indr1_id": props.selectedIndicator.indr_id,
      "i_model_id": props.selectedIndicator.model_id,
      "i_link_direction": code,
      "i_creation_type": 2,
    }
  }).then((response) => {
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        loading.value = true;
        $event('edges:update')
        setTimeout(() => {
          emit('closeConnectionSelect', {
            indr_id: selectRow.value.indr_id,
            indr_name: selectRow.value.indr_name,
            indr_alias: selectRow.value.model_node_label,
            link_direction: code,
            creation_type: 2,
            model_edge_id: response.data?.value?.data.res,
          })
          loading.value = false;
          notification.open({
            message: localeModule.t('graph.connection-set'),
            style: {
              border: '1px solid #b7eb8f',
              backgroundColor: '#f6ffed',
            },
          });
        }, 1000);

      }
    }
  })
}

const onChange = (pagination, filters, sorter) => {
  if (sorter.order == "descend") {
    function compare(a, b) {
      if (a[sorter.field] < b[sorter.field]) {
        return -1;
      }
      if (a[sorter.field] > b[sorter.field]) {
        return 1;
      }
      return 0;
    }
    return tableList.value.sort(compare);
  }
  if (sorter.order == "ascend") {
    function compare(a, b) {
      if (a[sorter.field] > b[sorter.field]) {
        return -1;
      }
      if (a[sorter.field] < b[sorter.field]) {
        return 1;
      }
      return 0;
    }
    return tableList.value.sort(compare);
  }
};

watchDebounced(
  // Выолняется при поиске по названию показателя
  searchedIndicator,
  () => {
    tableList.value = props.graphData.nodes.filter(obj => obj.indr_id != props.selectedIndicator.indr_id)
    let searchValue = searchedIndicator.value.toLowerCase()
    tableList.value = tableList.value.filter(obj => obj.indr_name.toLowerCase().includes(searchValue));
  },
  { debounce: 1000, maxWait: 1000 },
)



onMounted(() => {
  //При запуске
  // Проверяем есть ли у показателя факторы 
  if (Array.isArray(props.graphData.nodes)) {
    const array = []
    props.graphData.nodes.forEach(element => {
      // Добавляем в массив все факторы, кроме выбранного, которому будем добавлять
      if (element.indr_id != props.selectedIndicator.indr_id) {
        array.push(element)
      }
    });   

    if (Array.isArray(props.graphData.edges)) {
      // Если связи существуют фитльтруем массив по связанным показателям и убираем их
      // Всё что вошло в массив можно добавлять
      tableList.value = array.filter(item1 =>
        !props.connectedIndicators.some(item2 => item2.indr_id == item1.indr_id)
      );
    } else {
      // Если связей нет можно создавать связь с любым показателем
      tableList.value = array
    }
  }

})
</script>

<style lang="scss">
.connection-modal {
  position: relative;

  .ant-table-body {
    height: calc(100vh - 270px) !important;
  }

  .ant-card-extra {
    margin-inline-start: unset;
    width: 100%;
  }

  &__search {
    display: flex;
    width: 100%;
    align-items: flex-start;
  }

  &__modal {
    display: flex;
    flex-direction: column;
    // gap: 8px;
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: auto;


    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 999px;
      border: 2px solid transparent;
      background-clip: content-box;
      background-color: #1890ff;
    }

    &-top {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 16px 0;
    }

    &-item {
      cursor: pointer;
      padding: 8px;
      transition: all 0.3s ease;

      &:hover {
        background-color: #e6f7ff;
        color: #1890ff;
      }

      &.is-active {
        background-color: #e6f7ff;
        color: #1890ff;
        border-left: 2px solid #1890ff;
      }
    }
  }

  &__footer {
    padding-top: 16px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
</style>