<template>
  <RangePicker :value="modelValue" @input="$emit('update:modelValue', $event.target.value)" />
</template>

<script setup>
import moment from 'moment'
import DatePicker from 'ant-design-vue/es/date-picker/moment';
const RangePicker = DatePicker.RangePicker
const localeModule = useI18n()
const props = defineProps({
  modelValue: { type: Object }
})

moment.updateLocale('en', {
  weekdaysMin: [
    localeModule.t('date-range.weekdays-min.sunday'),
    localeModule.t('date-range.weekdays-min.monday'),
    localeModule.t('date-range.weekdays-min.tuesday'),
    localeModule.t('date-range.weekdays-min.wednesday'),
    localeModule.t('date-range.weekdays-min.thursday'),
    localeModule.t('date-range.weekdays-min.friday'),
    localeModule.t('date-range.weekdays-min.saturday')
  ],
  monthsShort: [
    localeModule.t('date-range.months-short.january'),
    localeModule.t('date-range.months-short.february'),
    localeModule.t('date-range.months-short.march'),
    localeModule.t('date-range.months-short.april'),
    localeModule.t('date-range.months-short.may'),
    localeModule.t('date-range.months-short.june'),
    localeModule.t('date-range.months-short.july'),
    localeModule.t('date-range.months-short.august'),
    localeModule.t('date-range.months-short.september'),
    localeModule.t('date-range.months-short.october'),
    localeModule.t('date-range.months-short.november'),
    localeModule.t('date-range.months-short.december')
  ],
  week: {
    dow: 1
  }
});
</script>