<template>
  <div class="graph">
    <a-card style="width: inherit;" :title="$t('graph.title')">
      <template #extra>
        <a-space>
          <a-popover v-model:open="visible" :title="$t('graph.info')" trigger="click">
            <template #content>
              <div class="graph__info">
                <p>{{ $t('graph.info-select') }}</p>
                <p>{{ $t('graph.info-more') }}</p>
                <p>{{ $t('graph.info-hide') }}</p>
              </div>
              <div class="graph__info" style="padding-top: 8px;">
                <p style="font-weight: 600;">{{ $t('graph.designations') }}</p>
                <div class="graph__option">
                  <div class="graph__line auto"></div>
                  <p>{{ $t('graph.auto-connection') }}</p>
                </div>
                <div class="graph__option">
                  <div class="graph__line manual"></div>
                  <p>{{ $t('graph.manual-connection') }}</p>
                </div>
                <div class="graph__option">
                  <div class="graph__line strong"></div>
                  <p>{{ $t('graph.strong-connection') }}</p>
                </div>
                <div class="graph__option">
                  <div class="graph__line"></div>
                  <div class="graph__line big"></div>
                  <p>{{ $t('graph.connection-power') }}</p>
                </div>
                <div class="graph__option">
                  <div class="graph__circle">
                    <span>ABC</span>
                  </div>
                  <div class="graph__circle big">
                    <span>ABC</span>
                  </div>
                  <p>{{ $t('graph.connection-quantity') }}</p>
                </div>
                <div class="graph__option">
                  <div class="graph__circle green">
                    <span>ABC</span>
                  </div>
                  <p>{{ $t('graph.data-ready') }}</p>
                </div>
                <div class="graph__option">
                  <div class="graph__circle red">
                    <span>ABC</span>
                  </div>
                  <p>{{ $t('graph.data-error') }}</p>
                </div>
                <div class="graph__option">
                  <div class="graph__circle yellow">
                    <span>ABC</span>
                  </div>
                  <p>{{ $t('graph.other-statuses') }}</p>
                </div>
              </div>
            </template>
            <a-button :title="$t('graph.graph-manage')">
              <QuestionCircleOutlined />
            </a-button>
          </a-popover>
          <!-- <a-button :title="$t('graph.full-screen')" @click="openModalGraph">
            <ExpandOutlined />
            <span>{{ $t('graph.full-screen-short') }}</span>
          </a-button> -->
          <a-button :title="$t('buttons.refresh')" @click="updateGraph">
            <sync-outlined />
            <span>{{ $t('buttons.refresh') }}</span></a-button>
        </a-space>

      </template>
      <div class="graph__wrapper">
        <div class="graph__content">
          <div v-if="!graphLoaded" class="graph__loader">
            <div class="graph__loader-icon">
              <SyncOutlined spin />
            </div>
          </div>
          <div id="container"></div>
        </div>
      </div>
    </a-card>

    <a-card style="width: 450px" :title="$t('graph.params')" class="graph__inspector">
      <a-space direction="vertical" :size="16" style="width: 100%;">
        <a-space direction="vertical" :size="8" style="width: 100%;">
          <a-typography-text strong>{{ $t('graph.connection-type') }}</a-typography-text>
          <a-select ref="select1" v-model:value="connectionType" style="width: 100%">
            <a-select-option value="auto">
              <a-tooltip :title="$t('graph.connection-selector.auto')" placement="left">
                <div>{{ $t('graph.connection-selector.auto-short') }}</div>
              </a-tooltip>
            </a-select-option>
            <a-select-option value="manual">
              <a-tooltip :title="$t('graph.connection-selector.manual')" placement="left">
                <div>{{ $t('graph.connection-selector.manual-short') }}</div>
              </a-tooltip>
            </a-select-option>
            <a-select-option value="autoNone">
              <a-tooltip :title="$t('graph.connection-selector.auto-none')" placement="left">
                <div>{{ $t('graph.connection-selector.auto-none-short') }}</div>
              </a-tooltip>
            </a-select-option>
            <a-select-option value="manualNone">
              <a-tooltip :title="$t('graph.connection-selector.manual-none')" placement="left">
                <div>{{ $t('graph.connection-selector.manual-none-short') }}</div>
              </a-tooltip>
            </a-select-option>
            <a-select-option value="coincidence">
              <a-tooltip :title="$t('graph.connection-selector.coincidence')" placement="left">
                <div>{{ $t('graph.connection-selector.coincidence-short') }}</div>
              </a-tooltip>
            </a-select-option>
          </a-select>
        </a-space>
        <a-space direction="vertical" :size="8" style="width: 100%;">
          <a-typography-text strong>{{ $t('graph.power-connection') }}</a-typography-text>
          <a-slider :marks="{ 0.75: '0.75', 1: '1' }" style="width: 100%;" :step="0.01" :min="0.75" :max="1"
            v-model:value="range" range />
        </a-space>
        <a-space direction="vertical" :size="8" style="width: 100%;">
          <a-typography-text strong>{{ $t('graph.graph-type.title') }}</a-typography-text>
          <a-select ref="select" v-model:value="graphType" style="width: 100%" @focus="focus" @change="changeGraphType">
            <a-select-option :value="$t('graph.graph-type.rounded-grouped')">
              {{ $t('graph.graph-type.rounded-grouped') }}
            </a-select-option>
            <a-select-option :value="$t('graph.graph-type.grouped')">
              {{ $t('graph.graph-type.grouped') }}
            </a-select-option>
            <a-select-option :value="$t('graph.graph-type.rounded')">
              {{ $t('graph.graph-type.rounded') }}
            </a-select-option>
          </a-select>
        </a-space>
        <a-dropdown>
          <template #overlay>
            <a-menu>
              <a-menu-item @click="setEdge(2)" key="1">
                <ArrowRightOutlined />
                {{ $t('graph.from') }} {{ selectedNodes[0]?.label }} {{ $t('graph.to') }} {{ selectedNodes[1]?.label }}
              </a-menu-item>
              <a-menu-item @click="setEdge(3)" key="2">
                <ArrowLeftOutlined />
                {{ $t('graph.from') }} {{ selectedNodes[1]?.label }} {{ $t('graph.to') }} {{ selectedNodes[0]?.label }}
              </a-menu-item>
              <a-menu-item @click="setEdge(4)" key="3">
                <SwapOutlined />
                {{ $t('graph.bidirectional') }}
              </a-menu-item>
              <a-menu-item @click="setEdge(1)" key="4">
                <MinusOutlined />
                {{ $t('graph.not-defined') }}
              </a-menu-item>
            </a-menu>
          </template>
          <a-button :disabled="selectedNodes.length < 2 || actionsDisabled" style="width: 100%;" type="primary">
            {{ $t('graph.assign-connection') }}
            <DownOutlined />
          </a-button>
        </a-dropdown>
        <a-button @click="deleteEdge" :disabled="!deleteDisabled || actionsDisabled" style="width: 100%;" type="primary"
          danger>
          {{ $t('graph.delete-connection') }}
        </a-button>
      </a-space>
    </a-card>
    <a-modal width="100vw" height="100vh" v-model:open="graphCombosOpened" :title="$t('graph.model-graph')"
      :footer="null" destroyOnClose @cancel="closeModal">
      <modal-graph-combos :graphData="graphData" />
    </a-modal>
    <a-modal width="100vw" height="100vh" v-model:open="graphForceOpened" :title="$t('graph.model-graph')"
      :footer="null" destroyOnClose @cancel="closeModal">
      <modal-graph-force :graphData="graphData" />
    </a-modal>
    <a-modal width="100vw" height="100vh" v-model:open="graphCircleOpened" :title="$t('graph.model-graph')"
      :footer="null" destroyOnClose @cancel="closeModal">
      <modal-graph-circle :graphData="graphData" />
    </a-modal>
    <!-- <a-modal width="70vw" v-model:open="modalIndicatorOpened" :title="$t('graph.indicator-description')" :footer="null"
      destroyOnClose @cancel="closeModal">
      <modal-chart-info :indicatorId="modalIndicatorId" />
    </a-modal> -->
  </div>
</template>

<script setup>
import G6 from '@antv/g6/dist/g6.min';
import { notification } from 'ant-design-vue';
import { useModal } from '@/stores/modal'
import { watchDebounced } from '@vueuse/core'
const { $event } = useNuxtApp()
const localeModule = useI18n()
const localePath = useLocalePath();
const emit = defineEmits(["openIndicatorModel"]);

const props = defineProps({
  graphData: { type: Object },
  actionsDisabled: { type: Boolean },
})

const modal = useModal()
const graphLoaded = ref(false)
const connectionType = ref('auto');
const modalIndicatorId = ref(null);
const selectedNodes = ref([]);
const buildedGraph = ref(null);
const graphType = ref(localeModule.t('graph.graph-type.rounded-grouped'));
const range = ref([0.75, 1]);
const modalIndicatorOpened = computed(() => {
  return modal.state === 'graphIndicatorModal'
})
const graphCombosOpened = computed(() => {
  return modal.state === 'modalGraphCombos'
})
const graphForceOpened = computed(() => {
  return modal.state === 'modalGraphForce'
})
const graphCircleOpened = computed(() => {
  return modal.state === 'modalGraphCircle'
})

const getEdgeType = ((edge) => {
  if (connectionType.value == 'auto') {
    return edge._cfg.model.creation_type == 1
  }
  if (connectionType.value == 'manual') {
    return edge._cfg.model.creation_type == 2
  }
  if (connectionType.value == 'autoNone') {
    return edge._cfg.model.creation_type == 1 && edge._cfg.model.has_other_creation_type == 0
  }
  if (connectionType.value == 'manualNone') {
    return edge._cfg.model.creation_type == 2 && edge._cfg.model.has_other_creation_type == 0
  }
  if (connectionType.value == 'coincidence') {
    return edge._cfg.model.creation_type == 1 && edge._cfg.model.has_other_creation_type == 1
  }
})

const openModalGraph = (() => {
  if (graphType.value == localeModule.t('graph.graph-type.rounded-grouped')) {
    modal.state = 'modalGraphCombos'
  }
  if (graphType.value == localeModule.t('graph.graph-type.grouped')) {
    modal.state = 'modalGraphForce'
  }
  if (graphType.value == localeModule.t('graph.graph-type.rounded')) {
    modal.state = 'modalGraphCircle'
  }
})

const updateGraph = () => {
  graphLoaded.value = false;
  $event('edges:update')
  buildedGraph.value.destroy();
  range.value = [0.75, 1];
  selectedNodes.value = [];
  connectionType.value = 'auto';
  setTimeout(() => {
    if (graphType.value == localeModule.t('graph.graph-type.rounded-grouped')) {
      buildGraphCombos()
    }
    if (graphType.value == localeModule.t('graph.graph-type.grouped')) {
      buildGraphForce()
    }
    if (graphType.value == localeModule.t('graph.graph-type.rounded')) {
      buildGraphCircle()
    }
  }, 500);
}

const changeGraphType = (e) => {
  graphLoaded.value = false;
  $event('edges:update')
  buildedGraph.value.destroy();
  range.value = [0.75, 1];
  selectedNodes.value = [];
  connectionType.value = 'auto';
  setTimeout(() => {
    if (e == localeModule.t('graph.graph-type.rounded-grouped')) {
      buildGraphCombos()
    }
    if (e == localeModule.t('graph.graph-type.grouped')) {
      buildGraphForce()
    }
    if (e == localeModule.t('graph.graph-type.rounded')) {
      buildGraphCircle()
    }

  }, 2000);
}

const setEdge = async (code) => {
  apiFetch(`create_model_edge`, {
    value: {
      "i_indr2_id": selectedNodes.value[1].id,
      "i_indr1_id": selectedNodes.value[0].id,
      "i_model_id": props.graphData.nodes[0].model_id,
      "i_link_direction": code,
      "i_creation_type": 2,
    }
  }).then((response) => {
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        notification.open({
          message: localeModule.t('graph.connection-set'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });
        buildedGraph.value.addItem('edge', {
          source: `${selectedNodes.value[0].id}`,
          target: `${selectedNodes.value[1].id}`,
          link_direction: code,
          link_capacity: null,
          creation_type: 2,
          style: {
            stroke: 'red',
            lineWidth: 1,
            startArrow: [3, 4].includes(code) ? {
              path: 'M 0,0 L 4,2 L 4,-2 Z',
              fill: '#e2e2e2',
            } : false,
            endArrow: [2, 4].includes(code) ? {
              path: 'M 0,0 L 4,2 L 4,-2 Z',
              fill: '#e2e2e2',
            } : false,
          }
        })
        selectedNodes.value = []
      }
    }
  })
}

const deleteEdge = () => {
  apiFetch(`delete_edge_from_model_by_indicator`, {
    value: {
      "i_indr_id": selectedNodes.value[0].id,
      "i_model_id": props.graphData.nodes[0].model_id,
    }
  }).then((response) => {
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        notification.open({
          message: localeModule.t('graph.connection-deleted'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });
        const node = buildedGraph.value.findById(selectedNodes.value[0].id);
        node._cfg.edges.forEach(element => {
          buildedGraph.value.removeItem(element);
        });
        selectedNodes.value = []
      }
    }
  })

}
const closeModal = () => {
  modal.state = '';
}

const deleteDisabled = computed(() => {
  const node = selectedNodes.value.length ? buildedGraph.value.findById(selectedNodes.value[0].id) : null;
  return node ? node._cfg.edges.length > 0 : false
})

const groupsArray = computed(() => {
  let arrayNodes = props.graphData.nodes
  let arrayEdges = props.graphData.edges
  let nodes = []
  let edges = []
  let combos = []

  let groups = arrayNodes.reduce((acc, city) => {
    if (acc.map[city.group_id])
      return acc;
    acc.map[city.group_id] = true;
    if (city.group_id !== null) {
      acc.groups.push(city);
    }
    return acc;
  }, {
    map: {},
    groups: []
  }).groups;

  let subgroups = arrayNodes.reduce((acc, city) => {
    if (acc.map[city.subgroup_id])
      return acc;
    acc.map[city.subgroup_id] = true;
    acc.subgroups.push(city);
    return acc;
  }, {
    map: {},
    subgroups: []
  }).subgroups;

  groups.forEach(element => {
    if (element.group_id) {
      combos.push({
        id: element.group_id.toString(),
        label: element.group_name,
      })
    }
  });
  subgroups.forEach(element => {
    if (element.subgroup_id) {
      combos.push({
        id: element.subgroup_id.toString(),
        label: element.subgroup_name,
        parentId: element.subgroup_id.toString()[0],
      })
    }
  });

  arrayNodes.forEach(element => {
    nodes.push({
      id: `${element.indr_id}`,
      label: element.model_node_label,
      comboId: element.subgroup_id,
      description: {
        name: element.indr_name,
        auto_linked_nodes_cnt: element.auto_linked_nodes_cnt,
        manual_linked_nodes_cnt: element.manual_linked_nodes_cnt,
        observable_in_model: element.observable_in_model,
        affected_forecasting_model: element.affected_forecasting_model,
        param_value_forecasting_model: element.param_value_forecasting_model,
        indr_status_term: element.indr_status_term,
        indr_status: element.indr_status,
      },
    })
  });

  if (Array.isArray(arrayEdges)) {
    arrayEdges.forEach(element => {
      edges.push({
        source: `${element.indr1_id}`,
        target: `${element.indr2_id}`,
        link_direction: element.link_direction,
        link_capacity: element.link_capacity,
        creation_type: element.creation_type,
        has_other_creation_type: element.has_other_creation_type,
        value: element.link_direction,
        strength: element.link_capacity || 1,
        method: element.creation_type,
        correlation_coeff: element.correlation_coeff,
      },)
    });
  }

  return { nodes: nodes, edges: edges, combos: combos };
})

const groupsArrayForce = computed(() => {
  let arrayNodes = props.graphData.nodes
  let arrayEdges = props.graphData.edges
  let nodes = []
  let edges = []
  let clusters = []

  let groups = arrayNodes.reduce((acc, city) => {
    if (acc.map[city.group_id])
      return acc;
    acc.map[city.group_id] = true;
    if (city.group_id !== null) {
      acc.groups.push(city);
    }
    return acc;
  }, {
    map: {},
    groups: []
  }).groups;

  let subgroups = arrayNodes.reduce((acc, city) => {
    if (acc.map[city.subgroup_id])
      return acc;
    acc.map[city.subgroup_id] = true;
    acc.subgroups.push(city);
    return acc;
  }, {
    map: {},
    subgroups: []
  }).subgroups;

  groups.forEach(element => {
    if (element.group_id) {
      clusters.push({
        id: element.group_id.toString(),
        label: element.group_name,
      })
    }
  });
  subgroups.forEach(element => {
    if (element.subgroup_id) {
      clusters.push({
        id: element.subgroup_id.toString(),
        label: element.subgroup_name,
        parentId: element.subgroup_id.toString()[0],
      })
    }
  });

  arrayNodes.forEach(element => {
    nodes.push({
      id: `${element.indr_id}`,
      label: element.model_node_label,
      clusterId: element.subgroup_id,
      cluster: element.subgroup_id,
      description: {
        name: element.indr_name,
        auto_linked_nodes_cnt: element.auto_linked_nodes_cnt,
        manual_linked_nodes_cnt: element.manual_linked_nodes_cnt,
        observable_in_model: element.observable_in_model,
        affected_forecasting_model: element.affected_forecasting_model,
        param_value_forecasting_model: element.param_value_forecasting_model,
        indr_status_term: element.indr_status_term,
        indr_status: element.indr_status,
      },
    })
  });

  if (Array.isArray(arrayEdges)) {
    arrayEdges.forEach(element => {
      edges.push({
        source: `${element.indr1_id}`,
        target: `${element.indr2_id}`,
        link_direction: element.link_direction,
        link_capacity: element.link_capacity,
        creation_type: element.creation_type,
        has_other_creation_type: element.has_other_creation_type,
        value: element.link_direction,
        strength: element.link_capacity || 1,
        method: element.creation_type
      },)
    });
  }


  return { nodes: nodes, edges: edges, clusters: clusters };
})


const buildGraphCombos = () => {
  const data = groupsArray.value;
  const comboChildrenCache = {};
  const itemComboMap = {};
  const itemMap = {};
  const comboEdges = {};
  (data.nodes.concat(data.combos)).forEach(item => {
    const { id, comboId, parentId } = item;
    const parentComboId = comboId || parentId;
    if (parentComboId) {
      if (!comboChildrenCache[parentComboId]) comboChildrenCache[parentComboId] = [];
      comboChildrenCache[parentComboId].push(id);
      itemComboMap[id] = parentComboId;
    }
    itemMap[id] = { ...item };
  });
  const comboIds = data.combos.map(combo => combo.id);
  data.edges.forEach(edge => {
    const { source, target } = edge;
    [source, target].forEach(endId => {
      if (comboIds.includes(endId)) {
        if (!comboEdges[endId]) comboEdges[endId] = [];
        comboEdges[endId].push(edge);
      }
    })
  });

  const connections = [
    { type: 4, icon: '<svg focusable="false" class="" data-icon="swap" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="64 64 896 896"><path d="M847.9 592H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h605.2L612.9 851c-4.1 5.2-.4 13 6.3 13h72.5c4.9 0 9.5-2.2 12.6-6.1l168.8-214.1c16.5-21 1.6-51.8-25.2-51.8zM872 356H266.8l144.3-183c4.1-5.2.4-13-6.3-13h-72.5c-4.9 0-9.5 2.2-12.6 6.1L150.9 380.2c-16.5 21-1.6 51.8 25.1 51.8h696c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg>', label: localeModule.t('graph.visual.bidirectional') },
    { type: 1, icon: '<svg focusable="false" class="" data-icon="minus" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="64 64 896 896"><path d="M872 474H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h720c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg>', label: localeModule.t('graph.visual.not-defined') },
    { type: 2, icon: '<svg focusable="false" class="" data-icon="arrow-right" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="64 64 896 896"><path d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 000-48.4z"></path></svg>', label: localeModule.t('graph.visual.from-min') },
    { type: 3, icon: '<svg focusable="false" class="" data-icon="arrow-right" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="64 64 896 896"><path d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 000-48.4z"></path></svg>', label: localeModule.t('graph.visual.from-max') },
    // { type: 3, icon: '<svg focusable="false" class="" data-icon="arrow-left" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="64 64 896 896"><path d="M872 474H286.9l350.2-304c5.6-4.9 2.2-14-5.2-14h-88.5c-3.9 0-7.6 1.4-10.5 3.9L155 487.8a31.96 31.96 0 000 48.3L535.1 866c1.5 1.3 3.3 2 5.2 2h91.5c7.4 0 10.8-9.2 5.2-14L286.9 550H872c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg>', label: localeModule.t('graph.visual.from-max') },
  ]

  const subjectColors = [
    '#5F95FF',
    '#61DDAA',
    '#65789B',
    '#F6BD16',
    '#7262FD',
    '#78D3F8',
    '#9661BC',
    '#F6903D',
    '#008685',
    '#F08BB4',
  ];
  const backColor = '#fff';
  const theme = 'default';
  const disableColor = '#777';
  const colorSets = G6.Util.getColorSetsBySubjectColors(
    subjectColors,
    backColor,
    theme,
    disableColor,
  );
  data.combos.forEach((combo, i) => {
    const color = colorSets[i % colorSets.length];
    combo.style = {
      stroke: color.mainStroke,
      fill: color.mainFill,
      opacity: 0.8
    }
    itemMap[combo.id].style = { ...combo.style }
  })
  data.nodes.forEach(node => {
    const comboId = itemComboMap[node.id];
    const parentCombo = itemMap[comboId];


    if (node.description.auto_linked_nodes_cnt > 20) {
      node.size = node.description.auto_linked_nodes_cnt
    }
    if (node.description.manual_linked_nodes_cnt > 20) {
      node.size = node.description.manual_linked_nodes_cnt
    }
    if (node.description.indr_status == 5) {
      node.labelCfg = {
        style: {
          stroke: 'transparent',
          fill: '#52c41a',
        }
      }
    } else if (node.description.indr_status == 1) {
      node.labelCfg = {
        style: {
          stroke: 'transparent',
          fill: '#ff4d4f',
        }
      }
    } else {
      node.labelCfg = {
        style: {
          stroke: 'transparent',
          fill: '#faad14',
        }
      }
    }

    if (parentCombo) {
      node.style = {
        stroke: parentCombo.style.stroke,
        fill: parentCombo.style.fill,
      }
    }
  })

  const tooltip = new G6.Tooltip({
    offsetX: 10,
    offsetY: 10,
    fixToNode: [1, 0.5],
    itemTypes: ['node', 'edge'],
    getContent: (e) => {
      const outDiv = document.createElement('div');
      outDiv.style.maxWidth = '600px';
      outDiv.style.height = 'fit-content';
      const model = e.item.getModel();
      if (e.item.getType() === 'node') {
        outDiv.innerHTML = `${model.description.name}(${model.label})`;
      } else {
        const connection = connections.find((el) => el.type == e.item._cfg.model.link_direction)
        const source = e.item.getSource();
        const target = e.item.getTarget();

        if (connection.type == 1) {
          outDiv.innerHTML = `<div ><span >${localeModule.t('graph.text.connection-1-1')} <span style='font-weight: bold; color: #52c41a;'>"${source.getModel().description.name}"</span> ${localeModule.t('graph.text.connection-1-2')} <span style='font-weight: bold; color: #52c41a;'>"${target.getModel().description.name}"</span> ${localeModule.t('graph.text.connection-1-3')}</span></div><div>${localeModule.t('graph.visual.correlation_coeff')}: ${e.item._cfg.model.correlation_coeff}</div><div style='display: flex; align-items: center; gap: 8px;'>${localeModule.t('graph.visual.direction')}: <div style='margin-top: 6px; color: ${e.item._cfg.model.color}'>${connection.icon}</div></div>`;
        }

        if (connection.type == 2) {
          outDiv.innerHTML = `<div ><span >${localeModule.t('graph.text.connection-2-1')} <span style='font-weight: bold; color: #52c41a;'>"${source.getModel().description.name}"</span><br/> ${localeModule.t('graph.text.connection-2-2')} <span style='font-weight: bold; color: #52c41a;'>"${target.getModel().description.name}"</span></span></div><div>${localeModule.t('graph.visual.correlation_coeff')}: ${e.item._cfg.model.correlation_coeff}</div><div style='display: flex; align-items: center; gap: 8px;'>${localeModule.t('graph.visual.direction')}: <div style='margin-top: 6px; color: ${e.item._cfg.model.color}'>${connection.icon}</div></div>`;
        }

        if (connection.type == 3) {
          outDiv.innerHTML = `<div ><span >${localeModule.t('graph.text.connection-2-1')} <span style='font-weight: bold; color: #52c41a;'>"${target.getModel().description.name}"</span><br/> ${localeModule.t('graph.text.connection-2-2')} <span style='font-weight: bold; color: #52c41a;'>"${source.getModel().description.name}"</span></span></div><div>${localeModule.t('graph.visual.correlation_coeff')}: ${e.item._cfg.model.correlation_coeff}</div><div style='display: flex; align-items: center; gap: 8px;'>${localeModule.t('graph.visual.direction')}: <div style='margin-top: 6px; color: ${e.item._cfg.model.color}'>${connection.icon}</div></div>`;
        }

        if (connection.type == 4) {
          outDiv.innerHTML = `<div ><span >${localeModule.t('graph.text.connection-4-1')} <span style='font-weight: bold; color: #52c41a;'>"${source.getModel().description.name}"</span> ${localeModule.t('graph.text.connection-4-2')} <span style='font-weight: bold; color: #52c41a;'>"${target.getModel().description.name}"</span> ${localeModule.t('graph.text.connection-4-3')}</span></div><div>${localeModule.t('graph.visual.correlation_coeff')}: ${e.item._cfg.model.correlation_coeff}</div><div style='display: flex; align-items: center; gap: 8px;'>${localeModule.t('graph.visual.direction')}: <div style='margin-top: 6px; color: ${e.item._cfg.model.color}'>${connection.icon}</div></div>`;
        }
      }
      return outDiv;
    },
  });

  const contextMenu = new G6.Menu({
    handleMenuClick: (target, item) => {
      if (target.id == 'menuLink') {
        navigateTo(localePath(`/indicators?indr_id=${item._cfg.id}`))
      }
      if (target.id == 'buttonModal') {
        // modal.state = 'graphIndicatorModal'
        // modal.state = ''
        emit('openIndicatorModel', item._cfg.id)
        modalIndicatorId.value = item._cfg.id
      }
    },
    getContent(e) {
      return `<div class="inner">
      <div class="inner__content">
        <span class="inner__title">${e.item.getModel().description.name}</span>
        <div class="inner__list">

          <div class="inner__item">
            <span class="inner__description">${localeModule.t('graph.visual.build-factor')}: </span>
            ${e.item.getModel().description.observable_in_model == 0 ? '<svg focusable="false" class="inner__icon" data-icon="close-square" width="1em" height="1em" fill="#ff4d4f" aria-hidden="true" viewBox="64 64 896 896"><path d="M354 671h58.9c4.7 0 9.2-2.1 12.3-5.7L512 561.8l86.8 103.5c3 3.6 7.5 5.7 12.3 5.7H670c6.8 0 10.5-7.9 6.1-13.1L553.8 512l122.4-145.9c4.4-5.2.7-13.1-6.1-13.1h-58.9c-4.7 0-9.2 2.1-12.3 5.7L512 462.2l-86.8-103.5c-3-3.6-7.5-5.7-12.3-5.7H354c-6.8 0-10.5 7.9-6.1 13.1L470.2 512 347.9 657.9A7.95 7.95 0 00354 671z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>' : '<svg focusable="false" class="inner__icon" data-icon="check-square" width="1em" height="1em" fill="#52c41a" aria-hidden="true" viewBox="64 64 896 896"><path d="M433.1 657.7a31.8 31.8 0 0051.7 0l210.6-292c3.8-5.3 0-12.7-6.5-12.7H642c-10.2 0-19.9 4.9-25.9 13.3L459 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H315c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>'}    
          </div>
          
          <div class="inner__item">
            <span class="inner__description">${localeModule.t('graph.visual.set-impulses')}:</span>
            ${e.item.getModel().description.affected_forecasting_model == 0 ? '<svg focusable="false" class="inner__icon" data-icon="close-square" width="1em" height="1em" fill="#ff4d4f" aria-hidden="true" viewBox="64 64 896 896"><path d="M354 671h58.9c4.7 0 9.2-2.1 12.3-5.7L512 561.8l86.8 103.5c3 3.6 7.5 5.7 12.3 5.7H670c6.8 0 10.5-7.9 6.1-13.1L553.8 512l122.4-145.9c4.4-5.2.7-13.1-6.1-13.1h-58.9c-4.7 0-9.2 2.1-12.3 5.7L512 462.2l-86.8-103.5c-3-3.6-7.5-5.7-12.3-5.7H354c-6.8 0-10.5 7.9-6.1 13.1L470.2 512 347.9 657.9A7.95 7.95 0 00354 671z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>' : '<svg focusable="false" class="inner__icon" data-icon="check-square" width="1em" height="1em" fill="#52c41a" aria-hidden="true" viewBox="64 64 896 896"><path d="M433.1 657.7a31.8 31.8 0 0051.7 0l210.6-292c3.8-5.3 0-12.7-6.5-12.7H642c-10.2 0-19.9 4.9-25.9 13.3L459 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H315c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>'}    
          </div>

          <div class="inner__item">
            <span class="inner__description">${localeModule.t('graph.visual.set-target')}:</span>
            ${e.item.getModel().description.param_value_forecasting_model == 0 ? '<svg focusable="false" class="inner__icon" data-icon="close-square" width="1em" height="1em" fill="#ff4d4f" aria-hidden="true" viewBox="64 64 896 896"><path d="M354 671h58.9c4.7 0 9.2-2.1 12.3-5.7L512 561.8l86.8 103.5c3 3.6 7.5 5.7 12.3 5.7H670c6.8 0 10.5-7.9 6.1-13.1L553.8 512l122.4-145.9c4.4-5.2.7-13.1-6.1-13.1h-58.9c-4.7 0-9.2 2.1-12.3 5.7L512 462.2l-86.8-103.5c-3-3.6-7.5-5.7-12.3-5.7H354c-6.8 0-10.5 7.9-6.1 13.1L470.2 512 347.9 657.9A7.95 7.95 0 00354 671z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>' : '<svg focusable="false" class="inner__icon" data-icon="check-square" width="1em" height="1em" fill="#52c41a" aria-hidden="true" viewBox="64 64 896 896"><path d="M433.1 657.7a31.8 31.8 0 0051.7 0l210.6-292c3.8-5.3 0-12.7-6.5-12.7H642c-10.2 0-19.9 4.9-25.9 13.3L459 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H315c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>'}    
          </div>

          <div class="inner__item">
            <span class="inner__description">${localeModule.t('graph.visual.status')}: </span>
            <div class="inner__tag ${(e.item.getModel().description.indr_status == '5') ? 'green' :
          (e.item.getModel().description.indr_status == '1') ? 'red' : 'orange'}">
              <span class="inner__description">${e.item.getModel().description.indr_status_term || ''}</span>
            </div>
          </div> 
          <div class="inner__item top">             
            <button id='buttonModal' class="inner__button">
              ${localeModule.t('graph.visual.info')}
            </button>
            <a id='menuLink' href="javascript:void(0)" class="inner__description">
              ${localeModule.t('graph.visual.route-to')} 
            </a>     
          </div> 
        </div>                
      </div>      
    </div>`;
    },
    offsetX: 10,
    offsetY: 10,
    itemTypes: ['node', 'edge'],
  });

  const container = document.getElementById('container');
  const width = container.scrollWidth;
  // const height = window.innerHeight - 380;
  const height = window.innerHeight - 140;
  const minimap = new G6.Minimap({
    size: [150, 100],
  });
  const graph = new G6.Graph({
    container: 'container',
    width,
    height,
    fitView: true,
    plugins: [contextMenu, minimap, tooltip],
    modes: {
      default: [{
        type: 'click-select',
        shouldBegin: (e) => {
          if (selectedNodes.value.length > 1 && e.item?._cfg.type == 'node') {
            return false;
          }
          return true;
        },
      }, 'drag-combo', 'drag-node', 'activate-relations', 'drag-canvas', 'zoom-canvas', 'collapse-expand-combo'],
    },
    layout: {
      type: 'comboCombined',
      spacing: 5,
      outerLayout: new G6.Layout['forceAtlas2']({
        kr: 10,
        workerEnabled: true,
      })
    },
    defaultNode: {
      size: 20,
      style: {
        lineWidth: 2,
        fill: '#C6E5FF',
      },
      labelCfg: {
        style: {
          fontSize: 8
        },
      },
    },
    defaultEdge: {
      type: 'cubic',
      labelCfg: {
        autoRotate: true,
        style: {
          stroke: '#fff',
          lineWidth: 2,
        },
      },
    },
    defaultCombo: {
      padding: 10,
      fixCollapseSize: 60
    },
  });

  data.edges.forEach((edge) => {
    let edgeColor = '#aaa';
    if (edge.creation_type == 1) {
      edgeColor = '#1677ff'
    }
    if (edge.creation_type == 2) {
      edgeColor = '#52c41a'
    }
    if (edge.creation_type == 3) {
      edgeColor = 'yellow'
    }
    if (edge.link_capacity >= 0.99) {
      edgeColor = 'red'
    }

    edge.color = edgeColor;
    edge.style = {
      opacity: 0.2,
      lineWidth: (edge.link_capacity >= 0.75 && edge.link_capacity < 0.81) ? 1 :
        (edge.link_capacity >= 0.81 && edge.link_capacity < 0.87) ? 3 :
          (edge.link_capacity >= 0.87 && edge.link_capacity < 0.93) ? 6 :
            (edge.link_capacity > 0.93) ? 9 : 0.7,
      // lineWidth: edge.link_capacity ? edge.link_capacity : 0.7,
      startArrow: [3, 4].includes(edge.link_direction) ? {
        path: 'M 0,0 L 4,2 L 4,-2 Z',
        fill: '#e2e2e2',
      } : false,
      endArrow: [2, 4].includes(edge.link_direction) ? {
        path: 'M 0,0 L 4,2 L 4,-2 Z',
        fill: '#e2e2e2',
      } : false,
    };
  });

  graph.on('afterlayout', () => { graphLoaded.value = true })

  graph.on('edge:mouseenter', (ev) => {
    const edge = ev.item;
    edge._cfg.styles.highlight.lineWidth = 9
    edge._cfg.styles.highlight.stroke = "rgb(0, 0, 0)"
    graph.setItemState(edge, 'highlight', true);
  });

  graph.on('edge:mouseleave', (ev) => {
    const edge = ev.item;
    graph.setItemState(edge, 'highlight', false);
  });

  graph.on('nodeselectchange', (e) => {
    if (e.select) {
      if (selectedNodes.value.length >= 2) {
        selectedNodes.value = []
        e.selectedItems.nodes = []
      } else {
        selectedNodes.value = []
        e.selectedItems.nodes.forEach(element => {
          selectedNodes.value.push({ id: element._cfg.model.id, label: element._cfg.model.label })
        });
      }
    } else {
      selectedNodes.value = []
    }
  });

  graph.data(data);
  graph.render();
  buildedGraph.value = graph

  buildedGraph.value?.cfg?.edges.forEach((edge) => {
    if (edge._cfg.model.creation_type == 1) {
      edge.show();
    } else {
      edge.hide();
    }
  });

  if (typeof window !== 'undefined')
    window.onresize = () => {
      if (!graph || graph.get('destroyed')) return;
      if (!container || !container.scrollWidth || !container.scrollHeight) return;
      graph.changeSize(container.scrollWidth, container.scrollHeight);
    };
  watch(connectionType, (newValue) => {
    range.value = [0.75, 1];
    if (graphLoaded.value) {
      const edges = buildedGraph.value?.cfg?.edges
      if (newValue == 'auto') {
        edges.forEach((edge) => {
          if (edge._cfg.model.creation_type == 1) {
            edge.show();
          } else {
            edge.hide();
          }
        });
      }
      if (newValue == 'manual') {
        edges.forEach((edge) => {
          if (edge._cfg.model.creation_type == 2) {
            edge.show();
          } else {
            edge.hide();
          }
        });
      }
      if (newValue == 'autoNone') {
        edges.forEach((edge) => {
          if (edge._cfg.model.creation_type == 1 && edge._cfg.model.has_other_creation_type == 0) {
            edge.show();
          } else {
            edge.hide();
          }
        });
      }
      if (newValue == 'manualNone') {
        edges.forEach((edge) => {
          if (edge._cfg.model.creation_type == 2 && edge._cfg.model.has_other_creation_type == 0) {
            edge.show();
          } else {
            edge.hide();
          }
        });
      }
      if (newValue == 'coincidence') {
        edges.forEach((edge) => {
          if (edge._cfg.model.creation_type == 1 && edge._cfg.model.has_other_creation_type == 1) {
            edge.show();
          } else {
            edge.hide();
          }
        });
      }
    }
  })

  watchDebounced(
    range,
    () => {
      if (graphLoaded.value) {
        const edges = buildedGraph.value?.cfg?.edges
        edges.forEach((edge) => {
          if (getEdgeType(edge)) {
            if (edge._cfg.model.link_capacity >= range.value[0] && edge._cfg.model.link_capacity <= range.value[1]) {
              edge.show();
            } else {
              edge.hide();
            }
          } else {
            edge.hide();
          }

        });
      }
    },
    { debounce: 1000, maxWait: 1000 },
  )
}

const buildGraphForce = () => {
  const colors = [
    '#BDD2FD',
    '#BDEFDB',
    '#C2C8D5',
    '#FBE5A2',
    '#F6C3B7',
    '#B6E3F5',
    '#D3C6EA',
    '#FFD8B8',
    '#AAD8D8',
    '#FFD6E7',
  ];

  const strokes = [
    '#5B8FF9',
    '#5AD8A6',
    '#5D7092',
    '#F6BD16',
    '#E8684A',
    '#6DC8EC',
    '#9270CA',
    '#FF9D4D',
    '#269A99',
    '#FF99C3',
  ];
  const data = groupsArrayForce.value;

  const clusterMap = new Map();
  let clusterId = 0;

  data.nodes.forEach(function (node) {
    // cluster
    if (node.cluster && clusterMap.get(node.cluster) === undefined) {
      clusterMap.set(node.cluster, clusterId);
      clusterId++;
    }
    const cid = clusterMap.get(node.cluster);
    if (!node.style) {
      node.style = {};
    }
    node.style.fill = colors[cid % colors.length];
    node.style.stroke = strokes[cid % strokes.length];
  });

  const connections = [
    { type: 4, icon: '<svg focusable="false" class="" data-icon="swap" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="64 64 896 896"><path d="M847.9 592H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h605.2L612.9 851c-4.1 5.2-.4 13 6.3 13h72.5c4.9 0 9.5-2.2 12.6-6.1l168.8-214.1c16.5-21 1.6-51.8-25.2-51.8zM872 356H266.8l144.3-183c4.1-5.2.4-13-6.3-13h-72.5c-4.9 0-9.5 2.2-12.6 6.1L150.9 380.2c-16.5 21-1.6 51.8 25.1 51.8h696c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg>', label: localeModule.t('graph.visual.bidirectional') },
    { type: 1, icon: '<svg focusable="false" class="" data-icon="minus" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="64 64 896 896"><path d="M872 474H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h720c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg>', label: localeModule.t('graph.visual.not-defined') },
    { type: 2, icon: '<svg focusable="false" class="" data-icon="arrow-right" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="64 64 896 896"><path d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 000-48.4z"></path></svg>', label: localeModule.t('graph.visual.from-min') },
    { type: 3, icon: '<svg focusable="false" class="" data-icon="arrow-left" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="64 64 896 896"><path d="M872 474H286.9l350.2-304c5.6-4.9 2.2-14-5.2-14h-88.5c-3.9 0-7.6 1.4-10.5 3.9L155 487.8a31.96 31.96 0 000 48.3L535.1 866c1.5 1.3 3.3 2 5.2 2h91.5c7.4 0 10.8-9.2 5.2-14L286.9 550H872c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg>', label: localeModule.t('graph.visual.from-max') },
  ]

  data.nodes.forEach(node => {
    if (node.description.auto_linked_nodes_cnt > 20) {
      node.size = node.description.auto_linked_nodes_cnt
    }
    if (node.description.manual_linked_nodes_cnt > 20) {
      node.size = node.description.manual_linked_nodes_cnt
    }
    if (node.description.indr_status == 5) {
      node.labelCfg = {
        style: {
          stroke: 'transparent',
          fill: '#52c41a',
        }
      }
    } else if (node.description.indr_status == 1) {
      node.labelCfg = {
        style: {
          stroke: 'transparent',
          fill: '#ff4d4f',
        }
      }
    } else {
      node.labelCfg = {
        style: {
          stroke: 'transparent',
          fill: '#faad14',
        }
      }
    }
  })

  const tooltip = new G6.Tooltip({
    offsetX: 10,
    offsetY: 10,
    fixToNode: [1, 0.5],
    itemTypes: ['node', 'edge'],
    getContent: (e) => {
      const outDiv = document.createElement('div');
      outDiv.style.maxWidth = '600px';
      outDiv.style.height = 'fit-content';
      const model = e.item.getModel();
      if (e.item.getType() === 'node') {
        outDiv.innerHTML = `${model.description.name}(${model.label})`;
      } else {
        const connection = connections.find((el) => el.type == e.item._cfg.model.link_direction)
        const source = e.item.getSource();
        const target = e.item.getTarget();

        outDiv.innerHTML = `<div style='display: flex; align-items: center; gap: 8px;'>${localeModule.t('graph.visual.connection')}: ${connection.label} <div style='color: ${e.item._cfg.model.color}'>${connection.icon}</div></div> 1: ${source.getModel().description.name}(${source.getModel().label}) <br/>2: ${target.getModel().description.name}(${target.getModel().label})`;
      }
      return outDiv;
    },
  });

  const contextMenu = new G6.Menu({
    handleMenuClick: (target, item) => {
      if (target.id == 'menuLink') {
        navigateTo(localePath(`/indicators?indr_id=${item._cfg.id}`))
      }
      if (target.id == 'buttonModal') {
        emit('openIndicatorModel', item._cfg.id)
        modalIndicatorId.value = item._cfg.id
      }
    },
    getContent(e) {
      return `<div class="inner">
      <div class="inner__content">
        <span class="inner__title">${e.item.getModel().description.name}</span>
        <div class="inner__list">

          <div class="inner__item">
            <span class="inner__description">${localeModule.t('graph.visual.build-factor')}: </span>
            ${e.item.getModel().description.observable_in_model == 0 ? '<svg focusable="false" class="inner__icon" data-icon="close-square" width="1em" height="1em" fill="#ff4d4f" aria-hidden="true" viewBox="64 64 896 896"><path d="M354 671h58.9c4.7 0 9.2-2.1 12.3-5.7L512 561.8l86.8 103.5c3 3.6 7.5 5.7 12.3 5.7H670c6.8 0 10.5-7.9 6.1-13.1L553.8 512l122.4-145.9c4.4-5.2.7-13.1-6.1-13.1h-58.9c-4.7 0-9.2 2.1-12.3 5.7L512 462.2l-86.8-103.5c-3-3.6-7.5-5.7-12.3-5.7H354c-6.8 0-10.5 7.9-6.1 13.1L470.2 512 347.9 657.9A7.95 7.95 0 00354 671z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>' : '<svg focusable="false" class="inner__icon" data-icon="check-square" width="1em" height="1em" fill="#52c41a" aria-hidden="true" viewBox="64 64 896 896"><path d="M433.1 657.7a31.8 31.8 0 0051.7 0l210.6-292c3.8-5.3 0-12.7-6.5-12.7H642c-10.2 0-19.9 4.9-25.9 13.3L459 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H315c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>'}    
          </div>
          
          <div class="inner__item">
            <span class="inner__description">${localeModule.t('graph.visual.set-impulses')}:</span>
            ${e.item.getModel().description.affected_forecasting_model == 0 ? '<svg focusable="false" class="inner__icon" data-icon="close-square" width="1em" height="1em" fill="#ff4d4f" aria-hidden="true" viewBox="64 64 896 896"><path d="M354 671h58.9c4.7 0 9.2-2.1 12.3-5.7L512 561.8l86.8 103.5c3 3.6 7.5 5.7 12.3 5.7H670c6.8 0 10.5-7.9 6.1-13.1L553.8 512l122.4-145.9c4.4-5.2.7-13.1-6.1-13.1h-58.9c-4.7 0-9.2 2.1-12.3 5.7L512 462.2l-86.8-103.5c-3-3.6-7.5-5.7-12.3-5.7H354c-6.8 0-10.5 7.9-6.1 13.1L470.2 512 347.9 657.9A7.95 7.95 0 00354 671z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>' : '<svg focusable="false" class="inner__icon" data-icon="check-square" width="1em" height="1em" fill="#52c41a" aria-hidden="true" viewBox="64 64 896 896"><path d="M433.1 657.7a31.8 31.8 0 0051.7 0l210.6-292c3.8-5.3 0-12.7-6.5-12.7H642c-10.2 0-19.9 4.9-25.9 13.3L459 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H315c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>'}    
          </div>

          <div class="inner__item">
            <span class="inner__description">${localeModule.t('graph.visual.set-target')}:</span>
            ${e.item.getModel().description.param_value_forecasting_model == 0 ? '<svg focusable="false" class="inner__icon" data-icon="close-square" width="1em" height="1em" fill="#ff4d4f" aria-hidden="true" viewBox="64 64 896 896"><path d="M354 671h58.9c4.7 0 9.2-2.1 12.3-5.7L512 561.8l86.8 103.5c3 3.6 7.5 5.7 12.3 5.7H670c6.8 0 10.5-7.9 6.1-13.1L553.8 512l122.4-145.9c4.4-5.2.7-13.1-6.1-13.1h-58.9c-4.7 0-9.2 2.1-12.3 5.7L512 462.2l-86.8-103.5c-3-3.6-7.5-5.7-12.3-5.7H354c-6.8 0-10.5 7.9-6.1 13.1L470.2 512 347.9 657.9A7.95 7.95 0 00354 671z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>' : '<svg focusable="false" class="inner__icon" data-icon="check-square" width="1em" height="1em" fill="#52c41a" aria-hidden="true" viewBox="64 64 896 896"><path d="M433.1 657.7a31.8 31.8 0 0051.7 0l210.6-292c3.8-5.3 0-12.7-6.5-12.7H642c-10.2 0-19.9 4.9-25.9 13.3L459 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H315c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>'}    
          </div>

          <div class="inner__item">
            <span class="inner__description">${localeModule.t('graph.visual.status')}: </span>
            <div class="inner__tag ${(e.item.getModel().description.indr_status == '5') ? 'green' :
          (e.item.getModel().description.indr_status == '1') ? 'red' : 'orange'}">
              <span class="inner__description">${e.item.getModel().description.indr_status_term || ''}</span>
            </div>
          </div> 
          <div class="inner__item top">             
            <button id='buttonModal' class="inner__button">
              ${localeModule.t('graph.visual.info')}
            </button>
            <a id='menuLink' href="javascript:void(0)" class="inner__description">
              ${localeModule.t('graph.visual.route-to')} 
            </a>     
          </div> 
        </div>                
      </div>      
    </div>`;
    },
    offsetX: 10,
    offsetY: 10,
    itemTypes: ['node', 'edge'],
  });

  const container = document.getElementById('container');
  const width = container.scrollWidth;
  //const height = window.innerHeight - 380;
  const height = window.innerHeight - 140;

  const minimap = new G6.Minimap({
    size: [150, 100],
  });
  const graph = new G6.Graph({
    container: 'container',
    width,
    height,
    fitView: true,
    plugins: [contextMenu, minimap, tooltip],
    modes: {
      default: [{
        type: 'click-select',
        shouldBegin: (e) => {
          if (selectedNodes.value.length > 1 && e.item?._cfg.type == 'node') {
            return false;
          }
          return true;
        },
      }, 'drag-node', 'activate-relations', 'drag-canvas', 'zoom-canvas',],
    },
    layout: {
      // type: 'fruchterman',
      // gravity: 5,
      // speed: 5,
      // clusterGravity: 30,
      // clustering: true,
      // nodeClusterBy: 'cluster',
      type: 'force',
      clustering: true,
      clusterNodeStrength: -5,
      clusterEdgeDistance: 200,
      clusterNodeSize: 20,
      clusterFociStrength: 1.2,
      nodeSpacing: 10,
      preventOverlap: true,
    },
    node: {
      palette: {
        type: 'group',
        field: 'cluster',
      },
    },
    defaultNode: {
      size: 20,
      style: {
        lineWidth: 2,
        fill: '#C6E5FF',
      },

      labelCfg: {
        style: {
          fontSize: 8
        },
      },
    },
    defaultEdge: {
      type: 'cubic',
      labelCfg: {
        autoRotate: true,
        style: {
          stroke: '#fff',
          lineWidth: 2,
        },
      },
    },
  });

  data.edges.forEach((edge) => {
    let edgeColor = '#aaa';
    if (edge.creation_type == 1) {
      edgeColor = '#1677ff'
    }
    if (edge.creation_type == 2) {
      edgeColor = '#52c41a'
    }
    if (edge.creation_type == 3) {
      edgeColor = 'yellow'
    }
    if (edge.link_capacity >= 0.99) {
      edgeColor = 'red'
    }

    edge.color = edgeColor;
    edge.style = {
      opacity: 0.2,
      lineWidth: (edge.link_capacity >= 0.75 && edge.link_capacity < 0.81) ? 1 :
        (edge.link_capacity >= 0.81 && edge.link_capacity < 0.87) ? 2 :
          (edge.link_capacity >= 0.87 && edge.link_capacity < 0.93) ? 3 :
            (edge.link_capacity > 0.93) ? 4 : 0.7,
      // lineWidth: edge.link_capacity ? edge.link_capacity : 0.7,
      startArrow: [3, 4].includes(edge.link_direction) ? {
        path: 'M 0,0 L 4,2 L 4,-2 Z',
        fill: '#e2e2e2',
      } : false,
      endArrow: [2, 4].includes(edge.link_direction) ? {
        path: 'M 0,0 L 4,2 L 4,-2 Z',
        fill: '#e2e2e2',
      } : false,
    };
  });

  graph.on('afterlayout', () => { graphLoaded.value = true })

  graph.on('edge:mouseenter', (ev) => {
    const edge = ev.item;
    edge._cfg.styles.highlight.lineWidth = 9
    edge._cfg.styles.highlight.stroke = "rgb(0, 0, 0)"
    graph.setItemState(edge, 'highlight', true);
  });

  graph.on('edge:mouseleave', (ev) => {
    const edge = ev.item;
    graph.setItemState(edge, 'highlight', false);
  });

  graph.on('nodeselectchange', (e) => {
    if (e.select) {
      if (selectedNodes.value.length >= 2) {
        selectedNodes.value = []
        e.selectedItems.nodes = []
      } else {
        selectedNodes.value = []
        e.selectedItems.nodes.forEach(element => {
          selectedNodes.value.push({ id: element._cfg.model.id, label: element._cfg.model.label })
        });
      }
    } else {
      selectedNodes.value = []
    }
  });

  graph.data(data);
  graph.render();
  buildedGraph.value = graph

  buildedGraph.value?.cfg?.edges.forEach((edge) => {
    if (edge._cfg.model.creation_type == 1) {
      edge.show();
    } else {
      edge.hide();
    }
  });

  if (typeof window !== 'undefined')
    window.onresize = () => {
      if (!graph || graph.get('destroyed')) return;
      if (!container || !container.scrollWidth || !container.scrollHeight) return;
      graph.changeSize(container.scrollWidth, container.scrollHeight);
    };
  watch(connectionType, (newValue) => {
    range.value = [0.75, 1];
    if (graphLoaded.value) {
      const edges = buildedGraph.value?.cfg?.edges
      if (newValue == 'auto') {
        edges.forEach((edge) => {
          if (edge._cfg.model.creation_type == 1) {
            edge.show();
          } else {
            edge.hide();
          }
        });
      }
      if (newValue == 'manual') {
        edges.forEach((edge) => {
          if (edge._cfg.model.creation_type == 2) {
            edge.show();
          } else {
            edge.hide();
          }
        });
      }
      if (newValue == 'autoNone') {
        edges.forEach((edge) => {
          if (edge._cfg.model.creation_type == 1 && edge._cfg.model.has_other_creation_type == 0) {
            edge.show();
          } else {
            edge.hide();
          }
        });
      }
      if (newValue == 'manualNone') {
        edges.forEach((edge) => {
          if (edge._cfg.model.creation_type == 2 && edge._cfg.model.has_other_creation_type == 0) {
            edge.show();
          } else {
            edge.hide();
          }
        });
      }
      if (newValue == 'coincidence') {
        edges.forEach((edge) => {
          if (edge._cfg.model.creation_type == 1 && edge._cfg.model.has_other_creation_type == 1) {
            edge.show();
          } else {
            edge.hide();
          }
        });
      }
    }
  })

  watchDebounced(
    range,
    () => {
      if (graphLoaded.value) {
        const edges = buildedGraph.value?.cfg?.edges
        edges.forEach((edge) => {
          if (getEdgeType(edge)) {
            if (edge._cfg.model.link_capacity >= range.value[0] && edge._cfg.model.link_capacity <= range.value[1]) {
              edge.show();
            } else {
              edge.hide();
            }
          } else {
            edge.hide();
          }
        });
      }
    },
    { debounce: 1000, maxWait: 1000 },
  )
}

const buildGraphCircle = () => {
  const colors = [
    '#BDD2FD',
    '#BDEFDB',
    '#C2C8D5',
    '#FBE5A2',
    '#F6C3B7',
    '#B6E3F5',
    '#D3C6EA',
    '#FFD8B8',
    '#AAD8D8',
    '#FFD6E7',
  ];


  const strokes = [
    '#5B8FF9',
    '#5AD8A6',
    '#5D7092',
    '#F6BD16',
    '#E8684A',
    '#6DC8EC',
    '#9270CA',
    '#FF9D4D',
    '#269A99',
    '#FF99C3',
  ];
  const data = groupsArrayForce.value;

  const clusterMap = new Map();
  let clusterId = 0;

  data.nodes.forEach(function (node) {
    // cluster
    if (node.cluster && clusterMap.get(node.cluster) === undefined) {
      clusterMap.set(node.cluster, clusterId);
      clusterId++;
    }
    const cid = clusterMap.get(node.cluster);
    if (!node.style) {
      node.style = {};
    }
    node.style.fill = colors[cid % colors.length];
    node.style.stroke = strokes[cid % strokes.length];
  });

  const connections = [
    { type: 4, icon: '<svg focusable="false" class="" data-icon="swap" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="64 64 896 896"><path d="M847.9 592H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h605.2L612.9 851c-4.1 5.2-.4 13 6.3 13h72.5c4.9 0 9.5-2.2 12.6-6.1l168.8-214.1c16.5-21 1.6-51.8-25.2-51.8zM872 356H266.8l144.3-183c4.1-5.2.4-13-6.3-13h-72.5c-4.9 0-9.5 2.2-12.6 6.1L150.9 380.2c-16.5 21-1.6 51.8 25.1 51.8h696c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg>', label: localeModule.t('graph.visual.bidirectional') },
    { type: 1, icon: '<svg focusable="false" class="" data-icon="minus" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="64 64 896 896"><path d="M872 474H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h720c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg>', label: localeModule.t('graph.visual.not-defined') },
    { type: 2, icon: '<svg focusable="false" class="" data-icon="arrow-right" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="64 64 896 896"><path d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 000-48.4z"></path></svg>', label: localeModule.t('graph.visual.from-min') },
    { type: 3, icon: '<svg focusable="false" class="" data-icon="arrow-left" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="64 64 896 896"><path d="M872 474H286.9l350.2-304c5.6-4.9 2.2-14-5.2-14h-88.5c-3.9 0-7.6 1.4-10.5 3.9L155 487.8a31.96 31.96 0 000 48.3L535.1 866c1.5 1.3 3.3 2 5.2 2h91.5c7.4 0 10.8-9.2 5.2-14L286.9 550H872c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg>', label: localeModule.t('graph.visual.from-max') },
  ]

  data.nodes.forEach(node => {
    if (node.description.auto_linked_nodes_cnt > 20) {
      node.size = node.description.auto_linked_nodes_cnt
    }
    if (node.description.manual_linked_nodes_cnt > 20) {
      node.size = node.description.manual_linked_nodes_cnt
    }
    if (node.description.indr_status == 5) {
      node.labelCfg = {
        style: {
          stroke: 'transparent',
          fill: '#52c41a',
        }
      }
    } else if (node.description.indr_status == 1) {
      node.labelCfg = {
        style: {
          stroke: 'transparent',
          fill: '#ff4d4f',
        }
      }
    } else {
      node.labelCfg = {
        style: {
          stroke: 'transparent',
          fill: '#faad14',
        }
      }
    }
  })

  const tooltip = new G6.Tooltip({
    offsetX: 10,
    offsetY: 10,
    fixToNode: [1, 0.5],
    itemTypes: ['node', 'edge'],
    getContent: (e) => {
      const outDiv = document.createElement('div');
      outDiv.style.maxWidth = '600px';
      outDiv.style.height = 'fit-content';
      const model = e.item.getModel();
      if (e.item.getType() === 'node') {
        outDiv.innerHTML = `${model.description.name}(${model.label})`;
      } else {
        const connection = connections.find((el) => el.type == e.item._cfg.model.link_direction)
        const source = e.item.getSource();
        const target = e.item.getTarget();

        outDiv.innerHTML = `<div style='display: flex; align-items: center; gap: 8px;'>${localeModule.t('graph.visual.connection')}: ${connection.label} <div style='color: ${e.item._cfg.model.color}'>${connection.icon}</div></div> 1: ${source.getModel().description.name}(${source.getModel().label}) <br/>2: ${target.getModel().description.name}(${target.getModel().label})`;
      }
      return outDiv;
    },
  });

  const contextMenu = new G6.Menu({
    handleMenuClick: (target, item) => {
      if (target.id == 'menuLink') {
        navigateTo(localePath(`/indicators?indr_id=${item._cfg.id}`))
      }
      if (target.id == 'buttonModal') {
        emit('openIndicatorModel', item._cfg.id)
        modalIndicatorId.value = item._cfg.id
      }
    },
    getContent(e) {
      return `<div class="inner">
      <div class="inner__content">
        <span class="inner__title">${e.item.getModel().description.name}</span>
        <div class="inner__list">

          <div class="inner__item">
            <span class="inner__description">${localeModule.t('graph.visual.build-factor')}: </span>
            ${e.item.getModel().description.observable_in_model == 0 ? '<svg focusable="false" class="inner__icon" data-icon="close-square" width="1em" height="1em" fill="#ff4d4f" aria-hidden="true" viewBox="64 64 896 896"><path d="M354 671h58.9c4.7 0 9.2-2.1 12.3-5.7L512 561.8l86.8 103.5c3 3.6 7.5 5.7 12.3 5.7H670c6.8 0 10.5-7.9 6.1-13.1L553.8 512l122.4-145.9c4.4-5.2.7-13.1-6.1-13.1h-58.9c-4.7 0-9.2 2.1-12.3 5.7L512 462.2l-86.8-103.5c-3-3.6-7.5-5.7-12.3-5.7H354c-6.8 0-10.5 7.9-6.1 13.1L470.2 512 347.9 657.9A7.95 7.95 0 00354 671z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>' : '<svg focusable="false" class="inner__icon" data-icon="check-square" width="1em" height="1em" fill="#52c41a" aria-hidden="true" viewBox="64 64 896 896"><path d="M433.1 657.7a31.8 31.8 0 0051.7 0l210.6-292c3.8-5.3 0-12.7-6.5-12.7H642c-10.2 0-19.9 4.9-25.9 13.3L459 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H315c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>'}    
          </div>
          
          <div class="inner__item">
            <span class="inner__description">${localeModule.t('graph.visual.set-impulses')}:</span>
            ${e.item.getModel().description.affected_forecasting_model == 0 ? '<svg focusable="false" class="inner__icon" data-icon="close-square" width="1em" height="1em" fill="#ff4d4f" aria-hidden="true" viewBox="64 64 896 896"><path d="M354 671h58.9c4.7 0 9.2-2.1 12.3-5.7L512 561.8l86.8 103.5c3 3.6 7.5 5.7 12.3 5.7H670c6.8 0 10.5-7.9 6.1-13.1L553.8 512l122.4-145.9c4.4-5.2.7-13.1-6.1-13.1h-58.9c-4.7 0-9.2 2.1-12.3 5.7L512 462.2l-86.8-103.5c-3-3.6-7.5-5.7-12.3-5.7H354c-6.8 0-10.5 7.9-6.1 13.1L470.2 512 347.9 657.9A7.95 7.95 0 00354 671z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>' : '<svg focusable="false" class="inner__icon" data-icon="check-square" width="1em" height="1em" fill="#52c41a" aria-hidden="true" viewBox="64 64 896 896"><path d="M433.1 657.7a31.8 31.8 0 0051.7 0l210.6-292c3.8-5.3 0-12.7-6.5-12.7H642c-10.2 0-19.9 4.9-25.9 13.3L459 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H315c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>'}    
          </div>

          <div class="inner__item">
            <span class="inner__description">${localeModule.t('graph.visual.set-target')}:</span>
            ${e.item.getModel().description.param_value_forecasting_model == 0 ? '<svg focusable="false" class="inner__icon" data-icon="close-square" width="1em" height="1em" fill="#ff4d4f" aria-hidden="true" viewBox="64 64 896 896"><path d="M354 671h58.9c4.7 0 9.2-2.1 12.3-5.7L512 561.8l86.8 103.5c3 3.6 7.5 5.7 12.3 5.7H670c6.8 0 10.5-7.9 6.1-13.1L553.8 512l122.4-145.9c4.4-5.2.7-13.1-6.1-13.1h-58.9c-4.7 0-9.2 2.1-12.3 5.7L512 462.2l-86.8-103.5c-3-3.6-7.5-5.7-12.3-5.7H354c-6.8 0-10.5 7.9-6.1 13.1L470.2 512 347.9 657.9A7.95 7.95 0 00354 671z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>' : '<svg focusable="false" class="inner__icon" data-icon="check-square" width="1em" height="1em" fill="#52c41a" aria-hidden="true" viewBox="64 64 896 896"><path d="M433.1 657.7a31.8 31.8 0 0051.7 0l210.6-292c3.8-5.3 0-12.7-6.5-12.7H642c-10.2 0-19.9 4.9-25.9 13.3L459 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H315c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>'}    
          </div>

          <div class="inner__item">
            <span class="inner__description">${localeModule.t('graph.visual.status')}: </span>
            <div class="inner__tag ${(e.item.getModel().description.indr_status == '5') ? 'green' :
          (e.item.getModel().description.indr_status == '1') ? 'red' : 'orange'}">
              <span class="inner__description">${e.item.getModel().description.indr_status_term || ''}</span>
            </div>
          </div> 
          <div class="inner__item top">             
            <button id='buttonModal' class="inner__button">
              ${localeModule.t('graph.visual.info')}
            </button>
            <a id='menuLink' href="javascript:void(0)" class="inner__description">
              ${localeModule.t('graph.visual.route-to')} 
            </a>     
          </div> 
        </div>                
      </div>      
    </div>`;
    },
    offsetX: 10,
    offsetY: 10,
    itemTypes: ['node', 'edge'],
  });

  const container = document.getElementById('container');
  const width = container.scrollWidth;
  // const height = window.innerHeight + 380;
  const height = window.innerHeight - 140;

  const minimap = new G6.Minimap({
    size: [150, 100],
  });
  const graph = new G6.Graph({
    container: 'container',
    width,
    height,
    fitView: true,
    plugins: [contextMenu, minimap, tooltip],
    modes: {
      default: [{
        type: 'click-select',
        shouldBegin: (e) => {
          if (selectedNodes.value.length > 1 && e.item?._cfg.type == 'node') {
            return false;
          }
          return true;
        },
      }, 'drag-node', 'activate-relations', 'drag-canvas', 'zoom-canvas',],
    },
    layout: {
      type: 'circular',
      ordering: 'degree',
      // type: 'radial',
      // unitRadius: 70,
      // preventOverlap: true,
      // strictRadial: true,
    },
    node: {
      palette: {
        type: 'group',
        field: 'cluster',
      },
    },
    defaultNode: {
      size: 20,
      style: {
        lineWidth: 2,
        fill: '#C6E5FF',
      },

      labelCfg: {
        style: {
          fontSize: 8
        },
      },
    },
    defaultEdge: {
      type: 'cubic',
      labelCfg: {
        autoRotate: true,
        style: {
          stroke: '#fff',
          lineWidth: 2,
        },
      },
    },
  });

  data.edges.forEach((edge) => {

    let edgeColor = '#aaa';
    if (edge.creation_type == 1) {
      edgeColor = '#1677ff'
    }
    if (edge.creation_type == 2) {
      edgeColor = '#52c41a'
    }
    if (edge.creation_type == 3) {
      edgeColor = 'yellow'
    }
    if (edge.link_capacity >= 0.99) {
      edgeColor = 'red'
    }

    edge.color = edgeColor;
    edge.style = {
      opacity: 0.2,
      lineWidth: (edge.link_capacity >= 0.75 && edge.link_capacity < 0.81) ? 1 :
        (edge.link_capacity >= 0.81 && edge.link_capacity < 0.87) ? 2 :
          (edge.link_capacity >= 0.87 && edge.link_capacity < 0.93) ? 3 :
            (edge.link_capacity > 0.93) ? 4 : 0.7,
      // lineWidth: edge.link_capacity ? edge.link_capacity : 0.7,
      startArrow: [3, 4].includes(edge.link_direction) ? {
        path: 'M 0,0 L 4,2 L 4,-2 Z',
        fill: '#e2e2e2',
      } : false,
      endArrow: [2, 4].includes(edge.link_direction) ? {
        path: 'M 0,0 L 4,2 L 4,-2 Z',
        fill: '#e2e2e2',
      } : false,
    };
  });

  graph.on('afterlayout', () => { graphLoaded.value = true })

  graph.on('edge:mouseenter', (ev) => {
    const edge = ev.item;
    edge._cfg.styles.highlight.lineWidth = 9
    edge._cfg.styles.highlight.stroke = "rgb(0, 0, 0)"
    graph.setItemState(edge, 'highlight', true);
  });

  graph.on('edge:mouseleave', (ev) => {
    const edge = ev.item;
    graph.setItemState(edge, 'highlight', false);
  });

  graph.on('nodeselectchange', (e) => {
    if (e.select) {
      if (selectedNodes.value.length >= 2) {
        selectedNodes.value = []
        e.selectedItems.nodes = []
      } else {
        selectedNodes.value = []
        e.selectedItems.nodes.forEach(element => {
          selectedNodes.value.push({ id: element._cfg.model.id, label: element._cfg.model.label })
        });
      }
    } else {
      selectedNodes.value = []
    }
  });

  graph.data(data);
  graph.render();
  buildedGraph.value = graph

  buildedGraph.value?.cfg?.edges.forEach((edge) => {
    if (edge._cfg.model.creation_type == 1) {
      edge.show();
    } else {
      edge.hide();
    }
  });


  if (typeof window !== 'undefined')
    window.onresize = () => {
      if (!graph || graph.get('destroyed')) return;
      if (!container || !container.scrollWidth || !container.scrollHeight) return;
      graph.changeSize(container.scrollWidth, container.scrollHeight);
    };
  watch(connectionType, (newValue) => {
    range.value = [0.75, 1];
    if (graphLoaded.value) {
      const edges = buildedGraph.value?.cfg?.edges
      if (newValue == 'auto') {
        edges.forEach((edge) => {
          if (edge._cfg.model.creation_type == 1) {
            edge.show();
          } else {
            edge.hide();
          }
        });
      }
      if (newValue == 'manual') {
        edges.forEach((edge) => {
          if (edge._cfg.model.creation_type == 2) {
            edge.show();
          } else {
            edge.hide();
          }
        });
      }
      if (newValue == 'autoNone') {
        edges.forEach((edge) => {
          if (edge._cfg.model.creation_type == 1 && edge._cfg.model.has_other_creation_type == 0) {
            edge.show();
          } else {
            edge.hide();
          }
        });
      }
      if (newValue == 'manualNone') {
        edges.forEach((edge) => {
          if (edge._cfg.model.creation_type == 2 && edge._cfg.model.has_other_creation_type == 0) {
            edge.show();
          } else {
            edge.hide();
          }
        });
      }
      if (newValue == 'coincidence') {
        edges.forEach((edge) => {
          if (edge._cfg.model.creation_type == 1 && edge._cfg.model.has_other_creation_type == 1) {
            edge.show();
          } else {
            edge.hide();
          }
        });
      }
    }
  })

  watchDebounced(
    range,
    () => {
      if (graphLoaded.value) {
        const edges = buildedGraph.value?.cfg?.edges
        edges.forEach((edge) => {
          if (getEdgeType(edge)) {
            if (edge._cfg.model.link_capacity >= range.value[0] && edge._cfg.model.link_capacity <= range.value[1]) {
              edge.show();
            } else {
              edge.hide();
            }
          } else {
            edge.hide();
          }

        });
      }

    },
    { debounce: 1000, maxWait: 1000 },
  )
}

onMounted(() => {
  buildGraphCombos()
})

onUnmounted(() => {
  $event('edges:update')
  modal.state = ''
})
</script>



<style lang="scss">
.g6-minimap {
  position: absolute !important;
  overflow: unset !important;
  top: 72px;
  z-index: 0;
}

.graph {
  width: 100%;
  // height: calc(100vh - 280px);
  height: calc(100vh - 40px);
  display: flex;
  gap: 16px;
  position: relative;

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    width: 22px;
    height: 22px;
    margin: 2px 0;
    border-radius: 100%;

    &>span {
      font-size: 8px;
      font-weight: bold;
    }

    &.big {
      width: 26px;
      height: 26px;
    }

    &.green {
      color: #52c41a;
    }

    &.red {
      color: #ff4d4f;
    }

    &.yellow {
      color: #faad14;
    }
  }

  &__inspector {
    .ant-card-body {
      // background-color: red;
      padding: 24px 12px;
    }

  }

  &__wrapper {
    display: block;
    height: 100%;
    width: 100%;
  }

  &__option {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__line {
    width: 30px;
    height: 4px;
    background-color: gray;

    &.big {
      height: 9px;
    }

    &.auto {
      background-color: #1677ff;
    }

    &.manual {
      background-color: #52c41a;
    }

    &.strong {
      background-color: red;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    &>p {
      font-size: 14px;
    }
  }

  &__loader {
    top: -1px;
    left: -2px;
    position: absolute;
    background: white;
    // border-radius: 16px;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    &-icon {
      transform: scale(3);
      color: #1890ff;
    }
  }
}

.inner {
  // background: red;
  max-width: 400px;
  padding: 8px 16px;
  background-color: white;

  &>span {
    font-size: 16px;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;

    &.top {
      padding-top: 16px;
    }
  }

  &__icon {
    font-size: 16px;
  }



  &__tag {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 12px;
    line-height: 20px;
    list-style: none;
    height: auto;
    margin-inline-end: 8px;
    padding-inline: 7px;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    opacity: 1;
    transition: all 0.2s;
    text-align: start;

    &.green {
      color: #389e0d;
      background: #f6ffed;
      border-color: #b7eb8f;
    }

    &.orange {
      color: #d46b08;
      background: #fff7e6;
      border-color: #ffd591;
    }

    &.red {
      color: #cf1322;
      background: #fff1f0;
      border-color: #ffa39e;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 1;
  }

  &__button {
    color: #fff;
    background-color: #1677ff;
    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
    font-size: 14px;
    height: 32px;
    padding: 4px 15px;
    border-radius: 6px;

    outline: none;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    user-select: none;
    touch-action: manipulation;
    line-height: 1.5714285714285714;

    &:hover {
      background-color: #4096ff;
    }
  }

  &__list {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
</style>