<template>
  <div class="graph-connections">
    <div v-if="!graphLoaded" class="graph-connections__loader">
      <div class="graph-connections__loader-icon">
        <SyncOutlined spin />
      </div>
    </div>
    <div id="container-big-circle"></div>
  </div>
</template>

<script setup>
import G6 from '@antv/g6/dist/g6.min';
import { useModal } from '@/stores/modal'
const localeModule = useI18n()
const localePath = useLocalePath();
const { $listen } = useNuxtApp()
const emit = defineEmits(["selectGraphIndicator", "selectGraphEdge"]);

const props = defineProps({
  graphData: { type: Object },
  selectedIndicator1: { type: Object },
  selectedIndicator2: { type: Object },
})

const modal = useModal()
const graphLoaded = ref(false)
const modalIndicatorId = ref(null);
const selectedNodes = ref([]);
const buildedGraph = ref(null);
const testedValue2 = ref(false);

const selectedNode1 = computed(() => {
  return props.selectedIndicator1 ? props.selectedIndicator1 : {}
})
const selectedNode2 = computed(() => {
  return props.selectedIndicator2 ? props.selectedIndicator2 : {}
})

const groupsArrayFruchterman = computed(() => {
  let arrayNodes = props.graphData.nodes
  let arrayEdges = props.graphData.edges
  let nodes = []
  let edges = []
  let clusters = []

  let groups = arrayNodes.reduce((acc, city) => {
    if (acc.map[city.group_id])
      return acc;
    acc.map[city.group_id] = true;
    if (city.group_id !== null) {
      acc.groups.push(city);
    }
    return acc;
  }, {
    map: {},
    groups: []
  }).groups;

  let subgroups = arrayNodes.reduce((acc, city) => {
    if (acc.map[city.subgroup_id])
      return acc;
    acc.map[city.subgroup_id] = true;
    acc.subgroups.push(city);
    return acc;
  }, {
    map: {},
    subgroups: []
  }).subgroups;

  groups.forEach(element => {
    if (element.group_id) {
      clusters.push({
        id: element.group_id.toString(),
        label: element.group_name,
      })
    }
  });
  subgroups.forEach(element => {
    if (element.subgroup_id) {
      clusters.push({
        id: element.subgroup_id.toString(),
        label: element.subgroup_name,
        parentId: element.subgroup_id.toString()[0],
      })
    }
  });

  arrayNodes.forEach(element => {
    nodes.push({
      id: `${element.indr_id}`,
      label: element.model_node_label,
      clusterId: element.subgroup_id,
      cluster: element.subgroup_id,
      description: {
        name: element.indr_name,
        auto_linked_nodes_cnt: element.auto_linked_nodes_cnt,
        manual_linked_nodes_cnt: element.manual_linked_nodes_cnt,
        observable_in_model: element.observable_in_model,
        affected_forecasting_model: element.affected_forecasting_model,
        param_value_forecasting_model: element.param_value_forecasting_model,
        indr_status_term: element.indr_status_term,
        indr_status: element.indr_status,
      },
    })
  });

  if (Array.isArray(arrayEdges)) {
    arrayEdges.forEach(element => {
      edges.push({
        source: `${element.indr1_id}`,
        target: `${element.indr2_id}`,
        link_direction: element.link_direction,
        link_capacity: element.link_capacity,
        creation_type: element.creation_type,
        value: element.link_direction,
        strength: element.link_capacity || 1,
        method: element.creation_type,
        correlation_coeff: element.correlation_coeff,
      },)
    });
  }
  return { nodes: nodes, edges: edges, clusters: clusters };
})

const buildGraphCircle = () => {
  const colors = [
    '#BDD2FD',
    '#BDEFDB',
    '#C2C8D5',
    '#FBE5A2',
    '#F6C3B7',
    '#B6E3F5',
    '#D3C6EA',
    '#FFD8B8',
    '#AAD8D8',
    '#FFD6E7',
  ];

  const strokes = [
    '#5B8FF9',
    '#5AD8A6',
    '#5D7092',
    '#F6BD16',
    '#E8684A',
    '#6DC8EC',
    '#9270CA',
    '#FF9D4D',
    '#269A99',
    '#FF99C3',
  ];
  const data = groupsArrayFruchterman.value;

  const clusterMap = new Map();
  let clusterId = 0;

  data.nodes.forEach(function (node) {
    // cluster
    if (node.cluster && clusterMap.get(node.cluster) === undefined) {
      clusterMap.set(node.cluster, clusterId);
      clusterId++;
    }
    const cid = clusterMap.get(node.cluster);
    if (!node.style) {
      node.style = {};
    }
    node.style.fill = colors[cid % colors.length];
    node.style.stroke = strokes[cid % strokes.length];
  });

  const connections = [
    { type: 4, icon: '<svg focusable="false" class="" data-icon="swap" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="64 64 896 896"><path d="M847.9 592H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h605.2L612.9 851c-4.1 5.2-.4 13 6.3 13h72.5c4.9 0 9.5-2.2 12.6-6.1l168.8-214.1c16.5-21 1.6-51.8-25.2-51.8zM872 356H266.8l144.3-183c4.1-5.2.4-13-6.3-13h-72.5c-4.9 0-9.5 2.2-12.6 6.1L150.9 380.2c-16.5 21-1.6 51.8 25.1 51.8h696c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg>', label: localeModule.t('graph.visual.bidirectional') },
    { type: 1, icon: '<svg focusable="false" class="" data-icon="minus" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="64 64 896 896"><path d="M872 474H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h720c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg>', label: localeModule.t('graph.visual.not-defined') },
    { type: 2, icon: '<svg focusable="false" class="" data-icon="arrow-right" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="64 64 896 896"><path d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 000-48.4z"></path></svg>', label: localeModule.t('graph.visual.from-min') },
    { type: 3, icon: '<svg focusable="false" class="" data-icon="arrow-right" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="64 64 896 896"><path d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 000-48.4z"></path></svg>', label: localeModule.t('graph.visual.from-max') },
    // { type: 3, icon: '<svg focusable="false" class="" data-icon="arrow-left" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="64 64 896 896"><path d="M872 474H286.9l350.2-304c5.6-4.9 2.2-14-5.2-14h-88.5c-3.9 0-7.6 1.4-10.5 3.9L155 487.8a31.96 31.96 0 000 48.3L535.1 866c1.5 1.3 3.3 2 5.2 2h91.5c7.4 0 10.8-9.2 5.2-14L286.9 550H872c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg>', label: localeModule.t('graph.visual.from-max') },
  ]

  data.nodes.forEach(node => {
    if (node.description.auto_linked_nodes_cnt > 20) {
      node.size = node.description.auto_linked_nodes_cnt
    }
    if (node.description.manual_linked_nodes_cnt > 20) {
      node.size = node.description.manual_linked_nodes_cnt
    }
    if (node.description.indr_status == 5) {
      node.labelCfg = {
        style: {
          stroke: 'transparent',
          fill: '#52c41a',
        }
      }
    } else if (node.description.indr_status == 1) {
      node.labelCfg = {
        style: {
          stroke: 'transparent',
          fill: '#ff4d4f',
        }
      }
    } else {
      node.labelCfg = {
        style: {
          stroke: 'transparent',
          fill: '#faad14',
        }
      }
    }
  })

  const tooltip = new G6.Tooltip({
    offsetX: 10,
    offsetY: 10,
    fixToNode: [1, 0.5],
    itemTypes: ['node', 'edge'],
    getContent: (e) => {
      const outDiv = document.createElement('div');
      outDiv.style.maxWidth = '600px';
      outDiv.style.height = 'fit-content';
      const model = e.item.getModel();
      if (e.item.getType() === 'node') {
        outDiv.innerHTML = `${model.description.name}(${model.label})`;
        // outDiv.innerHTML = `Алиас: ${model.label}<br/>Название：${model.description.name}`;
      } else {
        const connection = connections.find((el) => el.type == e.item._cfg.model.link_direction)
        const source = e.item.getSource();
        const target = e.item.getTarget();

        if (connection.type == 1) {
          outDiv.innerHTML = `<div ><span >${localeModule.t('graph.text.connection-1-1')} <span style='font-weight: bold; color: #52c41a;'>"${source.getModel().description.name}"</span> ${localeModule.t('graph.text.connection-1-2')} <span style='font-weight: bold; color: #52c41a;'>"${target.getModel().description.name}"</span> ${localeModule.t('graph.text.connection-1-3')}</span></div><div>${localeModule.t('graph.visual.correlation_coeff')}: ${e.item._cfg.model.correlation_coeff}</div><div style='display: flex; align-items: center; gap: 8px;'>${localeModule.t('graph.visual.direction')}: <div style='margin-top: 6px; color: ${e.item._cfg.model.color}'>${connection.icon}</div></div>`;
        }

        if (connection.type == 2) {
          outDiv.innerHTML = `<div ><span >${localeModule.t('graph.text.connection-2-1')} <span style='font-weight: bold; color: #52c41a;'>"${source.getModel().description.name}"</span><br/> ${localeModule.t('graph.text.connection-2-2')} <span style='font-weight: bold; color: #52c41a;'>"${target.getModel().description.name}"</span></span></div><div>${localeModule.t('graph.visual.correlation_coeff')}: ${e.item._cfg.model.correlation_coeff}</div><div style='display: flex; align-items: center; gap: 8px;'>${localeModule.t('graph.visual.direction')}: <div style='margin-top: 6px; color: ${e.item._cfg.model.color}'>${connection.icon}</div></div>`;
        }

        if (connection.type == 3) {
          outDiv.innerHTML = `<div ><span >${localeModule.t('graph.text.connection-2-1')} <span style='font-weight: bold; color: #52c41a;'>"${target.getModel().description.name}"</span><br/> ${localeModule.t('graph.text.connection-2-2')} <span style='font-weight: bold; color: #52c41a;'>"${source.getModel().description.name}"</span></span></div><div>${localeModule.t('graph.visual.correlation_coeff')}: ${e.item._cfg.model.correlation_coeff}</div><div style='display: flex; align-items: center; gap: 8px;'>${localeModule.t('graph.visual.direction')}: <div style='margin-top: 6px; color: ${e.item._cfg.model.color}'>${connection.icon}</div></div>`;
        }

        if (connection.type == 4) {
          outDiv.innerHTML = `<div ><span >${localeModule.t('graph.text.connection-4-1')} <span style='font-weight: bold; color: #52c41a;'>"${source.getModel().description.name}"</span> ${localeModule.t('graph.text.connection-4-2')} <span style='font-weight: bold; color: #52c41a;'>"${target.getModel().description.name}"</span> ${localeModule.t('graph.text.connection-4-3')}</span></div><div>${localeModule.t('graph.visual.correlation_coeff')}: ${e.item._cfg.model.correlation_coeff}</div><div style='display: flex; align-items: center; gap: 8px;'>${localeModule.t('graph.visual.direction')}: <div style='margin-top: 6px; color: ${e.item._cfg.model.color}'>${connection.icon}</div></div>`;
        }

        // outDiv.innerHTML = `<div style='display: flex; align-items: center; gap: 8px;'>${localeModule.t('graph.visual.connection')}: ${connection.label} <div style='color: ${e.item._cfg.model.color}'>${connection.icon}</div></div> 1: ${source.getModel().description.name}(${source.getModel().label}) <br/>2: ${target.getModel().description.name}(${target.getModel().label})`;
      }
      return outDiv;
    },
  });

  const contextMenu = new G6.Menu({
    handleMenuClick: (target, item) => {
      if (target.id == 'menuLink') {
        navigateTo(localePath(`/indicators?indr_id=${item._cfg.id}`))
      }
      if (target.id == 'buttonModal') {
        modal.state = 'graphIndicatorModal'
        modalIndicatorId.value = item._cfg.id
      }
    },
    getContent(e) {
      return `<div class="inner">
      <div class="inner__content">
        <span class="inner__title">${e.item.getModel().description.name}</span>
        <div class="inner__list">

          <div class="inner__item">
            <span class="inner__description">${localeModule.t('graph.visual.build-factor')}: </span>
            ${e.item.getModel().description.observable_in_model == 0 ? '<svg focusable="false" class="inner__icon" data-icon="close-square" width="1em" height="1em" fill="#ff4d4f" aria-hidden="true" viewBox="64 64 896 896"><path d="M354 671h58.9c4.7 0 9.2-2.1 12.3-5.7L512 561.8l86.8 103.5c3 3.6 7.5 5.7 12.3 5.7H670c6.8 0 10.5-7.9 6.1-13.1L553.8 512l122.4-145.9c4.4-5.2.7-13.1-6.1-13.1h-58.9c-4.7 0-9.2 2.1-12.3 5.7L512 462.2l-86.8-103.5c-3-3.6-7.5-5.7-12.3-5.7H354c-6.8 0-10.5 7.9-6.1 13.1L470.2 512 347.9 657.9A7.95 7.95 0 00354 671z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>' : '<svg focusable="false" class="inner__icon" data-icon="check-square" width="1em" height="1em" fill="#52c41a" aria-hidden="true" viewBox="64 64 896 896"><path d="M433.1 657.7a31.8 31.8 0 0051.7 0l210.6-292c3.8-5.3 0-12.7-6.5-12.7H642c-10.2 0-19.9 4.9-25.9 13.3L459 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H315c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>'}    
          </div>
          
          <div class="inner__item">
            <span class="inner__description">${localeModule.t('graph.visual.set-impulses')}:</span>
            ${e.item.getModel().description.affected_forecasting_model == 0 ? '<svg focusable="false" class="inner__icon" data-icon="close-square" width="1em" height="1em" fill="#ff4d4f" aria-hidden="true" viewBox="64 64 896 896"><path d="M354 671h58.9c4.7 0 9.2-2.1 12.3-5.7L512 561.8l86.8 103.5c3 3.6 7.5 5.7 12.3 5.7H670c6.8 0 10.5-7.9 6.1-13.1L553.8 512l122.4-145.9c4.4-5.2.7-13.1-6.1-13.1h-58.9c-4.7 0-9.2 2.1-12.3 5.7L512 462.2l-86.8-103.5c-3-3.6-7.5-5.7-12.3-5.7H354c-6.8 0-10.5 7.9-6.1 13.1L470.2 512 347.9 657.9A7.95 7.95 0 00354 671z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>' : '<svg focusable="false" class="inner__icon" data-icon="check-square" width="1em" height="1em" fill="#52c41a" aria-hidden="true" viewBox="64 64 896 896"><path d="M433.1 657.7a31.8 31.8 0 0051.7 0l210.6-292c3.8-5.3 0-12.7-6.5-12.7H642c-10.2 0-19.9 4.9-25.9 13.3L459 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H315c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>'}    
          </div>

          <div class="inner__item">
            <span class="inner__description">${localeModule.t('graph.visual.set-target')}:</span>
            ${e.item.getModel().description.param_value_forecasting_model == 0 ? '<svg focusable="false" class="inner__icon" data-icon="close-square" width="1em" height="1em" fill="#ff4d4f" aria-hidden="true" viewBox="64 64 896 896"><path d="M354 671h58.9c4.7 0 9.2-2.1 12.3-5.7L512 561.8l86.8 103.5c3 3.6 7.5 5.7 12.3 5.7H670c6.8 0 10.5-7.9 6.1-13.1L553.8 512l122.4-145.9c4.4-5.2.7-13.1-6.1-13.1h-58.9c-4.7 0-9.2 2.1-12.3 5.7L512 462.2l-86.8-103.5c-3-3.6-7.5-5.7-12.3-5.7H354c-6.8 0-10.5 7.9-6.1 13.1L470.2 512 347.9 657.9A7.95 7.95 0 00354 671z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>' : '<svg focusable="false" class="inner__icon" data-icon="check-square" width="1em" height="1em" fill="#52c41a" aria-hidden="true" viewBox="64 64 896 896"><path d="M433.1 657.7a31.8 31.8 0 0051.7 0l210.6-292c3.8-5.3 0-12.7-6.5-12.7H642c-10.2 0-19.9 4.9-25.9 13.3L459 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H315c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8z"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path></svg>'}    
          </div>

          <div class="inner__item">
            <span class="inner__description">${localeModule.t('graph.visual.status')}: </span>
            <div class="inner__tag ${(e.item.getModel().description.indr_status == '5') ? 'green' :
          (e.item.getModel().description.indr_status == '1') ? 'red' : 'orange'}">
              <span class="inner__description">${e.item.getModel().description.indr_status_term || ''}</span>
            </div>
          </div> 
          <div class="inner__item top">             
            <button id='buttonModal' class="inner__button">
              ${localeModule.t('graph.visual.info')}
            </button>
            <a id='menuLink' href="javascript:void(0)" class="inner__description">
              ${localeModule.t('graph.visual.route-to')} 
            </a>     
          </div> 
        </div>                
      </div>      
    </div>`;
    },
    offsetX: 10,
    offsetY: 10,
    itemTypes: ['node', 'edge'],
  });

  const wrapper = document.getElementById('wrapper-big-circle');
  const container = document.getElementById('container-big-circle');
  const width = wrapper.clientWidth;
  const height = wrapper.clientHeight;
  const minimap = new G6.Minimap({
    size: [150, 100],
  });
  const graph = new G6.Graph({
    container: 'container-big-circle',
    width,
    height,
    fitView: true,
    plugins: [contextMenu, minimap, tooltip],
    modes: {
      default: [{
        type: 'click-select',
        shouldBegin: (e) => {
          if (selectedNodes.value.length > 1 && e.item?._cfg.type == 'node') {
            return false;
          }
          return true;
        },
      }, 'drag-node', 'activate-relations', 'drag-canvas', 'zoom-canvas',],
    },
    layout: {
      type: 'circular',
      ordering: 'degree',
    },
    node: {
      palette: {
        type: 'group',
        field: 'cluster',
      },
    },
    defaultNode: {
      size: 20,
      style: {
        lineWidth: 2,
        fill: '#C6E5FF',
      },

      labelCfg: {
        style: {
          fontSize: 8
        },
      },
    },
    defaultEdge: {
      type: 'cubic',
      labelCfg: {
        autoRotate: true,
        style: {
          stroke: '#fff',
          lineWidth: 2,
        },
      },
    },
  });

  data.edges.forEach((edge) => {
    let edgeColor = '#aaa';
    if (edge.creation_type == 1) {
      edgeColor = '#1677ff'
    }
    if (edge.creation_type == 2) {
      edgeColor = '#52c41a'
    }
    if (edge.creation_type == 3) {
      edgeColor = 'yellow'
    }
    if (edge.link_capacity >= 0.99) {
      edgeColor = 'red'
    }

    edge.color = edgeColor;
    edge.style = {
      opacity: 0.2,
      lineWidth: (edge.link_capacity >= 0.75 && edge.link_capacity < 0.81) ? 1 :
        (edge.link_capacity >= 0.81 && edge.link_capacity < 0.87) ? 2 :
          (edge.link_capacity >= 0.87 && edge.link_capacity < 0.93) ? 3 :
            (edge.link_capacity > 0.93) ? 4 : 0.7,
      // lineWidth: edge.link_capacity ? edge.link_capacity : 0.7,
      startArrow: [3, 4].includes(edge.link_direction) ? {
        path: 'M 0,0 L 4,2 L 4,-2 Z',
        fill: '#e2e2e2',
      } : false,
      endArrow: [2, 4].includes(edge.link_direction) ? {
        path: 'M 0,0 L 4,2 L 4,-2 Z',
        fill: '#e2e2e2',
      } : false,
    };
  });

  graph.on('afterlayout', () => { graphLoaded.value = true })

  graph.on('edge:click', (ev) => {
    emit('selectGraphEdge', ev.item._cfg.model)
  });

  graph.on('edge:mouseenter', (ev) => {
    const edge = ev.item;
    edge._cfg.styles.highlight.lineWidth = 9
    edge._cfg.styles.highlight.stroke = "rgb(0, 0, 0)"
    graph.setItemState(edge, 'highlight', true);
  });


  graph.on('edge:mouseleave', (ev) => {
    const edge = ev.item;
    if (edge._cfg.model.source == selectedNode1.value.indr_id && edge._cfg.model.target == selectedNode2.value.indr_id) {
      return
    } else {
      graph.setItemState(edge, 'highlight', false);
    }


  });

  graph.on('nodeselectchange', (e) => {
    if (e.target) {
      emit('selectGraphIndicator', e)
    } else {
      return
    }
  });

  graph.data(data);
  graph.render();
  buildedGraph.value = graph

  if (typeof window !== 'undefined')
    window.onresize = () => {
      if (!graph || graph.get('destroyed')) return;
      if (!container || !container.scrollWidth || !container.scrollHeight) return;
      graph.changeSize(container.scrollWidth, container.scrollHeight);
    };
  watch(selectedNode1, (newValue, oldValue) => {
    let nodeNew = {}
    buildedGraph.value.cfg.nodes.forEach(element => {
      buildedGraph.value.setItemState(element, 'selected', false);
    });
    nodeNew = buildedGraph.value.cfg.nodes.find(el => el._cfg.model.id == newValue.indr_id)
    if (nodeNew) {
      buildedGraph.value.setItemState(nodeNew, 'selected', true);
    }

  }, { deep: true })

  watch(selectedNode2, (newValue, oldValue) => {
    let nodeOld = {}
    let nodeNew = {}
    let edge = {}

    if (buildedGraph.value.cfg) {
      buildedGraph.value.cfg.edges.forEach(element => {
        buildedGraph.value.setItemState(element, 'highlight', false);
      });
      setTimeout(() => {
        if (Object.keys(newValue).length === 0) {
          testedValue2.value = false
        } else {          
          if (buildedGraph.value.cfg) {
            edge = buildedGraph.value.cfg.edges.find(el => (el._cfg.model.source == newValue.indr_id || el._cfg.model.source == selectedNode1.value.indr_id) && (el._cfg.model.target == newValue.indr_id || el._cfg.model.target == selectedNode1.value.indr_id))
            // edge = buildedGraph.value.cfg.edges.find(el => el._cfg.model.source == selectedNode1.value.indr_id && el._cfg.model.target == newValue.indr_id)

            buildedGraph.value.setItemState(edge, 'highlight', true);
            edge._cfg.styles.highlight.lineWidth = 9
            edge._cfg.styles.highlight.stroke = "rgb(0, 0, 0)"
            if (testedValue2.value) {

              nodeOld = buildedGraph.value.cfg.nodes.find(el => el._cfg.model.id == oldValue.indr_id)
              if (nodeOld) {
                buildedGraph.value.setItemState(nodeOld, 'selected', false);
              }
            }
            nodeNew = buildedGraph.value.cfg.nodes.find(el => el._cfg.model.id == newValue.indr_id)
            buildedGraph.value.setItemState(nodeNew, 'selected', true);
            testedValue2.value = true
          }


        }
      }, 100);
    }
  }, { deep: true })

}


$listen('graphConnections:update', () => {
  buildedGraph.value.destroy();
  setTimeout(() => {
    buildGraphCircle()
  }, 100);
})


onMounted(() => {
  buildGraphCircle()
})

onUnmounted(() => {
  modal.state = ''
})
</script>



<style lang="scss">
.g6-minimap {
  position: absolute !important;
  overflow: unset !important;
  top: 72px;
  z-index: 0;
}

.graph-connections {
  width: 100%;
  // background-color: red;
  height: calc(100vh - 126px);
  display: flex;
  gap: 16px;
  position: relative;


  &__wrapper {
    display: block;
    height: 100%;
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;

    &>p {
      font-size: 14px;
    }
  }

  &__loader {
    top: -1px;
    left: -2px;
    position: absolute;
    background: white;
    // border-radius: 16px;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    &-icon {
      transform: scale(3);
      color: #1890ff;
    }
  }
}

.inner {
  // background: red;
  max-width: 400px;
  padding: 8px 16px;
  background-color: white;

  &>span {
    font-size: 16px;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;

    &.top {
      padding-top: 16px;
    }
  }

  &__icon {
    font-size: 16px;
  }

  &__tag {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 12px;
    line-height: 20px;
    list-style: none;
    height: auto;
    margin-inline-end: 8px;
    padding-inline: 7px;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    opacity: 1;
    transition: all 0.2s;
    text-align: start;

    &.green {
      color: #389e0d;
      background: #f6ffed;
      border-color: #b7eb8f;
    }

    &.orange {
      color: #d46b08;
      background: #fff7e6;
      border-color: #ffd591;
    }

    &.red {
      color: #cf1322;
      background: #fff1f0;
      border-color: #ffa39e;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 1;
  }

  &__button {
    color: #fff;
    background-color: #1677ff;
    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
    font-size: 14px;
    height: 32px;
    padding: 4px 15px;
    border-radius: 6px;

    outline: none;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    user-select: none;
    touch-action: manipulation;
    line-height: 1.5714285714285714;

    &:hover {
      background-color: #4096ff;
    }
  }

  &__list {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
</style>