<template>
  <div class="input">    
    <a-input v-bind="$attrs" @input="updateValue" :value="modelValue" @keydown="numberInsert"
      :disabled="disabled">
    </a-input>
  </div>
</template>

<script setup>
const props = defineProps({
  modelValue: { type: String },
  disabled: { type: String || Boolean }
})
const emit = defineEmits(["update:modelValue"]);

const updateValue = (event) => {
  emit("update:modelValue", (event.target).value);
};

const numberInsert = (e) => {
  if (e.key == 'Backspace' || e.key == 'Delete') {

  } else {
    if (isNaN(e.key)) {
      e.preventDefault();
    }
  }
}
</script>
