<template>
  <div class="input-phone">
    <a-dropdown :trigger="['click']">
      <a-button>{{ selectedRegion.code }}</a-button >
      <template #overlay>
        <a-menu class="input-phone__menu">
          <a-menu-item v-for="(item, index) in countryCodes" :key="index" @click="selectCode(index)">
            <span>{{ item.code }}</span>
            <a-divider type="vertical" />
            <span>{{ item.mask }}</span>
          </a-menu-item>
        </a-menu>
      </template>
    </a-dropdown>
    <a-input id="phone" v-mask="`${selectedRegion.mask}`" :placeholder="`${selectedRegion.mask}`" v-bind="$attrs"
      @input="updateValue" :value="modelValue" @keydown="numberInsert" showCount :disabled="disabled">
    </a-input>
  </div>
</template>

<script setup>
const props = defineProps({
  modelValue: { type: String },
  disabled: { type: String || Boolean }
})

const selectedRegion = ref({ code: 'RU', mask: '+7(###)###-##-##' })

const emit = defineEmits(["update:modelValue"]);

const countryCodes = reactive([
  {
    "code": "AR",
    "mask": "+54(###)###-####"
  },
  {
    "code": "BR",
    "mask": "+55(##)9####-####"
  },
  {
    "code": "BY",
    "mask": "+375(##)###-##-##"
  },
  {
    "code": "IR",
    "mask": "+98(###)###-####"
  },
  {
    "code": "KZ",
    "mask": "+7(7##)###-##-##"
  },
  {
    "code": "RU",
    "mask": "+7(###)###-##-##"
  },
])


const selectCode = (index) => {
  selectedRegion.value = countryCodes[index]
  emit("update:modelValue", '');
}

const updateValue = (event) => {
  emit("update:modelValue", (event.target).value);
};

const numberInsert = (e) => {  
  if (e.ctrlKey && (e.key === 'c'
    || e.key === 'C' || e.key === 'с' || e.key === 'С')) {
    navigator.clipboard.writeText(props.modelValue);
  }
  if (e.ctrlKey && (e.key === 'v'
    || e.key === 'V' || e.key === 'м' || e.key === 'М')) {      
    navigator.clipboard.readText().then((clipText) => {
      emit("update:modelValue", clipText);
    });
  }
  if (e.ctrlKey && (e.key === 'a'
    || e.key === 'A')) {
    let input = document.getElementById('phone');
    input.select();
  }

  if (e.key == '8' && props.modelValue.length == 0) {
    e.preventDefault();
    emit("update:modelValue", '7');
  }

  if (e.key == 'Tab') {
    e.initEvent();    
  }

  if (e.key == 'Backspace' || e.key == 'Delete') {

  } else {
    if (isNaN(e.key)) {
      e.preventDefault();
    }
  }
}
</script>

<style lang="scss" scoped>
.input-phone {
  display: flex;
  gap: 8px;

  &__menu {
    max-height: 400px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: white;
      border-radius: 999px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 999px;
      border: 2px solid transparent;
      background-clip: content-box;
      background-color: #1890ff;
    }
  }
}
</style>