<template>
  <div class="input-login">
    <a-tooltip :trigger="['focus']" placement="topLeft" :title="$t('input.login-title')">
      <a-input @input="updateValue" @keydown="keydownCheck" :value="modelValue" :placeholder="$t('input.login-placeholder')" show-count :maxlength="20" />
    </a-tooltip>
  </div>
</template>

<script setup>
const props = defineProps({
  modelValue: { type: String }
})

const emit = defineEmits(["update:modelValue"]);

const keydownCheck = (e) => {
  if (e.key == 'Delete') {
    emit("update:modelValue", '');
  }
  if (e.key == 'Backspace' && props.modelValue.length == 1) {
    emit("update:modelValue", '');    
  }
}
const updateValue = (event) => {  
  function validateInput(input) {    
    const regex = /^[a-z0-9\._]+$/;
    return regex.test(input);
  }
  if (validateInput((event.target).value)) {
    emit("update:modelValue", (event.target).value);
  } else {
    return
  }
};
</script>
