<template>
  <svg width="255" height="330" viewBox="0 0 255 330" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_10_122)">
      <path
        d="M82.364 82.4824C81.215 85.2166 80.2067 87.9842 79.4269 90.7106C75.4177 104.729 73.41 113.787 74.4532 129.435C75.6042 146.7 79.111 160.593 88.357 177.705C97.5556 194.73 107.305 205.848 120.974 215.899C130.944 223.23 149.285 232.829 173.07 235.127C180.977 235.891 188.467 235.679 194.936 235.062L128.785 309.829L112.358 292.324L109.437 289.211L105.269 290.134L66.4076 298.733L54.9198 265.458L56.1151 261.872L57.8002 256.817L53.5811 253.562L50.0187 250.814V237V231.991L45.3917 230.072L29.5911 223.52L44.513 184.159L46.1552 179.827L43.0166 176.419L28.463 160.618L36.5404 135.11L48.5986 106.861L82.364 82.4824Z"
        stroke="#1448CF" stroke-width="15" class="svg-elem-1"></path>
      <path
        d="M221.035 196.423C182.262 218.014 133.326 204.085 111.735 165.312C90.1435 126.539 104.072 77.6034 142.846 56.0119L209.31 19"
        stroke="#F15656" stroke-width="15" stroke-linecap="round" class="svg-elem-2"></path>
      <path
        d="M198.215 148.58C184.828 156.035 167.95 151.257 160.517 137.909C153.084 124.561 157.91 107.697 171.297 100.242L194.245 87.4632"
        stroke="#F15656" stroke-width="15" stroke-linecap="round" class="svg-elem-3"></path>
      <path
        d="M210.257 172.784C183.809 187.512 150.461 178.067 135.772 151.688C121.083 125.31 130.615 91.9867 157.062 77.259L202.398 52.013"
        stroke="#F15656" stroke-width="15" stroke-linecap="round" class="svg-elem-4"></path>
    </g>
    <defs>
      <clipPath id="clip0_10_122">
        <rect width="255" height="330" fill="white" class="svg-elem-5"></rect>
      </clipPath>
    </defs>
  </svg>
</template>

<script>
export default {

}
</script>

<style scoped>
svg .svg-elem-1 {
  stroke-dashoffset: 668.6705932617188px;
  stroke-dasharray: 668.6705932617188px;
  -webkit-transition: stroke-dashoffset 0.5s ease 0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  transition: stroke-dashoffset 0.5s ease 0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg.active .svg-elem-1 {
  stroke-dashoffset: 0;
}

svg .svg-elem-2 {
  stroke-dashoffset: 330.55804443359375px;
  stroke-dasharray: 330.55804443359375px;
  -webkit-transition: stroke-dashoffset 0.5s ease 0.12s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
  transition: stroke-dashoffset 0.5s ease 0.12s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

svg.active .svg-elem-2 {
  stroke-dashoffset: 0;
}

svg .svg-elem-3 {
  stroke-dashoffset: 115.31272888183594px;
  stroke-dasharray: 115.31272888183594px;
  -webkit-transition: stroke-dashoffset 0.5s ease 0.24s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  transition: stroke-dashoffset 0.5s ease 0.24s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

svg.active .svg-elem-3 {
  stroke-dashoffset: 0;
}

svg .svg-elem-4 {
  stroke-dashoffset: 225.88739013671875px;
  stroke-dasharray: 225.88739013671875px;
  -webkit-transition: stroke-dashoffset 0.5s ease 0.36s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
  transition: stroke-dashoffset 0.5s ease 0.36s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}

svg.active .svg-elem-4 {
  stroke-dashoffset: 0;
}

svg .svg-elem-5 {
  stroke-dashoffset: 1172px;
  stroke-dasharray: 1172px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.5s ease 0.48s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
  transition: stroke-dashoffset 0.5s ease 0.48s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
}

svg.active .svg-elem-5 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}
</style>