<template>
  <div class="models-tree">
    <a-button id="folders-tree" :type="`${activeGroup ? activeGroup == '/' ? 'default' : 'primary' : 'default'}`"
      :title="$t('sidebar.working-folder')" @click="toggleButton">
      <FolderOpenOutlined />
      {{ $t('buttons.folder') }}
    </a-button>
    <div class="models-tree__container" :class="{ visible: filterCollapsed }">
      <div style="margin-bottom: 8px">
        <a-tooltip title="Корень" placement="right">
          <a-button :type="`${(selectedKeys[0] === undefined || selectedKeys[0] == '/') ? 'primary' : 'default'}`"
            @click="toRoot">
            <FolderOpenOutlined />
            <span>/</span>
          </a-button>
        </a-tooltip>
      </div>
      <div class="models-tree__wrapper">
        <a-directory-tree v-if="!loading" @select="selectBranch" class="models-tree__tree"
          :class="{ disabled: loading }" v-model:expandedKeys="expandedKeys" v-model:selectedKeys="selectedKeys"
          :tree-data="treeData">
          <template #title="{ title, key }">
            <a-input :id="key" class="models-tree__input" v-if="key === selectedKeys[0] && changeEnabled"
              v-model:value="changingValue" />
            <template v-else>{{ title }}</template>
          </template>
        </a-directory-tree>
        <div class="models-tree__loading" v-if="loading">
          <a-spin />
        </div>
        <!-- <a-skeleton class="models-tree__skeleton" v-if="loading" active /> -->
        <div class="model-groups__footer">
          <a-button :type="`${domainConsidered ? 'primary' : 'default'}`" @click="domainConsidered = !domainConsidered"
            :title="`${domainConsidered ? $t('modal.model.groups.domain-folders') : $t('modal.model.groups.all-folders')}`">
            <CloudServerOutlined />
          </a-button>
          <a-button :disabled="!selectedKeys.length" type="primary" @click="selectGroup">{{
            $t('buttons.select')
          }}</a-button>
          <a-button v-if="isDomainAdmin" :loading="loading" type="primary" @click="addGroup">{{ $t('buttons.add')
          }}</a-button>
          <a-button :disabled="!selectedKeys.length || !selectedChangable" v-if="!changeEnabled && isDomainAdmin"
            type="primary" @click="changeName">{{ $t('buttons.change') }}</a-button>
          <a-dropdown v-if="changeEnabled && isDomainAdmin">
            <template #overlay>
              <a-menu>
                <a-menu-item @click="saveChanges">
                  {{ $t('modal.model.groups.save') }}
                </a-menu-item>
                <a-menu-item @click="changeEnabled = false">
                  {{ $t('modal.model.groups.cancel') }}
                </a-menu-item>
              </a-menu>
            </template>
            <a-button type="primary">
              {{ $t('buttons.save') }}
              <DownOutlined />
            </a-button>
          </a-dropdown>
          <a-button @click="deleteFolder" v-if="isDomainAdmin" :disabled="!selectedKeys.length || !selectedChangable"
            type="primary" danger>{{
              $t('buttons.delete')
            }}</a-button>
        </div>
      </div>
    </div>
  </div>

</template>

<script setup>
import { useSelectorsStore } from '@/stores/selectors'
import { useSessionStore } from '@/stores/session-store'
const { $event } = useNuxtApp()
const selectorsStore = useSelectorsStore()
const sessionStore = useSessionStore()
const activeDomain = useCookie("domain");
const activeGroup = useCookie("selectedGroup");
const localeModule = useI18n()

const filterCollapsed = ref(false)
const expandedKeys = ref([activeGroup.value]);
const selectedKeys = ref([activeGroup.value]);

const changeEnabled = ref(false);
const loading = ref(false);
const domainConsidered = ref(true);
const changingValue = ref('');

const isDomainAdmin = computed(() => {
  return sessionStore.user?.data?.data?.sess_domain_check?.is_admin === 1 ? true : false;
})


const treeData = computed(() => {
  let array = []
  if (!domainConsidered.value) {
    selectorsStore.modelGroups?.data?.data.forEach(element => {
      array.push({
        id: element.id, title: element.name,
        key: `${element.name}_/${element.id}`, parent: element.up
      })
    });
  } else {
    selectorsStore.modelGroups?.data?.data.forEach(element => {
      if (element.domain_id == activeDomain.value.id) {
        array.push({
          id: element.id, title: element.name,
          key: `${element.name}_/${element.id}`, parent: element.up
        })
      }
    });
  }

  const map = Object.assign({}, ...array.map(v =>
    ({ [v.id]: Object.assign(v, { children: [] }) })
  ))


  const tree = Object.values(map).filter(v =>
    !(v.parent && map[v.parent]?.children.push(v))
  )
  return tree.filter((item) => item.id != 0)
})


const selectedChangable = computed(() => {
  let item = {}
  if (selectedKeys.value[0]) {
    item = selectorsStore.modelGroups?.data?.data.find(element => element.id == selectedKeys.value[0].split('_/')[1])
    return item?.domain_id == activeDomain.value.id
  } else {
    return false
  }
})

const selectBranch = (e) => {
  if (changeEnabled.value) {
    if (changingValue.value != e[0].split('_/')[0]) {
      changeEnabled.value = false
    }
  } else {
    changingValue.value = e[0].split('_/')[0]
  }

}

const changeName = () => {
  changeEnabled.value = true
  changingValue.value = selectedKeys.value[0].split('_/')[0]
  setTimeout(() => {
    document.getElementById(selectedKeys.value[0]).focus();
  }, 100);

}

const saveChanges = () => {
  loading.value = true
  changeEnabled.value = false;
  let id = selectedKeys.value[0].split('_/')[1]


  loading.value = true;
  apiFetch(`set_model_group_attr`, {
    value: {
      "name": changingValue.value,
      "id": id,
    }
  }).then((response) => {
    loading.value = false;
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        setTimeout(() => {
          notification.open({
            message: localeModule.t('modal.model.groups.update-success'),
            style: {
              border: '1px solid #b7eb8f',
              backgroundColor: '#f6ffed',
            },
          });
          apiFetch("get_model_groups_tree", { value: { limit: 100 } }).then((resp) => {
            selectorsStore.modelGroups = resp
            selectedKeys.value = [changingValue.value + '_/' + id]
          })
          loading.value = false
        }, 500);
      }
    }
  })
}
const addGroup = () => {
  //Добавляем индикатор загрузки
  loading.value = true
  //Узнаем id папки в которую будем добавлять папку
  let parentId = selectedKeys.value[0] ? selectedKeys.value[0] == '/' ? 0 : selectedKeys.value[0].split('_/')[1] : 0
  //Проверяем есть в папке папка с таким же названием
  let check = selectorsStore.modelGroups?.data?.data.filter(el => (el.up == parentId) && el.name.includes(localeModule.t('modal.model.groups.new-group')))
  let altFolderName = ''
  if (check.length) {
    let test = check.reduce((acc, curr) => acc.name > curr.name ? acc : curr)
    //Если есть добавляем к названию 1
    altFolderName = test.name + 1
  } else {
    //Если нет оставляем название стандартным
    altFolderName = localeModule.t('modal.model.groups.new-group')
  }

  //Посылаем запрос на создание папки
  apiFetch(`create_model_group`, {
    value: {
      "i_model_group_id": parentId,
      "i_name": altFolderName
    }
  }).then((response) => {
    // loading.value = false;
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        //Если запрос прошел успешно
        setTimeout(() => {
          //Сообщаем пользователю об успешном создании
          notification.open({
            message: localeModule.t('modal.model.groups.create-success'),
            style: {
              border: '1px solid #b7eb8f',
              backgroundColor: '#f6ffed',
            },
          });
          //Обновляем данные о папках
          apiFetch("get_model_groups_tree", { value: { limit: 100 } }).then((resp) => {
            //Перезаписываем их в хранилище
            selectorsStore.modelGroups = resp
            //Раскрываем список на той папке, где была создана папка, если он был свёрнут
            if (!expandedKeys.value.find(el => el == selectedKeys.value[0])) {
              expandedKeys.value.push(selectedKeys.value[0])
            }
            //Выбираем созданный элемент в дереве 
            selectedKeys.value = [altFolderName + '_/' + response.data?.value?.data?.res]
            //Включаем его редактирование
            changeEnabled.value = true
            changingValue.value = selectedKeys.value[0].split('_/')[0]
            loading.value = false
            setTimeout(() => {
              //ставим фокус с инпутом на новом созданном элементе
              document.getElementById(selectedKeys.value[0]).focus();
            }, 300);
          })
        }, 500);
      }
    }
  })
}

const selectGroup = () => {
  if (selectedKeys.value[0] == '/') {
    activeGroup.value = '/'
  } else {
    activeGroup.value = selectedKeys.value[0]
  }
  setTimeout(() => {
    $event('modelsGrop:update')
  }, 100);
  filterCollapsed.value = false;
}

const toRoot = () => {
  selectedKeys.value = ['/']
}
const deleteFolder = () => {
  let folderId = selectedKeys.value[0].split('_/')[1]
  apiFetch(`delete_model_group`, {
    value: {
      "i_model_group_id": folderId,
      "i_ignore_subgroups": false,
      "i_ignore_models": true,
    }
  }).then((response) => {
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        selectedKeys.value = []
        selectorsStore.modelGroups.data.data = selectorsStore.modelGroups.data.data.filter(el => el.id != folderId)
      }
    }
  })
}

const toggleButton = () => {
  filterCollapsed.value = !filterCollapsed.value
  changeEnabled.value = false;
  selectedKeys.value = [activeGroup.value]
}
</script>

<style lang="scss">
.models-tree {

  .ant-tree-list {
    max-height: 40vh;
    overflow: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 999px;
      border: 2px solid transparent;
      background-clip: content-box;
      background-color: #1890ff;
    }
  }

  &__container {
    position: absolute;
    z-index: 105;
    pointer-events: none;
    top: 55px;
    padding: 16px;
    border-radius: 0 0 16px 16px;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.3s ease, transform 0.5s ease;

    &.visible {
      transform: translateY(0);
      opacity: 1;
      z-index: 105;
      pointer-events: all;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
  }



  &__skeleton {
    position: absolute;
    width: 100%;
    top: 16px;
  }

  &__loading {
    // position: absolute;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    // height: 100%;
    z-index: 1;
    background-color: white;
  }

  &__input {
    position: absolute;
    top: 2px;
    width: calc(100% - 50px);
    height: 20px;
  }

  &__footer {
    display: flex;
    gap: 8px;
    align-self: flex-end;
  }
}
</style>