<template>
  <div class="pagination">    
    <div class="pagination__buttons">
      <div class="pagination__loading" :class="{ active: isLoading }">
        <div class="pagination__spin">
          <a-spin />
        </div>
      </div>
      <a-button :title="$t('pagination.back')" type="text" v-if="page >= 3" @click="firstPage">
        <DoubleLeftOutlined />
      </a-button>
      <a-button type="text" :disabled="page == 1" @click="prevPage">
        <LeftOutlined />
      </a-button>
      <a-button><span>{{ page }}</span></a-button>
      <a-button type="text" :disabled="paginationData?.more ? paginationData?.more == 0 : true" @click="nextPage">
        <RightOutlined />
      </a-button>
    </div>
    <a-select @change="changeQuantity" ref="select" v-model:value="pageQuantity">
      <a-select-option v-for="(item, index) in steps" :key="index" :value="item">{{ item }}</a-select-option>
    </a-select>
  </div>
</template>

<script setup>
import { watchDebounced } from '@vueuse/core'
const { $listen } = useNuxtApp()
const { $event } = useNuxtApp()
const emit = defineEmits(["update:modelValue", 'changePage']);
const props = defineProps({
  paginationData: { type: Object },
  tableName: { type: String, default: "page" },
  filterName: { type: String, default: "filter" },
})

const page = ref(1);
const pageQuantity = ref(30);
const isLoading = ref(false);
const steps = ref([30, 50, 100]);

$listen(`${props.filterName + ':update'}`, () => {
  page.value = 1
})

const firstPage = () => {
  isLoading.value = true;
  page.value = 1;
  $event(`${props.tableName + ':update'}`, activePage)
}

const prevPage = () => {
  isLoading.value = true;
  page.value--;
  $event(`${props.tableName + ':update'}`, activePage)
}
const nextPage = () => {
  isLoading.value = true;
  page.value++;
  $event(`${props.tableName + ':update'}`, activePage)
}

const changeQuantity = (value) => {  
  $event(`${props.tableName + ':updateLimit'}`, value)
}

const activePage = computed(() => {
  return { offset: (page.value - 1) * props.paginationData.limit }
})

watchDebounced(
  page,
  () => { isLoading.value = false; },
  { debounce: 500, maxWait: 1000 },
)
</script>

<style lang="scss" scoped>
.pagination {
  padding: 16px 0;
  display: flex;
  justify-content: flex-end;
  gap: 8px;

  &__loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 0;
    opacity: 0;

    &.active {
      z-index: 1;
      opacity: 1;
    }
  }

  &__spin {
    display: block;
    height: 20px;
    background-color: white;
  }

  &__buttons {
    display: flex;
    gap: 8px;

    position: relative;

    &>button {
      display: flex;
      width: 32px;
      height: 32px;
      align-items: center;
      justify-content: center;
      // background-color: blue;

    }
  }


}
</style>