<template>
  <a-button @click="modal.state = 'userGroupsModal'" :title="$t('buttons.domain-roles')">
    <ApartmentOutlined />
    {{ $t('buttons.domain-roles') }}
  </a-button>
  <a-modal class="modal-without-padding" width="50vw" v-model:open="groupsModalOpened" :footer="null" destroyOnClose
    @cancel="modal.state = ''">
    <modal-users-groups @selectGroup="groupSelected" />
  </a-modal>
  <a-modal width="90vw" v-model:open="rightsModalOpened"
    :title="`${$t('inspector.users.user-rights')}: '${selectedGroup.user_group_display_name}'`" :footer="null"
    destroyOnClose @cancel="updateUsers">
    <modal-users-rights :group="selectedGroup" />
  </a-modal>
</template>

<script setup>
import { useModal } from '@/stores/modal'
const { $event } = useNuxtApp()
const modal = useModal()

const selectedGroup = ref({})

const rightsModalOpened = computed(() => {
  return modal.state === 'userRightsModal'
})
const groupsModalOpened = computed(() => {
  return modal.state === 'userGroupsModal'
})

const groupSelected = (group) => {
  modal.state = 'userRightsModal';
  selectedGroup.value = group
}
const updateUsers = () => {  
  modal.state = '';
  $event('selectedRow:update')
}
</script>