<template>
  <div class="sidebar">
    <a-layout-sider class="sidebar__sider" v-model:collapsed="collapsed" collapsible :trigger="null">
      <div class="sidebar__head">
        <nuxt-link :to="localePath('/')" class="sidebar__logo">
          <img v-if="collapsed" class="logo" :src="`${isDev ? '' : `${dss}`}/only-logo.svg`">
          <img v-if="!collapsed" class="logo"
            :src="`${locale == 'ru-Ru' ? `${isDev ? '' : `${dss}`}/full-logo.svg` : `${isDev ? '' : `${dss}`}/full-logo-en.png`}`">
        </nuxt-link>
        <div class="sidebar__user" :class="{ collapsed: collapsed }">
          <a-avatar style="width: 32px; display: flex;flex-shrink: 0;"
            :style="{ background: `${isDomainAdmin ? 'blue' : '#ccc'}` }">
            <a-tooltip v-if="collapsed" placement="left" :title="sessionStore.user?.data?.data?.display_name">
              <UserOutlined />
            </a-tooltip>
            <UserOutlined v-if="!collapsed" />
          </a-avatar>
          <span :style="{ color: `${isDomainAdmin ? 'blue' : ''}` }" v-if="!collapsed">{{
            sessionStore.user?.data?.data?.display_name }}</span>
        </div>
        <a-tooltip v-if="collapsed" placement="left" :title="activeDomain?.name">
          <div @click="openDomainsModal" class="sidebar__domain rounded">
            <div>
              <ApartmentOutlined />
            </div>
          </div>
        </a-tooltip>
        <div :title="activeDomain?.name" v-if="!collapsed" @click="openDomainsModal" class="sidebar__domain">
          <div>
            <ApartmentOutlined />
          </div>
          <span> {{ activeDomain?.name }}</span>
          <div style="margin-left: auto; margin-top: 2px;">
            <EllipsisOutlined :rotate="90" style="fontSize: 21px; height: 20px" />
          </div>
        </div>
      </div>
      <a-menu class="sidebar__menu" @select="selectItem" v-model:selectedKeys="selectedKeys" mode="inline"
        :selectable="false">
        <div v-if="collapsed"></div>
        <a-menu-item key="" :class="{ 'ant-menu-item-selected': activeRoute == '/' }">
          <nuxt-link :title="`${collapsed ? '' : $t('sidebar.dashboard')}`" :to="localePath('/')">
            <LayoutOutlined />
            <span>{{ $t('sidebar.dashboard') }}</span>
          </nuxt-link>
        </a-menu-item>

        <a-menu-item key="indicators" :title="$t('sidebar.indicators')"
          :class="{ 'ant-menu-item-selected': activeRoute.includes('indicators') }">
          <nuxt-link :title="`${collapsed ? '' : $t('sidebar.indicators')}`" :to="localePath('/indicators')">
            <FundOutlined />
            <span>{{ $t('sidebar.indicators') }}</span>
          </nuxt-link>
        </a-menu-item>


        <a-menu-item key="models" :title="$t('sidebar.models')"
          :class="{ 'ant-menu-item-selected': activeRoute.includes('/models') }">
          <nuxt-link :title="`${collapsed ? '' : $t('sidebar.models')}`" :to="localePath('/models')">
            <BranchesOutlined />
            <span>{{ $t('sidebar.models-short') }}</span>
          </nuxt-link>
        </a-menu-item>

        <a-menu-item key="forecasts" :title="$t('sidebar.forecasts')"
          :class="{ 'ant-menu-item-selected': activeRoute.includes('/forecasts') }">
          <nuxt-link :title="`${collapsed ? '' : $t('sidebar.forecasts')}`" :to="localePath('/forecasts')">
            <NodeIndexOutlined />
            <span>{{ $t('sidebar.forecasts') }}</span>
          </nuxt-link>
        </a-menu-item>

        <a-menu-item key="solvers" :title="$t('sidebar.solvers')"
          :class="{ 'ant-menu-item-selected': activeRoute.includes('/solvers') }">
          <nuxt-link :title="`${collapsed ? '' : $t('sidebar.solvers')}`" :to="localePath('/solvers')">
            <CalculatorOutlined />
            <span>{{ $t('sidebar.solvers') }}</span>
          </nuxt-link>
        </a-menu-item>

        <a-menu-item key="data-sources" :title="$t('sidebar.data-sources')"
          :class="{ 'ant-menu-item-selected': activeRoute.includes('/data-sources') }">
          <nuxt-link :title="`${collapsed ? '' : $t('sidebar.data-sources')}`" :to="localePath('/data-sources')">
            <HddOutlined />
            <span>{{ $t('sidebar.data-sources') }}</span>
          </nuxt-link>
        </a-menu-item>

        <a-menu-item v-if="isDomainAdmin" key="jobs" :title="$t('sidebar.jobs')"
          :class="{ 'ant-menu-item-selected': activeRoute.includes('/jobs') }">
          <nuxt-link :title="`${collapsed ? '' : $t('sidebar.jobs')}`" :to="localePath('/jobs')">
            <hourglass-outlined />
            <span>{{ $t('sidebar.jobs') }}</span>
          </nuxt-link>
        </a-menu-item>

        <a-menu-item v-if="false" key="tags" :title="$t('sidebar.tags')"
          :class="{ 'ant-menu-item-selected': activeRoute.includes('/tags') }">
          <nuxt-link :title="`${collapsed ? '' : $t('sidebar.tags')}`" :to="localePath('/tags')">
            <TagOutlined />
            <span>{{ $t('sidebar.tags') }}</span>
          </nuxt-link>
        </a-menu-item>

        <a-menu-item v-if="false" key="test" title="Тестирование">
          <nuxt-link :title="`${collapsed ? '' : 'Тестирование'}`" to="/test-api">
            <ExclamationCircleOutlined />
            <span>Тестирование</span>
          </nuxt-link>
        </a-menu-item>

        <a-sub-menu v-if="isDomainAdmin" key="administration"
          :class="{ 'ant-menu-submenu-selected': activeRoute.includes('users', 'domains') }">
          <template #title>
            <span :title="`${collapsed ? '' : $t('sidebar.administration')}`">
              <AuditOutlined />
              <span>{{ $t('sidebar.administration-short') }}</span>
            </span>
          </template>
          <a-menu-item key="users" :title="$t('sidebar.users')"
            :class="{ 'ant-menu-item-selected': activeRoute.includes('/users') }">
            <nuxt-link :title="`${collapsed ? '' : $t('sidebar.users')}`" :to="localePath('/users')">
              <TeamOutlined />
              <span>{{ $t('sidebar.users') }}</span>
            </nuxt-link>
          </a-menu-item>
          <a-menu-item v-if="isGlobalAdmin" key="domains" :title="$t('sidebar.domains')"
            :class="{ 'ant-menu-item-selected': activeRoute.includes('/domains') }">
            <nuxt-link :title="`${collapsed ? '' : $t('sidebar.domains')}`" :to="localePath('/domains')">
              <CloudServerOutlined />
              <span>{{ $t('sidebar.domains') }}</span>
            </nuxt-link>
          </a-menu-item>
        </a-sub-menu>
      </a-menu>
      <div class="sidebar__bottom">
        <div class="sidebar__hide" @click="toggleSidebar">
          <a-tooltip v-if="collapsed" placement="left" :title="$t('buttons.show')">
            <arrow-right-outlined class="trigger" />
          </a-tooltip>
          <arrow-left-outlined v-if="!collapsed" class="trigger" />
          <span v-if="!collapsed">{{ $t('buttons.hide') }}</span>
        </div>
        <div class="sidebar__language">
          <a-dropdown placement="right" :trigger="['click']">
            <a-button class="sidebar__language-button" :size="`${collapsed ? 'small' : 'default'}`">
              <img class="sidebar__language-img" :src="languages.find(el => el.code == activeLanguage).flag" alt="">
            </a-button>
            <template #overlay>
              <a-menu>
                <a-menu-item @click="setLanguage(language.code)" v-for="(language, index) in languages" :key="index">
                  <div class="sidebar__language-item">
                    <img class="sidebar__language-img" :src="language.flag" :alt="language.name">
                    <span>{{ language.name }}</span>
                  </div>
                </a-menu-item>
              </a-menu>
            </template>
          </a-dropdown>
        </div>
        <a :href="infoUrl" target="_blanc" v-if="$runtimeConfig.LMA_SERVICE_PATH.length > 0">
          <a-button style="margin-bottom: 8px;" :style="`width: ${collapsed ? 'unset' : '92px'}`"
            :size="`${collapsed ? 'small' : 'default'}`">
            <InfoCircleOutlined v-if="!collapsed" />
            <span v-if="!collapsed">{{ $t('sidebar.info') }}</span>
            <a-tooltip v-if="collapsed" placement="left" :title="$t('sidebar.info')">
              <InfoCircleOutlined />
            </a-tooltip>
          </a-button>
        </a>
        <a :href="logOutUrl">
          <a-button @click="handleLogout()" type="primary" :size="`${collapsed ? 'small' : 'default'}`"
            :style="`width: ${collapsed ? 'unset' : '92px'}`" danger>
            <PoweroffOutlined v-if="!collapsed" />
            <span v-if="!collapsed">{{ $t('buttons.exit') }}</span>
            <a-tooltip v-if="collapsed" placement="left" :title="$t('buttons.exit')">
              <PoweroffOutlined />
            </a-tooltip>
          </a-button>
        </a>
      </div>
      <div v-if="!collapsed" class="sidebar__copyright">© {{ actualYear }} {{ $t('sidebar.company-name')
      }} <br> {{ $t('sidebar.rights')
        }}<br>{{
          $t('sidebar.version') }}
        {{ version }}
      </div>
      <a-modal :title="$t('sidebar.modal-domains')" v-model:open="domainModalOpened" width="60vw" :footer="false">
        <ModalDomainSelect />
      </a-modal>
      <a-modal v-model:open="groupsModalOpened" :title="$t('sidebar.choose-folder')" :footer="null"
        @cancel="modal.state = ''">
        <modal-model-groups />
      </a-modal>
    </a-layout-sider>
  </div>
</template>

<script setup>
const { $runtimeConfig } = useNuxtApp();
import { useSessionStore } from '@/stores/session-store'
import { useModal } from '@/stores/modal'
import { useAuthStore } from '@/stores/auth'

const emit = defineEmits(["update:modelValue"]);
const { locale, setLocale } = useI18n()
const localeModule = useI18n()
const localePath = useLocalePath();
const route = useRoute();
const modal = useModal()
const sessionStore = useSessionStore()
const activeDomain = useCookie("domain");
const activeLanguage = useCookie("language");
const auth = useAuthStore()

const selectedKeys = ref([])
const domainModalOpened = ref(false)
const collapsed = ref(false)
const version = reactive('1.8.59')

const dss = computed(() => {
  return `${process.dev ? '/dss' : $runtimeConfig.LMA_SERVICE_PATH.length > 0 ? ('/' + $runtimeConfig.LMA_SERVICE_PATH) : ''}`
})

const languages = ref([
  {
    code: "ru-Ru",
    name: "Русский",
    flag: `${dss.value}/rus-flag.png`
  },
  {
    code: "en-US",
    name: "English",
    flag: `${dss.value}/us-flag.png`
  },
  {
    code: "es-ES",
    name: "Español",
    flag: `${dss.value}/span-flag.png`
  },
  {
    code: "pt-Pt",
    name: "Português",
    flag: `${dss.value}/port-flag.png`
  },
  {
    code: "fr-Fr",
    name: "Français",
    flag: `${dss.value}/fr-flag.png`
  },
])

const openDomainsModal = () => {
  domainModalOpened.value = true;
  setTimeout(() => {
    document.getElementById("inputLogin").focus();
  }, 500);
};

const groupsModalOpened = computed(() => {
  return modal.state === 'groupSelector'
})

const groupName = computed(() => {
  let name = localStorage.getItem("selectedGroup")
  return name ? name.split('_/')[0] : localeModule.t('sidebar.working-folder')
})

const toggleSidebar = () => {
  let state = JSON.parse(localStorage.getItem("sidebarCollapsed"))
  localStorage.setItem("sidebarCollapsed", !state);
  collapsed.value = !collapsed.value
};

const isDomainAdmin = computed(() => {
  return sessionStore.user?.data?.data?.sess_domain_check?.is_admin === 1 ? true : false;
})

const isGlobalAdmin = computed(() => {
  return sessionStore.user?.data?.data?.is_admin == 1 ? true : false;
})

const isDev = computed(() => {
  return process.dev
})

const logOutUrl = computed(() => {
  return process.dev
    ? "https://sso.adviser.lmsoftware.ru/logout?rd=https%3A%2F%2Fadviser.lmsoftware.ru&rm=GET"
    : $runtimeConfig.LMA_SSO_LOGOUT_URL
      ? $runtimeConfig.LMA_SSO_LOGOUT_URL
      : `https://sso.${location.host}/logout?rd=https%3A%2F%2F${location.host}&rm=GET`;
})

const infoUrl = computed(() => {
  let article = route.fullPath.split("/")
  return process.dev
    ? `https://lmadviser.gitflic.space/${article[1] ? article[1] : ''}`
    : $runtimeConfig.LMA_HELP_URL
      ? `${$runtimeConfig.LMA_HELP_URL}${article[1] ? article[1] : ''}`
      : `https://${location.host}/${article[1] ? article[1] : ''}`;
})

const actualYear = computed(() => {
  let date = new Date();
  return date.getFullYear()
})

const activeRoute = computed(() => {
  return route.path
})

const setLanguage = (code) => {
  activeLanguage.value = code
  setLocale(code)
}

const handleLogout = () => {
  // activeDomain.value = ''
  auth.logout()
}

const selectItem = () => {
  selectedKeys.value = []
}


onMounted(() => {
  if (localStorage.getItem("sidebarCollapsed")) {
    collapsed.value = JSON.parse(localStorage.getItem("sidebarCollapsed"))
  }
})

watch(collapsed, (state) => {
  emit("update:modelValue", state);
})
</script>

<style lang="scss">
.ant-menu.ant-menu-sub.ant-menu-vertical {
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: #1890ff;
  }
}

.sidebar {
  &__sider {
    height: 100vh;
    background: white;
    position: sticky !important;
    left: 0;
    top: 0;
    bottom: 0;


    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
      background: white;
    }
  }

  &__domain {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #52c41a;
    gap: 8px;
    padding: 8px 0 8px 8px;
    border-radius: 8px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    }

    &.rounded {
      border-radius: 100%;
      padding: 0;
      width: 32px;
      align-self: center;
      height: 32px;
    }

    &>span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__groups {
    display: flex;
    align-items: center;
    background: #1890ff;
    gap: 8px;
    padding: 8px 0 8px 8px;
    border-radius: 8px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    }

    &.rounded {
      border-radius: 100%;
      padding: 0;
      width: 32px;
      align-self: center;
      justify-content: center;
      height: 32px;
    }

    &>span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__menu {
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 999px;
      border: 2px solid transparent;
      background-clip: content-box;
      background-color: #1890ff;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 16px;
    gap: 8px;
  }

  &__copyright {
    position: absolute;
    bottom: 8px;
    align-self: center;
    width: 100%;
    text-align: center;
    font-size: 11px;
    pointer-events: none;
  }

  &__sort {
    // position: absolute;
    // left: 24px;
    // bottom: 20px;
  }

  &__modal {
    display: flex;
    flex-direction: column;
    // gap: 8px;
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 999px;
      border: 2px solid transparent;
      background-clip: content-box;
      background-color: #1890ff;
    }

    &-top {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 16px 0;
    }

    &-footer {
      display: flex;
      gap: 4px;
      width: 100%;
      justify-content: flex-end;
      margin-top: 16px;
    }

    &-item {
      cursor: pointer;
      padding: 8px;
      transition: all 0.3s ease;

      &:hover {
        background-color: #e6f7ff;
        color: #1890ff;
      }

      &.is-active {
        background-color: #e6f7ff;
        color: #1890ff;
        border-left: 2px solid #1890ff;
      }
    }
  }

  &__logo {

    // display: flex;
    // align-self: center;
    &>img {
      // height: 64px;
      // width: 32px;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 8px;

    &.collapsed {
      justify-content: center;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-top: 1px solid #f0f0f0;
    margin-top: auto;
    margin-bottom: 60px;
    background-color: white;

    &.collapsed {
      flex-direction: row;
    }
  }

  &__language {
    padding-bottom: 8px;
  }

  &__language-button {
    display: flex;
    align-items: center;

    &.ant-btn-sm {
      padding: 4px !important;
    }

  }

  &__language-img {
    width: 20px;
  }

  &__language-item {
    display: flex;
    align-items: center;
    gap: 8px !important;
  }

  &__hide {
    display: flex;
    align-items: center;
    // justify-content: flex-start;
    // width: max-content;
    gap: 8px;
    padding: 16px 24px;
    cursor: pointer;


    &:hover {
      .trigger {
        color: #1890ff;
      }

      &>span {
        color: #1890ff;
      }
    }
  }
}
</style>