<template>
  <div class="steps">
    <nuxt-link :to="localePath('/indicators')" class="steps__item">
      <div class="steps__wrapper">
        <FundOutlined style="fontSize: 30px" />
      </div>
      <span>{{ $t('sidebar.indicators') }}</span>
    </nuxt-link>
    <nuxt-link :to="localePath('/models')" class="steps__item">
      <div class="steps__wrapper">
        <BranchesOutlined style="fontSize: 30px" />
      </div>
      <span>{{ $t('sidebar.models') }}</span>
    </nuxt-link>
    <nuxt-link :to="localePath('/forecasts')" class="steps__item">
      <div class="steps__wrapper">
        <NodeIndexOutlined style="fontSize: 30px" />
      </div>
      <span>{{ $t('sidebar.forecasts') }}</span>
    </nuxt-link>
    <nuxt-link :to="localePath('/solvers')" class="steps__item">
      <div class="steps__wrapper">
        <CalculatorOutlined style="fontSize: 30px" />
      </div>
      <span>{{ $t('sidebar.solvers') }}</span>
    </nuxt-link>
  </div>
</template>
<script setup>
const localePath = useLocalePath();
</script>

<style lang="scss">
.steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;

  &__wrapper {
    background-color: rgb(24, 144, 255);
    padding: 16px;
    color: white;
    border-radius: 16px;
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 16px;
    padding: 32px 8px;
    background-color: white;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;

    &:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      transform: scale(1.01);
    }

    &>span {
      font-size: 28px;
      color: rgb(24, 144, 255);
    }



    &:nth-child(-n + 3) {
      &::after {
        position: absolute;
        content: '';
        right: -36px;
        width: 24px;
        height: 24px;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 24px solid rgb(24, 144, 255);
      }
    }
  }
}
</style>