<template>
  <div id="container"></div>
</template>

<script setup>
import G6 from '@antv/g6/dist/g6.min';

const props = defineProps({
  graphData: { type: Object },
})

const groupsArray = computed(() => {
  let arrayNodes = props.graphData.nodes
  let arr = arrayNodes.reduce((x, y) => {
    (x[y.id] = x[y.id] || []).push(y);
    return x;
  }, {}); 

  let arrayEdges = props.graphData.edges
  let nodes = [
  ]
  let edges = [
  ]

  arrayNodes.forEach(element => {
    nodes.push({
      id: `${element.id}`,
      label: element.label,
      cluster: element.cluster,
      description: element.description,
    })
  });
  
  arrayEdges.forEach(element => {
    edges.push({
      source: `${element.source}`,
      target: `${element.target}`,
      value: element.value,
      strength: element.value,
      method: element.creation_type
    },)
  });

  return { nodes: nodes, edges: edges }
})

onMounted(() => {
  const data = groupsArray.value;
  const container = document.getElementById('container');
  const width = container.scrollWidth;
  const height = container.scrollHeight || 500;
  const graph = new G6.Graph({
    container: 'container',
    width,
    height,
    fitView: true,
    layout: {
      type: 'mds',
      linkDistance: 100,
    },
    modes: {
      default: ['drag-node'],
    },
    defaultNode: {
      size: 20,
    },
  });
  graph.data(data);
  graph.render();
})
</script>

<style></style>