<template>
  <div class="test-graph">
    <a-modal v-model:open="modalVisible" title="Basic Modal" width="100%" wrap-class-name="full-modal" @ok="handleOk">
      <div class="test-graph__modal">
        <a-card title="Таблица 1"><a-table :dataSource="dataSource" :columns="columns" /></a-card>
        <a-card title="Таблица 2"><a-table :dataSource="dataSource" :columns="columns" /></a-card>
      </div>
    </a-modal>
    <div class="test-graph__content">
      <div v-if="!graphLoaded" class="test-graph__loader">
        <div class="test-graph__loader-icon">
          <SyncOutlined spin />
        </div>
      </div>
      <div id="container"></div>
    </div>
    <!-- <div class="test-graph__controls">
      <div class="test-graph__item">
        <a-typography-title :level="5">Вид рёбер</a-typography-title>
        <div class="test-graph__list">
          <a-checkbox-group v-model:value="edgeType">
            <a-row>
              <a-checkbox class="checkbox-red" value="auto">
                <div class="test-graph__color-item">Авто</div>
              </a-checkbox>
            </a-row>
            <a-row>
              <a-checkbox value="manual">
                <div class="test-graph__color-item yellow">Ручной</div>
              </a-checkbox>
            </a-row>
            <a-row>
              <a-checkbox value="all">
                <div class="test-graph__color-item green">Обе</div>
              </a-checkbox>
            </a-row>
            <a-row>
              <a-checkbox value="onlyEdge">
                <div class="test-graph__color-item red">Направление</div>
              </a-checkbox>
            </a-row>
          </a-checkbox-group>
        </div>
      </div>
      <div class="test-graph__item">
        <a-typography-title :level="5">Мощность связи</a-typography-title>
        <div class="test-graph__list">
          <a-radio-group v-model:value="connectionPower">
            <a-radio :value="2">Все</a-radio>
            <a-radio :value="1">Только мощные</a-radio>
          </a-radio-group>
        </div>
      </div>
      <div class="test-graph__item">
        <a-typography-title :level="5">Показывать кластеры</a-typography-title>
        <div class="test-graph__list">
          <a-radio-group v-model:value="clustersVisible">
            <a-radio :value="true">Да</a-radio>
            <a-radio :value="false">нет</a-radio>
          </a-radio-group>
        </div>
      </div>
      <div class="test-graph__item">
        <a-typography-title :level="5">Название свойства</a-typography-title>
        <a-select v-model:select="select">
          <a-select-option value="option1">option1</a-select-option>
          <a-select-option value="option2">option2</a-select-option>
          <a-select-option value="option3">option3</a-select-option>
        </a-select>
      </div>
    </div> -->
  </div>
</template>

<script setup>
import G6 from '@antv/g6/dist/g6.min';

const props = defineProps({
  graphData: { type: Object }
})

const graphLoaded = ref(false)
const edgeType = ref(['auto', 'manual', 'all', 'onlyEdge']);
const connectionPower = ref(2);
const select = ref('option1');
const hullMembers = ref([]);
const modalVisible = ref(false);
const clustersVisible = ref(true);


const dataSource = reactive([
  {
    key: '1',
    name: 'Mike',
    age: 32,
    address: '10 Downing Street',
  },
  {
    key: '2',
    name: 'John',
    age: 42,
    address: '10 Downing Street',
  },
  {
    key: '3',
    name: 'John',
    age: 42,
    address: '10 Downing Street',
  },
])
const columns = reactive([
  {
    title: 'Name',
    dataIndex: 'name',
    key: 'name',
  },
  {
    title: 'Age',
    dataIndex: 'age',
    key: 'age',
  },
  {
    title: 'Address',
    dataIndex: 'address',
    key: 'address',
  },
])




onMounted(() => {
  const data = props.graphData;
  const nodes = data.nodes;
  const contextMenu = new G6.Menu({
    handleMenuClick: (target, item) => {
      if (target.id == 'buttonModal') {
        modalVisible.value = true;
      }
    },
    getContent(e) {
      return `<div class="inner">
      <div class="inner__content">
        <span class="inner__title">Название: ${e.item.getModel().title}</span>
        <span class="inner__description">Описание: ${e.item.getModel().description || ''}</span>
      </div>
      <button id="buttonModal" class="inner__button">Подробнее</button>
    </div>`;
    },
    offsetX: 10,
    offsetY: 10,
    itemTypes: ['node', 'edge'],
  });
  const container = document.getElementById('container');
  const width = container.scrollWidth;
  const height = container.scrollHeight || 600;
  const minimap = new G6.Minimap({
    size: [150, 100],
  });
  const graph = new G6.Graph({
    container: 'container',
    width,
    height,
    fitView: true,
    modes: {
      default: ['drag-canvas', 'zoom-canvas', 'drag-node', 'lasso-select'],
    },
    // fitView: true,
    plugins: [minimap, contextMenu],
    defaultEdge: {
      type: 'line',
      style: {
        // stroke: '#000',
        lineWidth: 1,
        endArrow: {
          path: G6.Arrow.triangleRect(2, 2, 2, 3, 5, 2),
          d: -2
        }
      },
      labelCfg: {
        autoRotate: true,
        style: {
          stroke: '#fff',
          lineWidth: 2,
        },
      },
    },
    defaultNode: {
      size: 20,
      // label: '11',
      color: '#1890ff',
      style: {
        lineWidth: 1,
        fill: '#e6f7ff',
      },
    },
    layout: {
      type: 'force',
      // gpuEnabled: true,
      preventOverlap: true,
      nodeSize: 30,
      linkDistance: (d) => {
        if (d.source.id === 'node0') {
          return 300;
        }
        return 60;
      },
      nodeStrength: (d) => {
        if (d.isLeaf) {
          return -50;
        }
        return -10;
      },
      
    },
  });
  // graph.node((node) => {
  //   return {
  //     id: node.id,
  //     label: node.index,
  //   };
  // });
  data.nodes.forEach((node) => {
    node.label = node.index;
  });
  data.edges.forEach((edge) => {
    let edgeColor = '#aaa';
    if (edge.method == 'all') {
      edgeColor = 'green'
    }
    if (edge.method == 'manual') {
      edgeColor = 'red'
    }
    if (edge.method == 'onlyEdge') {
      edgeColor = 'yellow'
    }
    edge.size = edge.strength;
    edge.color = edgeColor;
    edge.style = {
      opacity: 0.7,
    };
  });

  graph.data({
    nodes,
    edges: data.edges.map(function (edge, i) {
      edge['id'] = 'edge' + i;
      return Object.assign({}, edge);
    }),
  });

  graph.render();
  graph.getEdges().forEach((edge) => {
    edge
      .getContainer()
      .getChildren()
      .forEach((shape) => {
        if (shape.get('type') === 'text') shape.set('visible', false);
      });
  });

  let clusterNodesA = graph.getNodes().filter((node) => node.getModel().cluster == 'a');
  let clusterNodesB = graph.getNodes().filter((node) => node.getModel().cluster == 'b');
  let clusterNodesC = graph.getNodes().filter((node) => node.getModel().cluster == 'c');

  graph.on('afterlayout', () => {
    graphLoaded.value = true
    const hull1 = graph.createHull({
      id: 'hullA',
      type: 'bubble',
      members: clusterNodesA,
      padding: 10,
      style: {
        fill: 'lightgreen',
        stroke: 'green',
      },
    });

    const hull2 = graph.createHull({
      id: 'hullB',
      members: clusterNodesB,
      padding: 10,
      style: {
        fill: 'red',
        stroke: 'red',
      },
    });

    const hull3 = graph.createHull({
      id: 'hullC',
      members: clusterNodesC,
      padding: 10,
      style: {
        fill: 'lightblue',
        stroke: 'blue',
      },
    });

    graph.on('afterupdateitem', (e) => {
      hull1.updateData(hull1.members);
      hull2.updateData(hull2.members);
      hull3.updateData(hull3.members);
    });

    hullMembers.value = graph.getHulls();
  });

  graph.on('node:mouseenter', (e) => {
    graph.setItemState(e.item, 'active', true);
  });
  graph.on('node:mouseleave', (e) => {
    graph.setItemState(e.item, 'active', false);
  });
  graph.on('edge:mouseenter', (e) => {
    graph.setItemState(e.item, 'active', true);
  });
  graph.on('edge:mouseleave', (e) => {
    graph.setItemState(e.item, 'active', false);
  });

  graph.on('someEvent', (ev) => {
    // ... do sth
  });



  if (typeof window !== 'undefined')
    window.onresize = () => {
      if (!graph || graph.get('destroyed')) return;
      if (!container || !container.scrollWidth || !container.scrollHeight) return;
      graph.changeSize(container.scrollWidth, container.scrollHeight - 20);
    };

  watch(clustersVisible, (newValue) => {

    const nodes = graph.getNodes();
    const edges = graph.getEdges();
    const hulls = graph.getHulls();
    // const hulls = Object.values(graph.getHulls());

    

    if (newValue) {
      nodes.forEach((node) => {
        node.hide();
      });
      edges.forEach((edge) => {
        edge.hide();
      });
      hulls.hullA.hide();
    } else {
      nodes.forEach((node) => {
        node.show();
      });
      edges.forEach((edge) => {
        edge.show();
      });
    }
    graph.paint();

  })
})

</script>

<style lang="scss">
.g6-component-tooltip {
  box-shadow: rgb(174, 174, 174) 0px 0px 10px;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  background: white;
  min-width: 300px;
  padding: 8px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__button {
    background-color: #1890ff;
    width: 100%;
    padding: 8px;
    border-radius: 16px;
    color: white;
    transition: box-shadow 0.3s ease;
    text-transform: uppercase;

    &:hover {
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    }
  }
}

// .checkbox-red {
//   .ant-checkbox {
//     border-color: red;
//   }
//   .ant-checkbox.ant-checkbox-checked {
//     .ant-checkbox-inner {
//       background-color: red;
//       border-color: red;
//     }
//   }
// }

.test-graph {
  display: flex;
  gap: 16px;

  &__content {
    width: 80%;
    min-height: calc(100vh - 154px);
    background: white;
    border-radius: 16px;
    position: relative;
    z-index: 1;
  }

  &__loader {
    top: 0;
    left: 0;
    position: absolute;
    background: white;
    border-radius: 16px;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-icon {
      transform: scale(3);
      color: #1890ff;
    }
  }

  &__controls {
    width: 20%;
    background: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    // gap: 8px;
  }

  &__title {
    font-size: 18px;
  }

  &__modal {
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow-y: scroll;
    height: 60vh;

    &::-webkit-scrollbar {
      width: 8px;
      // display: none;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 999px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 999px;
      border: 2px solid transparent;
      background-clip: content-box;
      background-color: #1890ff;
    }

  }

  &__color-item {
    margin: 4px 0;
    padding: 4px 8px;
    border-radius: 4px 8px;
    color: white;
    min-width: 100px;
    text-align: center;
    background-color: gray;

    &.red {
      background-color: red;
    }

    &.yellow {
      background-color: yellow;
      color: black;
    }

    &.green {
      background-color: green;
    }
  }
}
</style>