<template>
  <div class="filters">
    <div id="horizontal-scroller-factors" class="filters__tags"><a-tag class="filters__tag" closable color="blue"
        v-for="(filter, index) in activeFiltersTerms" @close="removeFilter(filter)" :key="index">{{ filter }}</a-tag>
    </div>
    <a-badge :count="activeFiltersCount.length" :number-style="{
      backgroundColor: '#fff',
      color: '#181e04',
      boxShadow: '0 0 0 1px #d9d9d9 inset',
    }">
      <a-button @click='filterCollapsed = !filterCollapsed'
        :title="`${filterCollapsed ? $t('buttons.hide') : $t('buttons.show')}`"
        :type="`${activeFiltersCount.length ? 'primary' : 'default'}`">
        <arrow-down-outlined v-if="!filterCollapsed" />
        <arrow-up-outlined v-if="filterCollapsed" />
        <span>{{ $t('buttons.filter') }}</span>
      </a-button>
    </a-badge>
    <div class="filters__container" :class="{ visible: filterCollapsed }">
      <div class="filters__body">
        <div class="filters__list">
          <div class="filters__item">
            <span class="filters__title">{{ $t('filter.model.factors.indr_id') }}</span>
            <div class="filters__content">
              <InputNumber v-model="formState.indr_id" :placeholder="$t('filter.model.factors.indr_id')" />
            </div>
          </div>
          <div class="filters__item">
            <span class="filters__title">{{ $t('filter.model.factors.indr_name') }}</span>
            <div class="filters__content">
              <a-input v-model:value="formState.indr_name" :placeholder="$t('filter.model.factors.indr_name')" />
            </div>
          </div>
        </div>

        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.model.factors.recomendation') }}</span>
          <div class="filters__content">
            <a-checkbox v-model:checked="formState.param_value_forecasting_model">
              {{ $t('filter.model.factors.param_value_forecasting_model') }}
            </a-checkbox>
            <a-checkbox v-model:checked="formState.observable_in_model">
              {{ $t('filter.model.factors.observable_in_model') }}
            </a-checkbox>
            <a-checkbox v-model:checked="formState.affected_forecasting_model">
              {{ $t('filter.model.factors.affected_forecasting_model') }}
            </a-checkbox>
          </div>
        </div>
      </div>

      <div class="filters__footer">
        <a-button @click="clear">{{ $t('buttons.clear') }}</a-button>
        <a-button @click="accept" type="primary">{{ $t('buttons.accept') }}</a-button>
      </div>
    </div>
  </div>
</template>

<script setup>
const { $event } = useNuxtApp()
const localeModule = useI18n()

const filterCollapsed = ref(false)
const formState = ref({
  indr_id: null,
  indr_name: null,
  param_value_forecasting_model: null,
  observable_in_model: null,
  affected_forecasting_model: null,
})

const activeFiltersCount = computed(() => {
  return Object.entries(formState.value).filter(i => i[1] != null && i[1] != '')
})

const activeFilters = computed(() => {
  let newObj = {};
  for (let key in formState.value) {
    if (formState.value[key] !== null && formState.value[key] != '') {
      if (typeof formState.value[key] == 'boolean') {
        newObj[key] = Number(formState.value[key]);
      } else {
        newObj[key] = formState.value[key];
      }
    }
  }
  return newObj
})

const activeFiltersTerms = computed(() => {
  let newObj = {};
  for (let key in formState.value) {
    if (formState.value[key] !== null && formState.value[key] != '') {
      newObj[key] = localeModule.t(`filter.model.factors.${key}`);
    }
  }
  return newObj
})

const clear = () => {
  for (let key in formState.value) {
    formState.value[key] = null
  }
  $event('filterFactors:update', activeFilters)
  filterCollapsed.value = false
}

const removeFilter = (filter) => {
  let foundKey = Object.keys(activeFiltersTerms.value).find(key => activeFiltersTerms.value[key] === filter);
  if (formState.value[foundKey].from) {
    date.value = []
  }
  formState.value[foundKey] = null
  accept()
}

const accept = () => {
  $event('filterFactors:update', activeFilters)
  filterCollapsed.value = false
}

onMounted(() => {
  document.getElementById("horizontal-scroller-factors")
    .addEventListener('wheel', function (event) {
      let modifier = null
      if (event.deltaMode == event.DOM_DELTA_PIXEL) {
        modifier = 1;
      } else if (event.deltaMode == event.DOM_DELTA_LINE) {
        modifier = parseInt(getComputedStyle(this).lineHeight);
      } else if (event.deltaMode == event.DOM_DELTA_PAGE) {
        modifier = this.clientHeight;
      }
      if (event.deltaY != 0) {
        this.scrollLeft += modifier * event.deltaY;
        event.preventDefault();
      }
    });

    document.addEventListener('keyup', event => {
    if (filterCollapsed.value) {
      if (event.code === 'Enter') {
        accept()
      };
    }
  });
})
</script>

<style lang="scss" scoped>
.filters {
  display: flex;
  align-items: center;
  gap: 8px;

  &__tags {
    position: absolute;
    display: flex;
    gap: 8px;
    right: 296px;
    // right: 240px;
    align-items: center;
    overflow-x: scroll;
    border-radius: 4px;
    max-width: 500px;
    z-index: 0;

    @media (max-width: 1920px) {
      max-width: 340px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__tag {
    user-select: none;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 8px;
  }

  &__container {
    position: absolute;
    z-index: 105;
    pointer-events: none;
    top: 55px;
    padding: 16px;
    border-radius: 0 0 16px 16px;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.3s ease, transform 0.5s ease;

    &.visible {
      transform: translateY(0);
      opacity: 1;
      z-index: 105;
      pointer-events: all;
    }
  }

  &__item {
    // margin: 0 auto;
    // width: 48%;
    display: flex;
    flex-direction: column;
    gap: 8px;


    // &:nth-child(n+4) {
    //   padding-top: 8px;
    // }

    // &:nth-last-child(1) {
    //   width: 65%;
    // }
  }

  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 240px;
  }

  &__footer {
    padding-top: 16px;
    gap: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
</style>