<template>
  <div class="filters">
    <div id="horizontal-scroller-indicators" class="filters__tags"><a-tag class="filters__tag" closable color="blue"
        v-for="(filter, index) in activeFiltersTerms" @close="removeFilter(filter)" :key="index">{{ filter }}</a-tag>
    </div>
    <a-button @click="toggleTemplate"
      :title="`${formState.is_template ? $t('buttons.show-templates') : $t('buttons.hide-templates')}`"
      :type="`${formState.is_template ? 'default' : 'primary'}`">
      <SnippetsOutlined />
    </a-button>
    <a-badge :count="activeFiltersCount.length" :number-style="{
      backgroundColor: '#fff',
      color: '#181e04',
      boxShadow: '0 0 0 1px #d9d9d9 inset',
    }">
      <a-button @click='filterCollapsed = !filterCollapsed'
        :title="`${filterCollapsed ? $t('buttons.hide') : $t('buttons.show')}`"
        :type="`${activeFiltersCount.length ? 'primary' : 'default'}`">
        <arrow-down-outlined v-if="!filterCollapsed" />
        <arrow-up-outlined v-if="filterCollapsed" />
        <span>{{ $t('buttons.filter') }}</span>
      </a-button>
    </a-badge>
    <div class="filters__container" :class="{ visible: filterCollapsed }">
      <div class="filters__body">
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.model.indicator.indr_id') }}</span>
          <div class="filters__content">
            <InputNumber v-model="formState.indr_id" :placeholder="$t('filter.model.indicator.indr_id')" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.model.indicator.name') }}</span>
          <div class="filters__content">
            <a-input v-model:value="formState.name" :placeholder="$t('filter.model.indicator.name')" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.model.indicator.short_desc') }}</span>
          <div class="filters__content">
            <a-input v-model:value="formState.short_desc" :placeholder="$t('filter.model.indicator.short_desc')" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.model.indicator.data_source_id') }}</span>
          <div class="filters__content">
            <SelectorDataSource v-model="formState.data_source_id" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.model.indicator.indr_subgroup_id') }}</span>
          <div class="filters__content">
            <SelectorGroup v-model="formState.indr_subgroup_id" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.model.indicator.indr_sectors_id') }}</span>
          <div class="filters__content">
            <SelectorSpheres v-model="formState.indr_sectors_id" />
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.model.indicator.domain_id') }}</span>
          <div class="filters__content">
            <a-radio-group button-style="solid" v-model:value="formState.domain_id" name="radioGroup">
              <a-radio-button value="0">{{ $t('filter.model.indicator.domain-common') }}</a-radio-button>
              <a-radio-button :value="activeDomain.id">{{ $t('filter.model.indicator.domain-this') }}</a-radio-button>
              <a-radio-button :value="null">{{ $t('filter.model.indicator.domain-all') }}</a-radio-button>
            </a-radio-group>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.model.indicator.measure_unit') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.model.indicator.measure_unit')" ref="select"
              v-model:value="formState.measure_unit" style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 30).terms" :key="item.num"
                :value="item.num">{{ item.term }}
              </a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.model.indicator.data_type') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.model.indicator.data_type')" ref="select"
              v-model:value="formState.data_type" style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 23).terms" :key="item.num"
                :value="item.num">{{ item.term }}
              </a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.model.indicator.data_geo_level') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.model.indicator.data_geo_level')" ref="select"
              v-model:value="formState.data_geo_level" style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 21).terms" :key="item.num"
                :value="item.num">{{ item.term }}
              </a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.model.indicator.indr_status') }}</span>
          <div class="filters__content">
            <a-select :placeholder="$t('filter.model.indicator.indr_status')" ref="select"
              v-model:value="formState.indr_status" style="width: 100%">
              <a-select-option v-for="item in dictionaries.find(element => element.cls === 65).terms" :key="item.num"
                :value="item.num">{{ item.term }}</a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filters__item">
          <span class="filters__title">{{ $t('filter.model.indicator.is_template') }}</span>
          <div class="filters__content">
            <a-radio-group button-style="solid" v-model:value="formState.is_template" name="radioGroup">
              <a-radio-button :value="null">{{ $t('buttons.no') }}</a-radio-button>
              <a-radio-button value="0">{{ $t('buttons.yes') }}</a-radio-button>
            </a-radio-group>
          </div>
        </div>
      </div>
      <div class="filters__item">
        <span class="filters__title">{{ $t('filter.model.indicator.recomendation') }}</span>
        <div class="filters__content">
          <a-checkbox v-model:checked="formState.advice_target_model">{{
            $t('filter.model.indicator.advice_target_model') }}</a-checkbox>
          <a-checkbox v-model:checked="formState.advice_prediction">{{ $t('filter.model.indicator.advice_prediction')
          }}</a-checkbox>
          <a-checkbox v-model:checked="formState.advice_target_value">{{
            $t('filter.model.indicator.advice_target_value') }}</a-checkbox>
        </div>
      </div>
      <div class="filters__footer">
        <a-button @click="clear">{{ $t('buttons.clear') }}</a-button>
        <a-button @click="accept" type="primary">{{ $t('buttons.accept') }}</a-button>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useDictionariesStore } from '@/stores/dictionaries'
const dictionariesStore = useDictionariesStore()

const { $event } = useNuxtApp()
const activeDomain = useCookie("domain");
const route = useRoute();
const localeModule = useI18n()

const modelStausTerm = computed(() => {
  let arr = dictionariesStore?.dictionaries?.data?.clss.find(element => element.cls === 65).terms
  return arr.find(element => element.num == 5)
})

const filterCollapsed = ref(false)
const formState = ref({
  indr_id: null,
  name: null,
  short_desc: null,
  data_source_id: null,
  indr_subgroup_id: null,
  indr_sectors_id: null,
  domain_id: null,
  measure_unit: null,
  data_type: null,
  indr_status: modelStausTerm.value.num,
  data_geo_level: null,
  advice_target_model: null,
  advice_prediction: null,
  advice_target_value: null,
  is_template: '0',
  exclude_indr_in_model_id: Number(route.params.id)
})

const dictionaries = computed(() => {
  return dictionariesStore.dictionaries?.data?.clss
})


const activeFiltersCount = computed(() => {
  return Object.entries(formState.value).filter(i => i[1] != null && i[1] != '')
})

const activeFilters = computed(() => {
  let newObj = {};
  for (let key in formState.value) {
    if (formState.value[key] !== null && formState.value[key] != '') {
      if (typeof formState.value[key] == 'boolean') {
        newObj[key] = Number(formState.value[key]);
      } else {
        newObj[key] = formState.value[key];
      }
    }
  }
  return newObj
})

const activeFiltersTerms = computed(() => {
  let newObj = {};
  for (let key in formState.value) {
    if (formState.value[key] !== null && formState.value[key] != '') {
      if (key != 'exclude_indr_in_model_id') {
        newObj[key] = localeModule.t(`filter.indicators.${key}`);
      }
    }
  }
  return newObj
})


const clear = () => {
  for (let key in formState.value) {
    if (key == 'is_template' || key == 'exclude_indr_in_model_id') {

    } else {
      formState.value[key] = null
    }
  }
  $event('filterIndicators:update', activeFilters)
  filterCollapsed.value = false
}

const removeFilter = (filter) => {
  let foundKey = Object.keys(activeFiltersTerms.value).find(key => activeFiltersTerms.value[key] === filter);
  if (formState.value[foundKey].from) {
    date.value = []
  }
  formState.value[foundKey] = null
  accept()
}

const toggleTemplate = () => {
  if (formState.value.is_template == '0') {
    formState.value.is_template = null
  } else {
    formState.value.is_template = '0'
  }
  accept()
}

const accept = () => {
  if (activeFilters.value.indr_subgroup_id) {
    activeFilters.value.indr_subgroup_id = {
      "in": [activeFilters.value.indr_subgroup_id]
    }
  }
  if (activeFilters.value.indr_sectors_id) {
    activeFilters.value.indr_sectors_id = {
      "in": activeFilters.value.indr_sectors_id
    }
  }
  $event('filterIndicators:update', activeFilters)
  filterCollapsed.value = false
}

onMounted(() => {
  document.getElementById("horizontal-scroller-indicators")
    .addEventListener('wheel', function (event) {
      let modifier = null
      if (event.deltaMode == event.DOM_DELTA_PIXEL) {
        modifier = 1;
      } else if (event.deltaMode == event.DOM_DELTA_LINE) {
        modifier = parseInt(getComputedStyle(this).lineHeight);
      } else if (event.deltaMode == event.DOM_DELTA_PAGE) {
        modifier = this.clientHeight;
      }
      if (event.deltaY != 0) {
        this.scrollLeft += modifier * event.deltaY;
        event.preventDefault();
      }
    });

  document.addEventListener('keyup', event => {
    if (filterCollapsed.value) {
      if (event.code === 'Enter') {
        accept()
      };
    }
  });
})
</script>

<style lang="scss" scoped>
.filters {
  display: flex;
  align-items: center;
  gap: 8px;

  &__tags {
    display: flex;
    gap: 8px;
    align-items: center;
    overflow-x: scroll;
    border-radius: 4px;
    max-width: 600px;

    @media (max-width: 1920px) {
      max-width: 330px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__tag {
    user-select: none;
  }

  &__body {
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    width: 100%;
    padding-bottom: 8px;
  }

  &__container {
    position: absolute;
    z-index: 105;
    pointer-events: none;
    top: 55px;
    padding: 16px;
    border-radius: 0 0 16px 16px;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.3s ease, transform 0.5s ease;

    &.visible {
      transform: translateY(0);
      opacity: 1;
      z-index: 105;
      pointer-events: all;
    }
  }

  &__item {
    // margin: 0 auto;
    // width: 32%;
    display: flex;
    flex-direction: column;
    gap: 8px;


    // &:nth-child(n+4) {
    //   padding-top: 8px;
    // }

    // &:nth-last-child(1) {
    //   width: 65%;
    // }
  }

  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 240px;
  }

  &__footer {
    padding-top: 16px;
    gap: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
</style>