<template>
  <a-card class="inspector" :bordered="false" :title="`${inspectorVisible ? $t('buttons.inspector') : ''}`">
    <template #extra>
      <a-button :title="`${filterCollapsed ? $t('buttons.hide') : $t('buttons.show')}`"
        @click="$emit('inspectorToggle')">
        <arrow-left-outlined v-if="!inspectorVisible" />
        <arrow-right-outlined v-if="inspectorVisible" />
        <span v-if="inspectorVisible">{{ $t('buttons.hide') }}</span></a-button>
    </template>
    <div class="inspector__empty" :class="{ hidden: !inspectorVisible || inspectorData }" v-if="inspectorVisible">
      <NodeIndexOutlined style="fontSize: 60px; color: #1890ff;" />
      <span style="margin: 8px 0 16px;">{{ $t('inspector.forecasts.choose-from-table') }} <br>
        {{ $t('inspector.forecasts.choose-model') }}</span>
      <a-button :disabled="!inspectorModel || addDisabled" @click="modal.state = 'forecastAdd'" type="primary">
        <plus-square-outlined />
        {{ $t('inspector.forecasts.create-new') }}
      </a-button>
    </div>
    <div class="inspector__content" :class="{ hidden: !inspectorVisible }">
      <div class="inspector__actions">
        <a-dropdown :disabled="addDisabled">
          <template #overlay>
            <a-menu>
              <a-menu-item @click="modal.state = 'forecastAdd'" key="1">
                <plus-square-outlined />
                {{ $t('inspector.forecasts.new') }}
              </a-menu-item>
              <a-menu-item :disabled="inspectorData.status !== 3" @click="modal.state = 'forecastCopy'" key="2">
                <diff-outlined />
                {{ $t('inspector.forecasts.old') }}
              </a-menu-item>
            </a-menu>
          </template>
          <a-button type="primary">
            {{ $t('buttons.add') }}
            <DownOutlined />
          </a-button>
        </a-dropdown>
        <a-button :disabled="editDisabled" @click="modal.state = 'forecastEdit'" type="primary">{{ $t('buttons.change')
          }}</a-button>
        <a-button @click="modal.state = 'forecastDelete'" :disabled="editDisabled" type="primary" danger>{{
          $t('buttons.delete') }}</a-button>
      </div>

      <a-table bordered :pagination="false" :dataSource="inspectorTable" :columns="inspectorColumns">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'name'">
            <div :title="record.name">
              {{ record.shortText }}
            </div>
          </template>
          <template v-if="record.key === 'status' && column.key === 'value'">
            <a-tag
              :color="`${(record.value == 3) ? 'green' : ([1, 2, 5].includes(record.value)) ? 'orange' : 'red'}`">{{
                inspectorData?.status_term }}</a-tag>
          </template>
          <template v-if="record.key === 'quant_term' && column.key === 'value'">
            <a-tag :color="`${record.value ? 'blue' : 'red'}`">{{ record.value }}
            </a-tag>
          </template>
        </template>
      </a-table>
      <div class="inspector__controls">
        <a-button @click="navigateTo(localePath('/forecasts/' + inspectorData.forecast_id))"
          :title="$t('inspector.forecasts.set-impulses')" type="primary">{{ $t('inspector.forecasts.set-impulses')
          }}</a-button>
        <a-button :disabled="inspectorData?.amount == 0"
          @click="navigateTo(localePath('/models/' + inspectorData.model_id))"
          :title="$t('inspector.forecasts.route-to')" type="primary">{{ $t('inspector.forecasts.route-to') }}</a-button>
      </div>
    </div>
  </a-card>

  <a-modal width="70vw" v-model:open="addModalOpened" :title="$t('inspector.forecasts.create-forecast')" :footer="null"
    destroyOnClose @cancel="closeModal">
    <modal-forecast-add :inspector="inspectorData" :modelId="inspectorModel.model_id" />
  </a-modal>

  <a-modal width="70vw" v-model:open="copyModalOpened" :title="$t('inspector.forecasts.create-forecast')" :footer="null"
    destroyOnClose @cancel="closeModal">
    <modal-forecast-copy :inspector="inspectorData" />
  </a-modal>

  <a-modal width="70vw" v-model:open="editModalOpened" :title="$t('inspector.forecasts.change-forecast')" :footer="null"
    destroyOnClose @cancel="closeModal">
    <modal-forecast-edit :inspector="inspectorData" :modelGroup="modelsGroup" />
  </a-modal>

  <a-modal width="500px" v-model:open="deleteModalOpened" :title="$t('inspector.forecasts.delete-forecast')"
    :footer="null" destroyOnClose @cancel="closeModal">
    <modal-forecast-delete :inspector="inspectorData" />
  </a-modal>
</template>

<script setup>
import { useSessionStore } from '@/stores/session-store'
import { useModal } from '@/stores/modal'
const emit = defineEmits(["inspectorToggle"]);
const localeModule = useI18n()
const localePath = useLocalePath();

const props = defineProps({
  inspectorVisible: { type: Boolean },
  inspectorData: { type: Object },
  inspectorModel: { type: Object },
})

const sessionStore = useSessionStore()
const modal = useModal()
const activeDomain = useCookie("domain");

const addDisabled = computed(() => {
  return sessionStore.user.data.data.sess_domain_check.is_admin == 0
})

const editDisabled = computed(() => {
  return sessionStore.user.data.data.sess_domain_check.is_admin == 0 || activeDomain.value.id !== props.inspectorData?.domain_id
})

const addModalOpened = computed(() => {
  return modal.state === 'forecastAdd'
})

const copyModalOpened = computed(() => {
  return modal.state === 'forecastCopy'
})
const editModalOpened = computed(() => {
  return modal.state === 'forecastEdit'
})
const deleteModalOpened = computed(() => {
  return modal.state === 'forecastDelete'
})

const inspectorTable = computed(() => {
  const array = [
    {
      key: 'forecast_id',
      name: 'ID',
      value: props.inspectorData?.forecast_id,
      shortText: 'ID'
    },
    {
      key: 'name',
      name: localeModule.t('inspector.forecasts.name'),
      value: props.inspectorData?.name,
      shortText: localeModule.t('inspector.forecasts.name')
    },
    {
      key: 'status',
      name: localeModule.t('inspector.forecasts.status'),
      value: props.inspectorData?.status,
      shortText: localeModule.t('inspector.forecasts.status')
    },
    {
      key: 'quant_term',
      name: localeModule.t('inspector.forecasts.quant_term'),
      value: props.inspectorData?.quant_term,
      shortText: localeModule.t('inspector.forecasts.quant_term_short')
    },
    {
      key: 'amount',
      name: localeModule.t('inspector.forecasts.amount'),
      value: props.inspectorData?.amount,
      shortText: localeModule.t('inspector.forecasts.amount_short')
    },
    {
      key: 'dt_created',
      name: localeModule.t('inspector.forecasts.dt_created'),
      value: props.inspectorData?.dt_created,
      shortText: localeModule.t('inspector.forecasts.dt_created_short')
    },
    {
      key: 'forecast_dt_start',
      name: localeModule.t('inspector.forecasts.forecast_dt_start'),
      value: props.inspectorData?.forecast_dt_start,
      shortText: localeModule.t('inspector.forecasts.forecast_dt_start_short')
    },
    {
      key: 'forecast_dt_end',
      name: localeModule.t('inspector.forecasts.forecast_dt_end'),
      value: props.inspectorData?.forecast_dt_end,
      shortText: localeModule.t('inspector.forecasts.forecast_dt_end_short')
    },
    {
      key: 'forecast_dsc',
      name: localeModule.t('inspector.forecasts.forecast_dsc'),
      value: props.inspectorData?.forecast_dsc,
      shortText: localeModule.t('inspector.forecasts.forecast_dsc')
    },
  ];
  return array;
})

const inspectorColumns = ref([{
  title: localeModule.t('inspector.table.name'),
  dataIndex: 'name',
  key: 'name',
  width: 170,
}, {
  title: localeModule.t('inspector.table.value'),
  dataIndex: 'value',
  key: 'value',
}])

const closeModal = () => {
  modal.state = '';
}

onUnmounted(() => {
  modal.state = ''
})
</script>