<template>
  <a-card class="forecast-inspector" :bordered="false" :title="`${inspectorVisible ? $t('buttons.inspector') : ''}`">
    <template #extra>
      <a-button :title="`${filterCollapsed ? $t('buttons.hide') : $t('buttons.show')}`"
        @click="$emit('inspectorToggle')">
        <arrow-left-outlined v-if="!inspectorVisible" />
        <arrow-right-outlined v-if="inspectorVisible" />
        <span v-if="inspectorVisible">{{ $t('buttons.hide') }}</span></a-button>
    </template>
    <div class="forecast-inspector__content" :class="{ hidden: !inspectorVisible }">
      <div class="forecast-inspector__controls">
        <a-button :disabled="editDisabled" :title="$t('inspector.forecast.edit-impulses')" type="primary"
          @click="editImpulses">{{
            impulsesStore.impulsesEditable ?
              $t('inspector.forecast.cancel-editing') : $t('inspector.forecast.edit-impulses') }}</a-button>
        <a-button :disabled="saveDisabled" :title="$t('inspector.forecast.save-impulses')" type="primary"
          @click="saveImpulses">{{ $t('inspector.forecast.save-impulses') }}</a-button>
        <a-button :disabled="!calcDisabled" @click="calcForecast" :title="$t('inspector.forecast.calculate-forecast')"
          type="primary">{{ $t('inspector.forecast.calculate-forecast') }}</a-button>
        <a-button :disabled="forecast.status !== 3"
          @click="navigateTo(`/forecasts?model_id=${forecast.model_id}&forecast_id=${forecast.forecast_id}`)"
          :title="$t('inspector.forecast.charts')" type="primary">{{ $t('inspector.forecast.charts') }}</a-button>
      </div>
      <a-button @click="navigateTo(localePath(`/solvers?model_id=${forecast.model_id}`))"
        :title="$t('inspector.forecast.get-params')" type="primary">{{ $t('inspector.forecast.get-params') }}</a-button>
    </div>
  </a-card>
</template>

<script setup>
import { useSessionStore } from '@/stores/session-store'
import { useImpulsesStore } from '@/stores/impulses'
import { notification } from 'ant-design-vue';
const { $event } = useNuxtApp()
const emit = defineEmits(["inspectorToggle"]);
const localeModule = useI18n()
const localePath = useLocalePath();

const props = defineProps({
  inspectorVisible: { type: Boolean },
  forecast: { type: Object },
})

const sessionStore = useSessionStore()
const impulsesStore = useImpulsesStore()
const saveDisabled = ref(true)

const editDisabled = computed(() => {
  return sessionStore.user.data.data.sess_domain_check.is_admin == 0
})

const calcDisabled = computed(() => {
  return props.forecast.status !== 2
})


const editImpulses = () => {
  if (impulsesStore.impulsesEditable) {
    saveDisabled.value = true
    impulsesStore.cancel()
  } else {
    saveDisabled.value = false
  }
  impulsesStore.impulsesEditable = !impulsesStore.impulsesEditable

}

const saveImpulses = () => {
  impulsesStore.save()
  saveDisabled.value = true
}

const calcForecast = async () => {
  apiFetch(`proceed_forecast_calc`, {
    value: {
      i_forecast_id: props.forecast.forecast_id
    }
  }).then((response) => {
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        notification.open({
          message: localeModule.t('inspector.forecast.calculating'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });
        $event('forecast:update')
      }
    }
  })
}

watch(impulsesStore.editedData, (newValue) => {
  saveDisabled.value = false
}, { deep: true })

onUnmounted(() => {
  impulsesStore.clear()
})
</script>


<style lang="scss">
.forecast-inspector {
  position: relative;

  &.ant-card {
    .ant-card-body {
      padding: 8px;
      height: calc(100% - 56px);
    }

    .ant-card-head-wrapper {
      justify-content: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &.hidden {
      display: none;
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
</style>