<template>
  <a-card class="inspector" :bordered="false" :title="`${inspectorVisible ? $t('buttons.inspector') : ''}`">
    <template #extra>
      <a-button :title="`${filterCollapsed ? $t('buttons.hide') : $t('buttons.show')}`"
        @click="$emit('inspectorToggle')">
        <arrow-left-outlined v-if="!inspectorVisible" />
        <arrow-right-outlined v-if="inspectorVisible" />
        <span v-if="inspectorVisible">{{ $t('buttons.hide') }}</span></a-button>
    </template>
    <div class="inspector__empty" :class="{ hidden: !inspectorVisible || inspectorData }" v-if="inspectorVisible">
      <fund-outlined style="fontSize: 60px; color: #1890ff;" />
      <span style="margin: 8px 0 16px;">{{ $t('inspector.indicators.choose-from-table') }}</span>
      <a-button :disabled="addDisabled" @click="openAddModal(false)" type="primary">
        <plus-square-outlined />
        {{ $t('inspector.indicators.create-new') }}
      </a-button>
    </div>
    <div class="inspector__content" :class="{ hidden: !inspectorVisible }">
      <a-tabs type="card" v-model:activeKey="activeTab">
        <a-tab-pane :key="1" force-render>
          <template #tab>
            <span>
              <database-filled />
              {{ $t('inspector.indicators.about-indicator') }}
            </span>
          </template>
          <div class="inspector__content">
            <div style="height: 150px">
              <ChartIndicator v-if="graphVisible" :chartParams="chartParams" :chartName="props.inspectorData?.name" />
            </div>
            <div class="inspector__actions">
              <a-dropdown :disabled="addDisabled">
                <template #overlay>
                  <a-menu>
                    <a-menu-item @click="openAddModal(false)" key="1">
                      <plus-square-outlined />
                      {{ $t('inspector.indicators.new') }}
                    </a-menu-item>
                    <a-menu-item @click="openAddModal(true)" key="2">
                      <diff-outlined />
                      {{ $t('inspector.indicators.old') }}
                    </a-menu-item>
                  </a-menu>
                </template>
                <a-button type="primary">
                  {{ $t('buttons.add') }}
                  <DownOutlined />
                </a-button>
              </a-dropdown>
              <a-button :disabled="editDisabled" @click="modal.state = 'indicatorEdit'" type="primary">{{
                $t('buttons.change') }}</a-button>
              <a-button @click="modal.state = 'indicatorDelete'" :disabled="editDisabled" type="primary" danger>{{
                $t('buttons.delete') }}</a-button>
            </div>
            <a-table bordered :scroll="{ y: 'calc(100vh - 458px)' }" :total="2" :pagination="false"
              :dataSource="inspectorTable" :columns="inspectorColumns">
              <template #bodyCell="{ column, record }">
                <template v-if="column.key == 'name'">
                  <div :title="record.name">
                    {{ record.title }}
                  </div>
                </template>
                <template v-if="record.key === 'indr_subgroup_fullname' && column.key === 'value'">
                  <a-space :title="record.value">
                    <a-tag class="balance-wrap" color="blue">{{ record.value }}</a-tag>
                  </a-space>
                </template>
                <template v-if="record.key === 'full_desc' && column.key === 'value'">
                  <p style="white-space: pre-line;">{{ record.value }}</p>
                </template>
                <template v-if="record.key === 'indr_sectors_fullname' && column.key === 'value'">
                  <a-space direction="vertical" :size="2" :title="record.value">
                    <a-tag class="balance-wrap" v-for="(item, index) in record.value?.split(';')" :key="index"
                      color="blue">{{
                        item }}</a-tag>
                  </a-space>
                </template>
                <template v-if="record.key === 'indr_status_term' && column.key === 'value'">
                  <a-tag :color="`${(inspectorData?.indr_status == 5) ? 'green' :
                    (inspectorData?.indr_status == 1) ? 'red' : 'purple'}`">{{ record.value }}</a-tag>
                </template>
                <template v-if="record.key === 'data_date' && column.key === 'value'">
                  <span v-if="record.value.length > 6">{{ record.value }}</span>
                  <span v-else></span>
                </template>
                <template
                  v-if="typeof (record.value) === 'number' && !Number.isInteger(record.value) && column.key === 'value'">
                  <span>{{ record.value.toFixed(2) }}</span>
                </template>
                <template v-if="record.value == 1 && column.key === 'value'">
                  <span :title="$t('buttons.yes')">
                    <check-square-outlined style="color: #52c41a;" />
                  </span>
                </template>
                <template v-if="record.value == 0 && column.key === 'value'">
                  <span :title="$t('buttons.no')">
                    <CloseSquareOutlined style="color: #ff4d4f;" />
                  </span>
                </template>
              </template>
            </a-table>
          </div>

        </a-tab-pane>
        <a-tab-pane :key="2">
          <template #tab>
            <span>
              <fund-filled />
              {{ $t('inspector.indicators.used-in') }}
            </span>
          </template>
          <a-space direction="vertical" :size="48">
            <div style="height: 150px">
              <ChartForecast v-if="graphVisible" :chartParams="chartParams" :chartName="props.inspectorData?.name" />
            </div>
            <a-table class="indicators__models-table" bordered :scroll="{ y: 'calc(100vh - 458px)' }"
              :pagination="false" :dataSource="tableModelsData" :columns="modelsColumns"
              :row-key="(record) => record.key" :customRow="selectModel" rowClassName="indicators__models-row">
              <template #bodyCell="{ column, record }">
                <template v-if="column.key === 'model_name'">
                  <div class="indicators__link">
                    <nuxt-link :title="record.model_name" :to="localePath('/models?model_id=' + record.model_id)">{{
                      record.model_name }}</nuxt-link>
                  </div>
                </template>
              </template>
            </a-table>
          </a-space>
        </a-tab-pane>
      </a-tabs>
    </div>
  </a-card>

  <a-modal width="90vw" v-model:open="addModalOpened" :title="$t('inspector.indicators.create-indicator')"
    :footer="null" destroyOnClose @cancel="closeModal">
    <modal-indicator-add :inspector="inspectorData" :customers="customers" :haveData="addModalWithData" />
  </a-modal>

  <a-modal width="90vw" v-model:open="editModalOpened" :title="$t('inspector.indicators.change-indicator')"
    :footer="null" destroyOnClose @cancel="closeModal">
    <modal-indicator-edit :inspector="inspectorData" :customers="customers" />
  </a-modal>

  <a-modal width="500px" v-model:open="deleteModalOpened" :title="$t('inspector.indicators.delete-indicator')"
    :footer="null" destroyOnClose @cancel="closeModal">
    <modal-indicator-delete :inspector="inspectorData" />
  </a-modal>
</template>

<script setup>
import { useSessionStore } from '@/stores/session-store'
import { useModal } from '@/stores/modal'

const emit = defineEmits(["inspectorToggle"]);

const localeModule = useI18n()
const localePath = useLocalePath();

const props = defineProps({
  inspectorVisible: { type: Boolean },
  inspectorData: { type: Object },
})

const sessionStore = useSessionStore()
const modal = useModal()
const activeTab = ref(1)
const addModalWithData = ref(false)
const graphVisible = ref(false)
const tableModels = ref([])
const activeDomain = useCookie("domain");

const addDisabled = computed(() => {
  return sessionStore.user.data.data.sess_domain_check.is_admin == 0
})
const editDisabled = computed(() => {
  return sessionStore.user.data.data.sess_domain_check.is_admin == 0 || activeDomain.value.id !== props.inspectorData?.domain_id
})

const addModalOpened = computed(() => {
  return modal.state === 'indicatorAdd'
})
const editModalOpened = computed(() => {
  return modal.state === 'indicatorEdit'
})
const deleteModalOpened = computed(() => {
  return modal.state === 'indicatorDelete'
})


const tableModelsData = computed(() => {
  return tableModels.value
})
const inspectorTable = computed(() => {
  const array = [
    {
      key: 'indr_id',
      name: 'ID',
      value: props.inspectorData?.indr_id,
      title: 'ID'
    },
    {
      key: 'create_dt',
      name: localeModule.t('inspector.indicators.create_dt'),
      value: props.inspectorData?.create_dt,
      title: localeModule.t('inspector.indicators.create_dt')
    },
    {
      key: 'name',
      name: localeModule.t('inspector.indicators.name'),
      value: props.inspectorData?.name,
      type: 'input',
      title: localeModule.t('inspector.indicators.name')
    },
    {
      key: 'short_desc',
      name: localeModule.t('inspector.indicators.short_desc'),
      value: props.inspectorData?.short_desc,
      type: 'input',
      title: localeModule.t('inspector.indicators.short_desc')
    },
    {
      key: 'full_desc',
      name: localeModule.t('inspector.indicators.full_desc'),
      value: props.inspectorData?.full_desc,
      type: 'input',
      title: localeModule.t('inspector.indicators.full_desc')
    },    
    {
      key: 'indr_subgroup_fullname',
      name: localeModule.t('inspector.indicators.indr_subgroup_fullname'),
      value: props.inspectorData?.indr_subgroup_fullname,
      title: localeModule.t('inspector.indicators.indr_subgroup_fullname')
    },
    {
      key: 'indr_sectors_fullname',
      name: localeModule.t('inspector.indicators.indr_sectors_fullname'),
      value: props.inspectorData?.indr_sectors_fullname,
      title: localeModule.t('inspector.indicators.indr_sectors_fullname')
    },
    {
      key: 'data_origin_term',
      name: localeModule.t('inspector.indicators.data_origin_term'),
      value: props.inspectorData?.data_origin_term,
      title: localeModule.t('inspector.indicators.data_origin_term')
    },
    {
      key: 'data_source_name',
      name: localeModule.t('inspector.indicators.data_source_name'),
      value: props.inspectorData?.data_source_name,
      title: localeModule.t('inspector.indicators.data_source_name')
    },
    {
      key: 'domain_name',
      name: localeModule.t('inspector.indicators.domain_name'),
      value: props.inspectorData?.domain_name,
      title: localeModule.t('inspector.indicators.domain_name')
    },
    {
      key: 'source_column_name',
      name: localeModule.t('inspector.indicators.source_column_name'),
      title: localeModule.t('inspector.indicators.source_column_name'),
      value: props.inspectorData?.source_column_name
    },
    // {
    //   key: 'source_column_number',
    //   name: localeModule.t('inspector.indicators.source_column_number'),
    //   title: localeModule.t('inspector.indicators.source_column_number'),
    //   value: props.inspectorData?.source_column_number,
    // },
    {
      key: 'measure_unit_term',
      name: localeModule.t('inspector.indicators.measure_unit_term'),
      title: localeModule.t('inspector.indicators.measure_unit_term'),
      value: props.inspectorData?.measure_unit_term,
    },
    {
      key: 'unit_scale_term',
      name: localeModule.t('inspector.indicators.unit_scale_term'),
      title: localeModule.t('inspector.indicators.unit_scale_term'),
      value: props.inspectorData?.unit_scale_term,
    },
    {
      key: 'data_type_term',
      name: localeModule.t('inspector.indicators.data_type_term'),
      title: localeModule.t('inspector.indicators.data_type_term'),
      value: props.inspectorData?.data_type_term,
    },
    {
      key: 'data_geo_level_term',
      name: localeModule.t('inspector.indicators.data_geo_level_term'),
      title: localeModule.t('inspector.indicators.data_geo_level_term'),
      value: props.inspectorData?.data_geo_level_term,
      type: 'select'
    },

    {
      key: 'calc_formula',
      name: localeModule.t('inspector.indicators.calc_formula'),
      title: localeModule.t('inspector.indicators.calc_formula'),
      value: props.inspectorData?.calc_formula
    },

    {
      key: 'indr_status_term',
      name: localeModule.t('inspector.indicators.indr_status_term'),
      title: localeModule.t('inspector.indicators.indr_status_term'),
      value: props.inspectorData?.indr_status_term,
    },
    {
      key: 'data_capacity_term',
      name: localeModule.t('inspector.indicators.data_capacity_term'),
      title: localeModule.t('inspector.indicators.data_capacity_term'),
      value: props.inspectorData?.data_capacity_term,
    },
    {
      key: 'data_quant_freq_term',
      name: localeModule.t('inspector.indicators.data_quant_freq_term'),
      title: localeModule.t('inspector.indicators.data_quant_freq_term'),
      value: props.inspectorData?.data_quant_freq_term,
    },
    {
      key: 'method_clear_outlier_term',
      name: localeModule.t('inspector.indicators.method_clear_outlier_term'),
      title: localeModule.t('inspector.indicators.method_clear_outlier_term_short'),
      value: props.inspectorData?.method_clear_outlier_term,
    },
    {
      key: 'method_bring_ai_term',
      name: localeModule.t('inspector.indicators.method_bring_ai_term'),
      title: localeModule.t('inspector.indicators.method_bring_ai_term_short'),
      value: props.inspectorData?.method_bring_ai_term,
    },
    {
      key: 'method_sparcity_filling_term',
      name: localeModule.t('inspector.indicators.method_sparcity_filling_term'),
      title: localeModule.t('inspector.indicators.method_sparcity_filling_term'),
      value: props.inspectorData?.method_sparcity_filling_term,
    },
    {
      key: 'method_normalization_term',
      name: localeModule.t('inspector.indicators.method_normalization_term'),
      title: localeModule.t('inspector.indicators.method_normalization_term_short'),
      value: props.inspectorData?.method_normalization_term,
    },
    {
      key: 'advice_target_model',
      name: localeModule.t('inspector.indicators.advice_target_model'),
      title: localeModule.t('inspector.indicators.advice_target_model_short'),
      value: props.inspectorData?.advice_target_model,
    },
    {
      key: 'advice_prediction',
      name: localeModule.t('inspector.indicators.advice_prediction'),
      title: localeModule.t('inspector.indicators.advice_prediction_short'),
      value: props.inspectorData?.advice_prediction,
    },
    {
      key: 'advice_target_value',
      name: localeModule.t('inspector.indicators.advice_target_value'),
      title: localeModule.t('inspector.indicators.advice_target_value_short'),
      value: props.inspectorData?.advice_target_value,
    },
    {
      key: 'sparsity',
      name: localeModule.t('inspector.indicators.sparsity'),
      title: localeModule.t('inspector.indicators.sparsity_short'),
      value: props.inspectorData?.sparsity,
    },
    {
      key: 'data_lower_bound',
      name: localeModule.t('inspector.indicators.data_lower_bound'),
      title: localeModule.t('inspector.indicators.data_lower_bound'),
      value: props.inspectorData?.data_lower_bound,
    },
    {
      key: 'data_upper_bound',
      name: localeModule.t('inspector.indicators.data_upper_bound'),
      title: localeModule.t('inspector.indicators.data_upper_bound'),
      value: props.inspectorData?.data_upper_bound,
    },
    {
      key: 'data_date',
      name: localeModule.t('inspector.indicators.data_date'),
      title: localeModule.t('inspector.indicators.data_date'),
      value: [localeModule.t('inspector.indicators.from'), props.inspectorData?.data_min_date, localeModule.t('inspector.indicators.to'), props.inspectorData?.data_max_date].join(" "),
    },
    {
      key: 'dsc',
      name: localeModule.t('inspector.indicators.dsc'),
      value: props.inspectorData?.dsc,
      type: 'input',
      title: localeModule.t('inspector.indicators.dsc')
    }
  ];
  return array;
})

const inspectorColumns = ref([{
  title: localeModule.t('inspector.table.name'),
  dataIndex: 'name',
  key: 'name',
  width: 150,
}, {
  title: localeModule.t('inspector.table.value'),
  dataIndex: 'value',
  key: 'value',
}])

const modelsColumns = ref([{
  title: localeModule.t('inspector.indicators.used-in-models'),
  dataIndex: 'model_name',
  key: 'model_name',
}])

const openAddModal = (value) => {
  addModalWithData.value = value;
  modal.state = 'indicatorAdd';
}

const closeModal = () => {
  modal.state = '';
}

const chartParams = computed(() => {
  let params = {
    "i_capacity": 50,
    "i_show_compensated": true, //синяя
    "i_show_raw": true, //зеленая
    "i_r_lma_forecast": 0,
    "i_r_lma_indr": props.inspectorData?.indr_id,
    "i_show_forecast": true, //красная
    "i_ed": props.inspectorData?.data_max_date,
    "i_sd": props.inspectorData?.data_min_date,
  }
  return params
})


watch(() => props.inspectorData, async (newData) => {
  graphVisible.value = false;
  activeTab.value = 1
  setTimeout(() => {
    if (props.inspectorData) {
      graphVisible.value = true;
    }
  }, 500);
});
watch(() => activeTab.value, async (newData) => {
  if (newData == 2 && tableModels.value.length == 0) {
    await apiFetch('get_model_nodes_cls', { value: { indr_id: props.inspectorData.indr_id, is_template: 0, limit: 1000 } }).then((response) => {
      tableModels.value = Array.isArray(response.data.value.data) ? response.data.value.data : []
    })
  }
});

onUnmounted(() => {
  modal.state = ''
})
</script>
