<template>
  <a-card class="inspector" :bordered="false" :title="`${inspectorVisible ? $t('buttons.inspector') : ''}`">
    <template #extra>
      <a-button :title="`${filterCollapsed ? $t('buttons.hide') : $t('buttons.show')}`"
        @click="$emit('inspectorToggle')">
        <arrow-left-outlined v-if="!inspectorVisible" />
        <arrow-right-outlined v-if="inspectorVisible" />
        <span v-if="inspectorVisible">{{ $t('buttons.hide') }}</span></a-button>
    </template>
    <div class="inspector__empty" :class="{ hidden: !inspectorVisible || inspectorData }" v-if="inspectorVisible">
      <hourglass-outlined style="fontSize: 60px; color: #1890ff;" />
      <span>{{ $t('inspector.jobs.choose-from-table') }}</span>
    </div>
    <div class="inspector__content" :class="{ hidden: !inspectorVisible }">
      <a-table class="inspector__table" bordered :scroll="{ y: 'calc(100vh - 500px' }" :pagination="false"
        :dataSource="inspectorTable" :columns="inspectorColumns">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'name'">
            <div :title="record.name">
              {{ record.shortText }}
            </div>
          </template>
          <template v-if="record.key === 'job_params_id' && column.key === 'value'">
            <a-tooltip v-if="inspectorData?.deep_link_obj_id"
              :title="`${$t('inspector.jobs.route-to')} ${inspectorData?.job_type_term} ${$t('inspector.jobs.with-id')} ${inspectorData?.job_params_id}`">
              <nuxt-link :to="localePath(link)">{{ record.value }}</nuxt-link>
            </a-tooltip>
          </template>
          <template v-if="record.key === 'job_params_name' && column.key === 'value'">
            <p style="white-space: pre-line" :title="record.value">{{ record.value }}</p>
          </template>
          <template v-if="record.key === 'status' && column.key === 'value'">
            <a-tag :color="`${(record.value === 4) ? 'green' : ([1, 2, 3].includes(record.value)) ? 'orange' : 'red'}`">
              {{ inspectorData?.status_term ? inspectorData?.status_term : $t('cls.no-data') }}
            </a-tag>
          </template>
          <template v-if="record.key === 'priority_term' && column.key === 'value'">
            <a-tag :color="`${record.value ? 'blue' : 'red'}`">
              {{ record.value ? record.value : $t('cls.no-data') }}
            </a-tag>
          </template>
          <template v-if="record.key === 'job_type_term' && column.key === 'value'">
            <a-tag :color="`${record.value ? 'blue' : 'red'}`">
              {{ record.value ? record.value : $t('cls.no-data') }}
            </a-tag>
          </template>
        </template>
      </a-table>
      <div class="inspector__controls">
        <a-button @click="modal.state = 'jobLog'" :title="$t('inspector.jobs.view-protocol')" type="primary">{{
          $t('inspector.jobs.protocol') }}</a-button>
        <a-dropdown>
          <template #overlay>
            <a-menu>
              <a-menu-item :disabled="item.num == inspectorData.priority"
                v-for="item in dictionaries.find(element => element.cls === 99).terms" :key="item.num"
                @click="setPriority(item.num)">
                {{ item.term }}
              </a-menu-item>
            </a-menu>
          </template>
          <a-button type="primary">
            {{ $t('inspector.jobs.change-priority') }}
            <DownOutlined />
          </a-button>
        </a-dropdown>
        <a-button @click="cancelJob" danger :title="$t('inspector.jobs.cancel-job')" type="primary">{{
          $t('inspector.jobs.cancel-job') }}</a-button>
        <a-button @click="modal.state = 'jobDelete'" danger :title="$t('inspector.jobs.delete-job')" type="primary">{{
          $t('inspector.jobs.delete-job') }}</a-button>
      </div>
    </div>
  </a-card>
  <a-modal width="500px" v-model:open="deleteModalOpened" :title="$t('inspector.jobs.delete-forecast')" :footer="null"
    destroyOnClose @cancel="closeModal">
    <modal-job-delete :inspector="inspectorData" />
  </a-modal>
  <a-modal width="90vw" v-model:open="logModalOpened" :title="$t('inspector.jobs.protocol')" :footer="null"
    destroyOnClose @cancel="closeModal">
    <modal-job-log :jobId="inspectorData.job_id" />
  </a-modal>
</template>

<script setup>
import { useModal } from '@/stores/modal'
import { notification } from 'ant-design-vue';
import { useDictionariesStore } from '@/stores/dictionaries'
const { $event } = useNuxtApp()
const emit = defineEmits(["inspectorToggle"]);
const modal = useModal()
const localeModule = useI18n()
const localePath = useLocalePath();

const props = defineProps({
  inspectorVisible: { type: Boolean },
  inspectorData: { type: Object },
})

const dictionariesStore = useDictionariesStore()

const dictionaries = computed(() => {
  return dictionariesStore?.dictionaries?.data?.clss
})

const deleteModalOpened = computed(() => {
  return modal.state === 'jobDelete'
})
const logModalOpened = computed(() => {
  return modal.state === 'jobLog'
})

const closeModal = () => {
  modal.state = '';
}

const setPriority = async (priority) => {
  // const { error, pending } = await apiFetch(`set_job_attr`, { value: { priority: priority, id: props.inspectorData.job_id, i_dsc: '' } })
  // if (!error.value) {
  //   notification.open({
  //     message: 'Приоритет успешно изменен',
  //     style: {
  //       border: '1px solid #b7eb8f',
  //       backgroundColor: '#f6ffed',
  //     },
  //   });
  //   $event('jobs:update')
  //   setTimeout(() => {
  //     $event('inspector:update', props.inspectorData.job_id)
  //   }, 500);
  // }


  apiFetch(`set_job_attr`, {
    value: {
      priority: priority, id: props.inspectorData.job_id, i_dsc: ''
    }
  }).then((response) => {
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        notification.open({
          message: localeModule.t('inspector.jobs.priority-success'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });
        $event('jobs:update')
        setTimeout(() => {
          $event('inspector:update', props.inspectorData.job_id)
        }, 500);
      }
    }
  })
}
const cancelJob = async () => {
  // const { error, pending } = await apiFetch(`job_cancel`, { value: { i_job_id: props.inspectorData.job_id, i_dsc: '' } })
  // if (!error.value) {
  //   notification.open({
  //     message: 'Задание успешно отменено',
  //     style: {
  //       border: '1px solid #b7eb8f',
  //       backgroundColor: '#f6ffed',
  //     },
  //   });
  //   $event('jobs:update')
  //   $event('inspector:update')
  // }


  apiFetch(`job_cancel`, {
    value: {
      i_job_id: props.inspectorData.job_id, i_dsc: ''
    }
  }).then((response) => {
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        notification.open({
          message: localeModule.t('inspector.jobs.job-success'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });
        $event('jobs:update')
        $event('inspector:update')
      }
    }
  })
}

const link = computed(() => {
  let job_type = props.inspectorData?.job_type || ''
  return {
    1: `/data-sources?data_source_id=${props.inspectorData?.deep_link_obj_id}`,
    2: `/models?model_id=${props.inspectorData?.deep_link_obj_id}`,
    3: `/solvers?model_id=${props.inspectorData?.deep_link_obj_id}&solver_id=${props.inspectorData?.job_params_id}`,
    4: `/forecasts?model_id=${props.inspectorData?.deep_link_obj_id}&forecast_id=${props.inspectorData?.job_params_id}`,
    5: `/data-sources?data_source_id=${props.inspectorData?.deep_link_obj_id}`,
    6: `/models?model_id=${props.inspectorData?.deep_link_obj_id}`,
  }[job_type]
})

const inspectorTable = computed(() => {
  const array = [

    {
      key: 'job_params_id',
      name: localeModule.t('inspector.jobs.job_params_id'),
      value: props.inspectorData?.job_params_id,
      shortText: localeModule.t('inspector.jobs.job_params_id')
    },
    {
      key: 'job_params_name',
      name: localeModule.t('inspector.jobs.job_params_name'),
      value: props.inspectorData?.job_params_name,
      shortText: localeModule.t('inspector.jobs.job_params_name')
    },    
    {
      key: 'status',
      name: localeModule.t('inspector.jobs.status'),
      value: props.inspectorData?.status,
      shortText: localeModule.t('inspector.jobs.status')
    },
    {
      key: 'priority_term',
      name: localeModule.t('inspector.jobs.priority_term'),
      value: props.inspectorData?.priority_term,
      shortText: localeModule.t('inspector.jobs.priority_term')
    },
    {
      key: 'job_type_term',
      name: localeModule.t('inspector.jobs.job_type_term'),
      value: props.inspectorData?.job_type_term,
      shortText: localeModule.t('inspector.jobs.job_type_term')
    },
    {
      key: 'server',
      name: localeModule.t('inspector.jobs.server'),
      value: props.inspectorData?.server,
      shortText: localeModule.t('inspector.jobs.server')
    },
    {
      key: 'service',
      name: localeModule.t('inspector.jobs.service'),
      value: props.inspectorData?.service,
      shortText: localeModule.t('inspector.jobs.service')
    },
    {
      key: 'create_dt',
      name: localeModule.t('inspector.jobs.create_dt'),
      value: props.inspectorData?.create_dt,
      shortText: localeModule.t('inspector.jobs.create_dt')
    },
    {
      key: 'current_status_dt',
      name: localeModule.t('inspector.jobs.current_status_dt'),
      value: props.inspectorData?.current_status_dt,
      shortText: localeModule.t('inspector.jobs.current_status_dt_short')
    },
    {
      key: 'dsc',
      name: localeModule.t('inspector.jobs.dsc'),
      value: props.inspectorData?.dsc,
      shortText: localeModule.t('inspector.jobs.dsc')
    }
  ];
  return array;
})

const inspectorColumns = ref([{
  title: localeModule.t('inspector.table.name'),
  dataIndex: 'name',
  key: 'name',
  width: 150,
}, {
  title: localeModule.t('inspector.table.value'),
  dataIndex: 'value',
  key: 'value',
}])

onUnmounted(() => {
  modal.state = ''
})
</script>

<style lang="scss" scoped>
.inspector {
  position: relative;

  .ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow {
    display: none;
  }

  .ant-table-cell {
    padding: 8px !important;
  }

  .ant-collapse-header {
    padding: 13px 16px !important;
    align-items: center;
  }

  td.column-center {
    text-align: center !important;
  }

  td.column-right {
    text-align: right !important;
  }

  .ant-card-body {
    padding: 8px !important;
  }

  &__link {
    &>a {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 240px;
    }
  }

  &__min-tex {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 130px;
  }

  &__long-text {
    overflow: hidden;
    // white-space: nowrap;
    text-overflow: ellipsis;
    // width: 130px;
    display: block;
    max-width: 340px;
    max-height: 80px;
  }

  &__table {
    position: relative;

    .ant-collapse {
      border: unset;
    }

    .ant-table-thead>tr>th {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .ant-collapse-header {
      padding: 16px 40px 16px 24px !important;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
      font-size: 16px;
      border: unset !important;
      background: white;
      border-bottom: 1px solid #f0f0f0;
      border-radius: 2px 2px 0 0;
    }

    .ant-table-cell {
      padding: 8px;
    }

    .ant-table-tbody>tr>td {
      overflow: hidden;
      white-space: nowrap;

      // text-overflow: ellipsis;
      .long {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        display: block;
      }
    }

    .ant-table-tbody>tr {
      cursor: pointer;
    }

    .ant-table-tbody>tr.ant-table-row:hover>td,
    .ant-table-tbody>tr>td.ant-table-cell-row-hover {
      background: #e6f7ff !important;
    }
  }

  &__empty {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    // height: calc(100vh - 188px);
    height: calc(100% - 56px);
    width: 100%;
    z-index: 100;
    opacity: 1;
    transition: all 0.5s ease;

    &>span {
      font-size: 20px;
    }

    &.hidden {
      opacity: 0;
      z-index: -1;
    }
  }

  &__controls {
    margin: auto;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 8px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &.hidden {
      display: none;
    }
  }
}
</style>