<template>
  <h1>{{ inspectorData?.quant_term }}</h1>
  <a-card class="inspector" :bordered="false" :title="`${inspectorVisible ? $t('buttons.inspector') : ''}`">
    <template #extra>
      <a-button :title="`${filterCollapsed ? $t('buttons.hide') : $t('buttons.show')}`"
        @click="$emit('inspectorToggle')">
        <arrow-left-outlined v-if="!inspectorVisible" />
        <arrow-right-outlined v-if="inspectorVisible" />
        <span v-if="inspectorVisible">{{ $t('buttons.hide') }}</span></a-button>
    </template>
    <div class="inspector__empty" :class="{ hidden: !inspectorVisible || inspectorData }" v-if="inspectorVisible">
      <deployment-unit-outlined style="fontSize: 60px; color: #1890ff;" />
      <span style="margin: 8px 0 16px;">{{ $t('inspector.models.choose-from-table') }}</span>
      <a-button :disabled="addDisabled" @click="openAddModal(false)" type="primary">
        <plus-square-outlined />
        {{ $t('inspector.models.create-new') }}
      </a-button>
    </div>
    <div class="inspector__content" :class="{ hidden: !inspectorVisible }">
      <div class="inspector__actions">
        <a-dropdown :disabled="addDisabled">
          <template #overlay>
            <a-menu>
              <a-menu-item @click="openAddModal(false)" key="1">
                <plus-square-outlined />
                {{ $t('inspector.models.new') }}
              </a-menu-item>
              <a-menu-item @click="openAddModal(true)" key="2">
                <diff-outlined />
                {{ $t('inspector.models.old') }}
              </a-menu-item>
            </a-menu>
          </template>
          <a-button type="primary">
            {{ $t('buttons.add') }}
            <DownOutlined />
          </a-button>
        </a-dropdown>
        <a-button :disabled="editDisabled" @click="modal.state = 'modelEdit'" type="primary">{{ $t('buttons.change')
          }}</a-button>
        <a-button @click="modal.state = 'modelDelete'" :disabled="editDisabled" type="primary" danger>{{
          $t('buttons.delete') }}</a-button>
      </div>
      <div style="display: flex; gap: 8px">
        <a-button style="width: 100%;" @click="navigateTo(localePath('/models/' + inspectorData?.model_id))"
          :title="$t('inspector.models.edit-model')" type="primary">{{ $t('inspector.models.edit-model-short')
          }}...</a-button>          
        <a-button style="width: 100%;" @click="proceedModel" :disabled="proceedDisabled"
          :title="$t('inspector.models.proceed-model')" type="primary">{{ $t('inspector.models.proceed-model-short')
          }}</a-button>
      </div>

      <a-table bordered :scroll="{ y: 'calc(100vh - 285px' }" :pagination="false" :dataSource="inspectorTable"
        :columns="inspectorColumns">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'name'">
            <div :title="record.name">
              {{ record.shortText }}
            </div>
          </template>
          <template v-if="record.key === 'model_status' && column.key === 'value'">
            <a-tag :color="`${(record.value === 2) ? 'green' : (record.value === 1) ? 'orange' : 'red'}`">{{
              inspectorData?.model_status_term ? inspectorData.model_status_term : $t('cls.no-data') }}
            </a-tag>
          </template>
          <template v-if="record.key === 'ffit_status' && column.key === 'value'">
            <a-tag
              :color="`${([3, 6].includes(record.value)) ? 'green' : ([1, 2, 5].includes(record.value)) ? 'orange' : 'red'}`">
              {{ inspectorData?.ffit_status_term ? inspectorData?.ffit_status_term : $t('cls.no-data') }}
            </a-tag>
          </template>
          <template v-if="record.key === 'full_desc' && column.key === 'value'">
            <p style="white-space: pre-line;">{{ record.value }}</p>
          </template>
          <template v-if="record.key === 'quant_term' && column.key === 'value'">
            <a-tag :color="`${record.value ? 'blue' : 'red'}`">
              {{ record.value ? record.value : $t('cls.no-data') }}
            </a-tag>
          </template>
          <template v-if="record.key === 'forecast_recalc_freq_term' && column.key === 'value'">
            <a-tag :color="`${record.value ? 'blue' : 'red'}`">
              {{ record.value ? record.value : $t('cls.no-data') }}
            </a-tag>
          </template>
        </template>
      </a-table>


    </div>
  </a-card>

  <a-modal width="70vw" v-model:open="addModalOpened" :title="$t('inspector.models.create-model')" :footer="null"
    destroyOnClose @cancel="closeModal">
    <modal-model-add :inspector="inspectorData" :haveData="addModalWithData" :modelGroup="modelsGroup" />
  </a-modal>

  <a-modal width="70vw" v-model:open="editModalOpened" :title="$t('inspector.models.change-model')" :footer="null"
    destroyOnClose @cancel="closeModal">
    <modal-model-edit :inspector="inspectorData" :modelGroup="modelsGroup" />
  </a-modal>

  <a-modal width="500px" v-model:open="deleteModalOpened" :title="$t('inspector.models.delete-model')" :footer="null"
    destroyOnClose @cancel="closeModal">
    <modal-model-delete :inspector="inspectorData" />
  </a-modal>

  <a-modal v-model:open="groupModalOpened" :title="$t('inspector.models.model-folder')" @ok="handleOk">
    <template #footer>
    </template>
    <modal-model-groups />
  </a-modal>
</template>

<script setup>
import { useSessionStore } from '@/stores/session-store'
import { useModal } from '@/stores/modal'
const { $event } = useNuxtApp()
const emit = defineEmits(["inspectorToggle"]);
const localeModule = useI18n()
const localePath = useLocalePath();

const props = defineProps({
  inspectorVisible: { type: Boolean },
  inspectorData: { type: Object },
  modelsGroup: { type: Array },
})

const sessionStore = useSessionStore()
const modal = useModal()
const activeDomain = useCookie("domain");

const groupModalOpened = ref(false)
const addModalWithData = ref(false)

const addDisabled = computed(() => {
  return sessionStore.user.data.data.sess_domain_check.is_admin == 0
})
const editDisabled = computed(() => {
  return sessionStore.user.data.data.sess_domain_check.is_admin == 0 || activeDomain.value.id !== props.inspectorData?.domain_id
})

const proceedDisabled = computed(() => {
  return sessionStore.user.data.data.sess_domain_check.is_admin == 0 || props.inspectorData?.ffit_status == 2 || activeDomain.value.id !== props.inspectorData?.domain_id
})

const addModalOpened = computed(() => {
  return modal.state === 'modelAdd'
})
const editModalOpened = computed(() => {
  return modal.state === 'modelEdit'
})
const deleteModalOpened = computed(() => {
  return modal.state === 'modelDelete'
})

const inspectorTable = computed(() => {
  const array = [
    {
      key: 'model_id',
      name: 'ID',
      value: props.inspectorData?.model_id,
      shortText: 'ID'
    },
    {
      key: 'model_name',
      name: localeModule.t('inspector.models.model_name'),
      value: props.inspectorData?.model_name,
      shortText: localeModule.t('inspector.models.model_name')
    },
    {
      key: 'model_status',
      name: localeModule.t('inspector.models.model_status'),
      value: props.inspectorData?.model_status,
      shortText: localeModule.t('inspector.models.model_status')
    },
    {
      key: 'ffit_status',
      name: localeModule.t('inspector.models.ffit_status'),
      value: props.inspectorData?.ffit_status,
      shortText: localeModule.t('inspector.models.ffit_status')
    },
    {
      key: 'quant_term',
      name: localeModule.t('inspector.models.quant_term'),
      value: props.inspectorData?.quant_term,
      shortText: localeModule.t('inspector.models.quant_term')
    },
    {
      key: 'short_desc',
      name: localeModule.t('inspector.models.short_desc'),
      value: props.inspectorData?.short_desc,
      shortText: localeModule.t('inspector.models.short_desc')
    },
    {
      key: 'full_desc',
      name: localeModule.t('inspector.models.full_desc'),
      value: props.inspectorData?.full_desc,
      shortText: localeModule.t('inspector.models.full_desc')
    },    
    {
      key: 'model_group_name',
      name: localeModule.t('inspector.models.model_group_name'),
      value: props.inspectorData?.model_group_name,
      shortText: localeModule.t('inspector.models.model_group_name')
    },
    {
      key: 'model_research_subject_term',
      name: localeModule.t('inspector.models.model_research_subject_term'),
      value: props.inspectorData?.model_research_subject_term,
      shortText: localeModule.t('inspector.models.model_research_subject_term')
    },
    {
      key: 'forecast_recalc_freq_term',
      name: localeModule.t('inspector.models.forecast_recalc_freq_term'),
      value: props.inspectorData?.forecast_recalc_freq_term,
      shortText: localeModule.t('inspector.models.forecast_recalc_freq_term')
    },
    {
      key: 'inverse_problem_method_term',
      name: localeModule.t('inspector.models.inverse_problem_method_term'),
      value: props.inspectorData?.inverse_problem_method_term,
      shortText: localeModule.t('inspector.models.inverse_problem_method_term_short')
    },
    {
      key: 'domain_name',
      name: localeModule.t('inspector.models.domain_name'),
      value: props.inspectorData?.domain_name,
      shortText: localeModule.t('inspector.models.domain_name')
    },
    {
      key: 'ffit_user_display_name',
      name: localeModule.t('inspector.models.ffit_user_display_name'),
      value: props.inspectorData?.ffit_user_display_name,
      shortText: localeModule.t('inspector.models.ffit_user_display_name_short')
    },
    {
      key: 'dt_start',
      name: localeModule.t('inspector.models.dt_start'),
      value: props.inspectorData?.dt_start,
      shortText: localeModule.t('inspector.models.dt_start_short')
    },
    {
      key: 'dt_end',
      name: localeModule.t('inspector.models.dt_end'),
      value: props.inspectorData?.dt_end,
      shortText: localeModule.t('inspector.models.dt_end_short')
    },
    {
      key: 'file',
      name: localeModule.t('inspector.models.file'),
      value: props.inspectorData?.file,
      shortText: localeModule.t('inspector.models.file')
    },
    {
      key: 'param_desc',
      name: localeModule.t('inspector.models.param_desc'),
      value: props.inspectorData?.param_desc,
      shortText: localeModule.t('inspector.models.param_desc_short')
    },
    {
      key: 'reached_quality',
      name: localeModule.t('inspector.models.reached_quality'),
      value: props.inspectorData?.reached_quality,
      shortText: localeModule.t('inspector.models.reached_quality_short')
    },
    {
      key: 'model_dsc',
      name: localeModule.t('inspector.models.model_dsc'),
      value: props.inspectorData?.model_dsc,
      shortText: localeModule.t('inspector.models.model_dsc')
    },
  ];
  return array;
})

const inspectorColumns = ref([{
  title: localeModule.t('inspector.table.name'),
  dataIndex: 'name',
  key: 'name',
  width: 160,
}, {
  title: localeModule.t('inspector.table.value'),
  dataIndex: 'value',
  key: 'value',
}])

const openAddModal = (value) => {
  addModalWithData.value = value;
  modal.state = 'modelAdd';
}

const closeModal = () => {
  modal.state = '';
}

const proceedModel = () => {
  apiFetch(`proceed_ffit_calc`, { value: { i_ffit_id: props.inspectorData.ffit_id } }).then((response) => {
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        notification.open({
          message: localeModule.t('inspector.models.proceed-started'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });
        $event('models:update')
        $event('inspector:update')
      }
    }
  })
}

onUnmounted(() => {
  modal.state = ''
})
</script>
