<template>
  <a-card class="inspector" :bordered="false" :title="`${inspectorVisible ? $t('buttons.inspector') : ''}`">
    <template #extra>
      <a-button :title="`${filterCollapsed ? $t('buttons.hide') : $t('buttons.show')}`"
        @click="$emit('inspectorToggle')">
        <arrow-left-outlined v-if="!inspectorVisible" />
        <arrow-right-outlined v-if="inspectorVisible" />
        <span v-if="inspectorVisible">{{ $t('buttons.hide') }}</span></a-button>
    </template>
    <div class="inspector__empty" :class="{ hidden: !inspectorVisible || inspectorData }" v-if="inspectorVisible">
      <calculator-outlined style="fontSize: 60px; color: #1890ff;" />
      <span style="margin: 8px 0 16px;">{{ $t('inspector.solvers.choose-from-table') }} <br> {{
        $t('inspector.solvers.choose-model') }}</span>
      <a-button :disabled="!inspectorModel || addDisabled" @click="modal.state = 'solverAdd'" type="primary">
        <plus-square-outlined />
        {{ $t('inspector.solvers.create-new') }}
      </a-button>
    </div>
    <div class="inspector__content" :class="{ hidden: !inspectorVisible }">
      <div class="inspector__actions">
        <a-dropdown :disabled="addDisabled">
          <template #overlay>
            <a-menu>
              <a-menu-item @click="modal.state = 'solverAdd'" key="1">
                <plus-square-outlined />
                {{ $t('inspector.solvers.new') }}
              </a-menu-item>
              <a-menu-item :disabled="inspectorData.status !== 3" @click="modal.state = 'solverCopy'" key="2">
                <diff-outlined />
                {{ $t('inspector.solvers.old') }}
              </a-menu-item>
            </a-menu>
          </template>
          <a-button type="primary">
            {{ $t('buttons.add') }}
            <DownOutlined />
          </a-button>
        </a-dropdown>
        <a-button :disabled="editDisabled" @click="modal.state = 'solverEdit'" type="primary">{{ $t('buttons.change')
          }}</a-button>
        <a-button @click="modal.state = 'solverDelete'" :disabled="editDisabled" type="primary" danger>{{
          $t('buttons.delete') }}</a-button>
      </div>

      <a-table bordered :pagination="false" :dataSource="inspectorTable" :columns="inspectorColumns">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'name'">
            <div :title="record.name">
              {{ record.shortText }}
            </div>
          </template>
          <template v-if="record.key === 'status' && column.key === 'value'">
            <a-tag :color="`${(record.value == 3) ? 'green' : (record.value == (1 || 2)) ? 'orange' : 'red'}`">{{
              inspectorData?.status_term }}</a-tag>
          </template>
          <template v-if="record.key === 'quant_term' && column.key === 'value'">
            <a-tag :color="`${record.value ? 'blue' : 'red'}`">{{ record.value }}
            </a-tag>
          </template>
        </template>
      </a-table>
      <div class="inspector__controls">
        <a-button @click="navigateTo(localePath('/solvers/' + inspectorData.solver_task_id))"
          :title="$t('inspector.solvers.set-impulses')" type="primary">{{ $t('inspector.solvers.set-impulses')
          }}</a-button>
      </div>
    </div>
  </a-card>

  <a-modal width="70vw" v-model:open="addModalOpened" :title="$t('inspector.solvers.create-solver')" :footer="null"
    destroyOnClose @cancel="closeModal">
    <modal-solver-add :inspector="inspectorData" :modelId="inspectorModel.model_id" />
  </a-modal>

  <a-modal width="70vw" v-model:open="copyModalOpened" :title="$t('inspector.solvers.create-solver')" :footer="null"
    destroyOnClose @cancel="closeModal">
    <modal-solver-copy :inspector="inspectorData" />
  </a-modal>

  <a-modal width="70vw" v-model:open="editModalOpened" :title="$t('inspector.solvers.change-solver')" :footer="null"
    destroyOnClose @cancel="closeModal">
    <modal-solver-edit :inspector="inspectorData" :modelGroup="modelsGroup" />
  </a-modal>

  <a-modal width="500px" v-model:open="deleteModalOpened" :title="$t('inspector.solvers.delete-solver')" :footer="null"
    destroyOnClose @cancel="closeModal">
    <modal-solver-delete :inspector="inspectorData" />
  </a-modal>

</template>

<script setup>
import { useSessionStore } from '@/stores/session-store'
import { useModal } from '@/stores/modal'
const emit = defineEmits(["inspectorToggle"]);
const localeModule = useI18n()
const localePath = useLocalePath();

const props = defineProps({
  inspectorVisible: { type: Boolean },
  inspectorData: { type: Object },
  inspectorModel: { type: Object },
})

const sessionStore = useSessionStore()
const modal = useModal()
const activeDomain = useCookie("domain");

const addDisabled = computed(() => {
  return sessionStore.user.data.data.sess_domain_check.is_admin == 0
})

const editDisabled = computed(() => {
  return sessionStore.user.data.data.sess_domain_check.is_admin == 0 || activeDomain.value.id !== props.inspectorData?.domain_id
})

const addModalOpened = computed(() => {
  return modal.state === 'solverAdd'
})

const copyModalOpened = computed(() => {
  return modal.state === 'solverCopy'
})
const editModalOpened = computed(() => {
  return modal.state === 'solverEdit'
})
const deleteModalOpened = computed(() => {
  return modal.state === 'solverDelete'
})

const inspectorTable = computed(() => {
  const array = [
    {
      key: 'solver_task_id',
      name: 'ID',
      value: props.inspectorData?.solver_task_id,
      shortText: 'ID'
    },
    {
      key: 'name',
      name: localeModule.t('inspector.solvers.name'),
      value: props.inspectorData?.name,
      shortText: localeModule.t('inspector.solvers.name')
    },
    {
      key: 'status',
      name: localeModule.t('inspector.solvers.status'),
      value: props.inspectorData?.status,
      shortText: localeModule.t('inspector.solvers.status')
    },
    {
      key: 'user_display_name',
      name: localeModule.t('inspector.solvers.user_display_name'),
      value: props.inspectorData?.user_display_name,
      shortText: localeModule.t('inspector.solvers.user_display_name')
    },
    {
      key: 'quant_term',
      name: localeModule.t('inspector.solvers.quant_term'),
      value: props.inspectorData?.quant_term,
      shortText: localeModule.t('inspector.solvers.quant_term_short')
    },
    {
      key: 'amount',
      name: localeModule.t('inspector.solvers.amount'),
      value: props.inspectorData?.amount,
      shortText: localeModule.t('inspector.solvers.amount_short')
    },
    {
      key: 'dt_created',
      name: localeModule.t('inspector.solvers.dt_created'),
      value: props.inspectorData?.dt_created,
      shortText: localeModule.t('inspector.solvers.dt_created_short')
    },
    {
      key: 'solver_dt_start',
      name: localeModule.t('inspector.solvers.solver_dt_start'),
      value: props.inspectorData?.solver_dt_start,
      shortText: localeModule.t('inspector.solvers.solver_dt_start_short')
    },
    {
      key: 'solver_dt_end',
      name: localeModule.t('inspector.solvers.solver_dt_end'),
      value: props.inspectorData?.solver_dt_end,
      shortText: localeModule.t('inspector.solvers.solver_dt_end_short')
    },
    {
      key: 'dsc',
      name: localeModule.t('inspector.solvers.dsc'),
      value: props.inspectorData?.dsc,
      shortText: localeModule.t('inspector.solvers.dsc')
    },
  ];
  return array;
})

const inspectorColumns = ref([{
  title: localeModule.t('inspector.table.name'),
  dataIndex: 'name',
  key: 'name',
  width: 170,
}, {
  title: localeModule.t('inspector.table.value'),
  dataIndex: 'value',
  key: 'value',
}])

const closeModal = () => {
  modal.state = '';
}

onUnmounted(() => {
  modal.state = ''
})
</script>

<style lang="scss" scoped>
.inspector {
  position: relative;

  .ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow {
    display: none;
  }

  .ant-table-cell {
    padding: 8px !important;
  }

  .ant-collapse-header {
    padding: 13px 16px !important;
    align-items: center;
  }

  td.column-center {
    text-align: center !important;
  }

  td.column-right {
    text-align: right !important;
  }

  .ant-card-body {
    padding: 8px !important;
  }

  &__link {
    &>a {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 240px;
    }
  }

  &__min-tex {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 130px;
  }

  &__table {
    position: relative;

    .ant-collapse {
      border: unset;
    }

    .ant-table-thead>tr>th {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .ant-collapse-header {
      padding: 16px 40px 16px 24px !important;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
      font-size: 16px;
      border: unset !important;
      background: white;
      border-bottom: 1px solid #f0f0f0;
      border-radius: 2px 2px 0 0;
    }

    .ant-table-cell {
      padding: 8px;
    }

    .ant-table-tbody>tr>td {
      overflow: hidden;
      white-space: nowrap;

      // text-overflow: ellipsis;
      .long {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        display: block;
      }
    }

    .ant-table-tbody>tr {
      cursor: pointer;
    }

    .ant-table-tbody>tr.ant-table-row:hover>td,
    .ant-table-tbody>tr>td.ant-table-cell-row-hover {
      background: #e6f7ff !important;
    }
  }

  &__empty {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    // height: calc(100vh - 188px);
    height: calc(100% - 56px);
    width: 100%;
    z-index: 100;
    opacity: 1;
    transition: all 0.5s ease;

    &>span {
      font-size: 20px;
    }

    &.hidden {
      opacity: 0;
      z-index: -1;
    }
  }

  &__controls {
    margin: auto;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 8px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &.hidden {
      display: none;
    }

  }
}
</style>