<template>
  <a-card class="forecast-inspector" :bordered="false" :title="`${inspectorVisible ? $t('buttons.inspector') : ''}`">
    <template #extra>
      <a-button :title="`${filterCollapsed ? $t('buttons.hide') : $t('buttons.show')}`"
        @click="$emit('inspectorToggle')">
        <arrow-left-outlined v-if="!inspectorVisible" />
        <arrow-right-outlined v-if="inspectorVisible" />
        <span v-if="inspectorVisible">{{ $t('buttons.hide') }}</span></a-button>
    </template>
    <div class="forecast-inspector__content" :class="{ hidden: !inspectorVisible }">
      <div class="forecast-inspector__controls">
        <a-button :disabled="editDisabled" :title="$t('inspector.solver.edit-impulses')" type="primary"
          @click="editImpulses">{{
            impulsesStore.impulsesEditable ?
              $t('inspector.solver.cancel-editing') : $t('inspector.solver.edit-impulses') }}</a-button>
        <a-button :disabled="saveDisabled" :title="$t('inspector.solver.save-impulses')" type="primary"
          @click="saveImpulses">{{ $t('inspector.solver.save-impulses') }}</a-button>
        <a-button :disabled="!calcDisabled" @click="calcSolver" :title="$t('inspector.solver.proceed-solver')"
          type="primary">{{ $t('inspector.solver.proceed-solver') }}</a-button>
        <a-button :disabled="solver.status !== 3"
          @click="navigateTo(localePath(`/solvers?model_id=${solver.model_id}&solver_task_id=${solver.solver_task_id}`))"
          :title="$t('inspector.solver.charts')" type="primary">{{ $t('inspector.solver.charts') }}</a-button>
      </div>
    </div>
  </a-card>
</template>

<script setup>
import { useSessionStore } from '@/stores/session-store'
import { useJobsStore } from '@/stores/job-impulses'
import { notification } from 'ant-design-vue';
const { $event } = useNuxtApp()
const emit = defineEmits(["inspectorToggle"]);
const localeModule = useI18n()
const localePath = useLocalePath();

const props = defineProps({
  inspectorVisible: { type: Boolean },
  solver: { type: Object },
})

const sessionStore = useSessionStore()
const impulsesStore = useJobsStore()
const saveDisabled = ref(true)

const editDisabled = computed(() => {
  return sessionStore.user.data.data.sess_domain_check.is_admin == 0
})

const calcDisabled = computed(() => {
  return props.solver.status !== 2
})


const editImpulses = () => {
  if (impulsesStore.impulsesEditable) {
    saveDisabled.value = true
    impulsesStore.cancel()
  } else {
    saveDisabled.value = false
  }

  impulsesStore.impulsesEditable = !impulsesStore.impulsesEditable

}

const saveImpulses = () => {
  impulsesStore.save()
  saveDisabled.value = true
}

const calcSolver = async () => {
  // const { data, error, pending } = await apiFetch(`proceed_solver_task_calc`, {
  //   value: {
  //     i_solver_task_id: props.solver.solver_task_id
  //   }
  // })
  // if (!error.value) {
  //   notification.open({
  //     message: 'Производится поиск решения',
  //     style: {
  //       border: '1px solid #b7eb8f',
  //       backgroundColor: '#f6ffed',
  //     },
  //   });
  //   $event('solver:update')
  // }

  apiFetch(`proceed_solver_task_calc`, {
    value: {
      i_solver_task_id: props.solver.solver_task_id
    }
  }).then((response) => {
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        notification.open({
          message: localeModule.t('inspector.solver.calculating'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });
        $event('solver:update')
      }
    }
  })
}

watch(impulsesStore.editedData, (newValue) => {
  saveDisabled.value = false
}, { deep: true })

onUnmounted(() => {
  impulsesStore.clear()
})
</script>

<style lang="scss">
.forecast-inspector {
  position: relative;

  &.ant-card {
    .ant-card-body {
      padding: 8px;
      height: calc(100% - 56px);
    }

    .ant-card-head-wrapper {
      justify-content: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &.hidden {
      display: none;
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
</style>