<template>
  <a-card class="inspector" :bordered="false" :title="`${inspectorVisible ? $t('buttons.inspector') : ''}`">
    <template #extra>
      <a-button :title="`${filterCollapsed ? $t('buttons.hide') : $t('buttons.show')}`"
        @click="$emit('inspectorToggle')">
        <arrow-left-outlined v-if="!inspectorVisible" />
        <arrow-right-outlined v-if="inspectorVisible" />
        <span v-if="inspectorVisible">{{ $t('buttons.hide') }}</span></a-button>
    </template>
    <div class="inspector__empty" :class="{ hidden: !inspectorVisible || inspectorData }" v-if="inspectorVisible">
      <HddOutlined style="fontSize: 60px; color: #1890ff;" />
      <span style="margin: 8px 0 16px;">{{ $t('inspector.sources.choose-from-table') }}</span>
      <a-button :disabled="addDisabled" @click="openAddModal(false)" type="primary">
        <plus-square-outlined />
        {{ $t('inspector.sources.create-new') }}
      </a-button>
    </div>
    <div class="inspector__content" :class="{ hidden: !inspectorVisible }">
      <div class="inspector__actions">
        <a-dropdown :disabled="addDisabled">
          <template #overlay>
            <a-menu>
              <a-menu-item @click="openAddModal(false)" key="1">
                <plus-square-outlined />
                {{ $t('inspector.sources.new') }}
              </a-menu-item>
              <a-menu-item @click="openAddModal(true)" key="2">
                <diff-outlined />
                {{ $t('inspector.sources.old') }}
              </a-menu-item>
            </a-menu>
          </template>
          <a-button type="primary">
            {{ $t('buttons.add') }}
            <DownOutlined />
          </a-button>
        </a-dropdown>
        <a-button :disabled="editDisabled" @click="modal.state = 'sourceEdit'" type="primary">{{ $t('buttons.change')
        }}</a-button>
        <a-button @click="modal.state = 'sourceDelete'" :disabled="editDisabled" type="primary" danger>{{
          $t('buttons.delete') }}</a-button>
      </div>

      <a-table bordered :pagination="false" :scroll="{ y: 'calc(100vh - 430px' }" :dataSource="inspectorTable"
        :columns="inspectorColumns">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'name'">
            <div :title="record.name">
              {{ record.shortText }}
            </div>
          </template>
          <template v-if="record.key === 'status' && column.key === 'value'">
            <a-tag :color="`${(record.value == 3) ? 'green' : (record.value == (1 || 2)) ? 'orange' : 'red'}`">{{
              inspectorData?.status_term }}</a-tag>
          </template>
          <template v-if="record.key === 'quant_term' && column.key === 'value'">
            <a-tag :color="`${record.value ? 'blue' : 'red'}`">{{ record.value }}
            </a-tag>
          </template>
          <template v-if="record.key === 'source_uri' && column.key === 'value'">
            <span :title="record.value" class="inspector__long-text">{{ record.value }}</span>
          </template>
          <template v-if="record.key === 'full_desc' && column.key === 'value'">
            <p style="white-space: pre-line;">{{ record.value }}</p>
          </template>
        </template>
      </a-table>
      <div class="inspector__controls">
        <a-button @click="modal.state = 'indicatorsModal'" :title="$t('inspector.sources.open-sources')"
          type="primary">{{
            $t('inspector.sources.open-sources-short') }}</a-button>
        <a-button @click="navigateTo(localePath(`/indicators?data_source_id=${inspectorData?.data_source_id}`))"
          :title="$t('inspector.sources.route-to')" type="primary">{{ $t('inspector.sources.route-to-short')
          }}</a-button>
        <a-button v-if="!addDisabled" :disabled="!loadFileEnabled || loadDisabled"
          @click="modal.state = 'sendDataSource'" :title="$t('inspector.sources.load-file')" type="primary">{{
            $t('inspector.sources.load-file-short')
          }}...</a-button>
        <a-button v-if="!addDisabled" @click="modal.state = 'sendIndicatorsList'" :disabled="loadDisabled"
          :title="$t('inspector.sources.load-list')" type="primary">{{ $t('inspector.sources.load-list-short')
          }}...</a-button>
        <a-button v-if="!addDisabled" :disabled="!loadDataEnabled" @click="loadData"
          :title="$t('inspector.sources.load-data')" type="primary">{{ $t('inspector.sources.load-data-short')
          }}</a-button>
        <!-- <a-button disabled @click="inProgress" :title="$t('inspector.sources.export-data')" type="primary">{{
          $t('inspector.sources.export-data-short') }}</a-button> -->
      </div>
    </div>
  </a-card>

  <a-modal width="70vw" v-model:open="indicatorsModalOpened"
    :title="`${$t('inspector.sources.indicator-sources')} &quot${inspectorData?.data_source_name}&quot`" :footer="null"
    destroyOnClose @cancel="closeModal">
    <modal-table-indicators :source="inspectorData?.data_source_id" />
  </a-modal>

  <a-modal width="70vw" v-model:open="addModalOpened" :title="$t('inspector.sources.create-source')" :footer="null"
    destroyOnClose @cancel="closeModal">
    <modal-source-add :inspector="inspectorData" :haveData="addModalWithData" />
  </a-modal>

  <a-modal width="70vw" v-model:open="editModalOpened" :title="$t('inspector.sources.change-source')" :footer="null"
    destroyOnClose @cancel="closeModal">
    <modal-source-edit :inspector="inspectorData" :modelGroup="modelsGroup" />
  </a-modal>

  <a-modal width="500px" v-model:open="deleteModalOpened" :title="$t('inspector.sources.delete-source')" :footer="null"
    destroyOnClose @cancel="closeModal">
    <modal-source-delete :inspector="inspectorData" />
  </a-modal>

  <a-modal width="600px" v-model:open="sendModalOpened" :title="$t('inspector.sources.file-loading')" :footer="null"
    destroyOnClose @cancel="closeModal">
    <modal-source-send :inspector="inspectorData" />
  </a-modal>

  <a-modal width="600px" v-model:open="sendIndicatorsModalOpened" :title="$t('inspector.sources.file-list-loading')"
    :footer="null" destroyOnClose @cancel="closeModal">
    <modal-source-list :inspector="inspectorData" />
  </a-modal>
</template>

<script setup>
import { useSessionStore } from '@/stores/session-store'
import { notification } from 'ant-design-vue';
import { useModal } from '@/stores/modal'
const emit = defineEmits(["inspectorToggle"]);
const localeModule = useI18n()
const localePath = useLocalePath();

const props = defineProps({
  inspectorVisible: { type: Boolean },
  inspectorData: { type: Object },
  modelsGroup: { type: Array },
})

const sessionStore = useSessionStore()
const modal = useModal()
const activeDomain = useCookie("domain");
const addModalWithData = ref(false)

const addDisabled = computed(() => {
  return sessionStore.user.data.data.sess_domain_check.is_admin == 0
})

const editDisabled = computed(() => {
  return sessionStore.user.data.data.sess_domain_check.is_admin == 0 || activeDomain.value.id !== props.inspectorData?.domain_id
})

const loadFileEnabled = computed(() => {
  return props.inspectorData?.load_type == 2 && [1, 2].includes(props.inspectorData?.load_adapter)
})
const loadDataEnabled = computed(() => {
  return props.inspectorData?.load_adapter >= 3
})
const loadDisabled = computed(() => {
  return props.inspectorData?.load_adapter == 0
})

const indicatorsModalOpened = computed(() => {
  return modal.state === 'indicatorsModal'
})
const addModalOpened = computed(() => {
  return modal.state === 'sourceAdd'
})

const editModalOpened = computed(() => {
  return modal.state === 'sourceEdit'
})
const deleteModalOpened = computed(() => {
  return modal.state === 'sourceDelete'
})

const sendModalOpened = computed(() => {
  return modal.state === 'sendDataSource'
})

const sendIndicatorsModalOpened = computed(() => {
  return modal.state === 'sendIndicatorsList'
})

const inspectorTable = computed(() => {
  const array = [
    {
      key: 'data_source_id',
      name: 'ID',
      value: props.inspectorData?.data_source_id,
      shortText: 'ID'
    },
    {
      key: 'data_source_name',
      name: localeModule.t('inspector.sources.data_source_name'),
      value: props.inspectorData?.data_source_name,
      shortText: localeModule.t('inspector.sources.data_source_name')
    },
    {
      key: 'sys_name',
      name: localeModule.t('inspector.sources.sys_name'),
      value: props.inspectorData?.sys_name,
      shortText: localeModule.t('inspector.sources.sys_name')
    },
    {
      key: 'domain_name',
      name: localeModule.t('inspector.sources.domain_name'),
      value: props.inspectorData?.domain_name,
      shortText: localeModule.t('inspector.sources.domain_name')
    },
    {
      key: 'load_type_term',
      name: localeModule.t('inspector.sources.load_type_term'),
      value: props.inspectorData?.load_type_term,
      shortText: localeModule.t('inspector.sources.load_type_term')
    },
    {
      key: 'load_adapter_term',
      name: localeModule.t('inspector.sources.load_adapter_term'),
      value: props.inspectorData?.load_adapter_term,
      shortText: localeModule.t('inspector.sources.load_adapter_term')
    },
    {
      key: 'source_uri',
      name: localeModule.t('inspector.sources.source_uri'),
      value: props.inspectorData?.source_uri,
      shortText: localeModule.t('inspector.sources.source_uri')
    },
    {
      key: 'indrs_subject_domain',
      name: localeModule.t('inspector.sources.indrs_subject_domain_term'),
      value: props.inspectorData?.indrs_subject_domain_term,
      shortText: localeModule.t('inspector.sources.indrs_subject_domain_term-short')
    },
    {
      key: 'data_min_date',
      name: localeModule.t('inspector.sources.data_min_date'),
      value: props.inspectorData?.data_min_date,
      shortText: localeModule.t('inspector.sources.data_min_date_short')
    },
    {
      key: 'data_max_date',
      name: localeModule.t('inspector.sources.data_max_date'),
      value: props.inspectorData?.data_max_date,
      shortText: localeModule.t('inspector.sources.data_max_date_short')
    },
    {
      key: 'dt_cutoff',
      name: localeModule.t('inspector.sources.dt_cutoff'),
      value: props.inspectorData?.dt_cutoff,
      shortText: localeModule.t('inspector.sources.dt_cutoff_short')
    },
    {
      key: 'last_load_date',
      name: localeModule.t('inspector.sources.last_load_date'),
      value: props.inspectorData?.last_load_date,
      shortText: localeModule.t('inspector.sources.last_load_date_short')
    },
    {
      key: 'next_load_date',
      name: localeModule.t('inspector.sources.next_load_date'),
      value: props.inspectorData?.next_load_date,
      shortText: localeModule.t('inspector.sources.next_load_date_short')
    },
    {
      key: 'load_freq_term',
      name: localeModule.t('inspector.sources.load_freq_term'),
      value: props.inspectorData?.load_freq_term,
      shortText: localeModule.t('inspector.sources.load_freq_term_short')
    },
    {
      key: 'load_status_term',
      name: localeModule.t('inspector.sources.load_status_term'),
      value: props.inspectorData?.load_status_term,
      shortText: localeModule.t('inspector.sources.load_status_term_short')
    },
    {
      key: 'full_desc',
      name: localeModule.t('inspector.sources.full_desc'),
      value: props.inspectorData?.full_desc,
      shortText: localeModule.t('inspector.sources.full_desc')
    },
    {
      key: 'dsc',
      name: localeModule.t('inspector.sources.dsc'),
      value: props.inspectorData?.dsc,
      shortText: localeModule.t('inspector.sources.dsc')
    },

  ];
  return array;
})

const inspectorColumns = ref([{
  title: localeModule.t('inspector.table.name'),
  dataIndex: 'name',
  key: 'name',
  width: 180,
}, {
  title: localeModule.t('inspector.table.value'),
  dataIndex: 'value',
  key: 'value',
}])

const openAddModal = (value) => {
  addModalWithData.value = value;
  modal.state = 'sourceAdd';
}

const closeModal = () => {
  modal.state = '';
}
const loadData = () => {
  apiFetch(`create_next_one_data_source_upload `, {
    value: {
      i_data_source_id: props.inspectorData.data_source_id
    }
  }).then((resp) => {
    if (resp.data.value.data.res != 0) {
      notification.open({
        message: localeModule.t('inspector.sources.job-created'),
        style: {
          border: '1px solid #b7eb8f',
          backgroundColor: '#f6ffed',
        },
      });
    } else {
      notification.open({
        message: localeModule.t('inspector.sources.job-error'),
        style: {
          border: '1px solid #ffd591',
          backgroundColor: '#fff7e6',
        },
      });
    }

  })
}
const inProgress = () => {
  notification.open({
    message: 'Этот функционал пока не доступен',
    style: {
      border: "1px solid #ffa39e",
      backgroundColor: "#fff1f0",
      duration: 5,
    },
  });
}

onUnmounted(() => {
  modal.state = ''
})

//"company-name": "GLOBAL-RC.RU",
</script>

<style lang="scss" scoped>
.inspector {
  position: relative;

  .ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow {
    display: none;
  }

  .ant-table-cell {
    padding: 8px !important;
  }

  .ant-collapse-header {
    padding: 13px 16px !important;
    align-items: center;
  }

  td.column-center {
    text-align: center !important;
  }

  td.column-right {
    text-align: right !important;
  }

  .ant-card-body {
    padding: 8px !important;
  }

  &__link {
    &>a {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 240px;
    }
  }

  &__min-tex {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 130px;
  }

  &__long-text {
    overflow: hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    // width: 130px;
    display: block;
    max-width: 300px;
    max-height: 80px;
  }

  &__table {
    position: relative;

    .ant-collapse {
      border: unset;
    }

    .ant-table-thead>tr>th {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .ant-collapse-header {
      padding: 16px 40px 16px 24px !important;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
      font-size: 16px;
      border: unset !important;
      background: white;
      border-bottom: 1px solid #f0f0f0;
      border-radius: 2px 2px 0 0;
    }

    .ant-table-cell {
      padding: 8px;
    }

    .ant-table-tbody>tr>td {
      overflow: hidden;
      white-space: nowrap;

      // text-overflow: ellipsis;
      .long {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        display: block;
      }
    }

    .ant-table-tbody>tr {
      cursor: pointer;
    }

    .ant-table-tbody>tr.ant-table-row:hover>td,
    .ant-table-tbody>tr>td.ant-table-cell-row-hover {
      background: #e6f7ff !important;
    }
  }

  &__empty {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    // height: calc(100vh - 188px);
    height: calc(100% - 56px);
    width: 100%;
    z-index: 100;
    opacity: 1;
    transition: all 0.5s ease;

    &>span {
      font-size: 20px;
    }

    &.hidden {
      opacity: 0;
      z-index: -1;
    }
  }

  &__controls {
    margin: auto;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 8px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &.hidden {
      display: none;
    }

  }
}
</style>