<template>
  <a-card class="inspector" :bordered="false" :title="`${inspectorVisible ? $t('buttons.inspector') : ''}`">
    <template #extra>
      <a-button :title="`${filterCollapsed ? $t('buttons.hide') : $t('buttons.show')}`"
        @click="$emit('inspectorToggle')">
        <arrow-left-outlined v-if="!inspectorVisible" />
        <arrow-right-outlined v-if="inspectorVisible" />
        <span v-if="inspectorVisible">{{ $t('buttons.hide') }}</span></a-button>
    </template>
    <div class="inspector__empty" :class="{ hidden: !inspectorVisible || inspectorData }" v-if="inspectorVisible">
      <TeamOutlined style="fontSize: 60px; color: #1890ff;" />
      <span style="margin: 8px 0 16px;">{{ isAdmin ?  $t('inspector.users.choose-from-table-or') : $t('inspector.users.choose-from-table') }}</span>
      <a-button v-if="isAdmin" @click="openAddModal(false)" type="primary">
        <plus-square-outlined />
        {{ $t('inspector.users.create-new') }}
      </a-button>
    </div>
    <div class="inspector__content" :class="{ hidden: !inspectorVisible }">
      <div class="inspector__actions" v-if="isAdmin">
        <a-dropdown :disabled="activeDomain.sys_name == 'common'">
          <template #overlay>
            <a-menu>
              <a-menu-item @click="openAddModal(false)" key="1">
                <plus-square-outlined />
                {{ $t('inspector.users.new') }}
              </a-menu-item>
              <a-menu-item @click="openAddModal(true)" key="2">
                <diff-outlined />
                {{ $t('inspector.users.old') }}
              </a-menu-item>
            </a-menu>
          </template>
          <a-button type="primary">
            {{ $t('buttons.add') }}
            <DownOutlined />
          </a-button>
        </a-dropdown>
        <a-button :disabled="activeDomain.sys_name == 'common'" @click="modal.state = 'userEdit'" type="primary">{{
          $t('buttons.change') }}</a-button>
        <a-button @click="modal.state = 'userDelete'" :disabled="activeDomain.sys_name == 'common'" type="primary"
          danger>{{
            $t('buttons.delete') }}</a-button>
      </div>
      <a-button v-if="isAdmin" @click="modal.state = 'passwordChangeModal'" type="primary">
        {{ $t('inspector.users.set-password') }}...
      </a-button>
      <!-- <div class="inspector__controls">
        <a-button v-if="isAdmin" @click="modal.state = 'passwordChangeModal'" type="primary">
          {{ $t('inspector.users.set-password') }}...
        </a-button>
        <a-button v-if="isAdmin" @click="modal.state = 'userGroupsModal'" type="primary">
          {{ $t('inspector.users.user-rights') }}...
        </a-button>
        <a-button disabled :title="$t('inspector.users.add-email')" type="primary">{{ $t('inspector.users.add-email')
        }}</a-button>
      </div> -->

      <a-table bordered :scroll="{ y: `calc(100vh - ${isAdmin ? '610px' : '180px'})` }" :pagination="false" :dataSource="inspectorTable"
        :columns="inspectorColumns">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'name'">
            <div :title="record.name">
              {{ record.shortText }}
            </div>
          </template>
          <template v-if="record.key === 'user_group_display_name' && column.key === 'value'">
            <a-space direction="vertical" :size="2">
              <a-tag color="blue" v-for="item in record.value" :key="item.user_group_id">{{ item.user_group_name }}
              </a-tag>
            </a-space>
          </template>
        </template>
      </a-table>

      <a-table v-if="isAdmin" class="inspector__table" :scroll="{ y: 'calc(100vh - 680px)' }" bordered
        :pagination="false" :dataSource="groupsSorted" :columns="groupsColumns" :customRow="customRow">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key == 'name'">
            <span :title="record.ug_display_name">{{ record.ug_display_name }}</span>
          </template>
          <template v-if="column.key == 'in_group'">
            <div style="width: 100%;display: flex; align-items: center; justify-content: center">
              <a-tooltip title="Убрать из группы" placement="left">
                <a-button @click="deleteFromGroup(record)" size="small" danger>
                  <DeleteOutlined />
                </a-button>
              </a-tooltip>
            </div>
          </template>
        </template>
      </a-table>
    </div>
  </a-card>

  <a-modal width="60vw" v-model:open="addModalOpened" :title="$t('inspector.users.create-user')" :footer="null"
    destroyOnClose @cancel="closeModal">
    <modal-users-add :inspector="inspectorData" :groups="groups" :haveData="addModalWithData" />
  </a-modal>

  <a-modal width="60vw" v-model:open="editModalOpened" :title="$t('inspector.users.change-user')" :footer="null"
    destroyOnClose @cancel="closeModal">
    <modal-users-edit :inspector="inspectorData" :customers="customers" />
  </a-modal>

  <a-modal width="500px" v-model:open="deleteModalOpened" :title="$t('inspector.users.delete-user')" :footer="null"
    destroyOnClose @cancel="closeModal">
    <modal-users-delete :inspector="inspectorData" />
  </a-modal>  

  <a-modal destroyOnClose @cancel="modal.state = ''" width="50vw" v-model:open="passwordModalOpened"
    :title="$t('inspector.users.set-password')" :footer="null">
    <iframe id="inlineFrameExample" :width="`${(windowSize.width / 2) - 48}`" :height="`${windowSize.height / 2}`"
      :src="resetPassUrl">
    </iframe>
  </a-modal>
</template>

<script setup>
const { $runtimeConfig } = useNuxtApp();
import { notification } from 'ant-design-vue';
import { useModal } from '@/stores/modal'
import { useSessionStore } from '@/stores/session-store'
const localeModule = useI18n()
const emit = defineEmits(["inspectorToggle"]);
const { $event } = useNuxtApp()
const props = defineProps({
  inspectorVisible: { type: Boolean },
  inspectorData: { type: Object },
})

const sessionStore = useSessionStore()
const modal = useModal()
const activeDomain = useCookie("domain");

const selectedGroup = ref({})
const addModalWithData = ref(false)
const windowSize = ref(window.screen)

const addModalOpened = computed(() => {
  return modal.state === 'userAdd'
})
const editModalOpened = computed(() => {
  return modal.state === 'userEdit'
})
const deleteModalOpened = computed(() => {
  return modal.state === 'userDelete'
})

const passwordModalOpened = computed(() => {
  return modal.state === 'passwordChangeModal'
})

const rightsModalOpened = computed(() => {
  return modal.state === 'userRightsModal'
})
const groupsModalOpened = computed(() => {
  return modal.state === 'userGroupsModal'
})

const resetPassUrl = computed(() => {
  return process.dev
    ? "https://l.adviser.lmsoftware.ru/user/${props.inspectorData?.login}/password"
    : $runtimeConfig.LMA_LDAP_PORTAL_CHANGE_PASSWORD_URL
      ? `${$runtimeConfig.LMA_LDAP_PORTAL_CHANGE_PASSWORD_URL}/${props.inspectorData?.login}/password`
      : `https://l.${location.host}/user/${props.inspectorData?.login}/password`;
})


const isAdmin = computed(() => {
  return sessionStore.user?.data?.data?.is_admin === 1 ? true : false;
})

const groupsSorted = computed(() => { 
  let array = []
  if (Array.isArray(props.inspectorData?.explicite_user_grps)) {
    array = props.inspectorData.explicite_user_grps
  }
  return array
})

const inspectorTable = computed(() => {
  const array = [
    {
      key: 'user_id',
      name: 'ID',
      value: props.inspectorData?.user_id,
      shortText: 'ID'
    },
    {
      key: 'login',
      name: localeModule.t('inspector.users.login'),
      value: props.inspectorData?.login,
      shortText: localeModule.t('inspector.users.login')
    },
    {
      key: 'display_name',
      name: localeModule.t('inspector.users.display_name'),
      value: props.inspectorData?.display_name,
      shortText: localeModule.t('inspector.users.display_name')
    },
    {
      key: 'email',
      name: localeModule.t('inspector.users.email'),
      value: props.inspectorData?.email,
      shortText: localeModule.t('inspector.users.email')
    },
    {
      key: 'phone',
      name: localeModule.t('inspector.users.phone'),
      value: props.inspectorData?.phone,
      shortText: localeModule.t('inspector.users.phone')
    },
    {
      key: 'first_name',
      name: localeModule.t('inspector.users.first_name'),
      value: props.inspectorData?.first_name,
      shortText: localeModule.t('inspector.users.first_name')
    },
    {
      key: 'last_name',
      name: localeModule.t('inspector.users.last_name'),
      value: props.inspectorData?.last_name,
      shortText: localeModule.t('inspector.users.last_name')
    },
    {
      key: 'telegram',
      name: localeModule.t('inspector.users.telegram'),
      value: props.inspectorData?.telegram,
      shortText: localeModule.t('inspector.users.telegram')
    },
    {
      key: 'dsc',
      name: localeModule.t('inspector.users.dsc'),
      value: props.inspectorData?.dsc,
      shortText: localeModule.t('inspector.users.dsc')
    },
    // {
    //   key: 'user_group_display_name',
    //   name: localeModule.t('inspector.users.user_group_display_name'),
    //   value: groupsSorted.value,
    //   shortText: localeModule.t('inspector.users.user_group_display_name')
    // },
  ];
  return array;
})

const inspectorColumns = ref([{
  title: localeModule.t('inspector.table.name'),
  dataIndex: 'name',
  key: 'name',
  width: 150,
}, {
  title: localeModule.t('inspector.table.value'),
  dataIndex: 'value',
  key: 'value',
}])

const groupsColumns = ref([{
  title: localeModule.t('inspector.users.name'),
  dataIndex: 'name',
  key: 'name',
}, {
  title: '',
  dataIndex: 'in_group',
  key: 'in_group',
  width: 60
}])


const openAddModal = (value) => {
  addModalWithData.value = value;
  modal.state = 'userAdd';
}

const closeModal = () => {
  modal.state = '';
}
const groupSelected = (group) => {
  modal.state = 'userRightsModal';
  selectedGroup.value = group
}

const deleteFromGroup = (user) => {
  apiFetch(`delete_user_membership`, { value: { i_user_id: props.inspectorData.user_id, i_user_group_id: user.ug_id } }).then((response) => {
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        $event('users:update')
        props.inspectorData.explicite_user_grps = props.inspectorData.explicite_user_grps.filter(item => item.ug_id != user.ug_id)
        notification.open({
          message: localeModule.t('inspector.users.user-deleted'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });
      }
    }
  })

}
const changeUserGroup = (target, value) => {
  if (target.checked) {
    apiFetch(`create_user_membership`, { value: { i_r_lma_user: props.inspectorData.user_id, i_r_lma_user_group: value } }).then((response) => {
      if (!response.error.value) {
        if (response.data?.value?.error?.code) {
          notification.open({
            message: response.data?.value?.error?.message,
            style: {
              borderColor: '#ffd591',
              backgroundColor: '#fff7e6'
            },
          });
        } else {
          notification.open({
            message: localeModule.t('inspector.users.user-added'),
            style: {
              border: '1px solid #b7eb8f',
              backgroundColor: '#f6ffed',
            },
          });
        }
      }
    })
  } else {
    apiFetch(`delete_user_membership`, { value: { i_user_id: props.inspectorData.user_id, i_user_group_id: value } }).then((response) => {
      if (!response.error.value) {
        if (response.data?.value?.error?.code) {
          notification.open({
            message: response.data?.value?.error?.message,
            style: {
              borderColor: '#ffd591',
              backgroundColor: '#fff7e6'
            },
          });
        } else {
          notification.open({
            message: localeModule.t('inspector.users.user-deleted'),
            style: {
              border: '1px solid #b7eb8f',
              backgroundColor: '#f6ffed',
            },
          });
        }
      }
    })
  }
}

onUnmounted(() => {
  modal.state = ''
})
</script>