@import url("./reset.scss");
@import url("./variables.scss");

body {
  font-family: "Roboto";
  color: black;
  font-size: 16px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.test-list {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 0 16px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  max-width: 700px;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    // display: none;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 999px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: #1890ff;
  }
}

.ant-tooltip-inner {
  text-align: center !important;
}

.tooltip {
  &__center {
    align-items: center;
    text-align: center;
    // background-color: red;
    & > div {
      background-color: red;
    }
  }
}

.ant-slider-tooltip {
  // z-index: 1 !important;
}
.ant-modal {
  & > div {
    flex-grow: 1;
    width: 100%;
  }
}

.column-info {
  text-align: center !important;
  padding: 0 !important;
  box-shadow: -1px 0 0 0 #f0f0f0;
}

.table {
  &__buttons {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    padding-top: 16px;
  }

  &__filters {
    position: absolute;
    z-index: 105;
    pointer-events: none;
    top: 55px;
    padding: 16px;
    border-radius: 0 0 16px 16px;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.3s ease, transform 0.5s ease;

    &.visible {
      transform: translateY(0);
      opacity: 1;
      z-index: 105;
      pointer-events: all;
    }
  }
}

.ant-table-body {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    // background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: rgb(24, 144, 255);
  }
}

.ant-tag {
  margin-inline-end: unset !important;
}

.ant-collapse {
  border: unset;
}

.ant-table-thead > tr > th {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ant-table-placeholder {
  cursor: auto !important;
}

.ant-table-column-sorters {
  position: relative;
  overflow: hidden;
}
.ant-table-column-sorter {
  position: absolute;
  right: 0;
  background-color: #fafafa;
  z-index: 1;
  transition: background-color 0.2s ease;
}
.ant-table-cell {
  &:hover {
    .ant-table-column-sorter {
      background-color: #f0f0f0;
    }
  }
}

.ant-table-column-sort {
  .ant-table-column-sorter {
    background-color: #f0f0f0;
  }
}

.ant-menu-item {
  &:active {
    background-color: red;
  }
}

.ant-table-column-has-sorters {
  position: relative;
  &::after {
    position: absolute;
  }
}

.balance-wrap {
  text-wrap: balance;
}

.ant-table-row {
  &.selected {
    background: #e6f7ff !important;
    & > td {
      background: #e6f7ff;
    }
  }
}

.ant-collapse-header {
  padding: 16px 40px 16px 24px !important;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  border: unset !important;
  background: white;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}

.inspector {
  position: relative;
  overflow: hidden;

  .ant-collapse
    > .ant-collapse-item
    > .ant-collapse-header
    .ant-collapse-arrow {
    display: none;
  }

  .ant-table-cell {
    padding: 8px !important;
  }

  .ant-collapse-header {
    padding: 13px 16px !important;
    align-items: center;
  }

  td.column-center {
    text-align: center !important;
  }

  td.column-right {
    text-align: right !important;
  }

  .ant-card-body {
    padding: 8px !important;
  }

  &__link {
    & > a {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 240px;
    }
  }

  &__min-tex {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 130px;
  }

  &__actions {
    display: grid;
    width: 100%;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__table {
    position: relative;

    .ant-collapse {
      border: unset;
    }

    .ant-table-thead > tr > th {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .ant-collapse-header {
      padding: 16px 40px 16px 24px !important;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
      font-size: 16px;
      border: unset !important;
      background: white;
      border-bottom: 1px solid #f0f0f0;
      border-radius: 2px 2px 0 0;
    }

    .ant-table-cell {
      padding: 8px;
    }

    .ant-table-tbody > tr > td {
      overflow: hidden;
      white-space: nowrap;

      .long {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        display: block;
      }
    }

    .ant-table-tbody > tr {
      cursor: pointer;
    }

    .ant-table-tbody > tr.ant-table-row:hover > td,
    .ant-table-tbody > tr > td.ant-table-cell-row-hover {
      background: #e6f7ff !important;
    }
  }

  &__empty {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 16px;
    left: 0;
    bottom: 0;
    height: calc(100% - 56px);
    width: 100%;
    z-index: 100;
    opacity: 1;
    transition: all 0.5s ease;

    & > span {
      font-size: 20px;
    }

    &.hidden {
      opacity: 0;
      z-index: -1;
    }
  }

  &__buttons {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    width: 100%;
    padding-top: 16px;
  }

  &__controls {
    margin: auto;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 8px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &.hidden {
      display: none;
    }
  }
}

.ant-modal-content {
  width: 100%;
}

.ant-card {
  height: 100%;
}
.ant-spin-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ant-table-body {
  overflow: auto !important;
}
.ant-card-head {
  // padding: 0 8px !important;
}

.ant-modal {
  top: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-bottom: unset;
}
.ant-modal-title {
  font-size: 20px !important;
}

.modal-without-padding {
  .ant-modal-content {
    padding: 0;
    box-shadow: unset;
  }
}

// .ant-card-body {
//   padding: 8px !important;
// }
