:root {
  --green: #9ec023;
  --green-dark: #10c177;
  --red: #ff4d4f;
  --orange: #fa824c;
  --blue: #1448cf;
  --success: #52c41a;
  --primary: #1890ff;
  --main: #1890ff;
  --secondary: #e6f7ff;
  --white: #ffffff;
  --white-7: rgba(255, 255, 255, 0.7);
  --gray: #bac3d3;
  --gray-2: rgb(186, 195, 211, 0.2);
  --gray-5: rgb(186, 195, 211, 0.5);
  --gray-6: rgb(186, 195, 211, 0.6);
  --gray-7: rgb(186, 195, 211, 0.7);
  --black: #181e04;
  --black-2: rgb(24, 30, 4, 0.2);
  --black-5: rgb(24, 30, 4, 0.5);
  --black-7: rgb(24, 30, 4, 0.7);

  
  --red-bg: #fff1f0;
  --red-border: #ffa39e;
}
