<template>
  <div class="table">
    <a-card :title="$t('table.forecasts.list.title')">
      <template #extra>
        <a-space>
          <FilterForecastsList :disabled="!selectedModel" />
          <a-button :disabled="!selectedModel" @click="updateTable" :title="$t('buttons.refresh')">
            <ReloadOutlined />
          </a-button>
        </a-space>
      </template>

      <a-table :pagination="false" bordered @change="onChange" :scroll="{ x: 1000, y: 'calc(50vh - 235px' }"
        :row-key="(record) => record.key" :customRow="customRow" @resizeColumn="handleResizeColumn"
        :dataSource="tableData" :columns="tableColumns" rowClassName="table-row-forecast">
        <template #headerCell="{ column }">
          <template v-if="!column.icon">
            <span :title="column.title">
              {{ column.title }}
            </span>
          </template>
        </template>
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'status'">
            <a-tag
              :color="`${(record.status === 3) ? 'green' : ([1, 2].includes(record.status)) ? 'orange' : 'red'}`">{{
                record.status_term ? record.status_term : $t('cls.no-data') }}
            </a-tag>
          </template>
          <template v-if="column.key === 'quant_term'">
            <a-tag :color="`${record.quant_term ? 'blue' : 'red'}`">{{ record.quant_term ? record.quant_term :
              $t('cls.no-data') }}
            </a-tag>
          </template>
          <template v-if="column.key === 'forecast_id'">
            <a-tooltip :title="`${$t('table.forecasts.list.route-to')} '${record.name}'`">
              <nuxt-link :to="localePath(`/forecasts/${record.forecast_id}`)">
                {{ record.forecast_id }}
              </nuxt-link>
            </a-tooltip>
          </template>
          <template v-if="column.longText">
            <span class="long" :title="record[column.key]">{{ record[column.key] }}</span>
          </template>
        </template>
      </a-table>
      <Pagination filterName="filterList" :paginationData="tableMeta" />
    </a-card>
  </div>
</template>

<script setup>
const { $listen } = useNuxtApp()
const emit = defineEmits(["update:modelValue", "setForecasts"]);
const localeModule = useI18n()
const localePath = useLocalePath()
const route = useRoute();

const props = defineProps({
  selectedModel: { type: Object },
})

const routerModel = ref(route.query.model_id)

const modelId = computed(() => {
  return routerModel.value ? { model_id: routerModel.value } : {}
})

const pageLimit = ref(30)
const tableData = ref([])
const tableMeta = ref({})
const pageData = ref({
  limit: pageLimit.value,
  ...modelId.value
})

const tableColumns = ref([
  {
    title: localeModule.t('table.forecasts.list.name'),
    dataIndex: 'name',
    key: 'name',
    sorter: (a, b) => a.name - b.name,
    resizable: true,
    longText: true,
    width: 350,
  },
  {
    title: localeModule.t('table.forecasts.list.status'),
    dataIndex: 'status',
    key: 'status',
    sorter: (a, b) => a.status - b.status,
    width: 170,
    resizable: true,
  },
  {
    title: localeModule.t('table.forecasts.list.user_display_name'),
    dataIndex: 'user_display_name',
    key: 'user_display_name',
    width: 160,
    resizable: true,
  },
  {
    title: localeModule.t('table.forecasts.list.quant_term'),
    dataIndex: 'quant_term',
    key: 'quant_term',
    sorter: (a, b) => a.quant_term - b.quant_term,
    width: 160,
    resizable: true,
  },
  {
    title: localeModule.t('table.forecasts.list.amount'),
    dataIndex: 'amount',
    key: 'amount',
    sorter: (a, b) => a.amount - b.amount,
    width: 100,
    resizable: true,
    className: 'column-right',
  },
  {
    title: localeModule.t('table.forecasts.list.dt_created'),
    dataIndex: 'dt_created',
    key: 'dt_created',
    sorter: (a, b) => a.dt_created - b.dt_created,
    width: 150,
    resizable: true,
  },
  {
    title: 'ID',
    dataIndex: 'forecast_id',
    key: 'forecast_id',
    width: 60,
    resizable: true,
  },
])

const handleResizeColumn = (w, col) => {
  col.width = w;
}

const customRow = (record, index) => {
  return {
    onClick: async () => {
      const rows = document.getElementsByClassName('table-row-forecast')
      for (let index = 0; index < rows.length; index++) {
        const element = rows[index];
        element.classList.remove('selected')
      }
      rows[index].classList.add('selected')
      emit("update:modelValue", record);
    },
  };
}

const updateTable = () => {
  apiFetch('get_forecasts_cls', pageData).then((response) => {
    tableData.value = Array.isArray(response.data.value.data) ? response.data.value.data : []
    tableMeta.value = response.data.value.meta
  })
}

const onChange = (pagination, filters, sorter) => {
  let sortString = ''
  if (sorter.order == "descend") {
    sortString = `${sorter.field} desc`
    pageData.value = Object.assign(pageData.value, { orderby: sortString })
  }
  if (sorter.order == "ascend") {
    sortString = `${sorter.field} asc`
    pageData.value = Object.assign(pageData.value, { orderby: sortString })
  }
  if (sortString.length == 0) {
    delete pageData.value.orderby
  }
};

$listen('filterList:update', (filters) => {
  pageData.value = {}
  if (Object.keys(filters.value).length === 0) {
    apiFetch('get_forecasts_cls', { value: { model_id: props.selectedModel.model_id, limit: pageLimit.value } }).then((response) => {
      tableData.value = Array.isArray(response.data.value.data) ? response.data.value.data : []
      tableMeta.value = response.data.value.meta
    })
  } else {
    // pageData.value = { limit: pageLimit.value, model_id: props.selectedModel.model_id }
    pageData.value = Object.assign({ limit: pageLimit.value, model_id: props.selectedModel.model_id }, filters.value);
    apiFetch('get_forecasts_cls', pageData).then((response) => {
      tableData.value = Array.isArray(response.data.value.data) ? response.data.value.data : []
      tableMeta.value = response.data.value.meta
    })
  }
})

$listen('page:updateLimit', (value) => {  
  pageLimit.value = value
  let val = {...pageData.value}
  val.limit = pageLimit.value
  apiFetch('get_forecasts_cls', { value: val }).then((response) => {
    tableData.value = Array.isArray(response.data.value.data) ? response.data.value.data : []
    tableMeta.value = response.data.value.meta
  })
})

$listen('page:update', (offset) => {
  pageData.value = Object.assign(pageData.value, offset.value);
})

$listen('forecast:update', () => {
  apiFetch('get_forecasts_cls', { value: { model_id: props.selectedModel.model_id, limit: pageLimit.value } }).then((response) => {
    tableData.value = Array.isArray(response.data.value.data) ? response.data.value.data : []
    tableMeta.value = response.data.value.meta
  })
})

$listen('inspector:update', (value) => {
  if (value) {
    emit("update:modelValue", null);
    setTimeout(() => {
      emit("update:modelValue", tableData.value.find(el => el.forecast_id == value));
    }, 500);
  } else {
    emit("update:modelValue", null);
  }
})

$listen('forecast:select', (value) => {
  apiFetch('get_forecasts_cls', { value: { forecast_id: value } }).then((response) => {
    tableData.value.unshift(response.data.value.data[0])
    emit("update:modelValue", response.data.value.data[0]);
    const rows = document.getElementsByClassName('table-row-forecast')
    for (let index = 0; index < rows.length; index++) {
      const element = rows[index];
      element.classList.remove('selected')
    }
    rows[0].classList.add('selected')
  })
})

watch(
  () => props.selectedModel,
  async (newData) => {
    pageData.value.model_id = newData.model_id

  }
)

watch(
  () => tableData.value,
  async (newData) => {
    emit("setForecasts", newData);
  }, { deep: true }
)

onMounted(() => {
  if (routerModel.value) {
    setTimeout(() => {
      apiFetch('get_forecasts_cls', modelId).then((response) => {
        tableData.value = Array.isArray(response.data.value.data) ? response.data.value.data : []
        tableMeta.value = response.data.value.meta
      })
    }, 1000);
  }
})
</script>