<template>
  <a-card class="table" :title="title">
    <template #extra>
      <a-space>
        <FilterRights />
        <a-button @click="updateTable" :title="$t('buttons.refresh')">
          <ReloadOutlined />
        </a-button>
      </a-space>
    </template>
    <a-table :pagination="false" bordered :scroll="{ y: `calc(100vh - 355px)` }" :row-key="(record) => record.user_id"
      @resizeColumn="handleResizeColumn" @change="onChange" :dataSource="tableList" :columns="tableColumns"
      rowClassName="table-row-js" :row-selection="{ selectedRowKeys: selectedRowKeys, onChange: onSelectChange }">
    </a-table>
    <Pagination tableName="usersRigthsModal" v-if="tableMeta" :paginationData="tableMeta" />
  </a-card>
</template>

<script setup>
const { $event, $listen } = useNuxtApp()
const emit = defineEmits(["usersSelected"]);
const localeModule = useI18n()

const props = defineProps({
  tableData: { type: Array || Object },
  tableMeta: { type: Object },
  members: { type: Object },
  title: { type: String },
})

const selectedRowKeys = ref([])

const tableList = computed(() => {
  return Array.isArray(props.tableData) ? props.tableData.filter(city => {
    return props.members.length ? !props.members.some(item => item.login == city.login) : []
  }) : []
})

const tableColumns = ref([
  {
    title: localeModule.t('table.users.login'),
    dataIndex: 'login',
    key: 'login',
    // width: 20,
    sorter: (a, b) => a.login - b.login,
    // resizable: true,
  },
  {
    title: localeModule.t('table.users.display_name'),
    dataIndex: 'display_name',
    key: 'display_name',
    // width: 35,
    sorter: (a, b) => a.display_name - b.display_name,
    resizable: true,
  },
])

const handleResizeColumn = (w, col) => {
  col.width = w;
}

const onSelectChange = (keys) => {
  selectedRowKeys.value = keys;
  emit('usersSelected', keys)
};

const updateTable = () => {
  $event('usersRigthsModal:update')
}

$listen('page:updateLimit', (value) => {
  pageLimit.value = value
  pageData.value.limit = pageLimit.value
})

const onChange = (pagination, filters, sorter) => {
  let sortString = ''
  if (sorter.order == "descend") {
    sortString = `${sorter.field} desc`
  }
  if (sorter.order == "ascend") {
    sortString = `${sorter.field} asc`
  }
  $event('usersRightsModal:sort', sortString)
};

watch(tableList, (newValue) => {
  selectedRowKeys.value = []
}, { deep: true })
</script>