<template>
  <a-card class="table" :title="title">
    <a-table 
    :pagination="false"
     bordered 
     :scroll="{ y: `calc(100vh - 300px)` }" 
     :row-key="(record) => record.id"
      @resizeColumn="handleResizeColumn"
      :dataSource="tableList"
      :columns="tableColumns"
      @change="onChange"
      rowClassName="table-row-js"
      :row-selection="{ selectedRowKeys: selectedRowKeys, onChange: onSelectChange }">
    </a-table>
  </a-card>
</template>

<script setup>
const { $event } = useNuxtApp()
const emit = defineEmits(["membersSelected"]);
const localeModule = useI18n()
const props = defineProps({
  tableData: { type: Array || Object },
  title: { type: String },
})

const selectedRowKeys = ref([])

const tableList = computed(() => {
  return Array.isArray(props.tableData) ? props.tableData : []
})

const tableColumns = ref([
  {
    title: localeModule.t('table.users.login'),
    dataIndex: 'login',
    key: 'login',
    // width: 20,
    // sorter: (a, b) => a.login - b.login,
    // resizable: true,
  },
  {
    title: localeModule.t('table.users.display_name'),
    dataIndex: 'user_display_name',
    key: 'user_display_name',
    // width: 35,
    // sorter: (a, b) => a.user_display_name - b.user_display_name,
    resizable: true,
  },
  // {
  //   title: 'ID',
  //   dataIndex: 'user_id',
  //   key: 'user_id',
  //   resizable: true,
  // },
])

const handleResizeColumn = (w, col) => {
  col.width = w;
}

const onSelectChange = (keys) => {
  console.log(keys);

  selectedRowKeys.value = keys;
  emit('membersSelected', keys)
};

const updateTable = () => {
  $event('users:update')
}

const onChange = (pagination, filters, sorter) => {
  let sortString = ''
  if (sorter.order == "descend") {
    sortString = `${sorter.field} desc`
  }
  if (sorter.order == "ascend") {
    sortString = `${sorter.field} asc`
  }
  $event('membersRightsModal:sort', sortString)
};

watch(tableList, (newValue) => {
  selectedRowKeys.value = []
}, { deep: true })
</script>