<template>
  <a-layout style="min-height: 100vh" has-sider>
    <Sidebar v-model="collapsed" />
    <a-layout>
      <a-layout-content :style="{ margin: '24px 16px 0', overflow: 'initial' }">
        <div v-if="!isLoading">
          <slot />
        </div>
      </a-layout-content>
    </a-layout>
  </a-layout>
</template>


<script setup>
import { useSessionStore } from '@/stores/session-store'
import { useDictionariesStore } from '@/stores/dictionaries'
import { useSelectorsStore } from '@/stores/selectors'
const { $runtimeConfig } = useNuxtApp();

const sessionStore = useSessionStore()
const dictionariesStore = useDictionariesStore()
const selectorsStore = useSelectorsStore()
const isLoading = ref(true)
const collapsed = ref(false)
const activeDomain = useCookie("domain");
const localeModule = useI18n()

if (!activeDomain.value) {
  useFetch('get_session_user_domains', {
    baseURL: process.dev
      ? "https://adviser.lmsoftware.ru/dss/api/v1/"
      : $runtimeConfig.LMA_API_URL
        ? $runtimeConfig.LMA_API_URL
        : `${location.origin}/dss/api/v1/`,
    credentials: "include",
    method: "POST",
    body: {
      limit: 1
    },
    headers: {
      "Content-Type": "application/json",
    },
    onRequestError({ request, options, error }) {
      navigateTo(
        process.dev
          ? "https://sso.adviser.lmsoftware.ru"
          : $runtimeConfig.LMA_SSO_LOGIN_URL
            ? $runtimeConfig.LMA_SSO_LOGIN_URL
            : `https://sso.${location.host}`,
        {
          external: true,
        }
      );
    },
    onResponseError({ request, response, options }) {
      if (response.status === 401 || response.status === 302 || response.status === 303) {
        navigateTo(
          process.dev
            ? "https://sso.adviser.lmsoftware.ru"
            : $runtimeConfig.LMA_SSO_LOGIN_URL
              ? $runtimeConfig.LMA_SSO_LOGIN_URL
              : `https://sso.${location.host}`,
          {
            external: true,
          }
        );
      }
      if (response._data.error.code === 4) {
        notification.open({
          message: "Ошибка",
          description: "Не хватает передаваемых параметров",
          style: {
            border: "1px solid #ffa39e",
            backgroundColor: "#fff1f0",
            duration: 5,
          },
        });
      }
      if (response._data.error.code === 5) {
        notification.open({
          message: "Ошибка",
          description: "Ошибка сервера",
          style: {
            border: "1px solid #ffa39e",
            backgroundColor: "#fff1f0",
            duration: 5,
          },
        });
      }
      if (response.status === 500) {
        notification.open({
          message: response._data.error.name,
          description: response._data.error.message,
          style: {
            border: "1px solid #ffa39e",
            backgroundColor: "#fff1f0",
            duration: 5,
          },
        });
      } else {
        console.log(response);
      }
    },
  }).then((response) => {
    if (Object.keys(response.data.value.data).length === 0) {
      throw showError({
        statusCode: 500,
        fatal: true,
        statusMessage: localeModule.t('cls.no-domains')
      })
    } else {
      activeDomain.value = response.data.value.data.domains[0]
      useFetch('get_session_user', {
        baseURL: process.dev
          ? "https://adviser.lmsoftware.ru/dss/api/v1/"
          : $runtimeConfig.LMA_API_URL
            ? $runtimeConfig.LMA_API_URL
            : `${location.origin}/dss/api/v1/`,
        credentials: "include",
        method: "POST",
        body: { sess_domain: response.data.value.data.domains[0].sys_name },
        headers: {
          "Content-Type": "application/json",
        },
        onResponseError({ request, response, options }) {

          if (response.status === 401 || response.status === 302 || response.status === 303) {
            navigateTo(
              process.dev
                ? "https://sso.adviser.lmsoftware.ru"
                : $runtimeConfig.LMA_SSO_LOGIN_URL
                  ? $runtimeConfig.LMA_SSO_LOGIN_URL
                  : `https://sso.${location.host}`,
              {
                external: true,
              }
            );
          }
          if (response._data.error.code === 4) {
            notification.open({
              message: "Ошибка",
              description: "Не хватает передаваемых параметров",
              style: {
                border: "1px solid #ffa39e",
                backgroundColor: "#fff1f0",
                duration: 5,
              },
            });
          }
          if (response._data.error.code === 5) {
            notification.open({
              message: "Ошибка",
              description: "Ошибка сервера",
              style: {
                border: "1px solid #ffa39e",
                backgroundColor: "#fff1f0",
                duration: 5,
              },
            });
          }
          if (response.status === 500) {
            notification.open({
              message: response._data.error.name,
              description: response._data.error.message,
              style: {
                border: "1px solid #ffa39e",
                backgroundColor: "#fff1f0",
                duration: 5,
              },
            });
          } else {
            console.log(response);
          }
        },
      }).then((userResp) => {
        sessionStore.$state.user = userResp
        apiFetch("get_cls").then((clsResp) => {
          dictionariesStore.$state.dictionaries = clsResp.data
          isLoading.value = false
        })

      })
    }

  })
} else {
  apiFetch("get_session_user").then((resopnse) => {
    if (resopnse.data.value.data.sess_domain_check.is_permitted) {
      sessionStore.$state.user = resopnse;
      apiFetch("get_cls").then((clsResp) => {
        dictionariesStore.$state.dictionaries = clsResp.data;
        selectorsStore.setSelectors()
        isLoading.value = false
      })
    } else {
      apiFetch("get_session_user_domains", { value: { limit: 1 } }).then((domainsResp) => {
        activeDomain.value = domainsResp.data.value.data.domains[0]
        setTimeout(() => {
          apiFetch("get_session_user").then((resopnse) => {
            sessionStore.$state.user = resopnse;
            apiFetch("get_cls").then((clsResp) => {
              dictionariesStore.$state.dictionaries = clsResp.data;
              selectorsStore.setSelectors()
              isLoading.value = false
            })
          })
        }, 100);
      })
    }
  })
  // const req = [
  //   apiFetch("get_session_user"),
  //   apiFetch("get_cls")
  // ]

  // const [user, dictionaries] = await Promise.all(req)

  // sessionStore.$state.user = user;
  // dictionariesStore.$state.dictionaries = dictionaries.data;
  // selectorsStore.setSelectors()
  // isLoading.value = false
}

</script>

<style lang="scss" scoped>
.trigger {
  font-size: 18px;
  transition: color 0.3s;
}

a {
  color: unset;
}
</style>
