<template>
  <div class="domains">
    <a-tabs type="card" v-model:activeKey="activeKey">
      <a-tab-pane :key="1">
        <template #tab>
          <span>
            {{ $t('pages.domains.domains') }}
          </span>
        </template>
        <div class="domains__wrapper" :class="{ full: !inspectorVisible }">
          <TableDomains @selectTab='selectTab' v-model="selectedRow" :customers="customers.data.value.data"
            :tableData="domains.data.value.data" :tableMeta="domains.data.value.meta" />
        </div>
      </a-tab-pane>
      <a-tab-pane :key="2">
        <template #tab>
          <span>
            {{ $t('pages.domains.customers') }}
          </span>
        </template>
        <div class="domains__wrapper" :class="{ full: !inspectorVisible }">
          <TableCustomers v-model="selectedRow" :tableData="customers.data.value.data"
            :tableMeta="customers.data.value.meta" />
        </div>
      </a-tab-pane>
    </a-tabs>
  </div>
</template>

<script setup>
const { $listen } = useNuxtApp()
const { $off } = useNuxtApp()
const route = useRoute();

const customerId = computed(() => {
  return routerCustomer.value ? { customer_id: routerCustomer.value } : {}
})

const routerCustomer = computed(() => {
  return route.query.customer_id
})

const pageDomainsLimit = ref(30)
const pageCustomersLimit = ref(30)
const selectedRow = ref(null)
const inspectorVisible = ref(true)
const activeKey = ref(routerCustomer.value ? 2 : 1)
const domainsPageData = ref({limit: pageDomainsLimit.value,})
const customersPageData = ref({
  limit: pageCustomersLimit.value,
  ...customerId.value,
})

const selectTab = (tab, id) => {
  activeKey.value = tab
  customersPageData.value.customer_id = id
}

$listen('filter:update', (filters) => {
  if (Object.keys(filters.value).length === 0) {
    domainsPageData.value = { limit: pageDomainsLimit.value }
  } else {
    domainsPageData.value = { limit: pageDomainsLimit.value }
    domainsPageData.value = Object.assign(domainsPageData.value, filters.value);
  }
})

$listen('filterCustomers:update', (filters) => {
  if (Object.keys(filters.value).length === 0) {
    customersPageData.value = { limit: pageCustomersLimit.value }
  } else {
    customersPageData.value = { limit: pageCustomersLimit.value }
    customersPageData.value = Object.assign(customersPageData.value, filters.value);
  }
})

$listen('domainsPagination:updateLimit', (value) => {
  pageDomainsLimit.value = value
  domainsPageData.value.limit = pageDomainsLimit.value
})

$listen('customersPagination:updateLimit', (value) => {
  pageCustomersLimit.value = value
  customersPageData.value.limit = pageCustomersLimit.value
})

$listen('domainsPagination:update', (offset) => {
  domainsPageData.value = Object.assign(domainsPageData.value, offset.value);
})

$listen('customersPagination:update', (offset) => {
  customersPageData.value = Object.assign(customersPageData.value, offset.value);
})

$listen('domains:update', () => {
  domains.refresh()
})
$listen('customers:update', () => {
  customers.refresh()
})

$listen('domain:select', (value) => {
  apiFetch('get_domains_cls', { value: { domain_id: value } }).then((response) => {
    domains.data.value.data.unshift(response.data.value.data[0])
    selectedRow.value = response.data.value.data[0]
  })
})

$listen('customer:select', (value) => {
  apiFetch('get_customers_cls', { value: { customer_id: value } }).then((response) => {
    customers.data.value.data.unshift(response.data.value.data[0])
    selectedRow.value = response.data.value.data[0]
  })
})

$listen('domains:sort', (field) => {
  if (field.length) {
    domainsPageData.value = Object.assign(domainsPageData.value, { orderby: field });
  } else {
    delete domainsPageData.value.orderby
  }
})

$listen('customers:sort', (field) => {
  if (field.length) {
    customersPageData.value = Object.assign(customersPageData.value, { orderby: field });
  } else {
    delete customersPageData.value.orderby
  }
})

const domains = await apiFetch('get_domains_cls', domainsPageData);
const customers = await apiFetch('get_customers_cls', customersPageData);

onUnmounted(() => {
  $off('domains:update')
  $off('customers:update')
})

watch(routerCustomer, (newValue) => {
  customersPageData.value.customer_id = newValue
})

</script>

<style lang="scss">
.domains {
  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: all 0.5s ease;

    .ant-table-body {
      height: calc(100vh - 230px) !important;
    }

    &.full {
      width: calc(100% - 80px);
    }
  }
}
</style>