<template>
  <div class="dashboard">
    <Steps />
    <div class="dashboard__grid">
      <div class="dashboard__list">
        <a-card :title="$t('pages.dashboard.about-domain')">
          <p>{{ $t('pages.dashboard.about-domain') }} {{ domainInfo?.domain_name }}</p>
          <!-- <p>{{ $t('pages.dashboard.customer-name') }} {{ domainInfo.customer_name }}</p> -->
          <p>{{ $t('pages.dashboard.sys-name') }} {{ domainInfo?.sys_name }}</p>
          <!-- <p>{{ $t('pages.dashboard.current-status-dt') }} {{ domainInfo.current_status_dt }}</p> -->
        </a-card>
      </div>
      <div></div>

      <a-card v-if="forecastsJobs?.data?.data" class="dashboard__table"
        :title="$t('pages.dashboard.jobs-forecasts-list')">
        <template #extra>
          <a-space>
            <a-button @click="updateTable(forecastsJobs)" :title="$t('buttons.refresh')">
              <ReloadOutlined />
            </a-button>
            <InputNumber style="width: 70px;" v-model="dashboardState.forecastsJobs" :min="1" :max="9999" />
            <span>{{ $t('pages.dashboard.days') }}</span>
          </a-space>
        </template>
        <TableDashboardForecasts :tableData="forecastsJobs.data.data" :tableMeta="forecastsJobs.data.meta" :jobType="4"
          pagination="forecasts" />
      </a-card>


      <a-card v-if="solverJobs?.data?.data" class="dashboard__table"
        :title="$t('pages.dashboard.jobs-solvers-list')">
        <template #extra>
          <a-space>
            <a-button @click="updateTable(solverJobs)" :title="$t('buttons.refresh')">
              <ReloadOutlined />
            </a-button>
            <InputNumber style="width: 70px;" v-model="dashboardState.solversJobs" :min="1" :max="9999" />
            <span>{{ $t('pages.dashboard.days') }}</span>
          </a-space>
        </template>
        <TableDashboardForecasts :tableData="solverJobs.data.data" :tableMeta="solverJobs.data.meta" :jobType="3"
          pagination="solvers" />
      </a-card>

      <a-card v-if="modelsJobs?.data?.data" class="dashboard__table"
        :title="$t('pages.dashboard.jobs-models-list')">
        <template #extra>
          <a-space>
            <a-button @click="updateTable(solverJobs)" :title="$t('buttons.refresh')">
              <ReloadOutlined />
            </a-button>
            <InputNumber style="width: 70px;" v-model="dashboardState.modelsJobs" :min="1" :max="9999" />
            <span>{{ $t('pages.dashboard.days') }}</span>
          </a-space>
        </template>
        <TableDashboardForecasts :tableData="modelsJobs.data.data" :tableMeta="modelsJobs.data.meta" :jobType="2"
          pagination="models" />
      </a-card>

      <a-card v-if="sourcesJobs?.data?.data" class="dashboard__table"
        :title="$t('pages.dashboard.jobs-sources-list')">
        <template #extra>
          <a-space>
            <a-button @click="updateTable(sourcesJobs)" :title="$t('buttons.refresh')">
              <ReloadOutlined />
            </a-button>
            <InputNumber style="width: 70px;" v-model="dashboardState.sourcesJobs" :min="1" :max="9999" />
            <span>{{ $t('pages.dashboard.days') }}</span>
          </a-space>
        </template>
        <TableDashboardForecasts :tableData="sourcesJobs.data.data" :tableMeta="sourcesJobs.data.meta" :jobType="1"
          pagination="sources" />
      </a-card>
    </div>
  </div>
</template>

<script setup>
import { useSessionStore } from '@/stores/session-store'
const { $listen } = useNuxtApp()
const { $off } = useNuxtApp()
const activeDomain = useCookie("domain");
const sessionStore = useSessionStore()

const forecastsJobs = ref([])
const solverJobs = ref([])
const modelsJobs = ref([])
const sourcesJobs = ref([])

const user = computed(() => {
  const session = sessionStore?.user?.data?.data
  return session
})
const domainInfo = computed(() => {
  return sessionStore.user.data.data.sess_domain_check
})

const timeInterval = (days) => {
  const date = new Date()
  const interval = days * 86400
  const dateNow = Math.floor(date.getTime() / 1000);
  let intervalDate = new Date((dateNow - interval) * 1000);
  let month = intervalDate.getMonth() + 1
  let day = intervalDate.getDate()
  if (month < 10) {
    month = '0' + month
  }
  if (day < 10) {
    day = '0' + day
  }
  return intervalDate.getFullYear() + '-' + month + '-' + day
}

const dateNow = computed(() => {
  let date = new Date()
  let month = date.getMonth() + 1
  let minutes = date.getMinutes()
  let day = date.getDate()
  if (month < 10) {
    month = '0' + month
  }
  if (minutes < 10) {
    minutes = '0' + minutes
  }
  if (day < 10) {
    day = '0' + day
  }

  let array = {
    date: date.getFullYear() + '-' + month + '-' + day,
    time: date.getHours() + ':' + minutes,
  }
  return array
})

const dashboardState = ref({
  indicators: 7,
  models: 7,
  forecasts: 7,
  forecastsJobs: 7,
  solversJobs: 7,
  modelsJobs: 7,
  sourcesJobs: 7,
  taskLoad: 7,
})

const pageForecastsOffset = ref(0)
const pageSolversOffset = ref(0)
const pageModelsOffset = ref(0)
const pageSourcesOffset = ref(0)

const forecastsJobsData = computed(() => {
  return {
    job_type: 4,
    offset: pageForecastsOffset.value,
    create_dt_ts: {
      from: timeInterval(dashboardState.value.forecastsJobs),
      to: dateNow.value.date
    }
  }
})

const solverJobsData = computed(() => {
  return {
    job_type: 3,
    offset: pageSolversOffset.value,
    create_dt_ts: {
      from: timeInterval(dashboardState.value.solversJobs),
      to: dateNow.value.date
    }
  }
})
const modelsJobsData = computed(() => {
  return {
    job_type: 2,
    offset: pageModelsOffset.value,
    create_dt_ts: {
      from: timeInterval(dashboardState.value.modelsJobs),
      to: dateNow.value.date
    }
  }
})

const sourceJobsData = computed(() => {
  return {
    job_type: 1,
    offset: pageSourcesOffset.value,
    create_dt_ts: {
      from: timeInterval(dashboardState.value.sourcesJobs),
      to: dateNow.value.date
    }
  }
})

$listen('forecasts:update', (offset) => {
  pageForecastsOffset.value = offset.value.offset
  forecastsJobsData.value = Object.assign(forecastsJobsData.value, offset.value);
})
$listen('solvers:update', (offset) => {
  pageSourcesOffset.value = offset.value.offset
  solverJobsData.value = Object.assign(solverJobsData.value, offset.value);
})
$listen('models:update', (offset) => {
  pageModelsOffset.value = offset.value.offset
  modelsJobsData.value = Object.assign(modelsJobsData.value, offset.value);
})
$listen('sources:update', (offset) => {
  pageSourcesOffset.value = offset.value.offset
  sourceJobsData.value = Object.assign(sourceJobsData.value, offset.value);
})

const updateTable = (request) => {
  request.refresh()
}

if (user.value.sess_domain_check?.is_admin) {
  const req = [
    apiFetch(`get_jobs_for_domain_cls`, forecastsJobsData),
    apiFetch(`get_jobs_for_domain_cls`, solverJobsData),
    apiFetch(`get_jobs_for_domain_cls`, modelsJobsData),
    apiFetch(`get_jobs_for_domain_cls`, sourceJobsData)
  ]

  const [forecastsResp, solverResp, modelsResp, sourcesResp] = await Promise.all(req)

  forecastsJobs.value = forecastsResp
  solverJobs.value = solverResp
  modelsJobs.value = modelsResp
  sourcesJobs.value = sourcesResp
}

onUnmounted(() => {
  $off('models:update')
})
</script>

<style lang="scss">
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 16px;



  &__table {
    .ant-card-body {
      padding: 8px !important;
    }

    .ant-table-body {
      height: calc(50vh - 235px) !important;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 32px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
</style>
