<template>
  <div class="indicators">
    <div class="indicators__wrapper" :class="{ full: !inspectorVisible }">
      <TableIndicators v-model="selectedRow" :tableData="indicators.data" :tableMeta="indicators.meta" />
    </div>
    <div class="indicators__inspector" :class="{ visible: inspectorVisible }">
      <InspectorIndicators @inspectorToggle="inspectorVisible = !inspectorVisible" :inspectorData="selectedRow"
        :inspectorVisible="inspectorVisible" />
    </div>
  </div>
</template>

<script setup>
const { $listen } = useNuxtApp()
const { $off } = useNuxtApp()
const route = useRoute();

const indrId = computed(() => {
  return routerIndicator.value ? { indr_id: routerIndicator.value } : {}
})
const sourceId = computed(() => {
  return routerSource.value ? { data_source_id: routerSource.value } : {}
})
const isTemplate = computed(() => {
  return routerSource.value ? {} : { is_template: 0 }
})

const pageLimit = ref(30)
const routerIndicator = ref(route.query.indr_id)
const routerSource = ref(route.query.data_source_id)
const selectedRow = ref(null)
const inspectorVisible = ref(true)
const pageData = ref({
  limit: pageLimit.value,
  ...isTemplate.value,
  ...indrId.value,
  ...sourceId.value,
})

$listen('filter:update', (filters) => {
  if (Object.keys(filters.value).length === 0) {
    pageData.value = {}
  } else {
    pageData.value = {}
    pageData.value = Object.assign(filters.value, { limit: pageLimit.value });
  }
})

$listen('page:updateLimit', (value) => {
  pageLimit.value = value
  pageData.value.limit = pageLimit.value
})


$listen('page:update', (offset) => {
  pageData.value = Object.assign(pageData.value, offset.value);
})

$listen('indicators:sort', (field) => {
  if (field.length) {
    pageData.value = Object.assign(pageData.value, { orderby: field });
  } else {
    delete pageData.value.orderby
  }
})

$listen('indicators:update', () => {
  refresh()
})

$listen('inspector:update', (value) => {
  if (value) {
    selectedRow.value = null
    setTimeout(() => {
      selectedRow.value = indicators.value.data.find(el => el.indr_id == value)
    }, 500);
  } else {
    selectedRow.value = null
  }
})

$listen('indicator:select', (value) => {
  apiFetch('get_indicators_cls', { value: { indr_id: value } }).then((response) => {
    indicators.value.data.unshift(response.data.value.data[0])
    selectedRow.value = response.data.value.data[0]
  })
})

const { data: indicators, refresh } = await apiFetch(`get_indicators_cls`, pageData);

if (routerIndicator.value) {
  setTimeout(() => {
    selectedRow.value = indicators.value.data[0]
  }, 500);
}

onUnmounted(() => {
  $off('indicators:update')
  // $off('page:updateLimit')
})
</script>
<style lang="scss">
.indicators {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;

  &__wrapper {
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: all 0.5s ease;

    .ant-table-body {
      height: calc(100vh - 230px) !important;
    }

    &.full {
      width: calc(100% - 80px);
    }
  }

  &__inspector {
    width: 60px;
    height: calc(100vh - 54px);
    transition: all 0.5s ease;

    .ant-table-cell {
      padding: 8px;
    }

    .ant-card-head-wrapper {
      justify-content: center;
    }

    .ant-card-extra {
      padding: 11px 0;
    }

    &.visible {
      width: 33%;
    }

    &.disabled {
      width: 33%;
    }
  }

  &__models-row {
    transition: background-color 0.5s ease;
    cursor: pointer;

    &.active {
      background-color: #e6f7ff !important;
    }
  }

  &__models-table {

    .ant-table-tbody>tr.ant-table-row:hover>td,
    .ant-table-tbody>tr>td.ant-table-cell-row-hover {
      background-color: #e6f7ff !important;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &.hidden {
      display: none;
    }

  }
}
</style>