<template>
  <div class="jobs">
    <div class="jobs__wrapper" :class="{ full: !inspectorVisible }">
      <TableJobs v-model="selectedRow" :tableData="jobs.data" :tableMeta="jobs.meta" />
    </div>
    <div class="jobs__inspector" :class="{ visible: inspectorVisible }">
      <InspectorJobs @inspectorToggle="inspectorVisible = !inspectorVisible" :inspectorData="selectedRow"
        :inspectorVisible="inspectorVisible" />
    </div>
  </div>
</template>

<script setup>
import { useSessionStore } from '@/stores/session-store'
const { $listen } = useNuxtApp()
const { $off } = useNuxtApp()
const route = useRoute();
const activeDomain = useCookie("domain");

const routerJob = ref(route.query.job_id)
const routerJobParams = ref(route.query.job_params_id)

const jobId = computed(() => {
  return routerJob.value ? { job_id: routerJob.value } : {}
})
const paramsId = computed(() => {
  return routerJobParams.value ? { job_params_id: routerJobParams.value } : {}
})

const isGlobalAdmin = computed(() => {
  return sessionStore.user?.data?.data?.is_admin === 1 ? true : false;
})

const domainSysName = computed(() => {
  return isGlobalAdmin.value ? { domain_sys_name: activeDomain.value.sys_name } : {}
})

const sessionStore = useSessionStore()
const selectedRow = ref(null)
const inspectorVisible = ref(true)
const pageLimit = ref(30)
const pageData = ref({
  limit: pageLimit.value,
  orderby: "create_dt desc",
  login: sessionStore.user?.data?.data?.login,
  ...jobId.value,
  ...paramsId.value,
  ...domainSysName.value,
})

$listen('filter:update', (filters) => {
  if (Object.keys(filters.value).length === 0) {
    pageData.value = { limit: pageLimit.value }
  } else {
    pageData.value = { limit: pageLimit.value }
    pageData.value = Object.assign(pageData.value, filters.value);
  }
})

$listen('page:updateLimit', (value) => {
  pageLimit.value = value
  pageData.value.limit = pageLimit.value
})

$listen('page:update', (offset) => {
  pageData.value = Object.assign(pageData.value, offset.value);
})

$listen('jobs:sort', (field) => {
  if (field.length) {
    pageData.value = Object.assign(pageData.value, { orderby: field });
  } else {
    delete pageData.value.orderby
  }
})

$listen('jobs:update', () => {
  refresh()
})

$listen('inspector:update', (id) => {
  if (id) {
    selectedRow.value = jobs.value.data.find((el) => el.job_id == id)
  } else {
    selectedRow.value = null
  }
})

const { data: jobs, refresh } = await apiFetch(`${isGlobalAdmin.value ? 'get_jobs_cls' : 'get_jobs_for_domain_cls'}`, pageData);

onUnmounted(() => {
  $off('jobs:update')
})
</script>

<style lang="scss">
.jobs {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;


  &__wrapper {
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: all 0.5s ease;

    .ant-table-body {
      height: calc(100vh - 230px) !important;
    }

    &.full {
      width: calc(100% - 80px);
    }
  }

  &__inspector {
    width: 60px;
    height: calc(100vh - 54px);
    transition: all 0.5s ease;

    .ant-table-cell {
      padding: 8px;
    }

    .ant-card-head-wrapper {
      justify-content: center;
    }

    .ant-card-extra {
      padding: 11px 0;
    }

    &.visible {
      width: 33%;
    }

    &.disabled {
      width: 33%;
    }
  }
}
</style>