<template>
  <div class="tags">
    <div class="tags__table">
      <TableTags v-model="selectedRow" :tableData="tags.data" :tableMeta="tags.meta" />
    </div>
    <div class="tags__entity">
    </div>
  </div>
</template>

<script setup>
const { $listen } = useNuxtApp()

const activeDomain = useCookie("domain");

const selectedRow = ref(null)
const pageData = ref({domain_id: activeDomain.value.id})

$listen('filter:update', (filters) => {
  if (Object.keys(filters.value).length === 0) {
    pageData.value = {}
  } else {
    pageData.value = {}
    pageData.value = Object.assign(pageData.value, filters.value);
  }
})

$listen('page:update', (offset) => {
  pageData.value = Object.assign(pageData.value, offset.value);
})

$listen('models:update', () => {
  refresh()
})

$listen('inspector:update', () => {
  selectedRow.value = null
})

const { data: tags, refresh } = await apiFetch('get_tags_cls', pageData);
</script>

<style lang="scss">
.tags {
  display: flex;

  &__table {
    width: 40%;
  }

  &__entity {}
}
</style>