<template>
  <div class="users">
    <div class="users__wrapper" :class="{ full: !inspectorVisible }">
      <TableUsers v-model="selectedRow" :tableData="users.data" :tableMeta="users.meta" />
    </div>
    <div class="users__inspector" :class="{ visible: inspectorVisible }">
      <InspectorUsers @inspectorToggle="inspectorVisible = !inspectorVisible" :inspectorData="selectedRow"
        :inspectorVisible="inspectorVisible" />
    </div>
  </div>
</template>

<script setup>
const { $listen } = useNuxtApp()
const { $off } = useNuxtApp()
import { useSessionStore } from '@/stores/session-store'

const sessionStore = useSessionStore()
const selectedRow = ref(null)
const inspectorVisible = ref(true)
const pageLimit = ref(30)
const pageData = ref({ limit: pageLimit.value })

const isGlobalAdmin = computed(() => {
  return sessionStore.user?.data?.data?.is_admin === 1 ? true : false;
})

$listen('filter:update', (filters) => {
  if (Object.keys(filters.value).length === 0) {
    pageData.value = { limit: pageLimit.value }
  } else {
    pageData.value = { limit: pageLimit.value }
    pageData.value = Object.assign(pageData.value, filters.value);
  }
})

$listen('page:updateLimit', (value) => {
  pageLimit.value = value
  pageData.value.limit = pageLimit.value
})


$listen('page:update', (offset) => {
  pageData.value = Object.assign(pageData.value, offset.value);
})

$listen('users:update', () => {
  refresh()
})

$listen('selectedRow:update', () => {
  selectedRow.value = null
})

$listen('page:updateLimit', (value) => {
  console.log(value);
  pageLimit.value = value
  pageData.value.limit = pageLimit.value
})

$listen('user:select', (value) => {
  apiFetch(`${isGlobalAdmin.value ? 'get_users' : 'get_users_by_domain'}`, { value: { user_id: value } }).then((response) => {
    users.value.data.unshift(response.data.value.data[0])
    selectedRow.value = response.data.value.data[0]
  })
})

$listen('inspector:update', (value) => {
  if (value) {
    selectedRow.value = null
    setTimeout(() => {
      selectedRow.value = users.value.data.find(el => el.user_id == value)
    }, 500);
  } else {
    selectedRow.value = null
  }
})

$listen('users:sort', (field) => {
  if (field.length) {
    pageData.value = Object.assign(pageData.value, { orderby: field });
  } else {
    delete pageData.value.orderby
  }
})

const { data: users, refresh } = await apiFetch(`${isGlobalAdmin.value ? 'get_users' : 'get_users_by_domain'}`, pageData);

onUnmounted(() => {
  $off('users:update')
  $off('membership:update')
})
</script>

<style lang="scss">
.users {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;

  &__wrapper {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: all 0.5s ease;

    .ant-table-body {
      height: calc(100vh - 230px) !important;
    }

    &.full {
      width: calc(100% - 80px);
    }
  }

  &__inspector {
    width: 60px;
    height: calc(100vh - 60px);
    background: white;
    transition: all 0.5s ease;
    border-radius: 8px;
    overflow: hidden;

    .ant-table-cell {
      padding: 8px;
    }

    .ant-card-head-wrapper {
      justify-content: center;
    }

    .ant-card-extra {
      padding: 11px 0;
    }

    &.visible {
      width: 24%;
    }

  }
}
</style>