<template>
  <div class="select-domain">
    <div class="select-domain__modal-top">
      <a-input id="inputLogin" v-model:value="searchedDomain" :placeholder="$t('sidebar.search')" allow-clear
        @change="domainSearch" />
      <a-button class="select-domain__sort" @click="domainsSort = !domainsSort" :title="$t('sidebar.sort')">
        <SortAscendingOutlined v-if="domainsSort" />
        <SortDescendingOutlined v-else />
      </a-button>
    </div>
    <div class="select-domain__modal">
      <div @click="openAgreeModal(domain)" class="select-domain__modal-item"
        :class="{ 'is-active': activeDomain.id == domain.id }" v-for="domain in domainsArray" :key="domain.id">{{
          domain.name }}</div>
    </div>
    <a-modal v-model:open="agreeModalOpened" :title="$t('sidebar.sure')" :footer="null">
      <div>
        {{ $t('sidebar.warning') }}
      </div>
      <div class="sidebar__modal-footer">
        <a-button @click="agreeModalOpened = false">{{ $t('buttons.no') }}</a-button>
        <a-button type="primary" @click="setDomain">{{ $t('buttons.yes')
        }}</a-button>
      </div>
    </a-modal>
  </div>
</template>

<script setup>
const { $runtimeConfig } = useNuxtApp();
const activeDomain = useCookie("domain");
const activeGroup = useCookie("selectedGroup");
const searchedDomain = ref('')
const domainsSort = ref(false)
const searchedArray = ref([])
const domains = ref([])
const agreeModalOpened = ref(false)
const choosedDomain = ref(null)

const dss = computed(() => {
  return `${process.dev ? '/dss' : $runtimeConfig.LMA_SERVICE_PATH.length > 0 ? ('/' + $runtimeConfig.LMA_SERVICE_PATH) : ''}`
})

const domainsArray = computed(() => {
  let array = []
  if (searchedArray.value.length) {
    array = searchedArray.value
  } else {
    array = domains.value
  }

  if (domainsSort.value) {
    function compare(a, b) {
      if (a.name < b.name) {
        return -1;
      }
      if (a.name > b.name) {
        return 1;
      }
      return 0;
    }
    return array.sort(compare);
  } else {
    function compare(a, b) {
      if (a.name > b.name) {
        return -1;
      }
      if (a.name < b.name) {
        return 1;
      }
      return 0;
    }
    return array.sort(compare);
  }
})

const domainSearch = useDebounceFn(() => {
  let array = domains.value
  let filteredArray = array.filter(item => item.name.toLowerCase().includes(searchedDomain.value.toLowerCase()));
  if (filteredArray.length) {
    searchedArray.value = filteredArray
  } else {
    searchedArray.value = ['']
  }
}, 500, { maxWait: 5000 })

const openAgreeModal = (domain) => {
  if (activeDomain.value.sys_name == domain.sys_name) {
    return
  } else {
    choosedDomain.value = domain;
    agreeModalOpened.value = true;
  }
};

const setDomain = () => {
  setTimeout(() => {
    activeDomain.value = choosedDomain.value
    activeGroup.value = '/'
    // localStorage.setItem("selectedGroup", '');
    agreeModalOpened.value = false
    // domainModalOpened.value = false
    location.replace(`${dss.value}/`);
  }, 0);
}

apiFetch(`get_session_user_domains`).then((response) => {
  domains.value = response.data.value.data.domains
})
</script>

<style lang="scss" scoped>
.select-domain {
  // .ant-divider-horizontal {
  //   margin: 12px 0;
  // }

  // .ant-form-item-label {
  //   overflow: hidden;
  //   white-space: nowrap;
  //   text-overflow: ellipsis;
  //   width: 100%;
  //   display: block;
  // }

  // .ant-input-textarea {
  //   &::after {
  //     position: absolute;
  //     bottom: -24px;
  //     right: 0;
  //   }
  // }
  &__modal {
    display: flex;
    flex-direction: column;
    // gap: 8px;
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 999px;
      border: 2px solid transparent;
      background-clip: content-box;
      background-color: #1890ff;
    }

    &-top {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 16px 0;
    }

    &-footer {
      display: flex;
      gap: 4px;
      width: 100%;
      justify-content: flex-end;
      margin-top: 16px;
    }

    &-item {
      cursor: pointer;
      padding: 8px;
      transition: all 0.3s ease;

      &:hover {
        background-color: #e6f7ff;
        color: #1890ff;
      }

      &.is-active {
        background-color: #e6f7ff;
        color: #1890ff;
        border-left: 2px solid #1890ff;
      }
    }
  }

}
</style>