<template>
  <div class="forecast">
    <a-card :title="$t('pages.solvers-id.title')">
      <template #extra>
        <a-button @click="navigateTo(localePath('/solvers'))">
          <arrow-left-outlined />
          <span>{{ $t('buttons.back') }}</span></a-button>
      </template>
      <div class="forecast__header">
        <a-tag :title="$t('pages.solvers-id.model-name')" color="default">
          <template #icon>
            <font-size-outlined style="fontSize: 18px" />
          </template>
          <span style="fontSize: 18px;lineHeight: 1.5">{{ solverData.name }}</span>
        </a-tag>
        <a-tag :title="$t('pages.solvers-id.job-status')"
          :color="`${(solverData.status == 3) ? 'green' : ([1, 2].includes(solverData.status)) ? 'orange' : 'red'}`">
          <template #icon>
            <check-circle-outlined style="fontSize: 18px" v-if="solverData.status === 3" />
            <ClockCircleOutlined style="fontSize: 18px" v-if="[1, 2].includes(solverData.status)" />
            <close-circle-outlined style="fontSize: 18px" v-if="[1, 2, 3].includes(!solverData.status)" />
          </template>
          <span style="fontSize: 18px;lineHeight: 1.5">{{ solverData.status_term }}</span>
        </a-tag>
        <a-tag :title="$t('pages.solvers-id.nodes-quantity')" color="blue">
          <template #icon>
            <node-index-outlined style="fontSize: 18px" />
          </template>
          <span style="fontSize: 18px;lineHeight: 1.5">{{ solverData.amount }}</span>
        </a-tag>
      </div>
    </a-card>
    <div class="forecast__content" v-if="solvers.data.length">
      <div class="forecast__table" :class="{ full: !inspectorVisible }">
        <TableSolver :tableData="solvers.data" />
      </div>
      <div class="forecast__inspector" :class="{ visible: inspectorVisible }">
        <InspectorSolver :solver="solverData" :inspectorVisible="inspectorVisible"
          @inspectorToggle="inspectorVisible = !inspectorVisible" />
      </div>
    </div>
  </div>
</template>

<script setup>
import { useJobsStore } from '@/stores/job-impulses'
const localePath = useLocalePath();
const { $listen } = useNuxtApp()
const route = useRoute();
const solverData = computed(() => {
  return solver.data.value.data[0]
})
const impulsesStore = useJobsStore()
const inspectorVisible = ref(true)

$listen('solver:update', () => {
  solver.refresh()
})

$listen('solvers:update', () => {
  refresh().then(() => {
    impulsesStore.add(solvers)
  })
})

const solver = await apiFetch('get_solver_tasks_cls', { value: { solver_task_id: Number(route.params.id) } });

const { data: solvers, refresh } = await apiFetch('get_solver_task_params', { value: { i_solver_task_id: Number(route.params.id) } });

if (solvers.value.data.length) {
  impulsesStore.add(solvers)
}

onUnmounted(() => {
  impulsesStore.clear()
})
</script>

<style lang="scss" scoped>
.forecast {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__content {
    display: flex;
    gap: 16px;
  }

  &__table {
    width: 80%;
    transition: all 0.5s ease;

    &.full {
      width: calc(100% - 80px);
    }
  }

  &__inspector {
    width: 60px;
    height: calc(100vh - 208px);
    transition: all 0.5s ease;

    &.visible {
      width: 20%;
    }
  }
}
</style>