<template>
  <div class="solvers">
    <div v-if="isLoading" class="solvers__load">
      <LoadingOutlined style="fontSize: 60px; color: #1890ff;" />
    </div>
    <a-tabs type="card" v-model:activeKey="activeKey">
      <a-tab-pane key="1">
        <template #tab>
          <span>
            <database-outlined />
            {{ $t('pages.solvers.jobs') }}
          </span>
        </template>
        <div class="solvers__content">
          <div class="solvers__wrapper" :class="{ full: !inspectorVisible }">
            <TableSolversModels v-model="selectedModel" :tableData="models.data.value.data"
              :tableMeta="models.data.value.meta" />
            <TableSolversList v-model="selectedSolver" :selectedModel="selectedModel" @setSolvers="setSolvers" />
          </div>
          <div class="solvers__inspector" :class="{ visible: inspectorVisible }">
            <InspectorSolvers @inspectorToggle="inspectorVisible = !inspectorVisible" :inspectorData="selectedSolver"
              :inspectorModel="selectedModel" :inspectorVisible="inspectorVisible" />
          </div>
        </div>
      </a-tab-pane>
      <a-tab-pane key="2" :disabled="!solversData.length">
        <template #tab>
          <span>
            <bar-chart-outlined />
            {{ $t('pages.solvers.charts') }}
          </span>
        </template>
        <div class="solvers__charts">
          <TableSolversCharts @buildCharts="buildCharts" :tableData="solversData" />
          <a-card :title="$t('pages.solvers.forecasts-charts')">
            <div class="forecasts__list" v-if="chartsData.length">
              <div class="forecasts__chart" v-for="(item, index) in chartsData" :key="index">
                <ChartBase :index="index" :chartData="item" />
              </div>
            </div>
          </a-card>
        </div>
      </a-tab-pane>
    </a-tabs>
  </div>
</template>

<script setup>
import { useDictionariesStore } from '@/stores/dictionaries'
const { $listen } = useNuxtApp()
const { $off } = useNuxtApp()
const route = useRoute();
const dictionariesStore = useDictionariesStore()

const groupId = computed(() => {
  let name = localStorage.getItem("selectedGroup")
  return name ? { model_group_id: name.split('_/')[1] } : {}
})

const modelId = computed(() => {
  return routerModel.value ? { model_id: routerModel.value } : {}
})

const modaltEducatedTerm = computed(() => {
  let arr = dictionariesStore?.dictionaries?.data?.clss.find(element => element.cls === 55).terms
  return arr.find(element => element.num == 2)
})

const routerModel = ref(route.query.model_id)
const routerSolver = ref(route.query.solver_id)
const selectedModel = ref(null)
const activeKey = ref('1')
const selectedSolver = ref(null)
const inspectorVisible = ref(true)
const solversData = ref([])
const chartsData = ref([])
const isLoading = ref(false)
const pageModelsLimit = ref(30)
const modelsPageData = ref({
  limit: pageModelsLimit.value,
  model_status: routerModel.value ? '' : modaltEducatedTerm.value.num,
  ...groupId.value,
  ...modelId.value,
})

const setSolvers = (data) => {
  solversData.value = data
}

$listen('filter:update', (filters) => {
  if (Object.keys(filters.value).length === 0) {
    modelsPageData.value = { limit: pageModelsLimit.value }
  } else {
    modelsPageData.value = { limit: pageModelsLimit.value }
    modelsPageData.value = Object.assign(filters.value);
  }
})

$listen('models:updateLimit', (value) => {
  pageModelsLimit.value = value
  modelsPageData.value.limit = pageModelsLimit.value
})

$listen('models:update', (offset) => {
  modelsPageData.value = Object.assign(modelsPageData.value, offset.value);
})
$listen('solversModels:update', () => {
  models.refresh()
})

$listen('inspector:update', () => {
  selectedSolver.value = null
})

$listen('models:sort', (field) => {
  if (field.length) {
    modelsPageData.value = Object.assign(modelsPageData.value, { orderby: field });
  } else {
    delete modelsPageData.value.orderby
  }
})

const models = await apiFetch('get_models_ffit_cls', modelsPageData);

if (routerModel.value) {
  isLoading.value = true;
  setTimeout(() => {
    if (routerSolver.value) {
      activeKey.value = '2'
      apiFetch('get_model_forecasts_indicators_data_series', {
        value: {
          "i_array_forecast_ids": routerSolver.value,
          "i_model_id": routerModel.value,
          "i_show_compensated": true,
          "i_show_raw": true,
        }
      }).then((response) => {
        chartsData.value = response.data.value.data
        isLoading.value = false;
      })
    } else {
      isLoading.value = false;
    }
  }, 1000);
}

const buildCharts = (ids) => {
  apiFetch('get_model_forecasts_indicators_data_series', {
    value: {
      "i_array_forecast_ids": ids.toString(),
      "i_model_id": selectedModel.value.model_id,
      "i_show_compensated": true,
      "i_show_raw": true,
    }
  }).then((response) => {
    if (chartsData.value.length) {
      chartsData.value = []
      setTimeout(() => {
        chartsData.value = response.data.value.data
      }, 500);
    } else {
      chartsData.value = response.data.value.data
    }
  })
}

onUnmounted(() => {
  $off('solversModels:update')
  // $off('models:updateLimit')
})
</script>

<style lang="scss">
.solvers {
  position: relative;

  &__load {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100vh;
    z-index: 105;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }

  &__charts {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }

  &__chart {
    padding: 8px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }

  &__wrapper {
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: all 0.5s ease;

    .ant-table-body {
      height: calc(50vh - 235px) !important;
    }

    &.full {
      width: calc(100% - 80px);
    }
  }

  &__inspector {
    width: 60px;
    height: calc(100vh - 110px);
    transition: all 0.5s ease;

    .ant-table-cell {
      padding: 8px;
    }

    .ant-card-head-wrapper {
      justify-content: center;
    }

    .ant-card-extra {
      padding: 11px 0;
    }

    &.visible {
      width: 33%;
    }

    &.disabled {
      width: 33%;
    }
  }
}
</style>