<template>
  <div class="model">
    <a-card :title="$t('pages.models-id.title')">
      <template #extra>
        <a-button @click="navigateTo(localePath('/models'))">
          <arrow-left-outlined />
          <span>{{ $t('buttons.back') }}</span></a-button>
      </template>
      <div class="model__content">
        <div class="model__header">
          <a-tooltip :title="model.model_name">
            <a-tag style="max-width: 320px; overflow: hidden; text-overflow: ellipsis;"
              :title="$t('pages.models-id.model-name')" color="default">
              <template #icon>
                <font-size-outlined style="fontSize: 18px" />
              </template>
              <span style="fontSize: 18px;lineHeight: 1.5;">{{ model.model_name }}</span>
            </a-tag>
          </a-tooltip>
          <a-tag :title="$t('pages.models-id.model-status')"
            :color="`${(model.model_status == 2) ? 'green' : (model.model_status == 1) ? 'orange' : 'red'}`">
            <template #icon>
              <check-circle-outlined style="fontSize: 18px" v-if="model.model_status == 2" />
              <ClockCircleOutlined style="fontSize: 18px" v-if="model.model_status == 1" />
              <close-circle-outlined style="fontSize: 18px" v-if="model.model_status == 4" />
            </template>
            <span style="fontSize: 18px;lineHeight: 1.5">{{ model.model_status_term }}</span>
          </a-tag>
          <a-tag :title="$t('pages.models-id.ffit-status')"
            :color="`${[6, 3, 1].includes(model.ffit_status) ? 'green' : (model.ffit_status == 2) ? 'orange' : 'red'}`">
            <template #icon>
              <check-circle-outlined style="fontSize: 18px" v-if="[6, 3, 1].includes(model.ffit_status)" />
              <ClockCircleOutlined style="fontSize: 18px" v-if="model.ffit_status == 2" />
              <close-circle-outlined style="fontSize: 18px" v-if="[4, 5].includes(model.ffit_status)" />
            </template>
            <span style="fontSize: 18px;lineHeight: 1.5">{{ model.ffit_status_term }}</span>
          </a-tag>
          <a-tag :title="$t('pages.models-id.nodes-quantity')" color="blue">
            <template #icon>
              <node-index-outlined style="fontSize: 18px" />
            </template>
            <span style="fontSize: 18px;lineHeight: 1.5">{{ factorsNodes.length ? factorsNodes.length : '0'
            }}</span>
          </a-tag>
        </div>
        <a-space>
          <a-button :disabled="!factorsNodes.length" @click="modal.state = 'modalGraph'" type="primary" color="red">
            <share-alt-outlined />
            {{ $t('pages.models-id.graph') }}
          </a-button>
          <a-button :disabled="!factorsNodes.length" @click="modal.state = 'modalConnectionsEdit'" type="primary"
            color="red">
            <BranchesOutlined />
            {{ $t('pages.models-id.graph-edit') }}
          </a-button>
          <a-button :disabled="corrDisabled" @click="findDependencies" type="primary">
            {{ $t('pages.models-id.find-dependencies') }}
          </a-button>
          <a-button @click="proceedModel" :disabled="proceedDisabled" type="primary">{{
            $t('pages.models-id.proceed-model')
          }}</a-button>
          <a-button @click="navigateTo(localePath(`/forecasts?model_id=${model.model_id}`))" type="primary">{{
            $t('pages.models-id.forecasts') }}</a-button>
        </a-space>
      </div>
    </a-card>
    <div class="model__structure">
      <div v-if="!collapsed.factors" class="model__wrapper" :class="{ wider: collapsed.indicators }">
        <TableModelFactors @factorsToggle="factorsToggle" @factorsSelected="factorsSelected"
          :tableData="graphNodes.data" :actionsDisabled="actionsDisabled" :collapsed="collapsed" />
      </div>
      <div class="model__switcher">
        <a-button @click="moveToIndicators" :disabled="!selectedFactors.length || actionsDisabled"
          type="primary"><arrow-right-outlined /></a-button>
        <a-button @click="moveToFactors" :disabled="!selectedIndicators.length || actionsDisabled"
          type="primary"><arrow-left-outlined /></a-button>
      </div>
      <div v-if="!collapsed.indicators" class="model__wrapper" :class="{ wider: collapsed.factors }">
        <TableModelIndicators @indicatorsToggle="indicatorsToggle" @indicatorsSelected="indicatorsSelected"
          :tableData="indicators.data.value.data" :tableMeta="indicators.data.value.meta" :nodesData="graphNodes.data"
          :collapsed="collapsed" />
      </div>
    </div>
    <a-modal class="model__graph-modal" width="100vw" height="100vh" v-model:open="graphModalOpened" :footer="null"
      destroyOnClose @cancel="modal.state = ''">
      <Graph :graphData="{ nodes: graphNodes.data, edges: graphEdges.data.value.data }"
        :actionsDisabled="actionsDisabled" @openIndicatorModel="openIndicatorModel" />
    </a-modal>
    <a-modal width="70vw" v-model:open="modalIndicatorOpened" :title="$t('graph.indicator-description')" :footer="null"
      destroyOnClose @cancel="modalIndicatorOpened = false">
      <modal-chart-info :indicatorId="modalIndicatorId" />
    </a-modal>
    <a-modal width="100vw" v-model:open="connectionsModalOpened" :title="$t('pages.models-id.graph-edit')"
      :footer="null" destroyOnClose @cancel="modal.state = ''">
      <modal-graph-connections :graphData="{ nodes: graphNodes.data, edges: graphEdges.data.value.data }"
        :indicatorId="modalIndicatorId" />
    </a-modal>
  </div>
</template>

<script setup>
import { useModal } from '@/stores/modal'
import { useSessionStore } from '@/stores/session-store'
const { $listen } = useNuxtApp()
const { $off } = useNuxtApp()
const localeModule = useI18n()
const localePath = useLocalePath();
const activeDomain = useCookie("domain");
const sessionStore = useSessionStore()
const route = useRoute();
const modal = useModal();

const pageLimit = ref(30)
const collapsed = ref({ factors: false, indicators: false })
const selectedIndicators = ref([])
const modalIndicatorOpened = ref(false)
const modalIndicatorId = ref(null)
const selectedFactors = ref([])
const pageData = ref({ is_template: 0, indr_status: 5, limit: pageLimit.value, exclude_indr_in_model_id: Number(route.params.id) })
const factorsNodes = ref([])

const factorsPageData = ref({ model_id: route.params.id, is_template: 0, limit: 1000 })

const proceedDisabled = computed(() => {  
  return sessionStore.user.data.data.sess_domain_check.is_admin == 0 || model.value.ffit_status == 2 || activeDomain.value.id !== model.value.domain_id
})

const actionsDisabled = computed(() => {
  return sessionStore.user.data.data.sess_domain_check.is_admin == 0
})
const corrDisabled = computed(() => {
  return sessionStore.user.data.data.is_admin == 1 ? false : model.value.model_status == 2
})

// const modalIndicatorOpened = computed(() => {
//   return modal.state === 'graphIndicatorModal'
// })

const graphModalOpened = computed(() => {
  return modal.state === 'modalGraph'
})

const connectionsModalOpened = computed(() => {
  return modal.state === 'modalConnectionsEdit'
})

const indicatorsSelected = (indicators) => {
  selectedIndicators.value = indicators
}
const factorsSelected = (factors) => {
  selectedFactors.value = factors
}
const factorsToggle = () => {
  collapsed.value.indicators = !collapsed.value.indicators
}
const indicatorsToggle = () => {
  collapsed.value.factors = !collapsed.value.factors
}
const openIndicatorModel = (id) => {
  modalIndicatorId.value = id
  modalIndicatorOpened.value = true
}

const moveToFactors = () => {
  const array = []
  selectedIndicators.value.forEach(element => {
    array.push({ i_indr_id: element, i_model_id: Number(route.params.id), i_affected_forecasting_model: 0, i_observable_in_model: 0, i_param_value_forecasting_model: 0, i_dsc: '' })
  });

  apiFetch(`create_bulk_model_node`, {
    value: {
      bulk: array,
    }
  }).then((response) => {
    if (!response.error.value) {
      if (response.data?.value?.data[0]?.err_code) {
        notification.open({
          message: localeModule.t('errors.server-message'),
          description: localeModule.t('errors.server-description'),
          style: {
            border: "1px solid #ffa39e",
            backgroundColor: "#fff1f0",
            duration: 5,
          },
        });
      } else {
        notification.open({
          message: localeModule.t('pages.models-id.success-add'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });
        models.refresh()
        refresh()
        indicators.refresh()
        selectedIndicators.value = []
      }
    }
  })
}
const moveToIndicators = () => {
  const array = []
  selectedFactors.value.forEach(element => {
    array.push({ i_id: element })
  });

  apiFetch(`delete_bulk_model_node`, {
    value: {
      bulk: array,
    }
  }).then((response) => {
    if (!response.error.value) {
      if (response.data?.value?.data[0]?.err_code) {
        notification.open({
          message: localeModule.t('errors.server-message'),
          description: localeModule.t('errors.server-description'),
          style: {
            border: "1px solid #ffa39e",
            backgroundColor: "#fff1f0",
            duration: 5,
          },
        });
      } else {
        notification.open({
          message: localeModule.t('pages.models-id.success-delete'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });
        models.refresh()
        refresh()
        selectedFactors.value = []
      }
    }
  })
}

const proceedModel = () => {
  apiFetch(`proceed_ffit_calc`, { value: { i_ffit_id: model.value.ffit_id } }).then((response) => {
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        notification.open({
          message: localeModule.t('pages.models-id.start-model-proceed'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });
        models.refresh()
      }
    }
  })
}

const findDependencies = () => {
  apiFetch(`create_job_model_corr`, { value: { i_model_id: model.value.model_id } }).then((response) => {
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        notification.open({
          message: localeModule.t('pages.models-id.start-model-corr'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });
        models.refresh()
      }
    }
  })
}

const model = computed(() => {
  return models.data.value.data[0]
})

$listen('filterIndicators:update', (filters) => {
  if (Object.keys(filters.value).length === 0) {
    pageData.value = { limit: pageLimit.value }
  } else {
    pageData.value = { limit: pageLimit.value }
    pageData.value = Object.assign(pageData.value, filters.value);
  }
})

$listen('page:updateLimit', (value) => {
  pageLimit.value = value
  pageData.value.limit = pageLimit.value
})

$listen('filterFactors:update', (filters) => {
  factorsPageData.value = {}
  if (Object.keys(filters.value).length === 0) {
    factorsPageData.value = { model_id: route.params.id, is_template: 0, limit: 1000 }
  } else {
    factorsPageData.value = { model_id: route.params.id, is_template: 0, limit: 1000 }
    factorsPageData.value = Object.assign(factorsPageData.value, filters.value);
  }
})

$listen('page:update', (offset) => {
  pageData.value = Object.assign(pageData.value, offset.value);
})

$listen('factors:sort', (field) => {
  if (field.length) {
    factorsPageData.value = Object.assign(factorsPageData.value, { orderby: field });
  } else {
    delete factorsPageData.value.orderby
  }
})
$listen('indicators:sort', (field) => {
  if (field.length) {
    pageData.value = Object.assign(pageData.value, { orderby: field });
  } else {
    delete pageData.value.orderby
  }
})

$listen('graphNodes:update', () => {
  refresh()
})
$listen('modelIndicators:update', () => {
  indicators.refresh()
})

$listen('edges:update', () => {
  graphEdges.refresh()
})

const { data: graphNodes, refresh } = await apiFetch('get_model_nodes_cls', factorsPageData);



if (Array.isArray(graphNodes.value.data)) {
  const arr = graphNodes.value.data.map((element) => JSON.stringify(element));
  arr.forEach((element) => {
    factorsNodes.value.push(JSON.parse(element));
  });
}

const req = [
  apiFetch('get_models_ffit_cls', { value: { model_id: route.params.id } }),
  apiFetch(`get_indicators_cls`, pageData),
  apiFetch('get_model_edge_for_graph', { value: { model_id: route.params.id, limit: 1000 } })
]

const [modelsData, indicatorsData, graphEdgesData] = await Promise.all(req)

const models = modelsData
const indicators = indicatorsData
const graphEdges = graphEdgesData

console.log(models);

setTimeout(() => {
  models.refresh()
}, 2000);



// const models = await apiFetch('get_models_ffit_cls', { value: { model_id: route.params.id } });

// const indicators = await apiFetch(`get_indicators_cls`, pageData);
// const graphEdges = await apiFetch('get_model_edge_for_graph', { value: { model_id: route.params.id, limit: 1000 } });

watch(
  () => graphNodes.value.data,
  async (newData) => {
    if (Array.isArray(graphNodes.value.data)) {
      factorsNodes.value = []
      const arr = graphNodes.value.data.map((element) => JSON.stringify(element));
      arr.forEach((element) => {
        factorsNodes.value.push(JSON.parse(element));
      });
    }
  }, { deep: true }
)

onUnmounted(() => {
  $off('graphNodes:update')
  $off('modelIndicators:update')
  $off('edges:update')
})
</script>

<style lang="scss">
.model {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__wrapper {
    display: flex;
    width: 48%;

    &.wider {
      width: 96%;
    }

    .ant-table-body {
      height: calc(100vh - 230px) !important;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__structure {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 16px;
    align-items: center;

    .ant-card {
      width: 100%;
    }
  }

  &__graph-modal {
    .ant-modal-content {
      padding: 8px;
    }
  }

  &__switcher {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
</style>