<template>
  <div class="models">
    <div class="models__wrapper" :class="{ full: !inspectorVisible }">
      <TableModels v-model="selectedRow" :tableData="models?.data" :tableMeta="models?.meta" />
    </div>
    <div class="models__inspector" :class="{ visible: inspectorVisible }">
      <InspectorModels @inspectorToggle="inspectorVisible = !inspectorVisible" v-model="inspectorVisible"
        :inspectorData="selectedRow" :inspectorVisible="inspectorVisible" />
    </div>
  </div>
</template>

<script setup>
const { $listen } = useNuxtApp()
const { $off } = useNuxtApp()
const route = useRoute();
const activeGroup = useCookie("selectedGroup");

const groupId = computed(() => {
  // let name = localStorage.getItem("selectedGroup")
  let name = activeGroup.value
  return name ? name == '/' ? {} : { model_group_id: name.split('_/')[1] } : {}
})


// const groupId = ref(activeGroup.value ? activeGroup.value == '/' ? {} : { model_group_id: activeGroup.value.split('_/')[1] } : {})



const modelId = computed(() => {
  return routerModel.value ? { model_id: routerModel.value } : {}
})
const ffitId = computed(() => {
  return routerFit.value ? { ffit_id: routerFit.value } : {}
})

const routerModel = ref(route.query.model_id)
const routerFit = ref(route.query.ffit_id)
const selectedRow = ref(null)
const inspectorVisible = ref(true)
const pageLimit = ref(30)
const pageData = ref({
  is_template: 0,
  limit: pageLimit.value,
  // model_id: routerModel.value ? routerModel.value : null,
  // ffit_id: routerFit.value ? routerFit.value : null,
  ...groupId.value,
  ...modelId.value,
  ...ffitId.value,
})



$listen('filter:update', (filters) => {
  if (Object.keys(filters.value).length === 0) {
    pageData.value = {}
  } else {
    pageData.value = {}
    pageData.value = Object.assign(filters.value, { limit: pageLimit.value });
  }
})



$listen('page:update', (offset) => {
  pageData.value = Object.assign(pageData.value, offset.value);
})

$listen('models:update', () => {
  refresh()
})

$listen('modelsGrop:update', () => {
  let groupId2 = activeGroup.value ? activeGroup.value == '/' ? {} : { model_group_id: activeGroup.value.split('_/')[1] } : {}
  if (groupId2.model_group_id) {
    pageData.value = Object.assign(pageData.value, groupId2);
  } else {
    delete pageData.value.model_group_id
  }
})

$listen('inspector:update', (value) => {
  if (value) {
    selectedRow.value = null
    setTimeout(() => {
      selectedRow.value = models.value.data.find(el => el.model_id == value)
    }, 500);
  } else {
    selectedRow.value = null
  }
})

$listen('models:sort', (field) => {
  if (field.length) {
    pageData.value = Object.assign(pageData.value, { orderby: field });
  } else {
    delete pageData.value.orderby
  }
})

$listen('model:select', (value) => {
  if (models.value.data.length) {
    apiFetch('get_models_ffit_cls', { value: { model_id: value } }).then((response) => {
      models.value.data.unshift(response.data.value.data[0])
      selectedRow.value = response.data.value.data[0]
    })
  } else {
    apiFetch('get_models_ffit_cls', { value: { model_id: value } }).then((response) => {
      models.value.data = []
      models.value.data.push(response.data.value.data[0])
      selectedRow.value = response.data.value.data[0]
    })
  }

})

const { data: models, refresh } = await apiFetch('get_models_ffit_cls', pageData);

if (routerModel.value) {
  selectedRow.value = models.value.data[0]
}

onUnmounted(() => {
  $off('models:update')
  $off('model:select')
  // $off('page:updateLimit')
})
</script>

<style lang="scss">
.models {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;

  &__wrapper {
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: all 0.5s ease;

    .ant-table-body {
      height: calc(100vh - 230px) !important;
    }

    &.full {
      width: calc(100% - 80px);
    }
  }

  &__inspector {
    width: 60px;
    height: calc(100vh - 54px);
    transition: all 0.5s ease;

    .ant-table-cell {
      padding: 8px;
    }

    .ant-card-head-wrapper {
      justify-content: center;
    }

    .ant-card-extra {
      padding: 11px 0;
    }

    &.visible {
      width: 33%;
    }

    &.disabled {
      width: 33%;
    }
  }
}
</style>