<template>
  <div class="chart">
    <a-typography-title :title="chartData.indicator_name" class="chart__title" :level="5">
      {{ chartData.indicator_name }}
    </a-typography-title>
    <a-button :disabled="moreDisabled" @click="modal.state = `indicatorChartMore${index}`" class="chart__button"
      type="primary" :title="$t('buttons.more')">
      <FundOutlined />
    </a-button>
    <div :id="`chartContainer${index}`"></div>
    <a-modal width="90vw" v-model:open="modalOpened" :title="`${$t('chart.indicator-chart')} &quot${chartData.indicator_name}&quot`"
      :footer="null" destroyOnClose @cancel="closeModal">
      <modal-chart-fetched :chartData="chartData" />
    </a-modal>
  </div>
</template>

<script setup>
import { DualAxes } from '@antv/g2plot';
import { useModal } from '@/stores/modal'
const localeModule = useI18n()

const props = defineProps({
  chartData: {
    type: Array,
  },
  index: {
    type: Number,
    default: 0,
  },
})

const modal = useModal()
const modalOpened = computed(() => {
  return modal.state === `indicatorChartMore${props.index}`
})

const closeModal = () => {
  modal.state = '';
}

onMounted(() => {
  const chartColumArray = []
  const chartLineArray = []
  let min = 0
  let max = 1

  if (props.chartData) {
    props.chartData.graph_rows.forEach(element => {
      if (element.data_row_type == 1) {
        element.data_row.forEach(el => {
          chartColumArray.push({ dt: el.dt, typeText: localeModule.t('chart.raw-data'), value: Number(el.val) })
        });
      }
      if (element.data_row_type == 3) {
        element.data_row.forEach(el => {
          chartLineArray.push({ dt: el.dt, typeText: localeModule.t('chart.old-data'), count: Number(el.val) })
        });
      }
    });
    let arr = []
    props.chartData.graph_rows.forEach(element => {
      if (element.data_row_type == 5) {
        element.data_row.forEach(el => {
          arr.push({ dt: el.dt, typeText: element.forecast_name, count: Number(el.val) })
        });
      }

    });
    let arr2 = arr.sort((chart1, chart2) => chart1.typeText > chart2.typeText ? 1 : -1);

    arr2.forEach(el => {
      chartLineArray.push(el)
    });
  }

  min = Math.min.apply(null, chartLineArray.count);
  max = Math.max.apply(null, chartLineArray.count);

  let chartColumArraySort = chartColumArray.sort((chart1, chart2) => chart1.dt > chart2.dt ? 1 : -1);
  let chartLineArraySort = chartLineArray.sort((chart1, chart2) => chart1.dt > chart2.dt ? 1 : -1);

  const chart = new DualAxes(`chartContainer${props.index}`, {
    data: [chartColumArraySort, chartLineArraySort],
    xField: 'dt',
    height: 200,
    yField: ['value', 'count'],
    yFields: ['value', 'count'],
    xAxis: {
      type: 'time',
    },
    meta: {
      value: {
        sync: 'count', min: min,
        max: max,
      },
      count: { sync: true },
    },
    yAxis: {
      count: false
    },
    legend: {
      marker: {
        symbol: 'circle',
        style: (oldStyle) => {
          return {
            ...oldStyle,
            r: 3,
            lineWidth: 2,
            fill: oldStyle.stroke || oldStyle.fill,
          };
        },
      }
    },
    geometryOptions: [
      {
        geometry: 'line',
        seriesField: 'typeText',
        color: '#1890ff',
        smooth: true,
        lineStyle: {
          lineWidth: 1,
          opacity: 0,
        },
        point: {
          shape: 'circle',
          size: 3,
          style: {
            stroke: '#fff',
            fill: '#1890ff',
          },
        },
      },
      {
        geometry: 'line',
        seriesField: 'typeText',
        color: ['#52c41a', '#9900ff', '#ff9100', '#7e82a4', '#00ffea', '#ff8c00'],
        smooth: true,
      },
    ],
  });
  chart.render();
})

</script>

<style lang="scss" scoped>
.chart {
  position: relative;

  &__title {
    width: calc(100% - 50px);
    height: 26px;
    overflow: hidden;
    position: relative;
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
  }
}
</style>