<template>
  <div class="chart">
    <div id="indicatorChart"></div>
    <a-button :disabled="moreDisabled" @click="modal.state = 'indicatorChartMore'" class="chart__button" type="primary"
      :title="$t('buttons.more')">
      <FundOutlined />
    </a-button>
  </div>
  <a-modal width="90vw" v-model:open="modalOpened" :title="`${$t('chart.indicator-chart')} &quot${chartName}&quot`"
    :footer="null" destroyOnClose @cancel="closeModal">
    <modal-chart-detailed :chartParams="chartParams" />
  </a-modal>
</template>

<script setup>
import { DualAxes } from '@antv/g2plot';
import { useModal } from '@/stores/modal'
const localeModule = useI18n()

const props = defineProps({
  chartParams: {
    type: Object,
  },
  chartName: {
    type: String,
  },
})

const modal = useModal()
const moreDisabled = ref(true)

const modalOpened = computed(() => {
  return modal.state === 'indicatorChartMore'
})

const closeModal = () => {
  modal.state = '';
}

onMounted(() => {

  apiFetch('get_indicators_data_series', { value: props.chartParams }).then((response) => {
    let filteredChart = []
    const chartColumArray = []
    const chartLineArray = []
    let min = 0
    let max = 1

    if (Array.isArray(response.data.value.data)) {
      moreDisabled.value = false
      response.data.value.data.forEach(element => {
        filteredChart.push({ dt: element.dt, type: element.type, value: Number(element.value) })
      });

      filteredChart.forEach(element => {
        if (element.type == 1) {
          chartColumArray.push({ dt: element.dt, typeText: localeModule.t('chart.raw-data'), value: Number(element.value) })
        }
        if (element.type == 3) {
          chartLineArray.push({ dt: element.dt, typeText: localeModule.t('chart.old-data'), count: Number(element.value) })
        }
      });
      min = Math.min.apply(null, chartLineArray.count);
      max = Math.max.apply(null, chartLineArray.count);
    }
    let chartColumArraySort = chartColumArray.sort((chart1, chart2) => chart1.dt > chart2.dt ? 1 : -1);
    let chartLineArraySort = chartLineArray.sort((chart1, chart2) => chart1.dt > chart2.dt ? 1 : -1);

    const chart = new DualAxes('indicatorChart', {
      data: [chartColumArraySort, chartLineArraySort],
      xField: 'dt',
      height: 150,
      yField: ['value', 'count'],
      yFields: ['value', 'count'],
      xAxis: {
        type: 'time',
      },
      meta: {
        value: {
          sync: 'count',
          min: min,
          max: max,
        },
        count: { sync: true },
      },
      yAxis: {
        count: false,
      },
      legend: {
        marker: {
          symbol: 'circle',
          style: (oldStyle) => {
            return {
              ...oldStyle,
              r: 4,
              lineWidth: 2,
              fill: oldStyle.stroke || oldStyle.fill,
            };
          },
        }
      },
      geometryOptions: [
        {
          geometry: 'line',
          seriesField: 'typeText',
          color: '#1890ff',
          smooth: true,
          lineStyle: {
            lineWidth: 1,
            opacity: 0,
          },
          point: {
            shape: 'circle',
            size: 3,
            style: {
              stroke: '#fff',
              fill: '#1890ff',
            },
          },
        },
        {
          geometry: 'line',
          seriesField: 'typeText',
          color: ['#52c41a', '#ff4d4f'],
          smooth: true,
          lineStyle: {
            lineWidth: 2,
          },
        },
      ],
    });

    chart.render();
  }
  )
})

</script>

<style lang="scss" scoped>
.chart {
  position: relative;

  &__title {
    height: 26px;
    overflow: hidden;
    position: relative;
  }

  &__button {
    position: absolute;
    top: -8px;
    right: 0;
  }
}
</style>