<template>
  <div class="chart">
    <div :id="`chartContainer${index}`"></div>
  </div>
</template>

<script setup>
import { DualAxes } from '@antv/g2plot';
const localeModule = useI18n()

const props = defineProps({
  chartData: {
    type: Array,
  },
  index: {
    type: Number,
    default: 0,
  },
})

onMounted(() => {
  let filteredChart = []
  const chartColumArray = []
  const chartLineArray = []
  let min = 0
  let max = 1

  props.chartData.forEach(element => {
    filteredChart.push({ dt: element.dt, type: element.type, value: Number(element.value) })
  });
  filteredChart.forEach(element => {
    if (element.type == 1) {
      chartColumArray.push({ dt: element.dt, typeText: localeModule.t('chart.raw-data'), value: Number(element.value) })
    }
    if (element.type == 3) {
      chartLineArray.push({ dt: element.dt, typeText: localeModule.t('chart.old-data'), count: Number(element.value) })
    }
    if (element.type == 5) {
      chartLineArray.push({ dt: element.dt, typeText: localeModule.t('chart.forecast-data'), count: Number(element.value) })
    }
    min = Math.min.apply(null, chartLineArray.count);
    max = Math.max.apply(null, chartLineArray.count);
  });

  let chartColumArraySort = chartColumArray.sort((chart1, chart2) => chart1.dt > chart2.dt ? 1 : -1);
  let chartLineArraySort = chartLineArray.sort((chart1, chart2) => chart1.dt > chart2.dt ? 1 : -1);

  const chart = new DualAxes(`chartContainer${props.index}`, {
    data: [chartColumArraySort, chartLineArraySort],
    xField: 'dt',
    height: 540,
    yField: ['value', 'count'],
    yFields: ['value', 'count'],
    xAxis: {
      type: 'time',
    },
    meta: {
      value: {
        sync: 'count', min: min,
        max: max,
      },
      count: { sync: true },
    },
    yAxis: {
      count: false
    },
    legend: {
      marker: {
        symbol: 'circle',
        style: (oldStyle) => {
          return {
            ...oldStyle,
            r: 3,
            lineWidth: 2,
            fill: oldStyle.stroke || oldStyle.fill,
          };
        },
      }
    },
    geometryOptions: [
      {
        geometry: 'line',
        seriesField: 'typeText',
        color: '#1890ff',
        smooth: true,
        lineStyle: {
          lineWidth: 1,
          opacity: 0,
        },
        point: {
          shape: 'circle',
          size: 3,
          style: {
            stroke: '#fff',
            fill: '#1890ff',
          },
        },
      },
      {
        geometry: 'line',
        seriesField: 'typeText',
        color: ['#52c41a', '#ff4d4f'],
        smooth: true,
        lineStyle: {
          lineWidth: 2,
        },
      },
    ],
  });
  chart.render();
})

</script>

<style lang="scss" scoped>
.chart {
  width: 100%;

  &__title {
    height: 26px;
    overflow: hidden;
    position: relative;
  }
}
</style>