<template>
  <div class="add-model">
    <a-form layout="vertical" :model="formState" name="basic" autocomplete="off" @finish="onFinish(formState)">
      <div class="add-model__flex">
        <a-divider orientation="left">{{ $t('modal.users.info') }}</a-divider>
        <div class="add-model__list">
          <div style="width: 50%;">
            <a-form-item :validate-status="loginValidation" has-feedback :label="$t('modal.users.i_login')"
              name="i_login"
              :rules="[{ required: true, message: $t('cls.required-field') }, { max: 20, message: `${$t('cls.max-symbols')} 20` }]">
              <InputLogin v-model="formState.i_login" @input="checkLogin" />
            </a-form-item>
          </div>
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.users.i_visible_name')" name="i_visible_name"
              :rules="[{ required: true, message: $t('cls.required-field') }, { max: 40, message: `${$t('cls.max-symbols')} 40` }]">
              <a-input :placeholder="$t('modal.users.i_visible_name')" v-model:value="formState.i_visible_name"
                show-count :maxlength="40" />
            </a-form-item>
          </div>
        </div>
        <div class="add-model__list">
          <div style="width: 50%;">
            <a-form-item :validate-status="emailValidation" has-feedback :label="$t('modal.users.i_email')"
              name="i_email"
              :rules="[{ required: true, message: $t('cls.required-field') }, { max: 40, message: `${$t('cls.max-symbols')} 40` }]">
              <a-input type="email" placeholder="example@mail.com" v-model:value="formState.i_email" show-count
                :maxlength="40" @input="checkEmail" />
            </a-form-item>
          </div>
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.users.i_phone')" name="i_phone">
              <InputPhone v-model="formState.i_phone" />
            </a-form-item>
          </div>
        </div>
        <div class="add-model__list">
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.users.i_telegram')" name="i_telegram"
              :rules="[{ max: 30, message: `${$t('cls.max-symbols')} 30` }]">
              <a-input type="text" placeholder="@example" v-model:value="formState.i_telegram" show-count
                @keydown="checkTelegram" :maxlength="30" />
            </a-form-item>
          </div>
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.users.i_blocked')" name="i_blocked"
              :rules="[{ required: true, message: $t('modal.users.select-value'), trigger: 'change' }]">
              <a-radio-group button-style="solid" v-model:value="formState.i_blocked" name="radioGroup">
                <a-radio-button :value="true">{{ $t('buttons.yes') }}</a-radio-button>
                <a-radio-button :value="false">{{ $t('buttons.no') }}</a-radio-button>
              </a-radio-group>
            </a-form-item>
          </div>
        </div>
        <div class="add-model__list">
          <div style="width: 100%;">
            <a-form-item has-feedback :label="$t('modal.users.i_dsc')" name="i_dsc"
              :rules="[{ max: 1000, message: `${$t('cls.max-symbols')} 1000` }]">
              <a-textarea :placeholder="$t('modal.users.i_dsc')" :autoSize="{ minRows: 1, maxRows: 3 }"
                v-model:value="formState.i_dsc" show-count :maxlength="1000" />
            </a-form-item>
          </div>
        </div>
      </div>
      <div class="add-model__footer">
        <a-button @click="modal.state = ''">{{ $t('buttons.cancel') }}</a-button>
        <a-button :disabled="!saveEnable" type="primary" html-type="submit" :loading="loading">{{
          $t('buttons.save') }}</a-button>
      </div>
    </a-form>

  </div>
</template>

<script setup>
import { notification } from 'ant-design-vue';
import { useModal } from '@/stores/modal'
const { $event } = useNuxtApp()
const localeModule = useI18n()

const props = defineProps({
  inspector: { type: Object },
  groups: { type: Array },
  haveData: { type: Boolean },
})

const modal = useModal()
const saveEnable = ref(false)
const loading = ref(false)
const userGroup = ref({ i_r_lma_user: null, i_r_lma_user_group: undefined })
const loginValidation = ref('')
const emailValidation = ref('')

const formState = ref({
  i_login: props.haveData ? props.inspector.login : '',
  i_visible_name: props.haveData ? props.inspector.display_name : '',
  i_email: props.haveData ? props.inspector.email : '',
  i_phone: props.haveData ? props.inspector.phone : '',
  i_telegram: props.haveData ? props.inspector.telegram : '',
  i_dsc: props.haveData ? props.inspector.dsc : '',
  i_uuid: null,
  i_blocked: props.haveData ? props.inspector.is_blocked : false,
});

const send = () => {
  loading.value = true;
  apiFetch(`create_user`, { value: { ...formState.value } }).then((response) => {
    loading.value = false;
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        if (response.data?.value?.error?.code == "U0001") {
          if (response.data?.value?.error.message.includes('email')) {
            emailValidation.value = 'error'
          } else {
            loginValidation.value = 'error'
          }
        }
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        userGroup.value.i_r_lma_user = response.data?.value?.data?.res
        notification.open({
          message: localeModule.t('modal.users.create-success'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });
        if (userGroup.value.i_r_lma_user_group) {
          apiFetch(`create_user_membership`, userGroup).then((resp) => {
            if (resp.data?.value?.error?.code) {
              notification.open({
                message: resp.data?.value?.error?.message,
                style: {
                  borderColor: '#ffd591',
                  backgroundColor: '#fff7e6'
                },
              });
            } else {
              $event('membership:update')
            }
          })
        }
        setTimeout(() => {
          $event('user:select', response.data?.value?.data?.res)
          modal.state = '';
        }, 500);
      }
    }
  })
}

const onFinish = (values) => {
  send()
};

const checkTelegram = (e) => {
  if (formState.value.i_telegram.length == 0 && e.key != '@' && e.key.length < 2) {
    formState.value.i_telegram = '@' + formState.value.i_telegram
  }
  if (e.key == 'Delete') {
    formState.value.i_telegram = ''
  }
  if (e.key == 'Backspace' && formState.value.i_telegram.length == 2) {
    formState.value.i_telegram = ''
  }
  if (e.key == '@') {
    e.preventDefault();
  }
  if (e.shiftKey && (e.key === '@')) {
    formState.value.i_telegram = '@'
  }
  if (e.ctrlKey && (e.key === 'v'
    || e.key === 'V')) {
    navigator.clipboard.readText().then((clipText) => {
      if (clipText[0] == '@') {
        formState.value.i_telegram = clipText
      } else {
        formState.value.i_telegram = '@' + clipText
      }
    });
  }
};

watch(formState, (newValue) => {
  saveEnable.value = true;
}, { deep: true })

const checkLogin = (e) => {
  if (loginValidation.value == "error") {
    loginValidation.value = 'success'
  }
}
const checkEmail = (e) => {
  if (emailValidation.value == "error") {
    emailValidation.value = 'success'
  }
}
</script>

<style lang="scss" scoped>
.add-model {

  .ant-divider-horizontal {
    margin: 12px 0;
  }

  .ant-form-item-:label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
  }

  .ant-input-textarea {
    &::after {
      position: absolute;
      bottom: -24px;
      right: 0;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__list {
    width: 100%;
    display: flex;
    gap: 16px;

    &.row {
      display: flex;
      padding-bottom: 16px;
    }
  }

  &__checkbox {
    margin-bottom: 0;
  }

  &__footer {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: 1px solid rgba(5, 5, 5, 0.06);
    margin-top: 12px;
    padding-top: 12px;
  }
}
</style>