<template>
  <div class="delete-modal">
    <div class="delete-modal__content">
      <p>{{ $t('modal.users.accept-delete') }} <a-typography-text underline>{{ inspector.login
          }}</a-typography-text>?</p>
    </div>
    <div class="delete-modal__footer">
      <a-button @click="modal.state = ''">{{ $t('buttons.cancel') }}</a-button>
      <a-button type="primary" danger :loading="loading" @click="deleteModel">{{ $t('buttons.delete') }}</a-button>
    </div>
  </div>
</template>

<script setup>
import { notification } from 'ant-design-vue';
import { useModal } from '@/stores/modal'
const { $event } = useNuxtApp()
const localeModule = useI18n()

const props = defineProps({
  inspector: { type: Object },
})

const modal = useModal()
const loading = ref(false)
const formState = ref({ "i_login": props.inspector.login })

const deleteModel = async () => {
  const { data, error, pending } = await apiFetch(`delete_user`, formState)
  loading.value = pending.value;
  if (data.value.error) {
    notification.open({
      message: data.value.error.name,
      description: data.value.error.message,
      style: {
        border: "1px solid #ffa39e",
        backgroundColor: "#fff1f0",
      },
    });
  } else {
    if (!error.value) {
      notification.open({
        message: localeModule.t('modal.users.delete-success'),
        style: {
          border: '1px solid #b7eb8f',
          backgroundColor: '#f6ffed',
        },
      });
      $event('users:update')
      $event('inspector:update')
      modal.state = '';
    }
  }
};
</script>

<style lang="scss" scoped>
.delete-modal {
  display: flex;
  flex-direction: column;

  &__footer {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: 1px solid rgba(5, 5, 5, 0.06);
    margin-top: 12px;
    padding-top: 12px;
  }
}
</style>