<template>
  <div class="add-model">
    <a-form layout="vertical" :model="formState" name="basic" autocomplete="off" @finish="onFinish(formState)"
      @finishFailed="onFinishFailed">
      <div class="add-model__flex">
        <a-divider orientation="left">{{ $t('modal.users.info') }}</a-divider>
        <div class="add-model__list">
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.users.i_login')" name="login">
              <a-input disabled :placeholder="$t('modal.users.i_login')" v-model:value="login" show-count
                :maxlength="20" />
            </a-form-item>
          </div>
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.users.i_visible_name')" name="visible_name"
              :rules="[{ required: true, message: $t('cls.required-field') }, { max: 40, message: `${$t('cls.max-symbols')} 40` }]">
              <a-input :placeholder="$t('modal.users.i_visible_name')" v-model:value="formState.visible_name" show-count
                :maxlength="40" />
            </a-form-item>
          </div>
        </div>
        <div class="add-model__list">
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.users.i_email')" name="email"
              :rules="[{ required: true, message: $t('cls.required-field') }, { max: 40, message: `${$t('cls.max-symbols')} 40` }]">
              <a-input type="email" placeholder="example@mail.com" v-model:value="formState.email" show-count
                :maxlength="40" />
            </a-form-item>
          </div>
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.users.i_phone')" name="phone">
              <InputPhone v-model="formState.phone" />
            </a-form-item>
          </div>
        </div>
        <div class="add-model__list">
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.users.i_telegram')" name="telegram"
              :rules="[{ max: 30, message: `${$t('cls.max-symbols')} 30` }]">
              <a-input type="text" placeholder="@example" v-model:value="formState.telegram" show-count
                @keydown="checkTelegram" :maxlength="30" />
            </a-form-item>
          </div>
          <div style="width: 50%;">
            <a-form-item has-feedback :label="$t('modal.users.i_blocked')" name="blocked">
              <a-radio-group disabled button-style="solid" v-model:value="blocked" name="radioGroup">
                <a-radio-button :value="true">{{ $t('buttons.yes') }}</a-radio-button>
                <a-radio-button :value="false">{{ $t('buttons.no') }}</a-radio-button>
              </a-radio-group>
            </a-form-item>
          </div>

        </div>
        <div class="add-model__list">
          <div style="width: 100%;">
            <a-form-item has-feedback :label="$t('modal.users.i_dsc')" name="dsc"
              :rules="[{ max: 1000, message: `${$t('cls.max-symbols')} 1000` }]">
              <a-textarea :placeholder="$t('modal.users.i_dsc')" :autoSize="{ minRows: 1, maxRows: 3 }"
                v-model:value="formState.dsc" show-count :maxlength="1000" />
            </a-form-item>
          </div>
        </div>
      </div>
      <div class="add-model__footer">
        <a-button @click="modal.state = ''">{{ $t('buttons.cancel') }}</a-button>
        <a-button :disabled="!saveEnable" type="primary" html-type="submit" :loading="loading" @click="createItem">{{
          $t('buttons.save') }}</a-button>
      </div>
    </a-form>

  </div>
</template>

<script setup>
import { notification } from 'ant-design-vue';
import { useModal } from '@/stores/modal'
const { $event } = useNuxtApp()
const localeModule = useI18n()

const props = defineProps({
  inspector: { type: Object },
  haveData: { type: Boolean },
})

const modal = useModal()
const saveEnable = ref(false)
const loading = ref(false)
const login = ref(props.inspector.login)
const blocked = ref(props.inspector.is_blocked)

const formState = ref({
  id: props.inspector.user_id,
  visible_name: props.inspector.display_name || '',
  email: props.inspector.email || '',
  phone: props.inspector.phone || '',
  telegram: props.inspector.telegram || '',
  dsc: props.inspector.dsc || '',
});

const send = () => {
  loading.value = true;
  apiFetch(`set_user_attr`, formState).then((response) => {
    loading.value = false;
    if (!response.error.value) {
      if (response.data?.value?.error?.code) {
        notification.open({
          message: response.data?.value?.error?.message,
          style: {
            borderColor: '#ffd591',
            backgroundColor: '#fff7e6'
          },
        });
      } else {
        notification.open({
          message: localeModule.t('modal.users.update-success'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });
        setTimeout(() => {
          $event('users:update')
          $event('inspector:update', props.inspector.user_id)
          modal.state = '';
        }, 500);
      }
    }
  })
}

const onFinish = (values) => {
  if (formState.value.telegram.length) {
    if (formState.value.telegram[0] == '@') {
      send()
    } else {
      notification.open({
        message: localeModule.t('modal.users.warning-telegram'),
        style: {
          border: "1px solid #ffa39e",
          backgroundColor: "#fff1f0",
        },
      });
    }
  } else {
    send()
  }
};

const checkTelegram = (e) => {
  if (formState.value.telegram.length == 0 && e.key != '@' && e.key.length < 2) {
    formState.value.telegram = '@' + formState.value.telegram
  }
  if (e.key == 'Delete') {
    formState.value.telegram = ''
  }
  if (e.key == 'Backspace' && formState.value.telegram.length == 2) {
    formState.value.telegram = ''
  }
  if (e.key == '@') {
    e.preventDefault();
  }
  if (e.ctrlKey && (e.key === 'v'
    || e.key === 'V')) {
    navigator.clipboard.readText().then((clipText) => {
      if (clipText[0] == '@') {
        formState.value.telegram = clipText
      } else {
        formState.value.telegram = '@' + clipText
      }
    });
  }
};

watch(formState, (newValue) => {
  saveEnable.value = true;
}, { deep: true })

</script>

<style lang="scss" scoped>
.add-model {

  .ant-divider-horizontal {
    margin: 12px 0;
  }

  .ant-form-item-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
  }

  .ant-input-textarea {
    &::after {
      position: absolute;
      bottom: -24px;
      right: 0;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__list {
    width: 100%;
    display: flex;
    gap: 16px;

    &.row {
      display: flex;
      padding-bottom: 16px;
    }
  }

  &__checkbox {
    margin-bottom: 0;
  }

  &__footer {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: 1px solid rgba(5, 5, 5, 0.06);
    margin-top: 12px;
    padding-top: 12px;
  }
}
</style>