<template>
  <div class="groups-modal">
    <div class="table">
      <a-card :title="$t('inspector.users.all-groups')">
        <template #extra>
          <a-space style="margin-right: 20px;">
            <FilterGroups />
            <a-button @click="updateTable" :title="$t('buttons.refresh')">
              <ReloadOutlined />
            </a-button>
          </a-space>
        </template>
        <a-table :pagination="false" bordered :scroll="{ x: tableWidth, y: 'calc(100vh - 230px' }"
          :row-key="(record) => record.key" @change="onChange" :customRow="customRow" @resizeColumn="handleResizeColumn"
          :dataSource="tableList" :columns="tableColumns" rowClassName="table-row-js-modal"></a-table>
        <div class="groups-modal__footer">
          <div>
            <a-button @click="modal.state = ''">{{ $t('buttons.cancel') }}</a-button>
            <a-button @click="selectGroup" type="primary" :disabled="!selectRow">{{ $t('buttons.select') }}</a-button>
          </div>
          <Pagination tableName="groupsPagination" :paginationData="tableMeta" />
        </div>
      </a-card>
    </div>
  </div>

</template>

<script setup>
import { useModal } from '@/stores/modal'
const modal = useModal()
const localeModule = useI18n()
const { $listen } = useNuxtApp()
const emit = defineEmits(["selectGroup"]);

const selectRow = ref(null)
const pageLimit = ref(30)
const groupsPageData = ref({ limit: pageLimit.value })

const { data: groups, refresh } = apiFetch('get_user_groups', groupsPageData);


$listen('groupsPagination:update', (offset) => {
  groupsPageData.value = Object.assign(groupsPageData.value, offset.value);
})

$listen('groupsModal:filter', (filters) => {
  if (Object.keys(filters.value).length === 0) {
    groupsPageData.value = { limit: pageLimit.value }
  } else {
    groupsPageData.value = { limit: pageLimit.value }
    groupsPageData.value = Object.assign(groupsPageData.value, filters.value);
  }
})

$listen('groupsPagination:updateLimit', (value) => {
  pageLimit.value = value
  groupsPageData.value.limit = pageLimit.value
})

const tableList = computed(() => {
  return Array.isArray(groups.value?.data) ? groups.value?.data : []
})
const tableMeta = computed(() => {
  return groups.value?.meta
})

const tableColumns = ref([
  {
    title: 'ID',
    dataIndex: 'user_group_id',
    key: 'user_group_id',
    width: 100
  },
  {
    title: localeModule.t('table.rights.user_group_name'),
    dataIndex: 'user_group_name',
    key: 'user_group_name',
    sorter: (a, b) => a.user_group_name - b.user_group_name,
    resizable: true,
    longText: true,
  },
  {
    title: localeModule.t('table.rights.user_group_display_name'),
    dataIndex: 'user_group_display_name',
    key: 'user_group_display_name',
    sorter: (a, b) => a.user_group_display_name - b.user_group_display_name,
    resizable: true,
    longText: true,
  },
])
const updateTable = () => {
  refresh()
}

const customRow = (record, index) => {
  return {
    onClick: async () => {
      const rows = document.getElementsByClassName('table-row-js-modal')
      for (let index = 0; index < rows.length; index++) {
        const element = rows[index];
        element.classList.remove('selected')
      }
      rows[index].classList.add('selected')
      selectRow.value = record
      // emit("update:modelValue", record);
    },
  };
}
const selectGroup = () => {
  emit("selectGroup", selectRow.value);
}

const onChange = (pagination, filters, sorter) => {
  let sortString = ''
  if (sorter.order == "descend") {
    sortString = `${sorter.field} desc`
  }
  if (sorter.order == "ascend") {
    sortString = `${sorter.field} asc`
  }
  if (sortString) {
    groupsPageData.value = Object.assign(groupsPageData.value, { orderby: sortString });
  } else {
    delete groupsPageData.value.orderby
  }
};
</script>

<style lang="scss">
.groups-modal {
  .ant-table-body {
    height: calc(100vh - 230px) !important;
  }

  &__modal {
    display: flex;
    flex-direction: column;
    // gap: 8px;
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: auto;


    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 999px;
      border: 2px solid transparent;
      background-clip: content-box;
      background-color: #1890ff;
    }

    &-top {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 16px 0;
    }

    &-item {
      cursor: pointer;
      padding: 8px;
      transition: all 0.3s ease;

      &:hover {
        background-color: #e6f7ff;
        color: #1890ff;
      }

      &.is-active {
        background-color: #e6f7ff;
        color: #1890ff;
        border-left: 2px solid #1890ff;
      }
    }
  }

  &__footer {
    padding-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>div {
      gap: 8px;
      width: 100%;
      display: flex;
    }

    // justify-content: flex-end;
  }
}
</style>