<template>
  <div class="rights-model">
    <div class="rights-model__wrapper">
      <TableRightsAll :tableData="users.data.value.data" :tableMeta="users.data.value.meta"
        :title="$t('table.rights.title')" @usersSelected="usersSelected" :members="userMembershipGroups" />
    </div>
    <div class="rights-model__switcher">
      <a-button @click="addUsers" :disabled="!selectedUsers.length" type="primary"><arrow-right-outlined /></a-button>
      <a-button @click="removeUsers" :disabled="!selectedMembers.length"
        type="primary"><arrow-left-outlined /></a-button>
    </div>
    <div class="rights-model__wrapper">
      <TableRightsIn :tableData="userMembershipGroups" :title="$t('table.rights.title-in')"
        @membersSelected="membersSelected" />
    </div>
  </div>

</template>

<script setup>
import { useModal } from '@/stores/modal'
const { $listen } = useNuxtApp()
const { $event } = useNuxtApp()
const localeModule = useI18n()
const modal = useModal()
const props = defineProps({
  group: { type: Object },
})

const selectedUsers = ref([])
const selectedMembers = ref([])
const membership = ref([])
const pageLimit = ref(30)
const usersData = ref({
  limit: pageLimit.value,
})

const rightsData = ref({

})

const users = await apiFetch('get_users', usersData);
// const rights = await apiFetch('get_users', rightsData);

const rightsModalOpened = computed(() => {
  return modal.state === 'userRightsModal3'
})

const usersInGroup = computed(() => {
  return tableSize?.value?.clientWidth
})

const userMembershipGroups = computed(() => {
  return membership.value.filter(g => g.user_group_id == props.group?.user_group_id)
})

const usersSorted = computed(() => {
  let arr = []

  const filteredArray = users.data.value.data.filter(city => {
    return !userMembershipGroups.value.some(item => item.user_group_id === city.user_group_id);
  });
  userMembershipGroups.value.forEach(el => {
    arr.push({ id: el.user_group_id, name: el.user_group_display_name, in_group: true })
  });
  filteredArray.forEach(el => {
    arr.push({ id: el.user_group_id, name: el.user_group_display_name, in_group: false })
  });

  return arr
})

const addUsers = () => {
  let counter = 0
  selectedUsers.value.forEach(element => {
    apiFetch(`create_user_membership`, { value: { i_r_lma_user: element, i_r_lma_user_group: props.group.user_group_id } }).then((response) => {
      if (!response.error.value) {
        counter = counter + 1
      } else {
        if (response.data?.value?.error?.code) {
          notification.open({
            message: response.data?.value?.error?.message,
            style: {
              borderColor: '#ffd591',
              backgroundColor: '#fff7e6'
            },
          });
        }
      }
      if (counter == selectedUsers.value.length) {
        selectedUsers.value = []
        users.refresh()
        // $event('membership:update')

        selectedUsers.value = []
        selectedMembers.value = []
        apiFetch('get_users_membership', { value: { limit: 1000 } }).then((response) => {
          membership.value = response.data.value.data
        })
        notification.open({
          message: localeModule.t('inspector.users.users-added'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });
      }
    })
  });
}
const removeUsers = () => {
  let counter = 0
  selectedMembers.value.forEach(element => {
    apiFetch(`delete_user_membership`, { value: { i_user_id: element, i_user_group_id: props.group.user_group_id } }).then((response) => {
      if (!response.error.value) {
        counter = counter + 1
      } else {
        if (response.data?.value?.error?.code) {
          notification.open({
            message: response.data?.value?.error?.message,
            style: {
              borderColor: '#ffd591',
              backgroundColor: '#fff7e6'
            },
          });
        }
      }
      if (counter == selectedMembers.value.length) {
        selectedUsers.value = []
        selectedMembers.value = []
        users.refresh()
        $event('membership:update')
        apiFetch('get_users_membership', { value: { limit: 1000 } }).then((response) => {
          membership.value = response.data.value.data
        })
        notification.open({
          message: localeModule.t('inspector.users.users-deleted'),
          style: {
            border: '1px solid #b7eb8f',
            backgroundColor: '#f6ffed',
          },
        });
      }
    })
  });
}

const usersSelected = (users) => {
  selectedUsers.value = users
}

const membersSelected = (members) => {
  selectedMembers.value = members
}

$listen('usersRigthsModal:filter', (filters) => {
  if (Object.keys(filters.value).length === 0) {
    usersData.value = {limit: pageLimit.value}
  } else {
    usersData.value = {limit: pageLimit.value}
    usersData.value = Object.assign(usersData.value, filters.value);
  }
})

$listen('usersRigthsModal:updateLimit', (value) => {
  pageLimit.value = value
  usersData.value.limit = pageLimit.value
})

$listen('usersRigthsModal:update', (offset) => {
  usersData.value = Object.assign(usersData.value, offset.value);
})


$listen('usersRigthsModal:update', (offset) => {
  users.refresh()
})

$listen('usersRightsModal:sort', (field) => {
  if (field.length) {
    usersData.value = Object.assign(usersData.value, { orderby: field });
  } else {
    delete usersData.value.orderby
  }
})
$listen('membersRightsModal:sort', (field) => {
  if (field.length) {
    usersData.value = Object.assign(usersData.value, { orderby: field });
  } else {
    delete usersData.value.orderby
  }
})

apiFetch('get_users_membership', { value: { limit: 1000 } }).then((response) => {
  membership.value = response.data.value.data
})
</script>

<style lang="scss">
.rights-model {
  width: 100%;
  height: 80vh;
  display: flex;
  gap: 16px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 48%;

    .ant-table-body {
      height: calc(100vh - 230px) !important;
    }
  }

  &__switcher {
    align-self: center;
    // height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
</style>